
.placesmanager
{
  width: 95%;
  overflow: auto;
}

.filemanager
{
  width: 95%;
  height: 200px;
  overflow: auto;
  background-color: #fff;
}
.filemanager div.file
{
  min-width: 80px;
  height: 100px;
  position: relative;
  float: left;
  border: 1px outset #666;
  margin: 4px;
}
.placesmanager div.file
{
  min-width: 60px;
  height: 70px;
  position: relative;
  float: left;
  border: 1px outset #666;
  margin: 4px;
}
.filemanager div.file:hover,
.placesmanager div.file:hover
{
  border: 1px solid #333;
  background: #fffff3;
}

.filemanager div.selected,
.filemanager div.selected:hover,
.placesmanager div.selected,
.placesmanager div.selected:hover
{
  background: #ffffda;
  border: 1px solid #000;
}
.filemanager .filename {
	margin: 0.5em;
	color: #222;
}
.filemanager div.selected .filename {
  color: #000;
}
.filemanager img.thumb
{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 1px solid black;
}
.filemanager img.icon
{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.filemanager img.action
{
  width: 15px;
  height: 15px;
  position: absolute;
}
.filemanager img.delete
{
  bottom: 3px;
  left: 20px;
}
.filemanager img.copy
{
  bottom: 3px;
  left: 3px;
}
