#** 
500-to-510-migration.vm: Velocity template that generates vendor-specific database scripts 

DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
**#

create table custom_template_rendition (
    id varchar(48)  not null primary key,
    templateid varchar(48) not null,
    template     $db.TEXT_SQL_TYPE not null,
    templatelang varchar(48),
    contenttype  varchar(48),
    #columnNotNullWithDefault('type' 'varchar(16)' 'standard')
);

#addColumnNull("webpage" "type"  "varchar(16)")
#addColumnNull("weblogentry" "search_description"  "varchar(255)")

-- Removal of subcategories means no more path and parentid columns
delete from weblogcategory where name = 'root' and parentid is null;
#dropColumn("weblogcategory" 'parentid')
#dropColumn("weblogcategory" 'path')

-- Allow users to order their weblog categories (zero-based)
#addColumnNotNull("weblogcategory" "position" "integer" "0")

-- Removal of custom ping targets
delete from pingtarget where websiteid is not null;
#dropIndex("pingtarget" "pt_websiteid_fk")
#dropColumn("pingtarget", "websiteid")

-- Removal of bookmark subfolders and renaming of former root folder to 'default'
-- If a folder with name 'default' already exists, rename it by adding its id to it.
update folder set name = #concat("name" "id") where name = 'default';
update folder set name = 'default' where name = 'root' and parentid is null;
#dropColumn("folder" 'parentid')
#dropColumn("folder" 'path')
#dropColumn("folder" "description")
#dropColumn("bookmark" "weight")

-- Removal of bookmark subfolders and renaming of former root folder to 'default'
-- If a folder with name 'default' already exists, rename it by adding its id to it.
update roller_mediafiledir set name = #concat("name" "id") where name = 'default';
update roller_mediafiledir set name = 'default' where name = 'root' and parentid is null;
#dropColumn("roller_mediafiledir" "path")
#dropIndex("roller_mediafiledir" "mf_parentid_fk")
#dropColumn("roller_mediafiledir" "parentid")

-- Adding blog-specific web analytics (e.g. Google Analytics) tracking code
#addColumnNull("website" "analyticscode" $db.TEXT_SQL_TYPE)

-- Referer table no longer populated, retaining for older DB's in case legacy data
-- is desired to keep; but removing its FK relationships to other tables
#dropIndex("referer" "ref_entryid_fk")
#dropIndex("referer" "ref_websiteid_fk")
