#**
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  The ASF licenses this file to You
  under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.  For additional information regarding
  copyright in this work, please see the NOTICE file in the top level
  directory of this distribution.
*#
#**
 510-to-520-migration.vm: Velocity template that generates vendor-specific database scripts

 DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
 **#

#**
 PostgreSQL respects original not null attribute.
 **#
#macro(expandTimestamp $tableName $columnName)
#if($db.DBTYPE == "MYSQL" || $db.DBTYPE == "MSSQL")
#alterColumnType($tableName $columnName 'datetime(3)')
#elseif ($db.DBTYPE == "ORACLE" || $db.DBTYPE == "DB2" || $db.DBTYPE == "HSQLDB")
#alterColumnType($tableName $columnName 'timestamp(3)')
#elseif ($db.DBTYPE == "POSTGRESQL")
#alterColumnType($tableName $columnName 'timestamp(3) with time zone')
#end
#end

#macro(expandTimestampNotNull $tableName $columnName)
#if($db.DBTYPE == "MYSQL" || $db.DBTYPE == "MSSQL")
#alterColumnType($tableName $columnName 'datetime(3) not null')
#elseif ($db.DBTYPE == "ORACLE" || $db.DBTYPE == "DB2" || $db.DBTYPE == "HSQLDB")
#alterColumnType($tableName $columnName 'timestamp(3) not null')
#elseif ($db.DBTYPE == "POSTGRESQL")
#alterColumnType($tableName $columnName 'timestamp(3) with time zone')
#end
#end

-- Adjusting precision of datetime or timestamp columns
-- Not affects for Derby

#expandTimestampNotNull('pingqueueentry' 'entrytime')
#expandTimestamp('pingtarget' 'lastsuccess')
#expandTimestamp('rag_entry' 'updated')
#expandTimestampNotNull('rag_entry' 'published')
#expandTimestamp('rag_subscription' 'last_updated')
#expandTimestamp('roller_audit_log' 'change_time')
#expandTimestampNotNull('roller_comment' 'posttime')
#expandTimestampNotNull('roller_mediafile' 'date_uploaded')
#expandTimestamp('roller_mediafile' 'last_updated')
#expandTimestampNotNull('roller_oauthaccessor' 'created')
#expandTimestampNotNull('roller_oauthaccessor' 'updated')
#expandTimestampNotNull('roller_permission' 'datecreated')
#expandTimestamp('roller_tasklock' 'timeacquired')
#expandTimestamp('roller_tasklock' 'lastrun')
#expandTimestampNotNull('roller_user' 'datecreated')
#expandTimestampNotNull('roller_weblogentrytag' 'time')
#expandTimestampNotNull('roller_weblogentrytagagg' 'lastused')
#expandTimestampNotNull('weblog' 'datecreated')
#expandTimestamp('weblog' 'lastmodified')
#expandTimestampNotNull('weblog_custom_template' 'updatetime')
#expandTimestamp('weblogentry' 'pubtime')
#expandTimestampNotNull('weblogentry' 'updatetime')
