#**
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  The ASF licenses this file to You
  under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.  For additional information regarding
  copyright in this work, please see the NOTICE file in the top level
  directory of this distribution.
*#README.txt

Follow the installation guide for instructions on setting up your database.

## parse macros file to include it for use
#parse("macros.vm")

#** Loop through all databases and generate scripts for each one **#
#set( $dbs = $strings.split($databases, " ") )
#foreach ( $database in $dbs )

    #set( $db = $properties.load("/${database}.properties") )

    #** Loop through templates and generate sql scripts **#
    #set( $tmpls = $strings.split($templates, " ") )
    #foreach ( $template in $tmpls ) 
        #set($in = "${template}.vm")
        #set($out = "${database}/${template}.sql")
        $generator.parse($in, $out) 
    #end

#end
