/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
a.plain {
    background-color: transparent;
    border: none;
    color: #999999 !important;
}

div.comment {
    padding-left: 5px;
}

div.comment p {
    margin-left: 0px;
}

div.comment table td {
    white-space: nowrap !important;
}

div.comment table, div.comments-form table textarea {
    width: 100% !important;
}

div.comments-form {
    width: 90%;
}

div.comments-form table {
    width: 90% !important;
}

div.comments-form table td {
    white-space: nowrap !important;
}

.comments-syntax-indicator {
    font-weight: bold;
}

.comments-syntax-indicator span.enabled {
    background: transparent;
    color: green;
    font-style: italic;
}

.comments-syntax-indicator span.disabled {
    background: transparent;
    color: red;
    font-style: italic;
}

iframe.commentFrame {
    border: 0px;
    height: 0px;
    width: 0px;
}

p.comment-details {
    background: transparent;
    color: #333333;
    font-size: .95em;
    margin: 10px 0px 10px 10px !important;
}

.comment {
    border-bottom: 1px solid #dadada;
    font-family: Georgia, sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

.commentAuthor {
    border: none;
}

.commentBox {
    background-color: #fafafa;
    border: 2px solid #dadada;
    margin-top: 8px;
    padding: 0px 10px 10px 10px;
}

.commentByline {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    padding-bottom: 3px;
    text-align: right;
}

.commentFormBox {
    margin-top: 10px;
}

.commentFormInput,
.commentFormTextarea {
    font-family: Georgia, serif;
    font-size: 12px;
}

.commentFormRow {
    color: #808080;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    padding-bottom: 6px;
}

.commentFormTextarea {
    width: 90% !important;
}

/* ::::::::: comments ::::::::: */
.commentTwisty {
    background: url(../images/twisty-cls.gif) no-repeat 2px !important;
    color: #8080a0;
    cursor: pointer;
    font-family: Tahoma, serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    -moz-user-select: none;
    padding: 0px 0px 0px 12px;
}

.commentTwistyOpen {
    background-image: url(../images/twisty-opn.gif);
}
