/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
@import url(./layout.css);

body {
	/* Here we'll declare the default font-size and font-family. 
	 * The rest of the typographical rules use relative sizes based on this font-size. 
	 * We can easily modify overall typography by changing or overriding these values. 
	 */
	background: #FFFFFF; 
	color: #000000;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 90%;
    margin: 0px;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline overline;
}

a:active {
	text-decoration: none;
}

.dateStamp {
	background: transparent;
	color: #A0A0A0;
	font-size: 8pt;
}

.error {
	background: transparent;
	color: #FF0000;
}

.greek {
	font-style: italic;
}

.hCalendarDay {
	border-width: thin;
	font-size: .9em;
	text-align: center;
}

.hCalendarDayCurrent {
	border-style: dotted;
	border-width: thin;
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}

.hCalendarDayLinked {
	border-width: thin;
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}

.hCalendarDayNameRow {
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}

.hCalendarDayNotInMonth {
	background: transparent;
	color: #AAAAAA;
	font-size: .9em;
	text-align: center;
}

.hCalendarNextPrev {
	text-align: center;
}

.hCalendarTitle {
	font-weight: bolder;
	text-align: center;
}

#menu {
	background-color: #000080;
	background-image: url(../images/background.jpg);
	color: #FFFFFF;
}

#menu #calendar {
	border: 1px solid #FFC757;
}

#menu .item {
	border-top: 1px dashed #eee;
}

.rFolder, .rNewsfeedTitle {
	font-weight: 600;
}

.permalink, .daypermalink {
	border: 0px;
	vertical-align: bottom;
}

div.trackbackUrl {
    background: transparent;
    color: blue;
}

/* class definition for W3C Images */
.w3 {
	border: 0px;
	height: 31px;
	width: 88px;
}

/* hide borders for all images with links */
img a {
    border: 0px;
}

#content {
	background: #FFFFFF;
	color: #000000;
}

#content a {
	background: transparent;
	color: #000080;
}

#content pre {
	background: #FFFFCC;
	color: #000000;
	padding: 5px;
}

.entry {
	background: #000080;
	background-image: url(../images/background.jpg);
	border-top: 1px solid #FFC757;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-variant: small-caps;
	font-weight: bold;
	margin: 5px 0px;
	padding: 5px;
}

#menu a {
	background: transparent;
	color: #FFFF00;
}

#menu .rFolder a, #menu .rNewsfeedTitle a {
	background: transparent;
	color: #FFFFFF;
}

#menu .rFolder span, #menu .rNewsfeedTitle span {
    font-weight: bold;
}
