<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #showContentLanguage($locale.language)
        <title>#showWebsiteTitle()</title>
        <base href="$absBaseURL" />
        #showRSSAutodiscoveryLink()
        #showRSDLink()
        <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
        <link rel="stylesheet" type="text/css" media="all"
            href="#showThemeStylePath("sunsets" "cherryeve.css")" />
        <link rel="alternate stylesheet" type="text/css"
            media="all" title="Capricorn"
            href="#showThemeStylePath("sunsets" "capricorn.css")" />
        #showThemeStyle("x2" "comments.css" false)
        #showThemeScript("x2" "global.js")
        #showThemeScript("x2" "xmlextras.js")
        #showThemeScript("x2" "comments.js")
        #showThemeScript("sunsets" "styleswitcher.js")
        #showThemeScript("sunsets" "calendar.js")
        <script type="text/javascript">
            var cal = new CalendarPopup("calDiv");
            cal.setReturnFunction("showDate");

            document.write(cal.getStyles());

            // Function to get input back from calendar popup
            function showDate(y,m,d) {
                var day = y+LZ(m)+LZ(d);
                location.href = "$ctxPath/page/$website.handle/" + day;
            }
        </script>
        <link rel="stylesheet" type="text/css" media="print"
            href="#showThemeStylePath("sunsets" "print.css")" />
    </head>
<body>

#showHiddenCommentForm()

<script type="text/javascript">
    initComments();
</script>

<div id="badges">
    <a href="#" onclick="setActiveStyleSheet('default'); return false;"
        onkeypress="setActiveStyleSheet('default'); return false;" accesskey="d"
        title="Default style (Cherry Eve)."><img width="25" height="16"
        src="#showThemeImagePath("sunsets" "cherryeve.gif")"
        alt="Default style (Cherry Eve)."/></a>

    <a href="#" onclick="setActiveStyleSheet('Capricorn'); return false;"
        onkeypress="setActiveStyleSheet('Capricorn'); return false;"
        title="Switch styles (Capricorn)." accesskey="c"><img
        src="#showThemeImagePath("sunsets" "capricorn.gif")"
        width="25" height="16" alt="Switch styles (Capricorn)." /></a>

    <a href="$ctxPath/rss/$website.handle" accesskey="x" title="RSS Feed"><img
        src="#showThemeImagePath("sunsets" "xml.gif")"
        width="25" height="16" alt="XML Feed" /></a>

    <a href="?" onmouseover="window.status='View Calendar'; return false"
        onmouseout="window.status=''; return false" name="calAnchor"
        id="calAnchor" onclick="cal.showCalendar(this.id); return false">
        <img src="#showThemeImagePath("sunsets" "cal.gif")"
            width="25" height="16" alt="Calendar" /></a>

</div>

<div id="content">
    <div id="header">
        <h1><a href="$ctxPath/page/$website.handle" title="Home">#showWebsiteTitle()</a></h1>
        #showBasicNavBar( false )
    </div>

    #showWeblogCategoryChooser()

    <div id="entries">
    #displayWeblogEntries()
    </div>
</div>


<div id="footer">
    <a href="$ctxPath/page/$website.handle" title="View most recent posts">Home</a>
    &middot; Sunsets Theme by <a href="http://raibledesigns.com">Matt Raible</a>
</div>

<div id="calDiv" style="position: absolute; visibility: hidden"></div>

</body>
</html>
