<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    #showAutodiscoveryLinks($model.weblog)

    <link rel="stylesheet" type="text/css" 
        href='$url.themeResource("sunsets", "styles/theme.css")' />
    <link rel="stylesheet" type="text/css" media="all"
        href='$url.themeResource("sunsets", "styles/cherryeve.css", true)' />
    <link rel="alternate stylesheet" type="text/css"
        media="all" title="Capricorn"
        href='$url.themeResource("sunsets", "styles/capricorn.css", true)' />

    <style type="text/css">#includeTemplate($model.weblog "_css")</style>
    <style type="text/css">
        @import url($url.themeResource("x2", "styles/comments.css", true));
    </style>

    <script type="text/javascript" 
        src='$url.themeResource("x2", "scripts/global.js", true)'></script>
    <script type="text/javascript" 
        src='$url.themeResource("x2", "scripts/xmlextras.js", true)'></script>
    <script type="text/javascript" 
        src='$url.themeResource("x2", "scripts/comments.js", true)'></script>
    <script type="text/javascript" 
        src='$url.themeResource("sunsets", "scripts/styleswitcher.js", true)'></script>
    <script type="text/javascript" 
        src='$url.themeResource("sunsets", "scripts/calendar.js", true)'></script>

    <script type="text/javascript">
            var cal = new CalendarPopup("calDiv");
            cal.setReturnFunction("showDate");

            document.write(cal.getStyles());

            // Function to get input back from calendar popup
            function showDate(y,m,d) {
                var day = y+LZ(m)+LZ(d);
                location.href = "$ctxPath/page/$website.handle/" + day;
            }
        </script>
        <link rel="stylesheet" type="text/css" media="print"
            href="$url.themeResource("sunsets","styles/print.css")" />
    </head>
<body>

<!-- showHiddenCommentForm() -->

<script type="text/javascript">
    initComments();
</script>

<div id="badges">
    <a href="#" onclick="setActiveStyleSheet('default'); return false;"
        onkeypress="setActiveStyleSheet('default'); return false;" accesskey="d"
        title="Default style (Cherry Eve)."><img width="25" height="16"
        src="$url.themeResource("sunsets","images/cherryeve.gif")"
        alt="Default style (Cherry Eve)."/></a>

    <a href="#" onclick="setActiveStyleSheet('Capricorn'); return false;"
        onkeypress="setActiveStyleSheet('Capricorn'); return false;"
        title="Switch styles (Capricorn)." accesskey="c"><img
        src="$url.themeResource("sunsets","images/capricorn.gif")"
        width="25" height="16" alt="Switch styles (Capricorn)." /></a>

    <a href="$url.feeds.entries.atom" accesskey="x" title="Atom Feed"><img
        src="$url.themeResource("sunsets","images/xml.gif")"
        width="25" height="16" alt="Atom Feed" /></a>

    <a href="?" onmouseover="window.status='View Calendar'; return false"
        onmouseout="window.status=''; return false" name="calAnchor"
        id="calAnchor" onclick="cal.showCalendar(this.id); return false">
        <img src="$url.themeResource("sunsets","images/cal.gif")"
            width="25" height="16" alt="Calendar" /></a>

</div>

<div id="content">
    <div id="header">
        <h1><a href="$url.home" title="Home">$model.weblog.name</a></h1>
        #showPageMenu($model.weblog)
    </div>

        #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
        #showWeblogCategoryLinksList($rootCategory false false)

    <div id="entries">
        #set($pager = $model.getWeblogEntriesPager()) 
        <div class="next-previous">
            #if ($model.results)
                #showWeblogSearchAgainForm($model.weblog)
                #showNextPrevSearchControl($pager)
            #else
                #showNextPrevEntriesControl($pager)
            #end
        </div>

        #showWeblogEntriesPager($pager)

        #if ($model.permalink)
           #showWeblogEntryComments($entry)
           #showWeblogEntryCommentForm($entry)
        #end
    </div>
</div>


<div id="footer">
    <a href="$url.home" title="View most recent posts">Home</a>
    &middot; Sunsets Theme by <a href="http://raibledesigns.com">Matt Raible</a>
</div>

<div id="calDiv" style="position: absolute; visibility: hidden"></div>

</body>
</html>
