#includePage("_header")

<div id="ArchivesColumn">
  <center>
    <h2>#showWebsiteTitle()</h2>
    #showBasicNavBar(false)<br />
  </center>
  #showBigWeblogCalendar()<br />
  #includePage("_badges")
</div>

#includePage("_footer")