    <h2 class="pageTitle">Weblog: $profileWeblog.name</h2> 
    <table width="70%">
        <tr>
            <td width="25%">Handle</td>
            <td width="75%"><a href="$url.site/$profileWeblog.handle">$profileWeblog.handle</a></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>$profileWeblog.about</td>
        </tr>
        <tr>
            <td>Created by</td>
            <td>$profileWeblog.creator.screenName</td>
        </tr>
        <tr>
            <td>Last modified</td>
            <td>$profileWeblog.lastModified</td>
        </tr>
        <tr>
            <td>Locale</td>
            <td>$!profileWeblog.locale</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>$profileWeblog.timeZone</td>
        </tr>
    </table>

    <h2 class="pageTitle">Weblog users</h2>
    #set($users = $site.getWeblogsUsers($profileWeblog.handle))
    <table width="70%">
        <tr>
            <td width="75%">Screen name</td>
        </tr>  
        #foreach($user in $users) 
        <tr>
            <td>$user.screenName</td>
        </tr>
        #end
    </table>

    <h2 class="pageTitle">Recent posts</h2>
    #set($entriesPager = $site.getWeblogEntriesPager($profileWeblog, 90, 5)) 
    #if($entriesPager.items.size() > 0)  
        <table class="rollertable" width="70%"> 
        <tr>
            <td width="25%">User</td>
            <td width="25%">Pub. time</td>
            <td width="50%">Title</td>
        </tr> 
        #foreach($entry in $entriesPager.items)
            <tr>
                <td>$entry.creator.screenName</td>
                <td>$utils.formatDate($entry.pubTime, $text.get("macro.weblog.date.toStringFormat"))</td>
                <td><a href="$utils.escapeHTML($entry.permaLink)">
                    $utils.removeHTML($entry.title)</a></td>
            </tr>
        #end
        </table>
    #else
        No posts in past 90 days
    #end
