    <h2 class="pageTitle">Weblog: $profileWeblog.name</h2>
    <table width="70%">
        <tr>
            <td width="25%">Handle</td>
            <td width="75%"><a href="$url.site/$profileWeblog.handle">$profileWeblog.handle</a></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>#if($profileWeblog.about) $profileWeblog.about #end</td>
        </tr>
        <tr>
            <td>Created by</td>
            <td>$profileWeblog.creator.screenName</td>
        </tr>
        <tr>
            <td>Last modified</td>
            <td>$profileWeblog.lastModified</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>$profileWeblog.timeZone</td>
        </tr>
    </table>

    <h2 class="pageTitle">Recent posts</h2>
    #set($entriesPager = $site.getWeblogEntriesPager($profileWeblog, $null, 90, 5))
    #if($entriesPager.items.size() > 0)  
        <table class="rollertable" width="70%"> 
        <tr>
            <td width="25%">Pub. time</td>
            <td width="75%">Title</td>
        </tr> 
        #foreach($entry in $entriesPager.items)
            <tr>
                <td>$utils.formatDate($entry.pubTime, $server.msg("macro.weblog.datepattern"))</td>
                <td><a href="$utils.escapeHTML($entry.permalink)">$entry.title</a></td>
            </tr>
        #end
        </table>
    #else
        No posts in past 90 days
    #end
