<div id="footer">

Powered by <a href="http://roller.apache.org">Apache Roller</a> $config.rollerVersion

</div>
       
<div id="datetagdiv" 
   style="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;">
</div>
</body>
</html>