<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src *; base-uri 'self'; connect-src 'self'; form-action 'self'; frame-ancestors 'none'">
  <title>$model.weblog.name</title>
  <link href="$url.absoluteSite/favicon.svg" rel="shortcut icon" type="image/x-icon" />
  #showAutodiscoveryLinks($model.weblog)
  <style>
  #includeTemplate($model.weblog "_css")
  </style>
</head>
<body class="view" bgcolor="#FFFFFF">

<div id="banner">
        <div class="bannerBox">
           <img class="bannerlogo" 
              src='$url.resource("roller-tan-logo.gif")' />
        </div>

    <div id="bannerStatusBox">
        <table class="bannerStatusBox" cellpadding="0" cellspacing="0">
            <tr>
                <td class="bannerLeft"></td>
                <td class="bannerRight">
                   <a href="$url.absoluteSite">$config.siteName</a> |
                   <a href="$url.absoluteSite/roller-ui/menu.rol">Main Menu</a> |
                   #if(!$utils.isUserAuthenticated())
                      <a href="$url.login">Login</a> |
                     <a href="$url.register">Register</a>
                   #else
                     <a href="$url.logout">Logout</a>
                   #end
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="wrapper"> 

    <div id="leftcontent_wrap">
        <div id="leftcontent"> 
        </div>
    </div>
    
