<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <span th:replace="${model.getTemplateIdByName('common_html_head')}"></span>
    <title th:utext="${model.weblog.name + ': ' + model.weblog.tagline}">xxx</title>
    <meta th:if="${model.addNoIndexDirective}" name="robots" content="noindex">
    <span th:utext="${model.analyticsTrackingCode}" th:remove="tag"></span>
    <span th:replace="fragments :: MetaDescription"></span>
</head>
<body>

	<header>
    	<span th:replace="${model.getTemplateIdByName('standard_header')}"></span>
	</header>

	<div class="container">
	
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:utext="${model.weblog.name + ' '}">
				    <small th:utext="${model.weblog.tagline}">xxx</small>
				</h1>
			</div>
	  	</div>

	  	<div class="row">
	  	<!-- BODY MAIN-->
			<div id="main_content" class="col-lg-8" th:with="entry = ${model.weblogEntriesPager.entries.get(model.weblogEntriesPager.entries.keySet().iterator().next()).get(0)}">
                <div th:replace="fragments :: WeblogEntriesPager"></div>

				<ul class="pager" th:with="pager = ${model.getWeblogEntriesPager()}">
	        		<li th:if="${!#strings.isEmpty(pager.prevLink)}" class="previous">
	        		    <a th:href="${pager.prevLink}" th:utext="${'← ' + pager.prevLabel}">xxx</a>
	        		</li>
                    <li th:if=${!#strings.isEmpty(pager.nextLink)} class="next">
                        <a th:href="${pager.nextLink}" th:utext="${pager.nextLabel + ' →'}">xxx</a>
                    </li>
				</ul>

				<hr>

				<div class="panel panel-primary">
					<div class="panel-heading comments-head" id="comments" th:utext="${
                            model.commentForm.preview ? utils.msg('macro.weblog.preview')
                                :
                            (entry.commentCount > 0 ?
                                (utils.msg('macro.weblog.comments') + ':')
                                    :
                                 utils.msg('macro.weblog.nocommentsyet'))}">
                    </div>
                    <th:block th:with="comments=${model.commentForm.preview ? model.commentForm : entry.getComments()}">
                        <div class="panel-body">
                            <th:block th:each="comment,iterStat : ${comments}" th:if="${comment.approved || model.commentForm.preview}">
                                <div th:id="${'comment-' + comment.timestamp}" th:class="${iterStat.even}? 'even' : 'odd'">
                                    <p th:utext="${comment.content}">xxx</p>
                                    <p class="comment-details">
                                    <span th:utext="${utils.msg('macro.weblog.postedby')}">xxx</span>
                                        <a rel="nofollow" th:href="${comment.url}" th:remove="${#strings.isEmpty(comment.url)} ? 'tag' : 'none'">
                                            <b th:utext="${comment.name}">xxx</b>
                                        </a>
                                    <span th:utext="${utils.msg('macro.weblog.on') + ' ' + utils.formatTemporal(comment.postTime, utils.msg('macro.weblog.datetimepattern'))}">xxx</span>
                                    <a th:href="${url.comment(entry, comment.timestamp)}"
                                       class="entrypermalink" th:title="${utils.msg('macro.weblog.commentpermalink.title')}">#</a>
                                    </p>
                                </div>
                            </th:block>
                            <hr>
                        </div>
                    </th:block>
				</div>

                <th:block th:switch="${model.canSubmitNewComments(entry)}">
                    <div class="panel panel-default" th:case="${true}" th:with="cform = ${model.getCommentForm()}">
                        <div class="panel-heading">
                            <h3 class="panel-title">Leave a Comment</h3>
                        </div>
                        <div class="panel-body">
                            <div th:if="${!#strings.isEmpty(cform.submitResponseMessage)}"
                                  th:class="${'alert ' + (cform.invalid ? 'alert-danger' : (!#strings.isEmpty(cform.submitResponseMessage) ? 'alert-success' : ''))}"
                                  th:utext="${cform.submitResponseMessage}">xxx</div>

                            <form method="post" focus="name" name="commentForm">
                                <div class="row">
                                    <input type="hidden" name="method" value="post" />
                                    <div class="form-group col-lg-4">
                                        <label for="input1" th:utext="${utils.msg('macro.weblog.name')}">xxx</label>
                                        <input type="text" name="name" class="form-control" th:value="${cform.name}" id="input1" required>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="input2" th:utext="${utils.msg('macro.weblog.email')}">xxx</label>
                                        <input type="text" name="email" class="form-control" th:value="${cform.email}" id="input2" required>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="input3" th:utext="${utils.msg('macro.weblog.url')}">xxx</label>
                                        <input type="text" name="url" class="form-control" th:value="${cform.url}" id="input3">
                                    </div>
                                    <div th:if="${utils.commentEmailNotify}" class="form-group col-lg-6">
                                        <div class="checkbox">
                                            <input type="checkbox" class="checkbox" id="notify" name="notify" th:checked="${cform.notify}"/>
                                            <label for="notify" th:utext="${utils.msg('macro.weblog.notifyMeOfComments')}">xxx</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-lg-12">
                                        <label for="input4" th:utext="${utils.msg('macro.weblog.yourcomment')}">xxx</label>
                                        <textarea name="content" class="form-control" rows="6" id="input4" required th:utext="${cform.content}">xxx</textarea>
                                    </div>

                                    <div class="form-group col-lg-12">
                                       <script th:src="${url.site + '/scripts/clientSideInclude.js'}"></script>
                                       <div id="commentAuthenticator"></div>
                                       <input type="submit" th:formaction="${url.entryCommentPreview(entry)}" class="btn btn-primary"
                                               name="post" th:value="${utils.msg('macro.weblog.postpreview')}">
                                       <input type="submit" th:formaction="${url.entryComment(entry)}" class="btn btn-success"
                                               name="post" th:value="${utils.msg('macro.weblog.post')}">
                                    </div>
                                </div>
                            </form>
                            <script>
                                clientSideInclude('commentAuthenticator', '[(${url.commentAuthenticator})]');
                            </script>
                        </div>
                    </div>
                    <span th:case="${false}" class="status" th:utext="${utils.msg('comments.disabled')}">xxx</span>
                </th:block>
            </div>
			
			<!-- BODY - SIDEBAR -->
			<div id="sidebar_content" class="col-lg-4">
				<div class="well">
					<h3>Welcome</h3>

					<p class="details">
					You're viewing a weblog entry titled <b th:utext="${model.weblogEntry.title}">xxx</b>.
					If you like this entry you might want to:
					</p>

					<table><tbody>
						<tr>
						  <td><img th:src="${url.themeResource('gaurav', 'icons/delicious.gif')}"
						         alt="del.icio.us" height="16" width="16" />
						      <a th:href="${'http://del.icio.us/post?url=' + url.getURL(model.weblogEntry)}"
						         title="bookmark it in del.icio.us">Bookmark it</a></td>

						  <td><img th:src="${url.themeResource('gaurav', 'icons/digman.gif')}"
						          alt="submit to dig digg.com" height="14" width="16" />
						      <a th:href="${'http://www.digg.com/submit?url=' + url.getURL(model.weblogEntry) + '&amp;phase=2'}" title="submit it to digg">
						          Digg it</a></td>
						</tr>
					</tbody></table>
				</div>
				<div class="well">
					<p class="details">
					This is just one entry in the weblog <b th:utext="${model.weblog.name}">xxx</b>.
					Why don't you <a th:href="${url.weblogHome}">visit the main page</a> of the weblog?</p>
				</div>
				<div class="well">
					<h3>Related entries</h3>
					<ul>
					    <li th:each="recentEntry : ${model.getRecentWeblogEntries(model.weblogEntry.category.name, 20)}" class="entryLink">
					        <a th:href="${url.getURL(recentEntry)}" th:utext="${recentEntry.title}">xxx</a>
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
    	<span th:replace="${model.getTemplateIdByName('standard_footer')}">xxx</span>
	</footer>

</body>
</html>
