<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    <display-name>Planet Roller</display-name>
       
    <filter>
        <filter-name>PersistenceSessionFilter</filter-name>
        <filter-class>org.apache.roller.planet.ui.utils.PersistenceSessionFilter</filter-class>
    </filter>  
    
    <filter>
        <filter-name>LoadableFormFilter</filter-name>
        <filter-class>org.apache.roller.planet.ui.utils.LoadableFormFilter</filter-class>
    </filter> 
    
    <filter>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <url-pattern>*.faces</url-pattern>
        <init-param>
            <!-- Uploaded OPML files should be fairly small -->
            <param-name>uploadMaxFileSize</param-name>
            <param-value>500k</param-value>
        </init-param>
        <init-param>
            <param-name>uploadThresholdSize</param-name>
            <param-value>100k</param-value>
        </init-param>
    </filter-mapping>

    <filter-mapping>
        <filter-name>PersistenceSessionFilter</filter-name>
        <url-pattern>/planet-ui/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>LoadableFormFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
    
    <error-page>
        <error-code>500</error-code>
        <location>/planet-ui/error.faces</location>
    </error-page>
    
    <security-constraint>
        <display-name>planet-ui</display-name>
        <web-resource-collection>
            <web-resource-name>planet-ui</web-resource-name>
            <url-pattern>/planet-ui/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/planet-ui/login.jsp</form-login-page>
            <form-error-page>/planet-ui/login.jsp?error=true</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    
</web-app>
