
#** macros for use by Roller's built-in feed templates

   Contents
      #showEntriesAtom10()
      #showEntriesRSS20()
      #showCommentsAtom10()
      #showCommentsRSS20()
*#

#macro(showEntriesAtom10 $entries)
    #foreach($entry in $entries)
    <entry>
        <id>$entry.permalink</id>
        <title type="html">$utils.escapeHTML($entry.title)</title>
        <author><name>$entry.creator.fullName</name></author>
        <link rel="alternate" type="text/html" href="$entry.permalink"/>
        <published>$utils.formatIso8601Date($entry.pubTime)</published>
        <updated>$utils.formatIso8601Date($entry.updateTime)</updated> 
        <category term="$utils.escapeHTML($entry.category.path, true)" label="$utils.escapeHTML($entry.category.name)" />
        #if( $utils.isNotEmpty($entry.summary))<summary type="html">$plugins.render($entry, $entry.summary, false)</summary>#end
        #if( $utils.isNotEmpty($entry.text) )<content type="html">$plugins.render($entry, $entry.text, false)</content>#end
        #set( $mc_url = $entry.findEntryAttribute("att_mediacast_url") )
        #set( $mc_type = $entry.findEntryAttribute("att_mediacast_type") )
        #set( $mc_length = $entry.findEntryAttribute("att_mediacast_length") )
        #if( $mc_url && $mc_length && $mc_type )
        <link rel="enclosure" type="$mc_type" length="$mc_length" href="$mc_url"/>
        #set($mc_url = false) #set($mc_type = false) #set($mc_length = false)
        #end
    </entry>
    #end
#end

#macro(showEntriesRSS20 $entries)
  #foreach($entry in $entries)
  <item>
    <guid isPermaLink="true">$entry.permalink</guid>
    <title>$utils.escapeHTML($utils.removeHTML($entry.title))</title>
    <dc:creator>$utils.escapeHTML($entry.creator.fullName)</dc:creator>
    <link>$entry.permalink</link>
    #if( $entry.link && !$entry.link.trim().equals("") )
    <source url="$utils.escapeHTML($entry.link)">$utils.escapeHTML($entry.link)</source>
    #end
    <pubDate>$utils.formatRfc822Date($entry.pubTime)</pubDate>
    <category>$utils.escapeHTML($entry.category.name,true)</category>
    #if( $utils.isNotEmpty($entry.summary) && $utils.isNotEmpty($entry.text))<atom:summary type="html">$plugins.render($entry, $entry.summary, false)</atom:summary>#end
    #if( $utils.isNotEmpty($entry.summary) && $utils.isEmpty($entry.text))<description>$plugins.render($entry, $entry.summary, false)</description>#end
    #if( $utils.isNotEmpty($entry.text) )<description>$plugins.render($entry, $entry.text, false)</description>#end
    #set( $mc_url = $entry.findEntryAttribute("att_mediacast_url") )
    #set( $mc_type = $entry.findEntryAttribute("att_mediacast_type") )
    #set( $mc_length = $entry.findEntryAttribute("att_mediacast_length") )
    #if( $mc_url && $mc_length && $mc_type )
       <enclosure url="$mc_url" type="$mc_type" length="$mc_length" />
       #set($mc_url = false) #set($mc_type = false) #set($mc_length = false)
    #end
    #if( $website.allowComments )
    <comments>$utils.textToHTML($entry.commentLink)</comments>
    #end
  </item>
  #end
#end

#macro(showCommentsAtom10 $comments)
    #foreach($comment in $comment)
    <entry>
        <!-- TODO: 3.0 Fix this, it's not a unique ID -->
        <id>$comment.weblogEntry.permalink</id> 
        <title type="html">Re: $utils.escapeHTML($comment.weblogEntry.title)</title>
        <author><name>$utils.escapeHTML($utils.removeHTML($comment.name))</name></author>
        <link rel="alternate" type="text/html" href="$comment.weblogEntry.permalink"/>
        <published>$utils.formatIso8601Date($comment.postTime)</published>
        <updated>$utils.formatIso8601Date($comment.postTime)</updated> 
        #if($config.getBooleanProperty("users.comments.escapehtml"))
            #set($content = $utils.escapeHTML($utils.removeHTML($content)))
        #else 
            #set($content = $utilities.transformToHTMLSubset($utilities.escapeHTML($content)))
        #end
        #if($config.getBooleanProperty("users.comments.autoformat"))
            #set($content = $utilities.autoformat($content))
        #end
        #set($content = $utilities.addNofollow($content))
        <content type="html">${content}</content>
    </entry>
    #end
#end

#macro(showCommentsRSS20 $entries)
    #foreach($entry in $entries)
    <item>
        <!-- TODO: 3.0 Fix this, it's not a unique ID -->
        <guid isPermaLink="true">$comment.weblogEntry.permalink</guid>
        <title>Re: $utils.escapeHTML($comment.weblogEntry.title)</title>
        <dc:creator>$utils.escapeHTML($utils.removeHTML($comment.name))</dc:creator>
        <pubDate>$utils.formatIso8601Date($comment.postTime)</pubDate>
        #if($config.getBooleanProperty("users.comments.escapehtml"))
            #set($content = $utils.escapeHTML($utils.removeHTML($content)))
        #else 
            #set($content = $utilities.transformToHTMLSubset($utilities.escapeHTML($content)))
        #end
        #if($config.getBooleanProperty("users.comments.autoformat"))
            #set($content = $utilities.autoformat($content))
        #end
        #set($content = $utilities.addNofollow($content))
        <description>${content}</description>
    </item>
    #end
#end

