
#** macros for use with SitePageModel

   Contents
      #showEntry($entry)
      #showEnriesPager($entries $maxResults)
      #showWeblogProfile($weblog)
      #showWeblogDirectory()
      #showUserProfile($user)
      #showUserDirectory()
      #showCommentsPager($comments $maxResults)
*#
##-----------------------------------------------------------------------------
#macro( showEntry $entry )
<div class="entry">
    <span class="entryDetails">
        <a href="$utilities.textToHTML($entry.permaLink)">
        <b>$utilities.removeHTML($entry.title)</b></a><br /> 
        $entry.website.name 
        #if($entry.category.name)| $entry.category.name #end
        #if($entry.pubTime)| #formatDate($text.get("macro.weblog.date.toStringFormat") $entry.pubTime) #end
        #if($entry.creator.userName)| By $entry.creator.userName #end
        <br/> 
    </span>
    <span class="entryDescription">
        #set($content = $utilities.removeHTML($entry.text))
        $utilities.truncateNicely($content, 240, 260, "...")
    </span>
</div>
#end

##-----------------------------------------------------------------------------
#macro(showEntriesPager $entries $maxResults)
    #if($entries.size() > 0)
        #set($entryCount = $entries.size() - 1)
        #set($startDate = $entries.get(0).pubTime)
        #set($endDate = $entries.get($entryCount).pubTime)
    #end
    #foreach($entry in $entries)
        #if($velocityCount < $maxResults)
            #showEntry($entry)
        #end
    #end
    <div class="nextPrev">
    #if($offset >= $maxResults - 1)
       #set($prevOffset = $offset - ($maxResults - 1))
       <a href="?offset=$prevOffset">&lt; Newer</a>
    #end
    &nbsp;
    #if($entries.size() > $maxResults - 1)
       #set($nextOffset = $offset + $maxResults - 1)
       <a href="?offset=$nextOffset">Older &gt;</a>
    #end
    </div>
#end

##-----------------------------------------------------------------------------
#macro(showWeblogProfile $weblog)
    <h2 class="pageTitle">Weblog: $weblog.name</h2> 
    <table>
        <tr>
            <td>Handle</td>
            <td>$weblog.handle</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>$weblog.description</td>
        </tr>
        <tr>
            <td>Created by</td>
            <td><$weblog.creator.fullName/td>
        </tr>
        <tr>
            <td>Last modified</td>
            <td>$weblog.lastModified</td>
        </tr>
        <tr>
            <td>Locale</td>
            <td>$!weblog.locale</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>$weblog.timeZone</td>
        </tr>
    </table>

    <h2 class="pageTitle">Weblog users</h2>
    #set($users = $sitePageModel.getWeblogsUsers($weblog.handle))
    <table class="rollertable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Full name</th>
            </tr>
        </thead>    
        #foreach($user in $users) 
        <tr>
            <td>$user.userName</td>
            <td>$user.fullName</td>
        </tr>
        #end
    </table>

    <h2 class="pageTitle">Recent posts</h2>
    #set($entries = $sitePageModel.getWeblogEntries($weblog.handle, 'nil', 'nil', 90, 0, 5)) 
    #if($entries.size() > 0)  
        <table class="rollertable"> 
        <thead>
            <tr>
                <th>User</th>
                <th>Pub. time</th>
                <th>Title</th>
            </tr>
        </thead>  
        #foreach($entry in $entries)
            <tr>
                <td>$entry.creator.userName</td>
                <td>#formatDate($text.get("macro.weblog.date.toStringFormat") $entry.pubTime)</td>
                <td><a href="$utilities.textToHTML($entry.permaLink)">
                    $utilities.removeHTML($entry.title)</a></td>
            </tr>
        #end
        </table>
    #else
        No posts in past 90 days
    #end

#end


##-----------------------------------------------------------------------------
#macro(showWeblogDirectory)
    #if($pageModel.getRequestParameter("letter"))
        #set($chosenLetter = $pageModel.getRequestParameter("letter"))
    #else
        #set($chosenLetter = "A")
    #end

    #set($weblogLetterMap = $sitePageModel.getWeblogHandleLetterMap())
    <div class="letterMap">
    #foreach($letter in $weblogLetterMap.keySet())
        #set($letterCount = $weblogLetterMap.get($letter))
        #if($letter == $chosenLetter)<span style="font-size:120%; font-weight:bold">#end
        #if($letterCount > 0)
           <a href="?letter=$letter" title="$letterCount weblogs">$letter</a>         
        #else
           $letter
        #end
        #if($letter == $chosenLetter)</span>#end
    #end
    </div>

    #if($pageModel.getRequestParameter("offset"))
        #set($offset = $pageModel.getIntRequestParameter("offset"))
    #else
        #set($offset = 0)
    #end

    #if($chosenLetter)
        <h2 class="pageTitle">Weblogs starting with $chosenLetter</h2>
        #set($weblogs = $sitePageModel.getWeblogsByLetter($chosenLetter, $offset, $maxResults))
        <table class="rollertable">
            <thead>
                <tr>
                    <th>Handle</th>
                    <th>Profile</th>
                    <th>Name</th>
                </tr>
            </thead>
        #foreach($weblog in $weblogs)
            #if($velocityCount < $maxResults)
               <tr>
                  <td><a href="$baseURL/page/$weblog.handle">$weblog.handle</a></td>
                  <td><a href="?weblog=$weblog.handle">Profile</a></td>
                  <td>$weblog.name</td>
               </tr>
            #end
        #end 
        </table>
        #if($offset >= $maxResults - 1)
           #set($prevOffset = $offset - ($maxResults - 1))
           <a href="?letter=$chosenLetter&offset=$prevOffset">&lt;prev</a>
        #end
        #if(($offset >= $maxResults - 1) && ($weblogs.size() > $maxResults - 1)) &nbsp;|&nbsp; #end
        #if($weblogs.size() > $maxResults - 1)
           #set($nextOffset = $offset + $maxResults - 1)
           <a href="?letter=$chosenLetter&offset=$nextOffset">next &gt;</a>
        #end
    #end
#end

##-----------------------------------------------------------------------------
#macro(showUserProfile $user)
    <h2 class="pageTitle">User: $user.fullName</h2>
    <table>
        <tr>
            <td>Username</td>
            <td>$user.userName</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>$user.dateCreated</td>
        </tr>
        <tr>
            <td>Locale</td>
            <td>$user.locale</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>$user.timeZone</td>
        </tr>
    </table>

    <h2 class="pageTitle">User's weblogs</h2>
    #set($weblogs = $sitePageModel.getUsersWeblogs($user.userName))
    #if($perms.size() > 0)
    <table class="rollertable">
        <thead>
            <tr>
                <th>Handle</th>
                <th>Name</th>
            </tr>
        </thead>    
        #foreach($weblog in $weblogs) 
        <tr>
            <td><a href="$baseURL/page/$weblog.handle">$weblog.handle</a></td>
            <td>$weblog.name</td>
        </tr>
        #end
    </table>
    #else
       User does not belong to any weblogs
    #end

    <h2 class="pageTitle">User's recent posts</h2>
    #set($entries = $sitePageModel.getWeblogEntries('nil', $user.userName, 'nil', 90, 0, 5)) 
    #if($entries.size() > 0)  
        <table class="rollertable"> 
        <thead>
            <tr>
                <th>Blog</th>
                <th>Pub. time</th>
                <th>Title</th>
            </tr>
        </thead>  
        #foreach($entry in $entries)
            <tr>
                <td><a href="$entry.website.url">$entry.website.handle</a></td>
                <td>#formatDate($text.get("macro.weblog.date.toStringFormat") $entry.pubTime)</td>
                <td><a href="$utilities.textToHTML($entry.permaLink)">
                    $utilities.removeHTML($entry.title)</a></td>
            </tr>
        #end
        </table>
    #else
        No posts in past 90 days
    #end
#end

##-----------------------------------------------------------------------------
#macro(showUserDirectory)
    #if($pageModel.getRequestParameter("letter"))
        #set($chosenLetter = $pageModel.getRequestParameter("letter"))
    #else
        #set($chosenLetter = "A")
    #end

    #set($userLetterMap = $sitePageModel.getUserNameLetterMap())
    <div class="letterMap">
    #foreach($letter in $userLetterMap.keySet())
        #set($letterCount = $userLetterMap.get($letter))
        #if($letter == $chosenLetter)<span style="font-size:120%; font-weight:bold">#end
        #if($letterCount > 0)
           <a href="?letter=$letter" title="$letterCount users">$letter</a>
        #else
           $letter
        #end
        </span>
    #end
    </div>

    #if($pageModel.getRequestParameter("offset"))
        #set($offset = $pageModel.getIntRequestParameter("offset"))
    #else
        #set($offset = 0)
    #end

    #if($chosenLetter)
        <h2 class="pageTitle">Users starting with $chosenLetter</h2>
        #set($users = $sitePageModel.getUsersByLetter($chosenLetter, $offset, $maxResults))
        <table class="rollertable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Profile</th>
                    <th>Full name</th>
                </tr>
            </thead>
        #foreach($u in $users)
            #if($velocityCount < $maxResults)
               <tr>
                  <td>$u.userName</td>
                  <td><a href="?userName=$u.userName">Profile</a></td>
                  <td>$u.fullName</td>
               </tr>
            #end
        #end 
        </table>
        #if($offset >= $maxResults - 1)
           #set($prevOffset = $offset - ($maxResults - 1))
           <a href="?letter=$chosenLetter&offset=$prevOffset">&lt;prev</a>
        #end
        #if(($offset >= $maxResults - 1) && ($weblogs.size() > $maxResults - 1)) &nbsp;|&nbsp; #end
        #if($users.size() > $maxResults - 1)
           #set($nextOffset = $offset + $maxResults - 1)
           <a href="?letter=$chosenLetter&offset=$nextOffset">next &gt;</a>
        #end
    #end
#end

##-----------------------------------------------------------------------------
#macro(showCommentsPager $comments $maxResults)
    #if($comments.size() > 0)
        #set($commentCount = $comments.size() - 1)
        #set($startDate = $comments.get(0).postTime)
        #set($endDate = $comments.get($commentCount).postTime)
    #end

    #foreach($comment in $comments)
        #if($velocityCount < $maxResults)
            <div class="entry">
                <span class="entryDetails">
                    <a href="${baseURL}$utilities.textToHTML($comment.weblogEntry.permaLink)">
                        <b>Re: $utilities.removeHTML($comment.weblogEntry.title)</b></a><br /> 
                    Posted on <a href="$baseURL/$comment.weblogEntry.website.handle">
                        $utilities.removeHTML($comment.weblogEntry.website.name)</a> 
                    #if($comment.name) | Posted by $comment.name #end
                    | $comment.postTime<br/> 
                </span>
                <span class="entryDescription">
                    #set($content = $utilities.removeHTML($comment.content))
                    $utilities.truncateNicely($content, 240, 260, "...")
                </span>
            </div>
        #end
    #end
 
    <div class="nextPrev">
    #if($offset >= $maxResults - 1)
       #set($prevOffset = $offset - ($maxResults - 1))
       <a href="?offset=$prevOffset">&lt; Newer</a>
    #end
    &nbsp;
    #if($comments.size() > $maxResults - 1)
       #set($nextOffset = $offset + $maxResults - 1)
       <a href="?offset=$nextOffset">Older &gt;</a>
    #end
    </div>

#end
