#**
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  The ASF licenses this file to You
  under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.  For additional information regarding
  copyright in this work, please see the NOTICE file in the top level
  directory of this distribution.
*#

#** macros for use with SitePageModel

   Contents
      #showEntry($entry)
      #showEnriesPager($pager)
      #showWeblogProfile($weblog)
      #showWeblogDirectory()
      #showUserProfile($user)
      #showUserDirectory()
      #showCommentsPager($pager)
*#
##-----------------------------------------------------------------------------
#macro( showEntry $entry )
<div class="entry">
    <span class="entryDetails">
        <a href="$utils.escapeHTML($entry.permalink)">
        <b>$utils.removeHTML($entry.title)</b></a><br /> 
        $entry.website.name 
        #if($entry.category.name)| $entry.category.name #end
        #if($entry.pubTime)| #formatDate($text.get("macro.weblog.date.toStringFormat") $entry.pubTime) #end
        #if($entry.creator.userName)| By $entry.creator.userName #end
        <br/> 
    </span>
    <span class="entryDescription">
        #set($content = $utils.removeHTML($entry.text))
        $utils.truncateNicely($content, 240, 260, "...")
    </span>
</div>
#end

##-----------------------------------------------------------------------------
#macro(showEntriesPager $pager)
    #if($pager.entries.size() > 0)
        #set($entryCount = $pager.entries.size() - 1)
        #set($startDate = $pager.entries.get(0).pubTime)
        #set($endDate = $entries.get($entryCount).pubTime)
    #end
    #foreach($entry in $pager.entries)
        #if($velocityCount < $maxResults)
            #showEntry($entry)
        #end
    #end
    <div class="nextPrev">
    #if($pager.nextLink)
       <a href="$pager.nextLink">&lt; $pager.nextName</a>
    #end
    #if($pager.nextLink && $pager.prevLink())
       &nbsp;|&nbsp;
    #end
    #if($pager.prevLink)
       <a href="$pager.prevLink">$pager.prevName &gt;</a>
    #end
    </div>
#end

##-----------------------------------------------------------------------------
#macro(showWeblogProfile $weblog)
    <h2 class="pageTitle">Weblog: $weblog.name</h2> 
    <table>
        <tr>
            <td>Handle</td>
            <td>$weblog.handle</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>$weblog.description</td>
        </tr>
        <tr>
            <td>Created by</td>
            <td><$weblog.creator.fullName/td>
        </tr>
        <tr>
            <td>Last modified</td>
            <td>$weblog.lastModified</td>
        </tr>
        <tr>
            <td>Locale</td>
            <td>$!weblog.locale</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>$weblog.timeZone</td>
        </tr>
    </table>

    <h2 class="pageTitle">Weblog users</h2>
    #set($users = $site.getWeblogsUsers($weblog.handle))
    <table class="rollertable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Full name</th>
            </tr>
        </thead>    
        #foreach($user in $users) 
        <tr>
            <td>$user.userName</td>
            <td>$user.fullName</td>
        </tr>
        #end
    </table>

    <h2 class="pageTitle">Recent posts</h2>
    #set($entriesPager = $site.getWeblogEntriesPager($weblog, $null, $null, 90, 5)) 
    #if($entriesPager.entries.size() > 0)  
        <table class="rollertable"> 
        <thead>
            <tr>
                <th>User</th>
                <th>Pub. time</th>
                <th>Title</th>
            </tr>
        </thead>  
        #foreach($entry in $entriesPager.entries)
            <tr>
                <td>$entry.creator.userName</td>
                <td>#formatDate($text.get("macro.weblog.date.toStringFormat") $entry.pubTime)</td>
                <td><a href="$utils.escapeHTML($entry.permaLink)">
                    $utils.removeHTML($entry.title)</a></td>
            </tr>
        #end
        </table>
    #else
        No posts in past 90 days
    #end

#end


##-----------------------------------------------------------------------------
#macro(showWeblogDirectory $pageLength)
    #if($model.getRequestParameter("letter"))
        #set($chosenLetter = $model.getRequestParameter("letter"))
    #else
        #set($chosenLetter = "A")
    #end

    #set($weblogLetterMap = $site.getWeblogHandleLetterMap())
    <div class="letterMap">
    #foreach($letter in $weblogLetterMap.keySet())
        #set($letterCount = $weblogLetterMap.get($letter))
        #if($letter == $chosenLetter)<span style="font-size:120%; font-weight:bold">#end
        #if($letterCount > 0)
           <a href="?letter=$letter" title="$letterCount weblogs">$letter</a>         
        #else
           $letter
        #end
        #if($letter == $chosenLetter)</span>#end
    #end
    </div>

    #if($chosenLetter)
        <h2 class="pageTitle">Weblogs starting with $chosenLetter</h2>
        #set($weblogsPager = $site.getWeblogsByLetterPager($chosenLetter, $since, $pageLength))
        <table class="rollertable">
            <thead>
                <tr>
                    <th>Handle</th>
                    <th>Profile</th>
                    <th>Name</th>
                </tr>
            </thead>
        #foreach($weblog in $weblogsPager.weblogs)
               <tr>
                  <td><a href="$baseURL/$weblog.handle">$weblog.handle</a></td>
                  <td><a href="?weblog=$weblog.handle">Profile</a></td>
                  <td>$weblog.name</td>
               </tr>
        #end 
        </table>
        #if($weblogsPager.prevLink)
           <a href="$weblogsPager.prevLink?letter=$chosenLetter">&lt; $weblogsPager.prevName</a>
        #end
        #if($pager.nextLink && $pager.prevLink())
           &nbsp;|&nbsp;
        #end
        #if($weblogsPager.nextLink)
           <a href="$weblogsPager.nextLink?letter=$chosenLetter">$weblogsPager.nextLink &gt;</a>
        #end
    #end
#end

##-----------------------------------------------------------------------------
#macro(showUserProfile $user)
    <h2 class="pageTitle">User: $user.fullName</h2>
    <table>
        <tr>
            <td>Username</td>
            <td>$user.userName</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>$user.dateCreated</td>
        </tr>
        <tr>
            <td>Locale</td>
            <td>$user.locale</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>$user.timeZone</td>
        </tr>
    </table>

    <h2 class="pageTitle">User's weblogs</h2>
    #set($weblogs = $site.getUsersWeblogs($user.userName))
    #if($perms.size() > 0)
    <table class="rollertable">
        <thead>
            <tr>
                <th>Handle</th>
                <th>Name</th>
            </tr>
        </thead>    
        #foreach($weblog in $weblogs) 
        <tr>
            <td><a href="$baseURL/page/$weblog.handle">$weblog.handle</a></td>
            <td>$weblog.name</td>
        </tr>
        #end
    </table>
    #else
       User does not belong to any weblogs
    #end

    <h2 class="pageTitle">User's recent posts</h2>
    #set($entriesPager = $site.getWeblogEntriesPager($null, $user, $null, 90, 5)) 
    #if($entriesPager.entries.size() > 0)  
        <table class="rollertable"> 
        <thead>
            <tr>
                <th>Blog</th>
                <th>Pub. time</th>
                <th>Title</th>
            </tr>
        </thead>  
        #foreach($entry in $entriesPager.entries)
            <tr>
                <td><a href="$entry.website.url">$entry.website.handle</a></td>
                <td>#formatDate($text.get("macro.weblog.date.toStringFormat") $entry.pubTime)</td>
                <td><a href="$utils.textToHTML($entry.permaLink)">
                    $utils.removeHTML($entry.title)</a></td>
            </tr>
        #end
        </table>
    #else
        No posts in past 90 days
    #end
#end

##-----------------------------------------------------------------------------
#macro(showUserDirectory $pageLength)
    #if($model.getRequestParameter("letter"))
        #set($chosenLetter = $model.getRequestParameter("letter"))
    #else
        #set($chosenLetter = "A")
    #end

    #set($userLetterMap = $site.getUserNameLetterMap())
    <div class="letterMap">
    #foreach($letter in $userLetterMap.keySet())
        #set($letterCount = $userLetterMap.get($letter))
        #if($letter == $chosenLetter)<span style="font-size:120%; font-weight:bold">#end
        #if($letterCount > 0)
           <a href="?letter=$letter" title="$letterCount users">$letter</a>
        #else
           $letter
        #end
        </span>
    #end
    </div>

    #if($chosenLetter)
        <h2 class="pageTitle">Users starting with $chosenLetter</h2>
        #set($usersPager= $site.getUsersByLetterPager($chosenLetter, $since, $pageLength))
        <table class="rollertable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Profile</th>
                    <th>Full name</th>
                </tr>
            </thead>
        #foreach($u in $usersPager.users)
               <tr>
                  <td>$u.userName</td>
                  <td><a href="?userName=$u.userName">Profile</a></td>
                  <td>$u.fullName</td>
               </tr>
        #end 
        </table>
        #if($usersPager.prevLink)
           <a href="$usersPager.prevLink?letter=$chosenLetter">&lt;$usersPager.prevName</a>
        #end
        #if($pager.nextLink && $pager.prevLink())
           &nbsp;|&nbsp;
        #end
        #if($usersPager.nextLink)
           <a href="$usersPager.nextLink?letter=$chosenLetter">$usersPager.nextName &gt;</a>
        #end
    #end
#end

##-----------------------------------------------------------------------------
#macro(showCommentsPager $commentsPager)
    #if($commentsPager.comments.size() > 0)
        #set($commentCount = $commentsPager.comments.size() - 1)
        #set($startDate = $commentsPager.comments.get(0).postTime)
        #set($endDate = $commentsPager.comments.get($commentCount).postTime)
    #end

    #foreach($comment in $commentsPager.comments)
            <div class="entry">
                <span class="entryDetails">
                    <a href="${baseURL}$utils.escapeHTML($comment.weblogEntry.permaLink)">
                        <b>Re: $utils.removeHTML($comment.weblogEntry.title)</b></a><br /> 
                    Posted on <a href="$baseURL/$comment.weblogEntry.website.handle">
                        $utils.removeHTML($comment.weblogEntry.website.name)</a> 
                    #if($comment.name) | Posted by $comment.name #end
                    | $comment.postTime<br/> 
                </span>
                <span class="entryDescription">
                    #set($content = $utils.removeHTML($comment.content))
                    $utils.truncateNicely($content, 240, 260, "...")
                </span>
            </div>
    #end
 
    <div class="nextPrev">
    #if($commentsPager.nextLink)
       <a href="$commentsPager.nextLink">&lt; $commentsPager.nextName</a>
    #end
    #if($pager.nextLink && $pager.prevLink())
       &nbsp;|&nbsp;
    #end
    #if($commentsPager.nextLink)
       <a href="$commentsPager.nextLink">$commentsPager.nextName &gt;</a>
    #end
    </div>

#end
