$pageHelper.setContentType("application/atom+xml;charset=utf-8")<?xml version="1.0" encoding='utf-8'?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title type="html">$utilities.textToHTML($website.name,true)</title>
    <subtitle type="html">$utilities.textToHTML($website.description,true)</subtitle>
    #if( $catPath && $catPath.length() > 0) 
       #set( $postfix = "?catname=$catPath" ) 
    #else
       #set( $postfix = "" ) 
    #end
    #if( $userName != "zzz_none_zzz" )    
       <id>$absBaseURL/atom/${website.handle}</id>
       <link rel="alternate" type="text/html" href="$websiteURL" />
       <link rel="self" type="application/atom+xml" 
            href="$absBaseURL/atom/${website.handle}$postfix" />
    #else
       <id>$absBaseURL/atom</id>
       <link rel="alternate" type="text/html" href="$websiteURL" />
       <link rel="self" type="application/atom+xml" 
            href="$absBaseURL/atom$postfix" />
    #end
    <updated>$utilities.formatIso8601Date($updateTime)</updated>
    <generator uri="http://rollerweblogger.org" version="#showVersion() ($rollerBuildTime:$rollerBuildUser)">Roller Weblogger</generator>
    #set( $entries = $pageModel.getRecentWeblogEntriesArray($entryCount, 'nil') )
    #foreach( $entry in $entries )
    <entry>
        <id>$absBaseURL$entry.permaLink</id>
        <title type="html">$utilities.textToHTML($entry.title,true)</title>
        <author><name>$entry.creator.fullName</name></author>
        <link rel="alternate" type="text/html" href="$absBaseURL$entry.permaLink"/>
        <published>$utilities.formatIso8601Date($entry.pubTime)</published>
        <updated>$utilities.formatIso8601Date($entry.updateTime)</updated> 
        <category term="$utilities.textToHTML($entry.category.path, true)" label="$utilities.textToHTML($entry.category.name, true)" />
        #if( $entry.summary )<summary type="html">#showEntrySummary(entry)</summary>#end
        #if( $entry.content )<content type="html">#showEntryContent($entry)</content>#end
        #set( $mc_url = $entry.findEntryAttribute("att_mediacast_url") )
        #set( $mc_type = $entry.findEntryAttribute("att_mediacast_type") )
        #set( $mc_length = $entry.findEntryAttribute("att_mediacast_length") )
        #if( $mc_url && $mc_length && $mc_type )
        <link rel="enclosure" type="$mc_type" length="$mc_length" href="$mc_url"/>
        #set($mc_url = false) #set($mc_type = false) #set($mc_length = false)
        #end
    </entry>
    #end
</feed>

