<?xml version="1.0" encoding="utf-8"?>
$pageHelper.setContentType("application/rss+xml;charset=utf-8")
<rss version="2.0">
<channel>
  <title>$utilities.textToHTML($website.name,true)</title>
  <link>$websiteURL</link>
  <description>$utilities.textToHTML($website.description,true)</description>
  <language>en-us</language>
  <copyright>Copyright #formatDate("yyyy" $now)</copyright>
  <lastBuildDate>$utilities.formatRfc822Date($updateTime)</lastBuildDate>
  <generator>Roller Weblogger #showVersion() ($rollerBuildTime:$rollerBuildUser)</generator>
  <managingEditor>$emailAddress</managingEditor>
  <webMaster>$emailAddress</webMaster>
  #set( $entries = $pageModel.getRecentWeblogEntriesArray($entryCount, 'nil') )
  #foreach( $entry in $entries )
  <item>
    <title>$utilities.textToHTML($entry.title,true)</title>
    #if( $entry.link && !$entry.link.trim().equals("") )
    <link>$utilities.textToHTML($entry.link)</link>
    #end
    <description>#showEntryDescription($entry)</description>
    <category>$entry.category.name</category>
    <guid isPermaLink="true">$absBaseURL$entry.permaLink</guid>
    #if( $website.allowComments )
    <comments>$absBaseURL/page/$entry.website.user.userName?anchor=$entry.anchor</comments>
    #end
    <pubDate>$utilities.formatRfc822Date($entry.pubTime)</pubDate>
  </item>
  #end
</channel>
</rss>