<div class="box">
   #showDayPermalink( $day )
   #showEntryDate( $day )
</div>

<div class="entry">

#foreach( $entry in $entries )
   <p>
   <a name="$utilities.encode($entry.anchor)" id="$utilities.encode($entry.anchor)"></a>
   <span class="entrytitle">$entry.title</span> #showEntryText($entry)
   $text.get("macro.weblog.postedby") $entry.creator.userName
   <span class="dateStamp">(#showTimestamp($entry.pubTime))</span>
   #showEntryPermalink( $entry )
   #showCommentsPageLink( $entry )
</p>
#end
    

</div>