<?xml version='1.0' encoding='utf-8'?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  The ASF licenses this file to You
  under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.  For additional information regarding
  copyright in this work, please see the NOTICE file in the top level
  directory of this distribution.
-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <!-- By default Roller uses a JNDI DataSource -->
        <property name="connection.datasource">java:comp/env/jdbc/rollerdb</property>
        <property name="show_sql">false</property>
        
        <!-- use thread local Session context -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        
        <!-- select SQL dialect, MySQL 3.X or 4.X by default -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--
        If you want to use HSQLDB, PostgreSQL, DB2 or Derby, Oracle, SQLServer then use the right dialect   
        <property name="dialect">org.hibernate.dialect.HQLDBDialect</property> 
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="dialect">org.hibernate.dialect.DB2Dialect</property>
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

        For MySQL 5.X, use the MySQL5 dialect and J/Connector 3.1.X
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        -->

        <!--
        Examples for configuring Hibernate to use the JDBC Driver Manager
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost:3219</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.url">
                        jdbc:mysql://localhost/roller?user=roller&amp;password=tiger</property>
        <property name="hibernate.connection.username">roller</property>
        <property name="hibernate.connection.password">tiger</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/rollerdb</property>
        <property name="hibernate.connection.username">scott</property>
        <property name="hibernate.connection.password">tiger</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        -->

        
        <!-- Hibernate L2 Caching -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.cache.use_structured_entries">true</property>
        
        
        <!-- Map Roller pojo classes -->
        <mapping resource="org/apache/roller/pojos/BookmarkData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/CommentData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/EntryAttributeData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/FolderAssoc.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/FolderData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/WeblogTemplate.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PingCategoryRestrictionData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/AutoPingData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PingQueueEntryData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PingTargetData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/RefererData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/RoleData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/RollerConfigData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/UserData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/WeblogCategoryData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/WeblogCategoryAssoc.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/WeblogEntryData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/WebsiteData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/RollerPropertyData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PermissionsData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PlanetConfigData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PlanetGroupData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PlanetEntryData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PlanetSubscriptionData.hbm.xml" />
        <mapping resource="org/apache/roller/pojos/PlanetGroupSubscriptionAssoc.hbm.xml" />
                
    </session-factory>
</hibernate-configuration>
