#wrapper {
    width: 730px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding: 15px 20px 15px 20px;
}

body {
    color: #666;
    background-image: url(../images/body-bg-grey.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1,h2,h3 {
    color: #4cbc00;
    margin: 10px 0px 10px 0px;
}

a {
    font-weight: bold;
    color: #5c67e0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.menubar {
    font-size: larger;
}

img {
    border: none;
    padding: 0px 3px 0px 0px;
}

.fieldError {
   color: red;
}

.error    { 
    border: 1px red    solid;
    background: #FFAAAA;
    color: #000;
    padding: 4px;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.success  { 
    border: 1px green  solid; 
    background: #AAFFAA;
    color: #000;
    padding: 4px;
}

.warning  { 
    border: 1px yellow solid; 
    background: #FFFFAA;
    color: #000;
    padding: 4px;
}

div.menubar {
    text-align: right;
}

td.tdLabel {
    vertical-align:top;
}

table.form {
    width: 80%
}
table.data {
    width: 100%;
    font-size: small;
    border-collapse: collapse;
    border: 1px solid #a0a0a0;
}
table.data td, table.data th {
    border-collapse: collapse;
    border: 1px solid #a0a0a0;
    padding: 3px;
}
table.data th {
    background: #f3e4c8;
}
td.narrowColumn {
    width: 15%;
}
td.labelColumn {
    width: 25%;
}
td.valueColumn {
    width: 75%;
}
tr.evenRow {
    background: #f5f5f5;
}
table.data th {
    background-image: url(../images/th-bg-grey.png);
}


