.rteImage {
	/* background: #F0F0F0; */
	/* border: 1px solid #D3D3D3; */
    padding: 2px;
	cursor: pointer;
	cursor: hand;
}
.rteImageSm {
	/* background: #F0F0F0; */
	/* border: 1px solid #D3D3D3; */ 
    padding: 2px;
    margin: 2px 0px 0px 0px;
	cursor: pointer;
	cursor: hand;
}
.rteImageRaised, .rteImage:hover {
    /* background: #F0F0F0; */
	border: 1px outset;
	cursor: pointer;
	cursor: hand;
}
.rteImageLowered, .rteImage:active {
	/* background: #F0F0F0; */
	/* border: 1px inset; */
	cursor: pointer;
	cursor: hand;
}
.rteVertSep {
	margin: 0 4px 0 4px;
}
.rteBack {
	/* background: #F0F0F0; */
	/* border: 1px outset; */
	letter-spacing: 0;
	padding: 2px;
}
.rteBack tbody tr td, .rteBack tr td {
	/* background: #F0F0F0; */
	padding: 0;
}

.rteDiv {
	display: block;
	position: relative;
	/* background: #F0F0F0; */
    /* border: 1px solid #F0F0F0; */
}
.rteFrame {
   border: 0px;
}

