<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>$model.weblog.name : $model.weblogPage.name</title>
    #showAutodiscoveryLinks($model.weblog)
    <style type="text/css">#includeTemplate($model.weblog "_css")</style>
    <link rel="stylesheet" type="text/css" href='$url.themeResource("werner", "theme.css")' />
</head>

<body>
<div id="MainColumn">
   <div align="center">
       <h2>$model.weblog.name</h2>
        #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
        #showWeblogCategoryLinksList($rootCategory false false)
   </div>

    #set($pager = $model.getWeblogEntriesPager()) 
    <div class="next-previous">
        #if ($model.results)
            #showWeblogSearchAgainForm($model.weblog)
            #showNextPrevSearchControl($pager)
        #else
            #showNextPrevEntriesControl($pager)
        #end
    </div>

    #showWeblogEntriesPager($pager)

    #if ($model.permalink)
       #showWeblogEntryComments($entry)
       #showWeblogEntryCommentForm($entry)
    #end

<br/>
</div>

<div id="SideBar">
 <div class="namebox">
   <br/>
   A blog by
   <br/>
   $model.weblog.creator.fullName
   <br/><br/>
 </div>
 <div class="menubox">
 <h2 class="box">calendar</h2>
 <center>#showWeblogEntryCalendar($model.weblog 'nil')</center>
 </div>

 <div class="menubox"><h2 class="box">search</h2>
  #showWeblogSearchForm($model.weblog false)
 </div>

 <div class="menubox"><h2 class="box">navigation</h2>
  #showPageMenu($model.weblog)
  <br/>
  #showAuthorMenu(true)
 </div>

 <div class="menubox"><h2 class="box">links</h2>
  <br/>
  #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
         #showBookmarkLinksList($rootFolder false false)
  <br/>
 </div>

 <div class="menubox"><h2 class="box">atom feeds</h2>
   #showAtomFeedsList($model.weblog)<br/>
 </div>

 <div class="menubox"><h2 class="box">referers</h2>
    #set($refs = $model.weblog.getTodaysReferrers())
    #showReferrersList($refs 30 20)
 </div>

 <div class="menubox"><h2 class="box">design by</h2>
   Werner Ramaeker
 </div>

</div>

</body>
</html>
