
#macro(addColumnNotNull $table $column $type $default)
#if($DBTYPE == "MYSQL" || $DBTYPE=="HSQDB")
alter table $table add column $column $type default '$default' not null;  
#elseif ($DBTYPE == "POSTGRESQL")
alter table $table add column $column $type;
alter table $table alter $column set default $default;
update $table set $column='$default';
alter table $table alter $column set not null;
#elseif ($DBTYPE == "HSQLDB")
alter table $table add column $column $type default '$default' not null; 
#elseif ($DBTYPE == "DERBY" || $DBTYPE == "DB2")
alter table $table add column $column $type with default '$default' not null;
#elseif ($DBTYPE == "ORACLE")
alter table $table add column $column $type default $default not null;  
#end
#end

-- Add to roller_comment table: approved and pending fields

#addColumnNotNull("roller_comment" "approved" $BOOLEAN_SQL_TYPE $BOOLEAN_TRUE)
#addColumnNotNull("roller_comment" "pending" $BOOLEAN_SQL_TYPE $BOOLEAN_FALSE)
update roller_comment set approved=$BOOLEAN_TRUE, pending=$BOOLEAN_FALSE, posttime=posttime;

-- Add to website table: commentmod, blacklist, defaultallowcomments and defaultcommentdays 

#addColumnNotNull("website" "commentmod" $BOOLEAN_SQL_TYPE $BOOLEAN_FALSE)
#addColumnNotNull("website" "defaultallowcomments" $BOOLEAN_SQL_TYPE $BOOLEAN_TRUE)
#addColumnNotNull("website" "defaultcommentdays" "integer" "7")
alter table website add column blacklist $TEXT_SQL_TYPE;
update website set commentmod=$BOOLEAN_FALSE, defaultallowcomments=$BOOLEAN_TRUE, defaultcommentdays=7, blacklist='', datecreated=datecreated;




