#** 
300-to-310-migration.vm: Velocity template that generates vendor-specific database scripts 

DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
**#

alter table rag_group_subscription drop column id;

create table weblogentrytag (
    id              varchar(48)   not null primary key,
    entryid         varchar(48)   not null,
    websiteid       varchar(48)   not null,    
    userid		    varchar(48)  not null,
    name            varchar(255)  not null,
    time            $TIMESTAMP_SQL_TYPE 	not null
);

create index wet_entryid_idx on weblogentrytag( entryid );
create index wet_websiteid_idx on weblogentrytag( websiteid );
create index wet_userid_idx on weblogentrytag( userid );
create index wet_name_idx on weblogentrytag( name );

create table weblogentrytagagg (
    id              varchar(48)   not null primary key,
    websiteid       varchar(48) ,    
    name            varchar(255)  not null,
    total           integer		  not null,
    lastused        $TIMESTAMP_SQL_TYPE 	not null
);

create index weta_websiteid_idx on weblogentrytagagg( websiteid );
create index weta_name_idx on weblogentrytagagg( name );
create index weta_lastused_idx on weblogentrytagagg( lastused );

create table roller_tasklock (
    id              varchar(48)   not null primary key,
    name            varchar(255)  not null,
    islocked        $BOOLEAN_SQL_TYPE_FALSE,
    timeacquired    $TIMESTAMP_SQL_TYPE_NULL,
    timeleased	    integer,
    lastrun         $TIMESTAMP_SQL_TYPE_NULL
);
create index rtl_taskname_idx on roller_tasklock( name );