#** 
310-to-320-migration.vm: Velocity template that generates vendor-specific database scripts 

DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
**#

-- add new parentid column to weblogcategory table
#addColumnNull("weblogcategory" "parentid" "varchar(48)")
create index ws_parentid_idx on weblogcategory( parentid );

-- add new path column to weblogcategory table
#addColumnNull("weblogcategory" "path" "varchar(255)")
create index ws_path_idx on weblogcategory( path );

-- need to add this index for existing folder.parentid
create index fo_parentid_idx on folder( parentid );

-- add new path column to folder table
#addColumnNull("folder" "path" "varchar(255)")
create index fo_path_idx on folder( path );

-- add new fields to comment table to support CommentValidators
#addColumnNull("roller_comment" "referrer" "varchar(255)")
#addColumnNull("roller_comment" "useragent" "varchar(255)")

-- add new status field to comment table to simplify queries
#addColumnNotNull("roller_comment" "status" "varchar(20)" "APPROVED")
update roller_comment set status = 'APPROVED' where approved=1;
update roller_comment set status = 'PENDING' where pending=1;
update roller_comment set status = 'SPAM' where spam=1;
update roller_comment set status = 'DISAPPROVED' where approved=0 and spam=0 and pending=0;

-- some various indexes to improve performance
create index rhc_dailyhits_idx on roller_hitcounts( dailyhits );
create index we_combo1_idx on weblogentry(status, pubtime, websiteid);
create index we_combo2_idx on weblogentry(websiteid, pubtime, status);
create index rc_combo1_idx on roller_comment(approved, spam, posttime);
