#** 
310-to-320-migration.vm: Velocity template that generates vendor-specific database scripts 

DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
**#

# add new parentid column to weblogcategory table
#addColumnNull("weblogcategory" "parentid" "varchar(48)")
