README.txt

Database creation scripts for PostgreSQL.
See Roller installation guide for instructions.

#set( $templates = ["createdb", "200-to-210-migration"]) 

#set( $DBTYPE = "POSTGRESQL")
#set( $TEXT_SQL_TYPE = "text")
#set( $BOOLEAN_SQL_TYPE_FALSE = "boolean default false")
#set( $BOOLEAN_SQL_TYPE_TRUE = "boolean default true")
#set( $BOOLEAN_SQL_TYPE = "boolean")
#set( $BOOLEAN_FALSE = "false")
#set( $BOOLEAN_TRUE = "true")
#set( $INDEXSIZE = "")
#set( $INDEXSIZE_LARGE = "")
#set( $ADDL_FK_PARAMS = "")
#set( $TIMESTAMP_SQL_TYPE_NULL = "timestamp null")

#foreach ($template in $templates) 
    #set($in = "${template}.vm")
    #set($out = "${template}.sql")
    $generator.parse($in, $out) 
#end