README.txt

Database creation scripts for DB2.
See Roller installation guide for instructions.

#set( $templates = ["createdb", "200-to-210-migration"]) 

#set( $DBTYPE = "DB2")
#set( $TEXT_SQL_TYPE = "clob(102400)")
#set( $BOOLEAN_SQL_TYPE_FALSE = "smallint default 0")
#set( $BOOLEAN_SQL_TYPE_TRUE = "smallint default 1")
#set( $BOOLEAN_SQL_TYPE = "smallint")
#set( $BOOLEAN_FALSE = "0")
#set( $BOOLEAN_TRUE = "1")
#set( $INDEXSIZE = "")
#set( $INDEXSIZE_LARGE = "")
#set( $ADDL_FK_PARAMS = "on delete no action on update no action enforced enable query optimization")
#set( $TIMESTAMP_SQL_TYPE_NULL = "timestamp null")

#foreach ($template in $templates) 
    #set($in = "${template}.vm")
    #set($out = "${template}.sql")
    $generator.parse($in, $out) 
#end