#**
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  The ASF licenses this file to You
  under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.  For additional information regarding
  copyright in this work, please see the NOTICE file in the top level
  directory of this distribution.

  Source file modified from the original ASF source; all changes made
  are also under Apache License.
*#

#** macros for use by TightBlog's built-in feed templates

   Contents
      #showEntriesAtom10($entries)
      #showCommentsAtom10($comments)
      #showFeedHistory($pager)
*#

#macro(showEntriesAtom10 $entries)
#foreach($entry in $entries)
    <entry>
        <id>$url.entry($entry.anchor)</id>
        <title type="html">$utils.escapeXML($entry.title)</title>
        <author><name>$entry.creator.screenName</name></author>
        <link rel="alternate" type="text/html" href="$url.entry($entry.anchor)"/>
        <published>$utils.formatIsoOffsetDateTime($entry.pubTime)</published>
        <updated>$utils.formatIsoOffsetDateTime($entry.updateTime)</updated>
        <category term="$utils.escapeXML($entry.category.name)" label="$utils.escapeXML($entry.category.name)" />
#foreach($tag in $entry.tags)
        <category term="$utils.escapeXML($tag.name)" scheme="http://roller.apache.org/ns/tags/" />
#end        
#if( $utils.isNotEmpty($entry.summary))
        <summary type="html">$utils.escapeXML($model.getTransformedSummary($entry))</summary>
#end
#if( $utils.isNotEmpty($entry.text) )
        <content type="html">$utils.escapeXML($model.getTransformedText($entry))</content>
#end
#set( $mc_url = $entry.enclosureUrl )
#set( $mc_type = $entry.enclosureType )
#set( $mc_length = $entry.enclosureLength )
#if( $mc_url && $mc_length && $mc_type )
        <link rel="enclosure" type="$mc_type" length="$mc_length" href="$utils.escapeXML($mc_url)"/>
#set($mc_url = false) #set($mc_type = false) #set($mc_length = false)#end
    </entry>
#end
#end

#macro(showCommentsAtom10 $comments)
    #foreach($comment in $comments)
    <entry>
        <id>$url.entry($comment.weblogEntry.anchor)#comment-${comment.timestamp}</id>
        <title type="html">Re: $utils.escapeXML($comment.weblogEntry.title)</title>
        <author><name>$utils.escapeXML($comment.name)</name></author>
        <link rel="alternate" type="text/html" href="$url.entry($comment.weblogEntry.anchor)#comment-${comment.timestamp}"/>
        <published>$utils.formatIsoOffsetDateTime($comment.postTime)</published>
        <updated>$utils.formatIsoOffsetDateTime($comment.postTime)</updated>
        <content type="html">$utils.escapeXML($comment.content)</content>
    </entry>
    #end
#end

#macro(showFeedHistory $pager)
<link rel="first" type="application/atom+xml" href="$utils.escapeXML($pager.url)" />
#if($pager.hasMoreItems())
    <link rel="next" type="application/atom+xml" href="$utils.escapeXML($pager.nextLink)" />
#end
#if($pager.prevLink && $pager.items.size() > 0)
    <link rel="previous" type="application/atom+xml" href="$utils.escapeXML($pager.prevLink)" />
#end
#end
