#**
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  The ASF licenses this file to You
  under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.  For additional information regarding
  copyright in this work, please see the NOTICE file in the top level
  directory of this distribution.

  Source file modified from the original ASF source; all changes made
  are also under Apache License.
*#

#** 
Set of essential macros needed in weblogger velocity templates.
Macros defined in this file:

    #includeTemplate($pageName)
    #showAutodiscoveryLinks($weblog)
    #showMetaDescription()
    #showAnalyticsTrackingCode($weblog)

    #showWeblogEntriesPager($pager)
    #showNextPrevEntriesControl($pager)
    #showMobileNextPrevEntriesControl($pager)

    #showWeblogEntryComments($entry)
    #showMobileWeblogEntryComments($entry)
    #showWeblogEntryCommentForm($entry)

    #showWeblogEntryLinksList($entries)
    #showBookmarkLinksList($weblog)
    #showWeblogCategoryLinksList()
    #showMobileCategoryLinksList()
    #showAtomFeedsList($weblog)

    #checkSuppressIndexing()

    #showWeblogEntryCalendar($big)

    #showPageMenu($addExternalPages)

    #showWeblogSearchForm($weblog $showCatChooser)
    #showMobileSearchForm($weblog $showCatChooser)
    #showWeblogSearchAgainForm($weblog)
    #showMobileSearchAgainForm($weblog)
    #showNextPrevSearchControl($pager)
    #showMobileNextPrevSearchControl($pager)
    
    #showMobilePopupDialog($id $header $message)
*#


#** 
Parse and include page template from weblog.
*#
#macro(includeTemplate $pageName)
    #set($pageArg = false)## This is required for such constructs; see Velocity docs and ROL-689
    #set($pageArg = $model.getTemplateByName($pageName))
    #if ($pageArg)
       #set($pageId = $pageArg.id+'|'+$model.deviceType)
       #parse($pageId)
    #end
#end


#** 
Show Atom auto-discovery links as HTML link elements.
*#
#macro(showAutodiscoveryLinks $weblog)
    ## main feed urls are always available

    <link rel="alternate" type="application/atom+xml" title="Recent Entries (Atom)"  href="$url.feed.entries.atom" />
    <link rel="alternate" type="application/atom+xml" title="Recent Comments (Atom)" href="$url.feed.comments.atom" />

    #if ($model.tag)
      <link rel="alternate" type="application/atom+xml" title="Entries tagged $model.tag (Atom)"  href="$url.feed.entries.atomByTag($model.tag)" />
    #elseif ($model.category)
      <link rel="alternate" type="application/atom+xml" title="Entries for category $model.category (Atom)"  href="$url.feed.entries.atom($model.category)" />
    #end
#end


#**
Adds a meta description tag, suitable for use in HTML header sections.  This tag is frequently used by
search engines to provide a short description for links returned.  The description value will set to the
weblog's tagline if on a multiple blog entry page or the weblog entry search description if on a single
blog entry (permalink) page.  If the relevant description value has not been configured no meta tag
will be created.
*#
#macro(showMetaDescription)
    #if ($model.permalink)
        #if ($utils.isNotEmpty($model.weblogEntry.searchDescription))
            <meta name="description" content="$model.weblogEntry.searchDescription">
        #end
    #elseif ($utils.isNotEmpty($model.weblog.about))
        <meta name="description" content="$model.weblog.about">
    #end
#end

#**
Adds a tracking code for website analytics (e.g. Google Analytics). Will use the blog-defined
tracking code if defined and permitted by the installation, else the server-defined tracking
code if defined will be used.
*#
#macro(showAnalyticsTrackingCode $weblog)
    $model.analyticsTrackingCode
#end

#** 
Shows weblog entries pager via default day template 
*#
#macro(showWeblogEntriesPager $pager)
    #set($dayPage = $model.getTemplateByName("_day"))
    #set($map = $pager.getEntries())
    #foreach($day in $map.keySet())
        #set($entries = $map.get($day))
        #set($pageId = $dayPage.id+'|'+$model.deviceType)
        #parse($pageId)
    #end
#end


#** Show next/prev control for specified pager *#
#macro(showNextPrevEntriesControl $pager)
    #set($prevLink = false)
    #set($nextLink = false)
    #if ($pager.prevLink)
        #set($prevLink = $pager.prevLink)
        #set($prevName = $pager.prevName)
    #elseif ($pager.prevCollectionLink)
        #set($prevLink = $pager.prevCollectionLink)
        #set($prevName = $pager.prevCollectionName)
    #end
    #if ($pager.nextLink)
        #set($nextLink = $pager.nextLink)
        #set($nextName = $pager.nextName)
    #elseif ($pager.nextCollectionLink)
        #set($nextLink = $pager.nextCollectionLink)
        #set($nextName = $pager.nextCollectionName)
    #end
    #if ($prevLink)
        &laquo; <a href="$prevLink">$prevName</a> | 
    #end
    #if ($prevLink || $nextLink)
        <a href="$pager.getHomeLink()">$pager.getHomeName()</a>
    #end
    #if ($nextLink)
        | <a href="$nextLink">$nextName</a> &raquo;
    #end
#end
## Mobile Version
#macro(showMobileNextPrevEntriesControl $pager)
    #set($prevLink = false)
    #set($nextLink = false)
    #if ($pager.prevLink)
        #set($prevLink = $pager.prevLink)
        #set($prevName = $pager.prevName)
    #elseif ($pager.prevCollectionLink)
        #set($prevLink = $pager.prevCollectionLink)
        #set($prevName = $pager.prevCollectionName)
    #end
    #if ($pager.nextLink)
        #set($nextLink = $pager.nextLink)
        #set($nextName = $pager.nextName)
    #elseif ($pager.nextCollectionLink)
        #set($nextLink = $pager.nextCollectionLink)
        #set($nextName = $pager.nextCollectionName)
    #end
    #if ($prevLink || $nextLink)
    <div data-role="navbar" data-iconpos="top">
      <ul>
        #if ($prevLink)
          <li>
            <a href="$prevLink" data-transition="fade" data-theme="a" data-icon="arrow-l">
              $prevName
            </a>
          </li>
        #end
        ## If we do not want the home link on the first page remove >> || $nextLink
        #if ($prevLink || $nextLink)
          <li>
            <a href="$pager.getHomeLink()" data-transition="fade" data-theme="a" data-icon="home">
              $pager.getHomeName()
            </a>
          </li>
        #end
        #if ($nextLink)
          <li>
            <a href="$nextLink" data-transition="fade" data-theme="a" data-icon="arrow-r">
              $nextName
            </a>
          </li>
        #end
      </ul>
    </div>
  #end
    
#end


#** 
Show comments for weblog entry according to TightBlog configuration.
*#
#macro(showWeblogEntryComments $entry)
    <a name="comments"></a>
    <div class="comments" id="comments">

    #if($model.commentForm.preview)
        #set($comments = [$model.commentForm])
        <div class="comments-head">$utils.msg( "macro.weblog.preview" ):</div>
    #else
        <div class="comments-head">$utils.msg( "macro.weblog.comments" ):</div>
        #set($comments = $entry.getComments())
    #end

    <br/>
    #foreach( $comment in $comments )
        #if($comment.approved || $model.commentForm.preview)
            <a name="comment-$comment.timestamp" id="comment-$comment.timestamp"></a>
            <div class="comment#if($velocityCount % 2 == 0) even#else odd#end" id="comment${velocityCount}">

                $comment.content

                <p class="comment-details">
                $utils.msg("macro.weblog.postedby")
                #if (!$utils.isEmpty($comment.name) && !$utils.isEmpty($comment.url))
                    <a rel="nofollow" href="$comment.url"><b>$comment.name</b></a>
                #elseif (!$utils.isEmpty($comment.name))
                    <b>$comment.name</b>
                #elseif ($comment.remoteHost)
                    <b>$comment.remoteHost</b>
                #else
                    <b>$utils.msg("macro.weblog.comment.unknown")</b>
                #end

                $utils.msg("macro.weblog.on") $utils.formatDateTime($comment.postTime, $utils.msg( "macro.weblog.datetimepattern" ))

                <a href="$url.comment($entry.anchor, $comment.timestamp)"
                   class="entrypermalink" title="$utils.msg( "macro.weblog.commentpermalink.title" )">#</a>
                </p>

            </div>

        #end
    #end
    </div>
#end
## Mobile Version
#macro(showMobileWeblogEntryComments $entry)
    <!-- showMobileWeblogEntryComments -->
    #if($model.commentForm.preview)
      #set($comments = [$model.commentForm.previewComment])
      #set( $heading = $utils.msg( "macro.weblog.preview" ))
    #else
      #set($comments = $entry.getComments())
      #set( $heading = $utils.msg( "macro.weblog.comments" ))
    #end
    #if($comments.size() > 0)
      <ul data-role="listview" data-divider-theme="b" data-inset="true">
        <li data-role="list-divider">
          $heading
        </li>
        #foreach( $comment in $comments )
          #if($comment.approved || $model.commentForm.preview)
            ##<li data-role="list-divider" data-theme="a">
              ## TODO
            ##<a name="comment-$comment.timestamp" id="comment-$comment.timestamp"></a>
            ##</li>
            <li data-theme="a">
              <p class="ui-li-desc content-textbox">
                 $comment.content
              </p>
              <p class="ui-li-desc content-textbox">
                $utils.msg("macro.weblog.postedby")
                #if (!$utils.isEmpty($comment.name) && !$utils.isEmpty($comment.url))
                   <a rel="nofollow" href="$comment.url"><b>$comment.name</b></a>
                #elseif (!$utils.isEmpty($comment.name))
                   <b>$comment.name</b>
                #elseif ($comment.remoteHost)
                   <b>$comment.remoteHost</b>
                #else
                   <b>$utils.msg("macro.weblog.comment.unknown")</b>
                #end

                $utils.msg("macro.weblog.on") $utils.formatDateTime($comment.postTime, $utils.msg( "macro.weblog.datetimepattern" ))
                ##<a href="$url.comment($entry.anchor, $comment.timestamp)" title="$utils.msg( "macro.weblog.commentpermalink.title" )" data-role="button" data-inline="true" data-mini="true">#</a>
              </p>
            </li>
          #end
        #end
      </ul>
    #end
#end


#** 
Show comments form for weblog entry. 
*#
#macro(showWeblogEntryCommentForm $entry)
    #set($cform = $model.getCommentForm())

    <div class="comments-form">
    <div class="comments-head">$utils.msg("macro.weblog.postcommentHeader")</div>
    <a name="comment-form"></a>

#if( $entry.commentsStillAllowed )

    #if( $cform.error )
        <span class="error">$cform.message</span>
    #elseif( !$cform.error && !$utils.isEmpty($cform.message) )
        <span class="status">$cform.message</span>
    #end

    <form method="post" action="$url.entryComment($entry.anchor)" focus="name" name="commentForm"
        onsubmit="saveUserInformation(this); return validateComments(this)">
        <input type="hidden" name="method" value="post" />

        <ul>
            <li>
                <label class="desc">$utils.msg( "macro.weblog.name" )</label>
                <input type="text" name="name" class="text large" value="$cform.name" size="50" maxlength="255" />
            </li>

            <li><label class="desc">$utils.msg( "macro.weblog.email" )</label>
                <input type="text" name="email" class="text large" value="$cform.email" size="50" maxlength="255" />
            </li>

            <li><label class="desc">$utils.msg( "macro.weblog.url" )</label>
                <input type="text" name="url" class="text large" value="$cform.url" size="50" maxlength="255" />
            </li>

            #if ($utils.commentEmailNotify)
                <li><input type="checkbox" class="checkbox" id="notify" name="notify" #if($cform.notify)CHECKED #end/>
                    <label for="notify" class="choice">$utils.msg( "macro.weblog.notifyMeOfComments" )</label>
                </li>
            #end
            <li>
                <input type="checkbox" class="checkbox" id="rememberInfo" name="rememberInfo" />
                <label for="rememberInfo" class="choice">$utils.msg( "macro.weblog.rememberinfo" )</label>
            </li>
            <li>
                <label class="desc">$utils.msg( "macro.weblog.yourcomment" )</label>
                <textarea name="content" class="textarea large" cols="40" rows="10" maxlength="2000">$cform.content</textarea>
            </li>
            <li class="info">
               <script src="$url.site/scripts/clientSideInclude.js"></script>
               <div id="commentAuthenticator"></div>
            </li>
            <li>
               <input type="button" class="button" name="post" value="&nbsp;$utils.msg("macro.weblog.postpreview" )&nbsp;"
                  onclick="this.form.method.value='preview';this.form.submit()" />
               <input type="submit" class="button" name="post" value="&nbsp;$utils.msg( "macro.weblog.post" )&nbsp;" />
            </li>
        </ul>

    </form>

    <script src="$url.site/scripts/roller.js"></script>
    <script>
    /* <![CDATA[ */
    clientSideInclude('commentAuthenticator', '$url.commentAuthenticator');

    var author = getCookie("commentAuthor");
    var email = getCookie("commentEmail");
    var url = getCookie("commentUrl");
    // check each field - IE will render "null"
    if (author) {
        document.forms['commentForm'].name.value = author;
    }
    if (email) {
        document.forms['commentForm'].email.value = email;
    }
    if (url) {
        document.forms['commentForm'].url.value = url;
    }

    if (author || email || url) {
        document.forms['commentForm'].rememberInfo.checked = true;
    }

    function saveUserInformation(theForm) {
        if (theForm.rememberInfo.checked) {
            rememberUser(theForm);
        } else {
            forgetUser(theForm);
        }
    }

    function validateComments(theForm) {
        if (theForm.content.value == "") {
            alert("$utils.msg( "macro.weblog.commentwarning" )");
            theForm.content.focus();
            return false;
        }
    }
    /* ]]> */
    </script>

#else
    <span class="status">$utils.msg( "comments.disabled" )</span>
#end
    </div>
#end


#** 
Show entries as a HTML ul list.
*#
#macro(showWeblogEntryLinksList $entriesList)
   <ul class="rEntriesList">
   #foreach ($var in $entriesList)
       <li class="recentposts"><a href="$var.permalink">$var.title</a></li>
   #end
   </ul>
#end


#** 
Show bookmarks as a HTML ul list.
*#
#macro(showBookmarkLinksList $weblog)
<ul class="rFolder">
    #set($bookmarks = $weblog.getBookmarks())
    #foreach($bookmark in $bookmarks)
        <li class="rFolderItem">
        #if($utils.isNotEmpty($bookmark.Image))
          #if( $bookmark.Image.startsWith("http://") )
          <a href="$bookmark.url">
             <img alt="$bookmark.description" border="0"
                src="$bookmark.image" class="rBookmark" /></a>
          #else
          <a href="$bookmark.url">
             <img alt="$bookmark.description" border="0"
                src="$bookmark.image" class="rBookmark" /></a>
          #end
        #else
            <a href="$bookmark.url" title="$bookmark.description">$bookmark.name</a>
        #end
        </li>
    #end
</ul>
#end


#** 
Show weblog's categories in specified parent category.
*#
#macro(showWeblogCategoryLinksList)
    <ul class="rCategory">
    #if ($model.categoryName || $model.permalink)
        <li><a href="$url.home">$utils.msg("generic.all")</a></li>
    #else
        <li class="selected"><a href="$url.home">$utils.msg("generic.all")</a></li>
    #end
    #set($cats = $model.weblog.getWeblogCategories())
    #foreach($cat in $cats)
        #if ($model.categoryName == $cat.name || ($model.permalink && $model.weblogEntry.category.name == $cat.name))
            <li class="selected"><a href="$url.category($cat.name)">$cat.name</a></li>
        #else
            <li><a href="$url.category($cat.name)">$cat.name</a></li>
        #end
    #end
    </ul>
#end


## Mobile version
#macro(showMobileCategoryLinksList)
    <div data-role="popup" id="categories">
      <div data-role="collapsible-set" data-theme="a" data-content-theme="a" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" style="margin:0; width:250px;">
        <div data-role="collapsible" data-collapsed="false" data-inset="false">
          <h2>Categories</h2>
          <ul data-role="listview">
            #if ($model.category || $model.permalink)
              <li><a href="$url.home" data-transition="fade">$utils.msg("generic.all")</a></li>
            #else
              <li data-icon="gear" class="ui-btn-active"><a href="$url.home" data-transition="fade">$utils.msg("generic.all")</a></li>
            #end
            #set($active = $utils.msg("generic.all"))
            #set($cats = $model.weblog.getWeblogCategories())
            #foreach($cat in $cats)
              #if ($model.category && $model.category == $cat.name || ($model.permalink && $model.weblogEntry.category.name == $cat.name))
                <li data-icon="gear" class="ui-btn-active"><a href="$url.category($cat.name)" data-transition="fade">$cat.name</a></li>
                #set($active = $cat.name)
              #else
                <li><a href="$url.category($cat.name)" data-transition="fade">$cat.name</a></li>
              #end
            #end
          </ul>
        </div>
      </div>
    </div>
    <a href="#categories" data-rel="popup" data-role="button">Categories - $active</a>
#end


#**
 * Show list of all RSS feeds available for weblog.
 *#
#macro(showAtomFeedsList $weblog)
    <ul class="rFeeds">
    <li><a href="$url.feed.entries.atom">$utils.msg("generic.all")</a></li>
    #set($categories = $weblog.weblogCategories )
    #foreach( $cat in $categories )
        <li><a href="$url.feed.entries.atom($cat.name)">$cat.name</a></li>
    #end
    <li><a href="$url.feed.comments.atom">Comments</a></li>
    </ul>
#end


#**
 * Determine if a robots meta tag suppressing indexing is called for
 *#
#macro(checkSuppressIndexing)
    #if($model.addNoIndexDirective)
        <meta name="robots" content="noindex">
    #end
#end

#**
 * Show TightBlog Page Navigation Bar, includes links to all pages.
 *#
#macro(showPageMenu $addExternalPages)
    <ul class="rNavigationBar">
        <li class="rNavItem">
            <a href="$url.site/"><span>$utils.msg("navigationBar.homePage")</span></a>
        </li>
        <li class="rNavItem">
            <a href="$url.home"><span>Weblog</span></a>
        </li>
        #if( $addExternalPages )
            #foreach($iPage in $model.templates)
                #if ($iPage.role == 'CUSTOM_EXTERNAL')
                    #set($isSelected = false)
                    #if ($model.weblogPage && $iPage.Id == $model.weblogPage.Id) #set($isSelected = true) #end
                    #if (!$isSelected)
                        <li class="rNavItem"><a href='$url.page($iPage.relativePath)'><span>$iPage.name</span></a></li>
                    #else
                        <li class="rNavItem"><span>$iPage.name</span></li>
                    #end
                #end
            #end
        #end
        #if ($model.isUserBlogPublisher($model.weblog))
            <li class="rNavItem">
               <a href="$url.createEntry"><span>$utils.msg("navigationBar.newEntry")</span></a>
            </li>
            #if($model.isUserBlogOwner($model.weblog))
               <li class="rNavItem">
                   <a href="$url.editSettings"><span>$utils.msg("navigationBar.settings")</span></a>
               </li>
            #end
                <li class="rNavItem">
                    <a href="$url.logout"><span>$utils.msg("navigationBar.logout")</span></a>
                </li>
        #else
            #if ($model.isUserAuthenticated())
                <li class="rNavItem">
                    <a href="$url.logout"><span>$utils.msg("navigationBar.logout")</span></a>
                </li>
            #else
                <li class="rNavItem">
                    <a href="$url.login"><span>$utils.msg("navigationBar.login")</span></a>
                </li>
            #end
        #end
    </ul>
#end


#** 
Show weblog entry calendar, either big ($big=true) or small (false).
*#
#macro(showWeblogEntryCalendar $big)
$model.showWeblogEntryCalendar($big)
#end


#**
Show search form for a weblog.
*#
#macro(showWeblogSearchForm $weblog $showCatChooser)
    <form id="searchForm" method="get" action="$url.search" style="margin: 0; padding: 0" onsubmit="return validateSearch(this)">
        <p>
          <input type="text" id="q" name="q" size="10" class="text small" maxlength="255" value="#if($model.term)$model.term#end" />
          #if( $showCatChooser )
            #set( $cats = $model.weblog.getWeblogCategories())
            <select name="cat">
              <option value="">- $utils.msg("mainPage.category") -</option>
              #foreach( $cat in $cats )
                <option #if($cat.name == $model.term)selected="selected"#end>$cat.name</option>
              #end
            </select>
          #end
          <input type="submit" class="button" value="$utils.msg( "macro.weblog.searchbutton" )" id="searchbutton" />
        </p>
    </form>
    <script>
        function validateSearch(form) {
            if (form.q.value == "") {
                alert("$utils.msg("macro.weblog.searchalert")");
                form.q.focus();
                return false;
            }
            return true;
        }
    </script>
#end
## Mobile Version
#macro(showMobileSearchForm $weblog $showCatChooser)
    <form id="searchForm" method="get" action="$url.search" onsubmit="return validateSearch(this)">
        <p>
          <input type="search" id="q" name="q" placeholder="Search..." maxlength="255" value="#if($model.term)$model.term#end" />
          #if( $showCatChooser )
            #set( $cats = $model.weblog.getWeblogCategories())
            <select name="cat">
              <option value="">- $utils.msg("mainPage.category") -</option>
              #foreach( $cat in $cats )
                <option #if($cat.name == $model.term)selected="selected"#end>$cat.name</option>
              #end
            </select>
          #end
          <input type="submit" id="searchbutton" data-role="button" data-theme="a" value="$utils.msg( "macro.weblog.searchbutton" )" />
        </p>
    </form>
    <script>
        function validateSearch(form) {
            if (form.q.value == "") {
                $("#searchDialog").popup('open').focus();
                $("#searchDialog").popup({ afterclose: function( event, ui ) {
                    form.q.focus();
                    }
                });
                return false;
            }
            return true;
        }
    </script>
    #showMobilePopupDialog('searchDialog','Search', $utils.msg("macro.weblog.searchalert"))
#end


#** 
Show search again form for a weblog.
*#
#macro(showWeblogSearchAgainForm $weblog)
    <div id="searchAgain">
        $utils.msg( "macro.weblog.searchhits", [$model.term, $model.hits])
        <form method="get" action="$url.search" style="margin: 5px">
          <input type="text" id="q" name="q" class="text medium" maxlength="255" value="$model.term" style="padding-left: 1px" /><br />
          #set( $cats = $model.weblog.getWeblogCategories())
          #if(!$site && $cats && $cats.size() > 1)
            <select name="cat" class="select">
              <option value="">$utils.msg( "macro.searchresults.incategory" )</option>
              #foreach( $cat in $cats )
                <option #if($cat.name == $model.category)selected="selected"#end>$cat.name</option>
              #end
            </select>
          #end
          <input type="submit" value="$utils.msg( "macro.weblog.searchbutton" )" class="button" />
        </form>

        $utils.msg( "macro.weblog.searchgoogle", [$model.term, $url.absoluteSite, $url.site, ${weblog.handle}] )
    </div>
#end
## Mobile Version
#macro(showMobileSearchAgainForm $weblog)
    <div id="searchAgain">
        $utils.msg( "macro.weblog.searchhits", [$model.term, $model.hits])
        <form method="get" action="$url.search" style="margin: 5px">
          <input type="search" id="q" name="q" placeholder="Search..." maxlength="255" value="$model.term" />
          #set($cats = $model.weblog.getWeblogCategories())
          #if(!$site && $cats && $cats.size() > 1)
            <select name="cat" class="select">
              <option value="">$utils.msg( "macro.searchresults.incategory" )</option>
              #foreach( $cat in $cats )
                <option #if($cat.name == $model.category)selected="selected"#end>$cat.name</option>
              #end
            </select>
          #end
          <input type="submit" data-role="button" data-theme="a" value="$utils.msg( "macro.weblog.searchbutton" )" />
        </form>

    </div>
#end


#** 
Show next/prev pager for search results.
*#
#macro(showNextPrevSearchControl $pager)
    #set( $min = $model.offset + 1 )
    #set( $max = $model.offset + $model.limit )
    #if( $max > $model.hits )#set( $max = $model.hits )#end
    <h3>
       $utils.msg("searchSummary.text", [$min, $max, $model.hits])
    </h3>

    #set($prevLink = false)
    #set($nextLink = false)
    #if ($pager.prevLink)
        #set($prevLink = $pager.prevLink)
        #set($prevName = $pager.prevName)
    #end
    #if ($pager.nextLink)
        #set($nextLink = $pager.nextLink)
        #set($nextName = $pager.nextName)
    #end
    #if ($prevLink)
        &laquo; <a href="$prevLink">$prevName</a> |  
    #end
    #if ($prevLink || $nextLink)
        <a href="$pager.getHomeLink()">$pager.getHomeName()</a>
    #end
    #if ($nextLink)
        | <a href="$nextLink">$nextName</a> &raquo;
    #end
#end
## Mobile Version
#macro(showMobileNextPrevSearchControl $pager)
    #set( $min = $model.offset + 1 )
    #set( $max = $model.offset + $model.limit )
    #if( $max > $model.hits )#set( $max = $model.hits )#end
    <h3>
       $utils.msg("searchSummary.text", [$min, $max, $model.hits])
    </h3>
    #set($prevLink = false)
    #set($nextLink = false)
    #if ($pager.prevLink)
        #set($prevLink = $pager.prevLink)
        #set($prevName = $pager.prevName)
    #end
    #if ($pager.nextLink)
        #set($nextLink = $pager.nextLink)
        #set($nextName = $pager.nextName)
    #end

    ## Show the pager
    #if ($prevLink || $nextLink)
      <div data-role="navbar" data-iconpos="top">
        <ul>
          #if ($prevLink)
            <li>
              <a href="$prevLink" data-transition="fade" data-theme="a" data-icon="arrow-l">
                $prevName
              </a>
            </li>
          #end
          ## If we do not want the home link on the first page remove >> || $nextLink
          #if ($prevLink || $nextLink)
            <li>
              <a href="$pager.getHomeLink()" data-transition="fade" data-theme="a" data-icon="home">
                $pager.getHomeName()
              </a>
            </li>
          #end
          #if ($nextLink)
            <li>
              <a href="$nextLink" data-transition="fade" data-theme="a" data-icon="arrow-r">
                $nextName
              </a>
            </li>
          #end
        </ul>
      </div>
    #end
#end


#** 
Show mobile alert popup.
*#
#macro(showMobilePopupDialog $id $header $message)
 <div data-role="popup" id="$id" data-dismissible="false" style="white-space: normal" class="ui-corner-all">
    <div data-role="footer" data-theme="b" class="ui-corner-top">
      <h1>$header</h1>
    </div>
    <div data-role="content" data-theme="a" class="ui-corner-bottom ui-content">
      <h3 class="wrap ui-title">$message</h3>
      <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="fade" data-theme="a">OK</a>
    </div>
  </div>
#end

