.hCalendarTableBig .hCalendarMonthYearRow {
  font-size: x-large;
  font-weight: bold;
}

.hCalendarTableBig {
  width: 95%;
  border: dashed 1px #aaaaaa;
  text-align : center;
  padding: 5px;
}

.hCalendarTableBig .hCalendarMonthYearRow {
  color: white;
  background-color : #0074D9;
  border: dashed 1px #aaaaaa;
  width: 12%;
}

.hCalendarTableBig .bCalendarDayContent {
  font-size: x-small;
  padding: 3px 0px 3px 0px;
}

.hCalendarTableBig .hCalendarDayTitle {
  position: relative;
  left: 0;
  top: 0;
  width: 25%;
  padding: 3px 0 3px 0;
  background: transparent;
  color: #050505;
  border-right: 1px solid #050505;
  border-bottom: 1px solid #050505;
  font-size: small;
  text-align: center;
  font-size: small;
}

.hCalendarTableBig .hCalendarDay {
  vertical-align: top;
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

.hCalendarTableBig TD.hCalendarDayCurrent {
  vertical-align: top;
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

.hCalendarTableBig TD.hCalendarDayNotInMonth {
  vertical-align: top;
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

.hCalendarTableBig .hCalendarDayNameRow {
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
  font-weight: bold;
}

.hCalendarTableBig .hCalendarNextPrev {
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}
