h1, h2, h3, h4, h5 {
    color: blue;
}

.next-previous-links {
    text-align: center;
    padding: .5em 0 .5em 0;
}

.rCategory li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/* entries */
div.entry h5.card-title {
    color: black;
}

.pubInfo {
    font-size: 80%;
    color: darkgray;
}

pre.code {
    background-color: lightblue;
    padding: .25em .5em .5em .5em !important;
}

/* searchhi.js */
span.searchword {
    background-color:yellow;
}

/* sidebar items */
li.rssItem::before {
    content: url([(${url.getSiteHome()})]/images/feed-icon-12x12.gif);
}

.hCalendarDay{
    text-align : center;
    font-size : small;
}

td.hCalendarDay.Current {
    font-weight : bolder;
}

th.hCalendarDayNameRow {
    text-align : center;
    font-weight : bolder;
    font-size : small;
}

.hCalendarTable {
  text-align : center;
}

.hCalendarDay.NotInMonth {
  font-size : x-small;
  background-color: white;
  color: gray;
}

.hCalendarNextPrev {
  font-size : x-small;
  text-align : center;
  font-style : italic;
}

/* Used for gist-it: https://gist-it.appspot.com/ */
div.size300 pre.prettyprint, div.size300 div.gist div.file-data {
    height:300px
}

div.size350 pre.prettyprint, div.size350 div.gist div.file-data {
    height:350px
}

div.size400 pre.prettyprint, div.size400 div.gist div.file-data {
    height:400px
}

div.size450 pre.prettyprint, div.size450 div.gist div.file-data {
    height:450px
}

div.size500 pre.prettyprint, div.size500 div.gist div.file-data {
    height:500px
}
