h1, h2, h3, h4, h5 {
    color: blue;
}

div.github-file {
    margin-bottom: 1rem;
}

/* google code prettify, line nos on every line without alternate coloring every other line */
div.github-source li.L0,
div.github-source li.L1,
div.github-source li.L2,
div.github-source li.L3,
div.github-source li.L4,
div.github-source li.L5,
div.github-source li.L6,
div.github-source li.L7,
div.github-source li.L8,
div.github-source li.L9 {
    background: inherit;
    list-style-type: decimal !important;
}

div.github-meta {
    background-color: #f7f7f7;
    padding: 5px;
    font-size: 0.8em;
}

div.github-meta a {
    color: #369;
}

.next-previous-links {
    text-align: center;
    padding: .5em 0 .5em 0;
}

.rCategory li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/* entries */
div.entry h5.card-title {
    color: black;
}

.pubInfo {
    font-size: 80%;
    color: darkgray;
}

#tagcloud {
    text-align: justify;
    margin: 1em;
}

.tc1 {font-size:80%;}
.tc2 {font-size:100%;}
.tc3 {font-size:120%;}
.tc4 {font-size:140%;}
.tc5 {font-size:160%;}


/* searchhi.js */
span.searchword {
    background-color:yellow;
}

/* sidebar items */
li.rssItem::before {
    content: url([(${url.getSiteHome()})]/images/feed-icon-12x12.gif);
}

.hCalendarDay{
    text-align : center;
    font-size : small;
}

td.hCalendarDay.Current {
    font-weight : bolder;
}

th.hCalendarDayNameRow {
    text-align : center;
    font-weight : bolder;
    font-size : small;
}

.hCalendarTable {
  text-align : center;
}

.hCalendarDay.NotInMonth {
  font-size : x-small;
  background-color: white;
  color: gray;
}

.hCalendarNextPrev {
  font-size : x-small;
  text-align : center;
  font-style : italic;
}
