<div class="col">
    <div class="card">
        <h5 class="card-header">Calendar</h5>
        <div class="card-body">
            <center><span th:replace="fragments :: Calendar(false)"></span></center>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <center><em th:utext="|Today's Blog Hits: ${model.weblog.hitsToday}|"></em></center>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Blog Search</h5>
        <div class="card-body">
            <div>
                <span th:replace="fragments :: WeblogSearchForm"></span>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Links</h5><div>
        <div class="card-body">
            <span th:replace="fragments :: Blogroll"></span>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Recent Posts</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush" th:each="recentEntry : ${model.getRecentWeblogEntries(null, 10)}">
                <li class="list-group-item"><a th:href="${url.getURL(recentEntry)}" th:utext="${recentEntry.title}">xxx</a></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Recent Comments</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="comment : ${model.getRecentComments(10)}">
                    <a th:href="${comment.url}" th:remove="${comment.url == '' ? 'tag' : 'none'}" th:utext="${comment.name}"></a>
                    on <a th:href="${url.getCommentURL(comment.weblogEntry, comment.timestamp)}"
                          th:utext="${comment.weblogEntry.title}"></a></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Feeds</h5>
        <div class="card-body">
            <span th:replace="fragments :: AtomFeedsList"></span>
        </div>
    </div>

    <th:block th:with="myTags = ${model.getPopularTags(30)}">
        <th:block th:if="${myTags.size() > 4}">
            <div class="card">
                <h5 class="card-header">Tags</h5>
                <div class="card-body">
                    <span th:replace="fragments :: TagCloud(${myTags})"></span>
                </div>
            </div>
        </th:block>
    </th:block>

    <div class="card">
        <h5 class="card-header">Navigation</h5>
        <div class="card-body">
            <span th:replace="fragments :: PageMenu(true)"></span>
        </div>
    </div>
</div>
