<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="|${url.getSiteHome()}/favicon.ico|">
    <meta th:if="${model.noIndex}" name="robots" content="noindex">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Should remove next two lines if never using Google code prettify for source code snippets -->
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/google/code-prettify@master/styles/desert.css"/>
    <link rel="stylesheet" th:href='${url.getCustomPageURL("rolling.css")}'/>
    <th:block th:switch="${model.searchResults}">
        <th:block th:case="${true}">
            <title th:case="${true}" th:utext="|Search Results for ${model.searchPhrase}: ${model.weblog.name}|">xxx</title>
            <script type="application/x-javascript" th:src="|${url.getSiteHome()}/scripts/searchhi.js|"></script>
            <script>
                function loadSearchHighlight() {
                    searchhi.highlightWord(document.getElementsByClassName("searchable_text"), '[(${model.searchPhrase})]');
                }
    		</script>
        </th:block>
        <th:block th:case="${false}">
            <title th:utext="${(model.permalink ? model.weblogEntry.title + ' | ' : '') + model.weblog.name}">Weblog Name - Title Bar</title>
            <span th:replace="fragments :: AutoDiscoveryLinks"></span>
            <span th:utext="${model.analyticsTrackingCode}" th:remove="tag"></span>
            <span th:replace="fragments :: MetaDescription"></span>
        </th:block>
    </th:block>
</head>

<body th:onload="${model.searchResults}? 'loadSearchHighlight()'">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div align="center" style="margin-top: 20px">
                    <h1 th:utext="${model.weblog.name}">xxx</h1>

                    <center>
                        <span th:replace="fragments :: WeblogCategoryBar"></span>
                    </center>
                </div>

                <div th:switch="${model.searchResults}" class="next-previous-links">
                    <span th:case="${false}" th:replace="fragments :: PreviousNextPager"></span>
                    <th:block th:case="${true}">
                        <h5 th:if="${model.resultCount == 0}" th:utext="${utils.msg('searchSummary.noEntriesFound', model.searchPhrase)}">xxx</h5>
                        <th:block th:if="${model.resultCount > 0}">
                            <div th:replace="fragments :: PreviousNextSearchPager"></div>
                        </th:block>
                    </th:block>
                </div>

                <div th:replace="fragments :: WeblogEntriesPager"></div>

                <div th:if="${model.permalink}" th:remove="tag">
                    <div th:replace="fragments :: WeblogEntryComments"></div>
                    <div th:replace="fragments :: WeblogEntryCommentForm"></div>
                </div>
                <br/>
            </div>

            <div th:replace="${model.getTemplateIdByName('sidebar')}"></div>
        </div>
    </div>

</body>
</html>
