<?xml version="1.0" encoding="utf-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/">
  <foaf:Person>
    <foaf:name>$fullName</foaf:name>
    #if ($shaEmail)
      <foaf:mbox_sha1sum>$shaEmail</foaf:mbox_sha1sum>
    #elseif ($encodedEmail)
      <foaf:mbox rdf:resource="mailto:$encodedEmail" />
    #end
    <foaf:homepage rdf:resource="$websiteURL" />
    #if ($weblog)
      <foaf:weblog rdf:resource="$weblog" />
    #end
  </foaf:Person>
</rdf:RDF>