<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$model.weblog.name : $model.weblogPage.name</title>
    #showAutodiscoveryLinks($model.weblog)
    <style type="text/css">#includeTemplate($model.weblog "_css")</style>
</head>
<body bgcolor="#c0c0c0" link="#404f64" vlink="#404f64" alink="#404f64">

<div align="center">
<table border="0" cellpadding="5" cellspacing="0" width="750" height="235" valign="middle">
<tbody>
   <tr>
      <td width="538" height="1" valign="bottom" colspan="2">
         <p class="weblogTitle">$model.weblog.name</p>
      </td>
   </tr>
   <tr>
      <td width="138" height="277" valign="top">

         <table border="0" cellspacing="1" width="100%" cellpadding="3">
         <tbody>
            <tr>
               <td class="sidebarbox">The soul...</td>
            </tr>
            <tr>
                <td class="sidebar">
                    #showWeblogEntryCalendar($model.weblog "nil")<br>
                    #showWeblogSearchForm($model.weblog false)
                </td>
            </tr>
            <tr>
               <td class="sidebarbox">The feeds...</td>
            </tr>
            <tr>
                <td class="sidebar">
                    #showAtomFeedsList($model.weblog)<br>
                </td>
            </tr>
            <tr>
               <td class="sidebarbox">The links...</td>
            </tr>
            <tr>
               <td class="sidebar">
                   #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
                   #showBookmarkLinksList($rootFolder false false)<br>
                   #showPageMenu($model.weblog)<br>
                   #showAuthorMenu(true)<br>
               </td>
           </tr>
       </tbody>
       </table>

   </td>
   <td width="500" height="277" valign="top">
       <div align="center">
           <table border="0" cellpadding="5" cellspacing="1" width="100%" height="100%">
           <tbody>
               <tr>
                   <td bgcolor="#ffffff" height="280" width="100%" valign="top">
                       #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
                       #showWeblogCategoryLinksList($rootCategory false false)

                       #set($pager = $model.getWeblogEntriesPager()) 
                       <div class="next-previous">
                           #if ($model.results)
                               #showWeblogSearchAgainForm($model.weblog)
                               #showNextPrevSearchControl($pager)
                           #else
                               #showNextPrevEntriesControl($pager)
                           #end
                       </div>

                       #showWeblogEntriesPager($pager)

                       #if ($model.permalink)
                          #showWeblogEntryComments($entry)
                          #showWeblogEntryCommentForm($entry)
                       #end
                   </td>
               </tr>
           </tbody>
           </table>
       </div>
   </td>
</tr>

</tbody>
</table>
</div>
</body>
</html>
