<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    #showContentLanguage($locale.language)

    <meta name="generator" content="HTML Tidy, see www.w3.org">

    <title>#showWebsiteTitle()</title>

    <script type="text/javascript" src="$ctxPath/theme/scripts/roller.js">
    </script>

    <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
    <link rel="stylesheet" type="text/css" href="#showThemePath("grey2")/theme.css" />
    <style type="text/css">#includePage("_css")</style>
</head>
<body bgcolor="#c0c0c0" link="#404f64" vlink="#404f64" alink="#404f64">

<div align="center">
<table border="0" cellpadding="5" cellspacing="0" width="550"
 height="235" valign="middle">
   <tbody>
   <tr>
   <td width="538" height="1" valign="bottom" colspan="2">
      <p align="right"><b><font face="arial" size="5" color="#404f64">#showWebsiteTitle()
 </font></b></p>
   </td>
   </tr>
    <tr>
   <td width="138" height="277" valign="top">
      <table border="0" cellspacing="1" width="100%" cellpadding="3">
   <tbody>
   <tr>
   <td bgcolor="#404f64">
            <p align="right"><font style="font-size: 8pt;"
 face="Verdana"><font color="#ffffff" face="Verdana">the</font> <font
 color="#ffffff">soul</font></font></p>
   </td>
   </tr>
    <tr>
   <td bgcolor="#ffffff"><font face="Verdana" style="font-size: 8pt;">I am..</font></td>
   </tr>
    <tr>
   <td bgcolor="#ffffff">#showWeblogCalendar()<br>
    #showRSSBadge()<br>
    #showSearchForm()
    </td>
   </tr>

        </tbody>
      </table>
    <font size="1"> </font>
      <table border="0" cellspacing="1" width="100%" cellpadding="3">
   <tbody>
   <tr>
   <td bgcolor="#476378">
            <p align="right"><font color="#ffffff"
 style="font-size: 8pt;" face="Verdana">the journal</font></p>
   </td>
   </tr>
    <tr>
   <td bgcolor="#ffffff"><font face="Verdana" style="font-size: 8pt;">write
 about the journal/diary.</font></td>
   </tr>
    <tr>
   <td bgcolor="#ffffff" align="center"><br>
    <br>
    </td>
   </tr>
    <tr>
   <td bgcolor="#ffffff"><font style="font-size: 8pt;" face="Verdana">webrings?</font></td>
   </tr>

        </tbody>
      </table>
    <font size="1"> </font>
      <table border="0" cellspacing="1" width="100%" cellpadding="3">
   <tbody>
   <tr>
   <td bgcolor="#657185" height="15">
            <p align="right"><font color="#ffffff"
 style="font-size: 8pt;" face="Verdana">the links</font></p>
   </td>
   </tr>
    <tr>
   <td width="100%" bgcolor="#ffffff" height="15"><font
 style="font-size: 8pt;" face="Verdana">links</font></td>
   </tr>
    <tr>
   <td bgcolor="#ffffff" height="15">
    #showBookmarks("Blogroll" true false)<br>
    #showBookmarks("News" true false)<br>
    #showBasicNavBar(true)<br>
   <!-- Use the basic format to add as many links as you like --> #showEditorNavBar(true)<br>
    <a href="http://comatised.com/design"><font face="Verdana"
 style="font-size: 8pt;"><br>
   design</font></a></td>
   </tr>

        </tbody>
      </table>

      <p><br>
   </p>
   </td>
   <td width="388" height="277" valign="top">
      <div align="center">
      <table border="0" cellpadding="5" cellspacing="1" width="100%" height="100%">
         <tbody>
         <tr>
         <td bgcolor="#ffffff" height="280" width="100%" valign="top">

         <p><font style="font-size: 8pt;" face="Verdana" color="#404f64">
         #showWeblogCategoryChooser()<br>
         #showNextPreviousLinks()
         #showWeblogEntries("_day" 15 )
         </font></p>

         </td>
         </tr>
        </tbody>
      </table>
   </div>
   </td>
   </tr>

  </tbody>
</table>
   </div>
    <br>
    <br>
   <br>
   <br>
</body>
</html>
