	/* Layout ----------------------------------------------*/
		#container {
			width: 760px;
			\width: 780px;
			w\idth: 760px;
			margin: 10px;
			margin-right: auto;
			padding: 10px;
			}
		#sidebar-a {
			float: left;
			width: 240px;
			\width: 250px;
			w\idth: 240px;
			margin: 0;
			margin-right: 5px;
			background: url(#showThemeImagePath("brushedmetal" "metalLine.gif")) top right repeat-y;
			padding: 0px 25px 0px 0px;
			}
		#content {
			padding: 5px 25px 5px 15px;
			margin-left: 275px;
			}
	/* General--------------------------------------------- */
		body {
			margin:0px 0px 30px 0px;
			font-size:12px;
			font-family:Geneva, Arial, Helvetica, san-serif;
			line-height:140%;
			color:#FFF;
			background:#848484 url(#showThemeImagePath("brushedmetal" "metalBGBG.jpg")) top left repeat-x;
			}
		#block {
			background: url(#showThemeImagePath("brushedmetal" "metalBG.jpg")) top left no-repeat;
			}
		A {
			text-decoration: underline;
			font-weight:bold;
			} 
		A:link {
			color: #FFF;
			font-weight:bold;
			} 
		A:visited {
			color: #FFF; 
			} 
		A:active {
			color: #920011;
			} 
		A:hover {
			color: #FDE006;
			font-weight:bold;
			}
	/*Banner--------------------------------------------- */
		#banner {
			margin-bottom: 155px;
			text-align:center;
			line-height:120%;
			}
		#banner a {
			text-align:center;
			text-decoration:none;
			}
		.tagline {
			color:#FFF;
			font-size:11px;
			text-shadow: 2px 2px 5px Black;
			line-height:120%;
			}      
	/* NewsItems--------------------------------------------- */
		.newsItemTitle {
			font-size:16px;
			font-weight:bold;
			padding:5px 0px 5px 0px;    
			margin:0px;
			} 
		.newsItemDesc {
			padding: 5px 0px 15px 0px;
			border-bottom:1px solid #ddd;
			margin-bottom:25px;
			}
		.newsItemFooter {
			text-align:right;
			font-size:10px;
			}
	/* Navigation--------------------------------------------- */
		.navLink {
			padding: 3px 8px 3px 8px;
			margin-bottom:8px;
			border:1px solid #A3A3A3;
			text-align:center;
			}
	/* Main Column--------------------------------------------- */
		.title  { 
			font-size: 18px; 
			line-height:150%;
			font-weight:bold; 
			text-align:left;
			color: #000; 
			padding-bottom:15px;
			}  
		.date  { 
			font-size:12px;
			font-weight:bold;
			text-align:left;
			line-height:120%;
			padding:3px 5px 4px 3px;
			margin-top:10px;
			margin-bottom:22px;
			color:#FFF;
			background:#5A5A5A;
			border:1px solid #A3A3A3;
			}
		#footer{
			font-size:10px;
			line-height:130%;
			font-weight:normal;
			padding-top:10px; 
			margin-top:26px; 
			border-top:1px solid #A3A3A3;
			}
	/* Calendar--------------------------------------------- */
		#calendar td {
			padding:0px;
			color:#FFF;
			text-align:center;
			font-size:12px;
			font-family:Geneva, Arial, Helvetica, san-serif;
			line-height:140%;
			color:#FFF;
			}
		#calendar a {
			font-weight:bold;
			color:#FFF;
			}
		.hCalendarMonthYearRow, .dCalendarMonthYearRow
			{ 
			font-size:12px;
			font-weight:bold;
			text-align:left;
			}
		.hCalendarDayNameRow, .dCalendarDayNameRow
			{
			font-weight:bold;
			}
		.hCalendarDayRow, .dCalendarDayRow
			{
			font-weight:normal;
			}
		.hCalendarDayLinked, .dCalendarDayLinked
			{
			background-color: #6F6F6F;
			}
		.hCalendarDayCurrent, .dCalendarDayCurrent
			{
			background-color:#5A5A5A;;
			}
	/* Discussion--------------------------------------------- */
		.dlHeader{
			padding:4px;
			}
		.dlCountReadsTitle, .dlSubjectTitle, .dlCountMessagesTitle, .dlPostedTitle, .dlMessageLinkTitle, .dlAuthorTitle
			{
			padding:4px;
			}
		.dlSubject, .dlCountMessages, .dlPosted, .dlCountReads, .dlAuthor, .dlMessageLink
			{
			padding:4px;
			}
		.discussHeader {
			font-weight:normal;
			line-height:120%;  
			}    
		.discussResponceList {
			padding:10px 10px 10px 10px;  
			margin-top:10px;
			border-top:1px dotted #999;  
			} 
	/* Misc--------------------------------------------- */
		hr {
			background:#A3A3A3;
			border-top:0px solid #A3A3A3;
			border-bottom:0px solid #A3A3A3;
			border-left:0px solid #A3A3A3;
			border-right:0px solid #A3A3A3;
			height:1px;
			}
		td {
			font-size:12px;
			font-family:Geneva, Arial, Helvetica, san-serif;
			line-height:140%;
			color:#FFF;
			}