#setContentType("text/html; charset=utf-8")
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
   #showContentType("text/html; charset=utf-8")
   #showContentLanguage($locale.language)
   #showRSSAutodiscoveryLink()
   #showRSDLink()
   <script type="text/javascript" src="$ctxPath/theme/scripts/roller.js"></script>
   <title>#showWebsiteTitle() : #showPageName()</title><title>Brushed Metal: It Worked!</title>
   <style type="text/css">
   #includePage("_css")
   </style>
</head>
<body>
<div id="block">&nbsp;

   <div id="container">

      <div id="sidebar-a">

         <h1 id="banner">
            #showWebsiteTitle()
            <span class="tagline"><em>#showWebsiteDescription()</em></span>
         </h1>

         <div id="calendar">#showWeblogCalendar()</div>
	 <hr />

         <h3>BlogRoll</h3>
         #showBlogroll()

         <h3>Newsfeeds</h3>
         #showRSSBadge()<br />
         #showRSSLinks()<br />
         #showBasicNavBar(true)

      </div> <!-- sidebar-a -->

      <div id="content">
         #displayWeblogEntries()<br/>
         #showNextPreviousLinks()
         <div id="footer">
             Theme Design by <a href="http://www.bryanbell.com">Bryan Bell</a>
         </div> <!-- footer -->
      </div> <!-- content -->

   </div> <!-- container -->

</div> <!-- block -->

</body>
</html>
