<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
#if ($model.permalink == false)
   <meta name="Description" content="$model.weblog.about">
#else
   <meta name="Description" content="$model.weblogEntry.searchDescription">
#end
<meta name="viewport" content="initial-scale=1.0">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="$url.resource('css/bootstrap.css')" >
<link rel="stylesheet" href="$url.resource('css/style.css')" />
<link rel="stylesheet" href="$url.resource('css/font-awesome.min.css')" />
