<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  #includeTemplate($model.weblog "standard_head")
  <title>$model.weblog.name: $model.weblog.tagline</title>
  <link rel="stylesheet" href='$url.page("custom.css")' />
</head>
<body>

	<!-- HEADER -->
	<header>
		#includeTemplate($model.weblog "standard_header")
	</header>

	<!-- BODY -->
	<div class="container">
	
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">$model.weblog.name&nbsp;<small>$model.weblog.tagline</small></h1>
			</div>
	  	</div>
	  	
	  	<div class="row">
	  		<!-- BODY MAIN-->
			<div id="main_content" class="col-lg-8">
		   	  	<div class="alert alert-info"><p>Entries tagged $model.tags</p></div>
				#set($pager = $model.getWeblogEntriesPager())
				#showWeblogEntriesPager($pager)
				#if ($model.permalink)
					#showWeblogEntryComments($entry)
					#showWeblogEntryCommentForm($entry)
				#end
				<ul class="pager">
			        #if($utils.isNotEmpty($pager.prevLink))<li class="previous"><a href="$pager.prevLink">← $pager.prevName</a></li>
	#end
			        #if($utils.isNotEmpty($pager.nextLink))<li class="next"><a href="$pager.nextLink">$pager.nextName →</a></li>#end
		        </ul>
			</div>
			
			<!-- BODY - SIDEBAR -->
			<div id="sidebar_content" class="col-lg-4">
				<div class="well">
                    #set($mytags = $model.weblog.getPopularTags(-1, 30))
                    #if ($mytags && $mytags.size() > 4)
                       <h3>Hot tags</h3>
                       <p class="details">Below are the most often used tags in the blog. Hover over a tag to see a count of entries, click a tag to see the most recent posts with the tag.</p>
                       <div id="tagcloud">
                       #foreach ($tag in $mytags)
                          <a class="tag s${tag.intensity}" href="$url.tag($tag.name)" title="$tag.count">$tag.name</a>
                       #end
                       </div>
                    #end
                </div>
			</div> <!-- close sidebar_content -->
		</div>
	</div>

	<!-- FOOTER -->
	<footer>
		#includeTemplate($model.weblog "standard_footer")
	</footer>
	
</body>
</html>

