<div class="entry">
    <a class="entryTitle" href="$utils.escapeHTML($url.entry($entry))">
        $utils.truncateText($entry.title, 50, 50, "...")
    </a><br /> 
    <p class="entryDetails">
        <a href="$utils.escapeHTML($entry.weblog.URL)">$entry.weblog.name</a>
        #if($entry.tags.size() > 0) $entry.getTagsAsString() |#end
        #if($entry.category.name)$entry.category.name |#end
        #if($entry.pubTime) $utils.formatDate($entry.pubTime, $utils.msg("macro.weblog.datepattern")) |#end
        #if($entry.creator.screenName) By $entry.creator.screenName #end
        <br/> 
    </p>
    <p class="entryDescription">
        $utils.truncateText($model.getTransformedText($entry), 240, 260, "...")
    </p>
</div>
