<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="CommonHeadSection">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title th:utext="${model.weblog.name}">xxx</title>
        <link rel="shortcut icon" th:href="${url.absoluteSite + '/favicon.ico'}">
        <link rel="stylesheet" th:href="${url.page('_css.css')}">
        <!--/* replace/insert within a fragment seems to work only with th:block */-->
        <th:block th:replace="fragments :: AutoDiscoveryLinks"></th:block>
    </th:block>
</head>
<body>
    <div th:fragment="CommonNavBanner" id="banner">
        <div id="bannerStatusBox">
            <table class="bannerStatusBox" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="bannerLeft"></td>
                    <td class="bannerRight">
                        <a th:href="${url.absoluteSite}" th:text="${utils.msg('navigationBar.homePage')}">xxx</a> |
                        <a th:href="${url.absoluteSite + '/tb-ui/app/home'}">Main Menu</a> |
                        <th:block th:switch="${model.isUserAuthenticated()}">
                            <th:block th:case="${false}">
                                <a th:href="${url.login}">Login</a> |
                                <a th:href="${url.register}">Register</a>
                            </th:block>
                            <a th:case="${true}" th:href="${url.logout}">Logout</a>
                        </th:block>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:fragment="EntryBlock" class="entry">
        <a class="entryTitle" th:href="${utils.escapeHTML(url.entry(entry))}"
           th:text="${utils.truncateText(entry.title, 50, 50, '...')}">
        </a><br />
        <p class="entryDetails">
            <a th:href="${utils.escapeHTML(entry.weblog.URL)}" th:utext="${entry.weblog.name}">xxx</a>
            <span th:if="${entry.getTags().size() > 0}" th:text="${entry.getTagsAsString() + ' |'}">xxx</span>
            <span th:text="${entry.category.name + ' |'}">xxx</span>
            <span th:text="${utils.formatDate(entry.pubTime, utils.msg('macro.weblog.datepattern')) + ' |'}">xxx</span>
            <span th:text="${'By ' + entry.creator.screenName}">xxx</span>
            <br/>
        </p>
        <p class="entryDescription">
            <span th:text="${utils.truncateText(model.getTransformedText(entry), 240, 260, '...')}">xxx</span>
        </p>
    </div>
</body>
