<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:with="blogfrags = ${model.getTemplateIdByName('blogfrags')}">
<head>
    <span th:replace="${blogfrags} :: CommonHeadSection"></span>
</head>

<body class="view" bgcolor="#FFFFFF">

<span th:replace="${blogfrags} :: CommonNavBanner"></span>

<div id="wrapper">

    <div id="leftcontent_wrap">
        <div id="leftcontent">
        </div>
    </div>

    <div id="centercontent_wrap" th:with="maxResults=25, since=365">
        <div id="centercontent">  
            <h1 th:utext="${model.weblog.name}">xxx</h1>
            <p class="subtitle" th:utext="${model.weblog.tagline}">xxx</p>

            <table class="menuTabTable" cellspacing="0"><tbody><tr>
               <td class="menuTabUnselected">
                  <div class="menu-tr">
                     <div class="menu-tl">
                        &nbsp;&nbsp;<a th:href="${url.home}">Recent Entries</a>&nbsp;&nbsp;
                     </div>
                  </div>
               </td>	
               <td class="menuTabSeparator"></td>
               <td class="menuTabSelected">
                  <div class="menu-tr">
                     <div class="menu-tl">
                        &nbsp;&nbsp;<a th:href="${url.page('directory')}">Weblog Directory</a>&nbsp;&nbsp;
                     </div>
                  </div>
               </td>	    
               <td class="menuTabSeparator"></td>
            </tr></tbody></table>
            <table class="menuItemTable" cellspacing="0"><tbody><tr>
            <td class="padleft"></td></tr></tbody></table>

            <div id="tabContent">
                <div id="directory" >
                    <th:block>
                        <!-- Show Blog Directory -->
                        <th:block th:with="letterString = ${model.getRequestParameter('letter')},
                            chosenLetter = ${(letterString == null || letterString.length() == 0) ? null : letterString.charAt(0)}">
                            <div class="letterMap", th:with="weblogLetterMap = ${site.getWeblogHandleLetterMap()}">
                                <p>
                                    <span th:each="letter,iter : ${weblogLetterMap.keySet()}">
                                        <span th:text="${iter.index > 0} ? ' - '">xxx</span>
                                        <span th:style="${letter == chosenLetter} ? 'font-size:120%; font-weight:bold'">
                                           <a th:remove="${weblogLetterMap.get(letter) > 0} ? 'none' : 'tag'" th:href="${'?letter=' + letter}" th:text="${letter}">xxx</a>
                                        </span>
                                    </span>
                                </p>
                            </div>

                            <h2 class="pageTitle" th:utext="${chosenLetter != null ? ('Weblogs starting with ' + chosenLetter) : 'All Weblogs'}">xxx</h2>

                            <table class="blogdirectory data"
                                   th:with="weblogListData = ${site.getWeblogListData(chosenLetter, maxResults)}">
                                <thead>
                                <tr>
                                    <th scope="col" class="name">Blog Name</th>
                                    <th scope="col" class="description">Title</th>
                                    <th scope="col" class="description">Creator</th>
                                    <th scope="col" class="description">Description</th>
                                    <th scope="col" class="description">Last Modified</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${weblogListData.weblogs}">
                                    <th scope="row" class="name">
                                        <a th:href="${url.absoluteSite + '/' + item.handle}" th:utext="${item.handle}">xxx</a>
                                    </th>
                                    <td class="description" th:utext="${item.name}">xxx</td>
                                    <td class="description" th:utext="${item.creatorScreenName}">xxx</td>
                                    <td class="description" th:utext="${item.about}">xxx</td>
                                    <td class="description" th:utext="${item.lastModified}">xxx</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="pagingcontrols">
                                    <td class="paginglinks">
                                        <a th:if="${weblogListData.prevLink}" th:href="${weblogListData.prevLink}">&lt; Prev</a>
                                        <span th:if="${weblogListData.nextLink != null && weblogListData.prevLink != null}">|</span>
                                        <a th:if="${weblogListData.nextLink}" th:href="${weblogListData.nextLink}">Next &gt;</a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>

<div id="footer">
</div>

<div id="datetagdiv"
     style="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;">
</div>
</body>
</html>
