<div class="padded">    #showDayPermalink( $day )    #showEntryDate( $day )</div>#foreach( $entry in $entries )    <a name="$utilities.encode($entry.anchor)" id="$entry.id"></a>    <div class="padded post">        <b>$entry.title</b> #showEntryText($entry)    </div>    <div class="padded footer">#showEntryPermalink($entry)    #showCommentsPageLink( $entry )    $text.get("macro.weblog.postedby") $entry.creator.userName    (#showTimestamp($entry.updateTime)/#showTimestamp($entry.pubTime))    <br>Trackback: #showTrackbackURL( $entry )</div>#end<div class="padded">    #showLinkbacks( $day )</div>