<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" 
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom" >
<channel>
  <title>$utils.escapeHTML($config.getConfigProperty("site.name")) (Comments)</title>
  <link>$config.absoluteContextURL</link>
  <description>$utils.escapeHTML($model.weblog.description)</description>
  <language>en-us</language>
  <copyright>Copyright $utils.formatDate($model.weblog.lastModified, "yyyy")</copyright>
  <lastBuildDate>$utils.formatRfc822Date($model.weblog.lastModified)</lastBuildDate>
  <generator>Roller Weblogger $config.rollerVersion ($config.rollerBuildTimestamp:$config.rollerBuildUser)</generator>
    #set($comments = $site.getComments(0, $model.weblog.entryDisplayCount))
    #showCommentsAtom10($comments)
</channel>
</rss>