<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    #showContentLanguage($locale.language)
    <meta name="generator" content="HTML Tidy, see www.w3.org">
    <title>#showWebsiteTitle()</title>
    <script type="text/javascript" language="JavaScript">
    <!--
    if (!((navigator.appVersion.indexOf('MSIE')!=-1) || (parseInt(navigator.appVersion)!=4)))
    {
        document.write("<STYLE TYPE=\"text/css\">");
        document.write("BODY { margin-top: -8px; margin-left: -8px; }");
        document.write("<\/style>");
    };
    // -->
    </script>

    <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
    <link rel="stylesheet" type="text/css" href="#showThemePath("currency")/theme.css" />
    <style type="text/css">
      #includePage("_css")
    </style>
    <script type="text/javascript" src="$ctxPath/theme/scripts/roller.js">
    </script>
</head>

<body>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
     <tbody>
        <tr>
           <td width="100%" bgcolor="#666666">
           </td>
        </tr>

        <tr>
           <td width="100%" bgcolor="#ffffff">
           </td>
        </tr>

        <tr>
           <td class="title" width="100%" bgcolor="#cccc99"
             valign="top">#showWebsiteTitle()<br>
             <font class="descrip">#showWebsiteDescription()</font>
           </td>
        </tr>

        <tr>
           <td width="100%" bgcolor="#000000">
           </td>
        </tr>
     </tbody>
  </table>

  <table border="0" cellspacing="0" cellpadding="0" width="100%">
     <tbody>
        <tr>
           <td valign="top" width="555" class="body">
              #showWeblogCategoryChooser()<br />

              #showNextPreviousLinks()

              #showWeblogEntries("_day" 15)

              <hr size="1">
           </td>

           <td width="1" bgcolor="#000000" rowspan="2">
           </td>

           <td valign="top" width="175">
              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                 <tbody>
                    <tr>
                       <td bgcolor="#cccccc">
                       </td>
                    </tr>
                 </tbody>
              </table>

              <table border="0" cellspacing="0" cellpadding="0" width="100%">

                 <tbody>
                    <tr>
                       <td bgcolor="#cccccc"><font class=
                       "subhead">archives</font></td>
                    </tr>
                    <tr>
                       <td bgcolor="#000000">
                       </td>
                    </tr>
                    <tr>
                       <td class="links">

                       #showWeblogCalendar()<br>
                       #showRSSBadge()<br>

                       </td>
                    </tr>

                    <tr>
                       <td bgcolor="#000000">
                       </td>
                    </tr>
                    <tr>
                       <td class="search">
                       #showSearchForm()
                       </td>
                    </tr>

                    <tr>
                       <td bgcolor="#cccccc"><font class=
                       "subhead">links</font></td>
                    </tr>
                    <tr>
                       <td bgcolor="#000000">
                       </td>
                    </tr>
                    <tr>
                       <td class="links">

                       #showBookmarks("Blogroll" true false)<br>
                       #showBookmarks("News" true false)<br>
                       #showBasicNavBar(true)<br>
                       #showEditorNavBar(true)<br>

                       </td>
                    </tr>
                    <tr>
                       <td bgcolor="#000000">
                       </td>
                    </tr>
                    <tr>
                       <td bgcolor="#cccccc"><font class=
                       "subhead">referers</font></td>
                    </tr>
                    <tr>
                       <td bgcolor="#000000">
                       </td>
                    </tr>
                    <tr>
                       <td class="links">

                        #showReferers(30 20)<br>

                       </td>
                    </tr>
                    <tr>
                       <td bgcolor="#000000">
                       </td>
                    </tr>

                 </tbody>
              </table>
           </td>

           <td width="1" bgcolor="#000000" rowspan="2">
           </td>

           <td bgcolor="#aaaaaa" rowspan="2">
           </td>
        </tr>

        <tr>
           <td width="375">
           </td>
           <td width="175" bgcolor="#666666">
           </td>
        </tr>

        <tr>
           <td colspan="5" bgcolor="#999999">
           </td>
        </tr>

     </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
</body>
</html>
