/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/

/* Common CSS */

a {
    font-weight: normal;
    text-decoration: underline;
}
a:active {}
a:link {}
a:visited {}
a:hover {}
body {
    font-family: verdana, sans-serif;
    font-size: small;
}
p {
    margin:10px 10px 10px 10px;
    text-align: left;
}
pre {
    margin:0px 10px 0px 10px;
    overflow: auto;
}
.code {
    margin:10px 10px 10px 20px;
    padding: 3px 3px;
}
.quote {
    margin-left: 10%;
    text-align: justify;
    font-style: italic;
}
img {
    border: 0px;
    margin: 0px; 
}

/* bookmark.vm */

.rFolder {
    font-size: small;
    font-weight: bold;
}
li.rFolderItem {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size : small;
    font-weight: normal;
}
.rBookmark0 {
  margin-left: 10px;
  font-size: small;
}
img.rBookmark {
    margin-left: 10px;
    border: 0;
}
img.smrssbadge {
    margin-left: 10px;
    border: 0;
}

/* navbar.vm */

.rNavigationBar {
    margin-left: 0;
    padding-left: 0;
}
li.rNavItem {
    list-style: none;
    font-size : small;
    font-weight: normal;
}

/* navbar-css.vm */
ul.rMenu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.rMenuItem {
    font-size : small;
    font-weight: normal;
}

/* newsfeed.vm */

div.rNewsfeedTitle {
    font-weight: 600;
}
a.rNewsfeedLink, span.rNewsfeedLink {
    display:block;
    margin-left: 10px;
    font-size : small;
    font-weight: bolder;
}
span.rNewsfeedDesc {
    display:block;
    margin-left: 10px;
    font-size : small;
    font-weight: normal;
}

/* comments.vm */

a.entrycommentslink {
    background: transparent;
}
/* master containing div or ul */
.comments {
  margin: 10px 5px 10px 5px;
}
/* Preview / Comments Header */
div.comments-head {
  font-weight:bold;
  margin-top:10px;
  text-transform:uppercase;
}
/* actual comment content */
.comment {
    margin: 5px 10px 10px 5px; 
}
/* commenter info */
p.comment-details {
    background: transparent;
    font-size: .95em;
    margin: 10px 0px 10px 10px !important;
}
div.comments-form {
  font-weight:normal;
  margin: 15px 15px 15px 15px;
}
span.comments-syntax-indicator {
    display: block;
}
ul.commentsList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.commentsListItem {
    font-size : small;
    font-weight: normal;
}
label.rememberInfo{
    font-size: small;
}
label.notify{
    font-size: small;
}
/* Begin Hidden Comment Form */
form.commentFormBox {
    margin-top: 10px;
}
tr.commentFormRow {
    font-size: 12px;
    padding-bottom: 6px;
}
input.commentFormInput {
    font-size: 1em;
}
textarea.commentFormTextarea {
    font-size: 12px;
    width: 90% !important;
}
.comments-syntax-indicator {
    font-weight: bold;
}
.comments-syntax-indicator span.enabled {
    background: transparent;
    color: green;
    font-style: italic;
}
.comments-syntax-indicator span.disabled {
    background: transparent;
    color: red;
    font-style: italic;
}
div.commentBody {}
div.commentByline {}
div.commentAuthor {
    border: none;
}

/* weblog.vm */

a.daypermalink {
    border-style : none;
}
a.entrypermalink {
    background: transparent;
}
span.disabled {
    color: red;
}
span.enabled {
    color: green;
}
form#searchForm {
}
div#searchAgain {
  border: 1px solid #999;
  font-size: 1em;
}
div.trackbackUrl {
    background: transparent;
    margin: 0px 10px 10px 10px;
    text-align: left;
}
#nextEntry {
    text-align: right;
}
#previousEntry {
    text-align: left;
}
ul.recentposts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.recentposts {
    font-size : small;
    font-weight: normal;
}
ul.linkblog {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.linkblog {
    font-size : small;
    font-weight: normal;
}
.next-previous {
    text-align: center;
    padding: 1em 0 1em 0;
}
.error {
    display: block;
    background-color: #ffcccc;
    border: 1px solid red;
    color: #aa0000;
    font-size: 0.9em;
    font-weight: normal;
    margin: 5px 10px 5px 0px;
    padding: 3px;
    width: 95%;
}
.status {
    display: block;
    background-color: #CCFFCC;
    border: 1px solid green;
    color: #000000;
    font-size: .9em;
    font-weight: normal;
    margin: 5px 10px 5px 0px;
    padding: 3px;
    width: 95%;
}

/* website.vm */

div.rWeblogCategoryChooser {
    background: transparent;
    margin-bottom: 10px;
}
a.rUnchosenCategory {
    font-size: medium;
    font-weight: normal;
}
span.rChosenCategory {
    font-size: medium;
    font-weight: bolder;
}

/* CalendarTag.java */

table.hCalendarTable {
    text-align : center;
}
td.hCalendarMonthYearRow {
    font-weight: bold;
}
a.hCalendarNavBar {
}
th.hCalendarDayNameRow {
    text-align : center;
    font-size : x-small;
    font-weight : bolder;
}
tr.hCalendarNextPrev {
    text-align : center;
    font-size : x-small;
    font-style : italic;
}
td.hCalendarDayNotInMonth {
    font-size : x-small;
    color: gray;
}
td.hCalendarDayCurrent {
    text-align : center;
    font-size  : x-small;
    font-weight: bolder;
}
td.hCalendarDayLinked {
    text-align : center;
    font-size  : x-small;
    font-weight: bolder;
}
div.hCalendarDayTitle {
    font-size:  .9em;
    text-align: center;
}
td.hCalendarDay {
    text-align: center;
    font-size : x-small;
}

/* BigWeblogCalendarModel */ 

div.hCalendarDayTitleBig {
  position: relative;
  left: 0;
  top: 0;
  width: 25%;
  padding: 3px 0 3px 0;
  background: transparent;
  color: #050505;
  border-right: 1px solid #050505;
  border-bottom: 1px solid #050505;
  font-size: small;
  text-align: center;
  font-size: small;
}
div.bCalendarDayContentBig {
  font-size: x-small;
  padding: 3px 0px 3px 0px;
}

