/* ======================================================================
layout.css: Base CSS layout for Roller's web UI (position and sizing only)
====================================================================== */

#wrapper {
    width: 100%;
}
#banner {
    height: 30px; 
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
#menu {
    padding: 0px 15px 0px 15px;
}
#centercontent {
    margin: 15px 15px 0px 15px;
}
#rightcontent {
    position: absolute;
    top:   40px;
    right:  15px;
    width: 230px;
}
.prop {
    height: 300px;
    float: right;
    width: 1px;
}
.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
}

