/* ======================================================================
menu.css: CSS layout and styles for Roller tabbed menu
====================================================================== */

/* rounded corners */

div.menu-tl {
    padding: 5px 5px 0px 5px; margin: 0px; height:100%;
    background: url("images/menutab-tl.png") no-repeat left top;    
    background-repeat: no-repeat;
}
div.menu-tr {
    margin: 0px; height:100%;
    background: url("images/menutab-tr.png") no-repeat right top;    
    background-repeat: no-repeat;
}

/* style selected and unselected menu links*/

td.menuTabSelected a:link, td.menuTabSelected a:visited, td.menuTabSelected a:hover, td.menuTabSelected a:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
td.menuTabUnselected a:link, td.menuTabUnselected a:visited, td.menuTabUnselected a:hover, td.menuTabUnselected a:active {
    color: black;
    text-decoration: none;
}
a.menuItemSelected:link, a.menuItemSelected:visited, a.menuItemSelected:hover, a.menuItemSelected:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a.menuItemUnselected:link, a.menuItemUnselected:visited, a.menuItemUnselected:hover, a.menuItemUnselected:active {
    color: black;
    text-decoration: none;
}

/* ----------------------------------------------------------------------
Menu tab table (the tabs)
---------------------------------------------------------------------- */

.menuTabTable {
    height: 27px;
}
td.menuTabSeparator {
    width: 10px;
}  
td.menuTabSelected {
    padding: 0px; 
    margin: 0px;
    background: url("images/menutab-sel.png");
}
td.menuTabUnselected {
    padding: 0px; 
    margin: 0px;
    background: url("images/menutab-unsel.png");
}

/* ----------------------------------------------------------------------
Menu item table (the bar below the tabs)
---------------------------------------------------------------------- */

.menuItemTable {
    width: 100%;
    height: 27px;
    background-color: #c6ab74;
}
.menuItemSelected, .menuItemUnselected {
    padding: 0px 5px 0px 5px; /* TRBL */
}





