/* ======================================================================
menu.css: CSS layout and styles for Roller tabbed menu
====================================================================== */

/* rounded corners */

div.menu-tl {
    margin: 0px; 
    padding: 0px; 
    height: 100%;
    background: url("images/menutab-tl.gif") no-repeat top left;   
    background-repeat: no-repeat;
    vertical-align: middle;
    display: table;
}
div.menu-tr {
    margin: 0px; 
    padding: 0px; 
    height: 100%;
    background: url("images/menutab-tr.gif") no-repeat top right;    
    background-repeat: no-repeat;
}

td div.menu-tr div.menu-tl a {
   display: table-cell;
   vertical-align: middle;
}

/* ----------------------------------------------------------------------
Menu tab table (the tabs)
---------------------------------------------------------------------- */

.menuTabTable {
    height: 25px;
    _height: 21px; /* for IE */
    margin: 0px; 
    padding: 0px; 
}
td.menuTabSeparator {
    width: 4px;
}  
td.menuTabSelected {
    margin: 0px; 
    padding: 0px; 
    font-weight: bold;
}
td.menuTabUnselected {
    margin: 0px; 
    padding: 0px; 
}

/* ----------------------------------------------------------------------
Menu item table (the bar below the tabs)
---------------------------------------------------------------------- */

.menuItemTable {
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100%;
    padding-top: 0px;
    height: 25px;
}
.menuItemSelected {
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: bold;
}
.menuItemUnselected {
    padding: 0px 1px 0px 1px; /* TRBL */
}







