/* ======================================================================
roller.css: Base CSS styles for Roller web UI (colors, fonts, etc.)
====================================================================== */

.bannerBox {
    /* CUSTOMIZABLE background: url("images/two-banner.png") repeat-x top; */
    height: 78px; 
    width: 100%;
}
.statusBox {
    height: 25px; 
    width: 100%;
    /* CUSTOMIZABLE background: #ad3431; */
    color: white;
}
.statusBox a {
    /* CUSTOMIZABLE color: white; */
}
.statusBox a:link {
    /* CUSTOMIZABLE color: white; */
}
.statusBox a:visited {
    /* CUSTOMIZABLE color: white; */
}
.bannerLeft {
    float: left; 
    padding: 4px 15px 4px 15px;
}
.bannerRight {
    float: right; 
    padding: 4px 15px 4px 15px;
}
.sidebarfade {
    padding: 0px; 
    width: 100%;
    /* CUSTOMIZABLE background: url("images/two-sidebarfade.png") repeat-x top; */
}
.sidebarfadeBody {
    padding: 0px 5px 0px 5px; 
}

/* ----------------------------------------------------------------------
General styles
---------------------------------------------------------------------- */

body {
    background: white;
    margin: 0px;
    padding: 0px;
    font: small Verdana,Arial,Sans-serif;
    font: small/1.5em Verdana, Arial, Helvetica, sans-serif;
}
p {
    background: transparent;
    color: #000000;
}
p.subtitle {
    margin: 5px 0px 15px 0px;
    font-size: 120%;
}
p.pagetip {
    margin: 0px 0px 15px 0px;
}
h1 {
    background: transparent;
    /* CUSTOMIZABLE color: #ad3537; */
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}
h2 {
    background: transparent;
    /* CUSTOMIZABLE color: #ad3537; */
    font-size: large;
    font-weight: bold;
}
h3 {
    background: transparent;
    /* CUSTOMIZABLE color: #ad3537; */
    font-weight: bold;
}
div.sidebarfade h3 {
    margin: 0px; padding: 0px; 
}
img {
    border: 0px;
    overflow: auto;
}
img.w3c {
    border: 0px;
    height: 31px;
    width: 88px;
    margin-right: 5px;
}
a {
    background: transparent;
    text-decoration: none;
}
a:link {
    background: transparent;
    /* CUSTOMIZABLE color: #ad3537; */
    text-decoration: underline;
}
a:visited {
    background: transparent;
    /* CUSTOMIZABLE color: #ad3537; */
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: underline overline;
}

/* ----------------------------------------------------------------------
form layout styles
---------------------------------------------------------------------- */

input, select, option {
    font: small Verdana,Arial,Sans-serif;
    color: black;
    font: small/1.5em Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}
textarea {
   margin: 3px 0px 0px 0px;
}
div.buttonBox {
   width: 98%; 
   border: 1px solid black;
   background-color: #f3f3f3;
   padding: 3px;
   margin-top: 5em;
   clear: both;
}
.left {
   font-size: small;
   width: 136px;
}
.leftTitle {
   font-size: small;
   font-weight: bold;
}

.formtable, .formtableNoDesc { 
    width: 100%; 
    border-collapse: collapse; 
} 
.formtable td.label, .formtable td.field, .formtable td.description,
.formtableNoDesc td.label, .formtableNoDesc td.field, .formtableNoDesc  {
    vertical-align: top;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e5e5e5;
    padding: 4px 10px 4px 10px;
}
.formtable td.label { 
    text-align: right;
    width: 20%; 
}
.formtable td.field { 
    width: 30%; 
}
.formtable td.description { 
    width: 50%; 
}
.formtableNoDesc td.label { 
    text-align: right;
    width: 40%; 
}
.formtableNoDesc td.field { 
    width: 40%; 
}
.formtableNoDesc td.description { 
    width: 0%; 
}

div.row { 
   padding: 2px; 
}
div.formrow {
   float: left:
   width: 80%;
}
label.formrow {
   float: left;
   text-align: right;
   width: 20%;
   padding-right: 1em;
}
div.sideformrow {
   float: left:
   width: 100%;
}
label.sideformrow {
   float: left;
   text-align: right;
   width: 30%;
   padding-right: 1em;
}

/* ----------------------------------------------------------------------
Table styles 
---------------------------------------------------------------------- */

table.rollertable {
    border-collapse: collapse; 
    width: 100%;
}
table.rollertable th, table.rollertable th {
    border: 1px solid #ccc;
    /* CUSTOMIZABLE background: #c6ab74; */
}
table.rollertable th {
    color: white;
}
table.rollertable td, table.rollertable tbody td {
    /* CUSTOMIZABLE border: 1px solid #c6ab74; */
    vertical-align: top;
}
table.rollertable tbody td {
    padding: 3px;
}
table.rollertable td.center {
    text-align: center;
}
.rollertable_even td {
    border: 1px solid #ccc;
    background: #EEEEEE;
    color: black;
    vertical-align: top;
}
.rollertable_odd td{
    border: 1px solid #ccc;
    background: inherit;
    vertical-align: top;
    color: black;
}
td.rollertable_entry, div.rollertable_entry {
    border: 1px solid #ccc;
    background: inherit;
    padding: 5px;
    vertical-align: top;
}
td.propname {
    padding: 0px 0px 0px 3em;
    vertical-align: top;
}
table.edit th {
    text-align: right;
    padding-right: 5px;
}

/* ----------------------------------------------------------------------
Calendar styles
---------------------------------------------------------------------- */

div.archiveCalendar {
    position: absolute; 
    top: 80px; 
    right: 20px;
    font-size: 11px;
}
.hCalendarDay {
	border-width: thin;
	font-size: .9em;
	text-align: center;
}
.hCalendarDayCurrent {
	border-style: dotted;
	border-width: thin;
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}
.hCalendarDayLinked {
	border-width: thin;
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}
.hCalendarDayNameRow {
	font-size: .9em;
	background-color: #eee;
    border-bottom: 1px solid #ccc;
	text-align: center;
}
.hCalendarDayNotInMonth {
	background: transparent;
	color: #AAAAAA;
	font-size: .9em;
	text-align: center;
}
.hCalendarNextPrev {
	text-align: center;
}
.hCalendarMonthYearRow {
	font-weight: bold;
	text-align: center;
}

/* ----------------------------------------------------------------------
Error and status message styles
---------------------------------------------------------------------- */

.statusMsg {
    background: #CCFFCC;
    border: 1px solid #008000;
    color: #000000;
    display: block;
    font-size: .9em;
    margin: 0px 0px 10px 0px;
    padding: 3px;
    width: 98%;
}
.error {
    background: transparent;
    color: #FF0000;
}
.warning {
    background: transparent;
    color: #FF0000;
    font-size: 120%;
    font-weight: bold;
}
.errors, .messages, .warnings {
    padding: 5px;
    margin: 10px 0px 10px 0px;
}
.errors {
   background-color: #fcc;
   border: 1px solid red;
}
.messages {
   background-color: #cfc;
   border: 1px solid green;
}
.warnings {
   background-color:#FFFFAA;
   border: 1px solid yellow;
}
div.error {
    background-color: #ffcccc;
    border: 1px solid #000000;
    color: #aa0000;
    font-size: 0.9em;
    font-weight: normal;
    margin: 5px 10px 5px 0px;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}
div.output {
    background-color: #e0e0e0;
    border: 1px solid #CCCC99;
    color: #000000;
    font-size: 0.9em;
    font-weight: normal;
    margin: 5px 10px 5px 0px;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

/* ----------------------------------------------------------------------
Misc styles 
---------------------------------------------------------------------- */

div.NN4 {
    display: none;
}
div.rNavigationBar {
    margin-bottom: 20px;
    margin-right: 10px;
}
.entryDate {
    background: transparent;
    color: #989898;
    font-style: italic;
}
.commentTitle {
    background: #FFFFDD;
    border: 1px solid #000;
    padding: 3px;
    margin: 0px 5px 10px 0px;
    color: #000000;
    font-size: .9em;
    width: 98%;
}
.version {
    font-size: x-small;
    color: #808080;
}
.page {
    visibility: hidden;
    position: absolute;
    float: left;
    background-color: white;
    border: 1px gray solid;
    padding: 10px;
    width: 80%;
    height: 40em;
}
.tab {
    background-color: white;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    font-family: verdana;
    font-style: bold;
    padding: 5px;
    margin: 2px;
}

/* ----------------------------------------------------------------------
Main page styles
---------------------------------------------------------------------- */

div.entryTitleBox {
   padding: 4px;
   margin: 4px 0px 4px 0px;
   /* CUSTOMIZABLE background: #c6ab74; */
   /* CUSTOMIZABLE color: white; */
   font-size: medium;
}
div.entryBox {
   padding: 4px;
   margin: 4px 0px 4px 0px;
   /* CUSTOMIZABLE border: 1px #c6ab74 solid; */
}
div.entryBoxPinned {
   padding: 4px;
   margin: 4px 0px 4px 0px;
   /* CUSTOMIZABLE border: 1px #c0c0c0 solid; */
   /* CUSTOMIZABLE background: #e5e5e5; */
}
a.entryTitle, a:active.entryTitle, a:visited.entryTitle {
   font-size: medium;
   font-weight: bold;
   /* CUSTOMIZABLE color: #ad3537; */
}
span.hotBlogs, a.hotBlogs, a:active.hotBlogs, a:visited.hotBlogs, ul.hotBlogs {
   font-size: small;
   padding-left:0px;
   list-style-type:none
}
span.entryDetails, a.entryDetails, a:active.entryDetails, a:visited.entryDetails {
   font-size: small;
   color: grey;
}
p.websiteDescription {
   text-style: italics;
}
.yourWeblogBox {
   padding: 4px;
   margin: 4px 0px 4px 0px;
}
.version {
   font-size: small;
   color: grey;
   text-align: center;
}
.details {
   font-size: small;
   color: grey;
}
div.helptext {
   background: #f0f0f0;
   border: 1px #c0c0c0 solid;
   padding: 2px;
   margin: 30px 10px 10px 0px;
   width: 75%; 
}

/* ----------------------------------------------------------------------
weblog editor styles 
---------------------------------------------------------------------- */

div.previewEntry {
   border: 1px solid gray;
   clear: both;
   height: 22em;
   width: 98%;
   padding: 10px;
   overflow: auto;
}
div.centerTitle {
    border: 1px solid #ccc;
    /* CUSTOMIZABLE background: #c6ab74; */
    color: black;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
div.control {
    width: 100%; 
    /* CUSTOMIZABLE background: #c6ab74; */
}
div.controlToggle {
    width: 100%; 
    height: 20px;
    /* background: url("images/two-togglegrey.png") repeat-x top; */
}
.control input { 
    margin: 5px; 
}
a.controlToggle {
    margin: 5px; 
    padding: 5px;
    color: black;
    background: transparent;
    text-decoration: none;
}
a.controlToggle:link { 
    margin: 5px; 
    padding: 5px;
    color: black;
    background: transparent;
    text-decoration: none;
}
a.controlToggle:visited {
    margin: 5px; 
    padding: 5px;
    color: black;
    background: transparent;
    text-decoration: none;
}
a.controlToggle:hover {
    margin: 5px; 
    padding: 5px;
    color: black;
    background: transparent;
    text-decoration: underline;
    font-weight: bold;
}


        
