<div class="date">
    <a href='$url.date($utils.formatDate($day,"yyyyMMdd"))'>
        <img class="daypermalink" border="0"
           src='$url.themeResource("movablemanila", "images/dateArrow.gif")'
           title='$text.get("macro.weblog.daypermalink.title")'
           alt='$url.date($utils.formatDate($day, "yyyyMMdd"))' /></a>
   #set($format = $text.get("macro.weblog.date.toStringFormat"))
   $utils.formatDate($day, $format)
</div>

#foreach( $entry in $entries )
   <div class="blogbody">
   <p class="title">$entry.title</p>
    
            #if($model.permalink)
                $entry.displayContent
            #else
                $entry.displayContent($url.entry($entry.anchor))
            #end
        
   <br />
   <br />
   <span style="color:gray; font-size:10px;">
      $text.get("macro.weblog.postedby") $entry.creator.userName
      [$entry.category.name] ( $utils.formatDate($entry.pubTime, "MMMMM dd, yyyy hh:mm aa") )
      <a href="$url.entry($entry.anchor)">Permalink</a>
      #if($entry.commentsStillAllowed || $commentCount > 0)  
          | <a href="$url.comments($entry.anchor)" class="commentsLink">$text.get("macro.weblog.comments")[$entry.commentCount]</a>
      #end
   </span>
        #showTrackbackAutodiscovery($entry)
</div>
#end