<div class="date">
    <a href="$baseURL/page/$userName/#formatDate($plainFormat $day )">
        <img
           class="daypermalink"
           src="#showThemeImagePath("movablemanila" "dateArrow.gif")"
           title="$text.get( "macro.weblog.daypermalink.title" )"
           alt="#formatDate( $plainFormat $day )" /></a>
   #showEntryDate( $day ) 
</div>

#foreach( $entry in $entries )
   <div class="blogbody">
   <p class="title"><a href="$entry.link">$entry.title</a></p>
   #showEntryText( $entry )
   <span style="color:gray; font-size:10px;">
      $dateFormatter.applyPattern("MMMMM dd, yyyy hh:mm aa")
      #set( $fmtDate = $dateFormatter.format( $entry.pubTime ) )
      [$entry.category.name] ( $fmtDate )
      #showEntryPermalink( $entry )
      #if (($entry.commentsStillAllowed && $website.allowComments) || $commentCount > 0) | #end
      #showCommentsPageLink( $entry )
   </span>
</div>
#end
