/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
@import url(simple.css);

body, .commentTwisty, .comments, .commentByline,
.commentFormInput, .commentFormTextarea, .commentFormRow {
    font-family: 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif !important;
}

div#header {
    background: #000 url(../images/capricorn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}

div#content a {
    background-color: transparent;
    color: #CC3300;
}

div.entry {
    background-color: #C74900;
    color: #fff;
    border: 1px solid #000;
}

div.trackbackUrl {
    background-color: transparent;
    color: red;
    font-weight: bold;
}


