a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline overline;
}

a:active {
    text-decoration: none;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 80%;
    margin: 20px 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    text-align: left;
    width: 90%;
}

code, tt, pre {
    font-family: "Courier New", Courier, monospace;
}

div#badges {
    position: absolute;
}

div#badges img {
    border: 1px solid #000000;
}

div#content {
    padding: 10px;
    text-align: center; /* centers content */
}

div#content a {
    background-color: transparent;
    color: #000080;
}

div#content a.entrypermalink {
    background: transparent;
    color: #c0c0c0;
}

div#content ol {
    margin: 0px 30px 10px 50px;
}

div#content pre {
    background: #ffffcc;
    color: #000000;
    padding: 5px;
}

div#entries {
    text-align: left;
}

div#entries a.entrycommentslink {
    background: transparent;
    color: #999999;
}

div#entries p {
    text-align: justify;
}

div#footer {
    background: transparent;
    border-top: 1px dotted #c0c0c0;
    color: #666666;
    font-size: 0.9em;
    padding: 5px 0px 10px 5px;
}

div#footer a {
    background: transparent;
    color: #666666;
}

div#footer a:hover {
    background: transparent;
    border-bottom: 1px dashed #ffa500;
    color: #000000;
    text-decoration: none;
}

div#footer a:active {
    background: transparent;
    color: #0000ff;
    text-decoration: overline underline;
}

div#header {
    background: #000000;
    border: 1px solid #000000;
    margin-bottom: 10px;
    width: 100%;
}

div#header a, div.rWeblogCategoryChooser a {
    background: transparent;
    color: #ffffff !important;
}

div#header h1 {
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    cursor: hand;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

div.comment {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 5px;
}

div.entry {
    background-color: #eeeeee;
    border: 1px solid #c0c0c0;
    color: #000000;
    font-weight: bold;
    margin: 10px 0px;
    padding: 4px;
}

div.rNavigationBar {
    background-color: transparent;
    color: #ffffff;
    float: left;
    font-size: .9em;
    margin-left: 5px;
    margin-top: 135px;
}

div.rWeblogCategoryChooser {
    background: transparent;
    color: #ffffff;
    float: right;
    font-size: .9em;
    margin-right: 5px;
    margin-top: -26px;
}

div.standardsNote {
    display: none;
}

div.trackbackUrl {
    background: transparent;
    color: #0000ff;
}

img, img a {
    border: 0px;
}

img.picture {
    border: 1px solid #000000;
    float: right;
    margin: 0px 10px 10px 10px;
}

img.rssbadge {
    border: 0px;
    height: 14px;
    width: 36px;
}

img.smiley {
    vertical-align: top;
}

p,h1,pre,div.p,div.comments,div.comments-form,div.trackbackUrl {
    margin: 0px 30px 10px 5px;
    text-align: left;
}

p.quote {
    font-style: italic;
    margin: 0px 30px 10px 20px;
}

p.smokey {
    background: #eeeeee;
    border: 1px solid #000000;
    padding: 5px 5px 5px 7px;
}

pre {
    background: #ffffdd;
    border: 1px solid #999999;
    color: #000000;
    padding: 5px 5px 5px 7px;
}

span.searchword {
    background: #ffff00;
    color: inherit;
}

table.comparison {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

table.comparison td {
    border: 1px solid #000000;
    padding: 2px;
}

table.comparison th {
    background: #eeeeee;
    border: 1px solid #000000;
    color: #000000;
    padding: 3px;
}

ul.glassList, div ul {
    list-style: url(../images/aquadot.jpg) disc outside;
}

.dateStamp {
    background: transparent;
    color: #a0a0a0;
    font-size: 8pt;
}

.daypermalink {
    height: 13px;
    width: 14px;
}

.permalink, .daypermalink {
    border: 0px;
    vertical-align: top !important;
}

/* for the java2html plugin  */
div table code {position: relative; top: -10px }

/* for cool looking "sunken" input boxes, from www.theserverside.com */
form#searchForm input {
    padding-left: 4px;
    margin: 1px 1px 1px 1px;
    border: 1px solid black;
    color: #777;
    background-image: url(../images/input_white.gif);
    font-size: 11px; 
    font-weight: normal; 
}

form#searchForm input.focus {
    margin: 0px 0px 0px 0px;
    border-bottom: #ffdead solid 2px;
    border-right: #ffdead solid 2px;
    border-left: #c07300 solid 2px;
    border-top:  #c07300 solid 2px;
    color:#000000;
}
