#** 
3xx-to-400-migration.vm: Velocity template that generates vendor-specific database scripts 

DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
**#

create table rag_properties (
    name     varchar(255) not null primary key,
    value    $db.TEXT_SQL_TYPE
);

create table rag_planet (
    id              varchar(48) not null primary key,
    handle          varchar(32) not null,
    title           varchar(255) not null,
    description     varchar(255)
);
alter table rag_planet add constraint ragp_handle_uq unique ( handle );

-- add new planet_id column to planet group table
#addColumnNull("rag_group" "planet_id" "varchar(48)")

-- upgrade old planet users to work with the new Roller Planet code
-- all groups must have a planet now, so provide a default planet and
-- put all existing groups in the new default planet
insert into rag_planet (id,title,handle) values ('zzz_default_planet_zzz','Default Planet','zzz_default_planet_zzz');
update rag_group set planet_id='zzz_default_planet_zzz';

-- drop old planet config table
drop table if exists rag_config;


-- new column to support account activation by email
#addColumnNull("rolleruser" "activationcode" "varchar(48)")

-- new column to support screen name and populate with user names
#addColumnNotNull("rolleruser" "screenname" "varchar(255)" "'unspecified'")
update rolleruser set screenname = username;

-- new column to allow setting of page template content-type
#addColumnNull("webpage" "outputtype" "varchar(48)")

-- add new action column to webpage table, default value is custom
#addColumnNotNull("webpage" "action" "varchar(16)" "'custom'")
update webpage set action = 'weblog' where name = 'Weblog';

-- add new custom stylesheet column to website table
#addColumnNull("website" "customstylesheet" "varchar(128)")

-- remove old id column of group subscription table
alter table rag_group_subscription drop column id;

-- remove old usercookie table which has been unused since 0.x?
drop table if exists usercookie;

-- remove old assoc tables which were EOLed in 3.2
drop table if exists folderassoc;
drop table if exists weblogcategoryassoc;

-- remove old rollerconfig table which has been deprecated since 1.2
-- NOTE: since this breaks the pre-1.2 -> 4.0+ direct upgrade path then
--       maybe we want to attempt to fix that by doing that upgrade via sql?
drop table if exists rollerconfig;

-- remove old approved, spam, pending columns from comment table
alter table roller_comment drop column approved;
alter table roller_comment drop column spam;
alter table roller_comment drop column pending;

-- remove bastard columns from various tables
-- NOTE: these are only here as options, we don't *have* to do them
--alter table website drop column userid;
--alter table website drop column weblogdayid;
--alter table weblogentry drop column publishentry;
--alter table weblogentry drop column link;
