#** 
3xx-to-400-migration.vm: Velocity template that generates vendor-specific database scripts 

DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
**#


-- id creation needed for JPA/Datamapper backend
create table roller_id_table (
    pk              int not null primary key,
    value           int not null
);
insert into roller_id_table (pk, value) values (1, 0);


-- TODO: figure out where these Planet tables belong for 4.0 release

create table planet_id_table (
    pk              int not null primary key,
    value           int not null
);
insert into planet_id_table (pk, value) values (1, 0);

create table rag_properties (
    name     varchar(255) not null primary key,
    value    $TEXT_SQL_TYPE
);

create table rag_planet (
    id              varchar(48) not null primary key,
    name            varchar(255) not null,
    handle          varchar(32) not null
);
create index ragp_handle_idx on rag_planet(handle); 

alter table rag_group add column planet_id varchar(48);

-- remove old id column of group subscription table
alter table rag_group_subscription drop column id;

-- Existing Roller installations need to be updated to work with the new Planet 
-- data model. For now, we'll have a default planet and update all existing 
-- groups to belong to that planet. Web UI has been updated to follow this model.

insert into rag_planet (id,name,handle) values ('default_planet','default_planet','default_planet');
update rag_group set planet_id='default_planet';


-- remove old usercookie table which has been unused since 0.x?
drop table if exists usercookie;

-- remove old assoc tables which were EOLed in 3.2
drop table if exists folderassoc;
drop table if exists weblogcategoryassoc;

-- remove old rollerconfig table which has been deprecated since 1.2
-- NOTE: since this breaks the pre-1.2 -> 4.0+ direct upgrade path then
--       maybe we want to attempt to fix that by doing that upgrade via sql?
drop table if exists rollerconfig;

-- remove old approved, spam, pending columns from comment table
alter table roller_comment drop column approved;
alter table roller_comment drop column spam;
alter table roller_comment drop column pending;

-- remove bastard columns from various tables
-- NOTE: these are only here as options, we don't *have* to do them
--alter table website drop column userid;
--alter table website drop column weblogdayid;
--alter table weblogentry drop column publishentry;
--alter table weblogentry drop column link;