<div class="storyBox">

	<div class="storyDateBox">
        <h2>
            <a title='Stories for $utils.formatDate($day, "MMMMM dd, yyyy")'
               href='$url.date($utils.formatDate($day, "yyyyMMdd"))'>
            $utils.formatDate($day, "dd")
            </a>
            <span>$utils.formatDate($day, "MMM")</span>
            <span class="blockDisplay">
            <span class="noDisplay">&middot;</span>
            $utils.formatDate($day, "EEE")
            $utils.formatDate($day, "yyyy")
            </span>
        </h2>
    </div>    

#foreach( $entry in $entries )
        <p class="entryTitle">$entry.title</p><br />
	<div class="story">
        <a name="$utils.encode($entry.anchor)" id="$utils.encode($entry.anchor)" 
            style="margin:0px;padding:0px"></a>
         
            #if($model.permalink)
                $entry.displayContent
            #else
                $entry.displayContent($url.entry($entry.anchor))
            #end
        

        <div class="entryInfo">
            $text.get("macro.weblog.postedby") $entry.creator.screenName
            <em class="smallText">@ $utils.formatDate($entry.pubTime, "hh:mm aa z")</em>
            #set($commentCount = $entry.commentCount)
            #if($entry.commentsStillAllowed || $commentCount > 0)
                <span class="noDisplay">[</span>
                    <a href="$url.entry($entry.anchor)" class="storyLink">Comments [$commentCount]</a>
                <span class="noDisplay">]</span> 
            #if ($utils.isUserAuthorizedToAuthor())
                &nbsp;&nbsp;[<a href="$url.editEntry($entry.anchor)">Edit</a>]
            #end
        #end
        </div>
        #showTrackbackAutodiscovery($entry)
	</div>
#end
  <div class="floatSpacer">&nbsp;</div>
  <div class="floatSpacer">&nbsp;</div>
</div>
  <div class="standardSpacer">&nbsp;</div>
  <div class="standardSpacer">&nbsp;</div>
