<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>$model.weblogEntry.title : $model.weblog.name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="$model.weblog.stylesheet">
  <link rel="stylesheet" href="$url.absoluteSite/roller-ui/styles/jquery.mobile-theme/default.min.css" />
  <link rel="stylesheet" href="$url.absoluteSite/roller-ui/styles/jquery.mobile-theme/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css" />
  #showMetaDescription()
  #showAnalyticsTrackingCode($model.weblog)

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script>
    $(document).bind("mobileinit", function(){
      $.mobile.ajaxEnabled = false;
    });
  </script>

  <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<!-- permalink-mobile -->
<body>

  <div data-role="page">

    <div data-role="header" data-theme="a">
      <h1>$model.weblogEntry.title : $model.weblog.name</h1>
      ##<a data-rel="back" data-icon="back" data-theme="a">Go back</a>
      <a href=$url.home data-icon="home" data-theme = "a">Weblog</a>
    </div>

    <div role="main" class="ui-content">

      #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
      #showMobileCategoryLinksList($rootCategory)

      ## show next/previous paging controls
      #set($pager = $model.getWeblogEntriesPager()) 
      <div class="next-previous">
        #showMobileNextPrevEntriesControl($pager)
      </div>

      ## show entry
      #showWeblogEntriesPager($pager)

      ## show comments
      #showMobileWeblogEntryComments($model.weblogEntry)
      
      ## show comment form
      
      <ul data-role="listview" data-divider-theme="b" data-inset="true">
        <li data-role="list-divider">
          Comment
        </li>
        <li data-theme="a">
          #showWeblogEntryCommentForm($model.weblogEntry)
        </li>
      <ul>
    
    </div>

    <div data-role="footer" data-theme="a">
        <h4>Apache Roller Mobile</h4>
    </div>
    
  </div>

</body>
</html>