<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Results for '$model.term' : $model.weblog.name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="$model.weblog.stylesheet">
  <link rel="stylesheet" href="$url.absoluteSite/roller-ui/styles/jquery.mobile-theme/default.min.css" />
  <link rel="stylesheet" href="$url.absoluteSite/roller-ui/styles/jquery.mobile-theme/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css" />

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script>

    $(document).bind("mobileinit", function(){
      $.mobile.ajaxEnabled = false;
    });

  </script>

  <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<!-- searchresults-mobile -->
<body>

  <div data-role="page">
    <div data-role="header" data-theme="a">
      <h1> Search Results</h1>
      ##<a data-rel="back" data-icon="back" data-theme="a">back</a>
      <a href=$url.home data-icon="home" data-theme="a">Home</a>
    </div>

    <div role="main" class="ui-content">

      #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
      #showMobileCategoryLinksList($rootCategory)

      <h3>Search Results for '$model.term'</h3>

      ## show next/previous paging controls
      #set($pager = $model.getWeblogEntriesPager()) 
      <div class="next-previous">
        #showMobileSearchAgainForm($model.weblog)
        #showMobileNextPrevSearchControl($pager)
      </div>

      ## show entries
      #showWeblogEntriesPager($pager)

    </div>

  </div>

  <div data-role="footer" data-theme="a">
    <h4>Apache Roller Mobile</h4>
  </div>

</body>
</html>
