<?xml version="1.0" encoding='utf-8'?>
<opml version="1.1">
<head>
   <title>Subscriptions list for $model.group.title</title>
   <dateCreated>Fri, 15 Dec 2006 15:45:07 -0800</dateCreated>
   <dateModified>Fri, 15 Dec 2006 15:45:07 -0800</dateModified>
   <ownerName>$model.planet.handle</ownerName>
   <ownerEmail>$model.planet.handle</ownerEmail>

</head>
<body>
<outline>
   #foreach($sub in $model.group.subscriptions)
   <outline text="$sub.title" 
          xmlUrl="$sub.feedURL" 
         htmlUrl="$sub.siteURL" />
   #end
</outline>
</body>
</opml>
