
    <div id="pageBanner">
        <h1><a href="$url.home">$model.weblog.name</a></h1>
    </div>
    <div id="gutter">
      <span id="gutterimage1">&nbsp;</span>
      <span id="gutterimage2">&nbsp;</span>
      <span id="gutterimage3">&nbsp;</span>
      <span class="floatSpacer"></span>
    </div>
    #showPageMenu($model.weblog)
