
        <div class="standardSpacer">&nbsp;</div>

        <div class="sidebarBox">
            #showWeblogSearchForm($model.weblog false)
        </div>

        <div class="sidebarBox">
            #showWeblogEntryCalendar($model.weblog "nil")
        </div>

        #if( $utils.isUserAuthenticated() )
        <div class="sidebarBox">
            <div class="links">
                <div class="rFolder">Editor Menu</div>
                   #showAuthorMenu(true)
            </div>
        </div>
        #end

        <div class="sidebarBox">
            <div class="links">
                #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
                #showBookmarkLinksList($rootFolder false false) 
            </div>
        </div>

        <p class="sidebarBox">          
            #showAtomFeedsList($model.weblog)
        </p>

        <p class="sidebarBox">
            Valid
            <a title="Valid XHTML?"
                href="http://validator.w3.org/check?uri=$model.weblog.absoluteURL">XHTML</a>
            or <a title="Valid CSS?"
                href="http://jigsaw.w3.org/css-validator/validator?uri=$model.weblog.absoluteURL">CSS</a>?
        </p>

        <div class="sidebarBox">
            <a title="This is a Roller site."
                href="http://roller.apache.org"><img class="noBorder"
                width="80" height="15" alt="[This is a Roller site]"
                src="$url.resource("images/roller-logo.gif")" /></a>
        </div>
        <div class="sidebarBox">
            Theme by <a href="http://sotto.org">Rowell Sotto</a>.
        </div>
