<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    #showContentLanguage($locale.language)
    <title>#showWebsiteTitle()</title>
    <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
    <link rel="stylesheet" type="text/css" href="#showThemePath("cheb")/theme.css" />
    <style type="text/css">
    #includePage("_css")
    </style>
</head>
<body>
  <div id="content">
    <h1>#showWebsiteTitle()</h1>
    #showWeblogCategoryChooser()

    #showNextPreviousLinks()
    <div id="entries">
        #showWeblogEntries("_day" 10)
    </div>
  </div>

  <div id="menu">
    #showRSSBadge()
    <div id="calendar">
        #showWeblogCalendar()
    </div>
    <div class="item">
        #showSearchForm()
    </div>
    <div class="item">
        #showBlogroll()
    </div>
    <div class="item">
        #showEditorNavBar(true)
    </div>
    <div class="item">
        #showBasicNavBar(false)
    </div>
    <div class="item">
        <a href="http://validator.w3.org/check/referer">
          <img class="w3" src="$ctxPath/images/vcss.png"
            alt="Valid CSS!"/></a>
        <a href="http://validator.w3.org/check/referer"><img
            src="$ctxPath/images/valid-xhtml10.png"
            alt="Valid XHTML 1.0!" class="w3"/></a>
    </div>
    <div class="item">
        #showReferers(20 25)
    </div>

     <div class="item">design by
       <a href="http://www.cheblogs.com/roller/page/bblakeley">Brian Blakeley</a>
     </div>
  </div>
 </body>
</html>
