
         <h1 id="banner">
            $model.weblog.name
            <span class="tagline"><em>$model.weblog.description</em></span>
         </h1>

         <div id="calendar">
            #showWeblogEntryCalendar($model.weblog "nil")
         </div>
	     <hr />

         <h3>Blogroll</h3>
         #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
         #showBookmarkLinksList($rootFolder false false) 

         <h3>Newsfeeds</h3>
         #showAtomFeedsList($model.weblog)
 
         <h3>Controls</h3>
         #showPageMenu($model.weblog)
