/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
/* SUN : Customizable colors and images */

/* ------------------------------------------------------------------------ */
/* add colors and images to roller.css */

#logobackground {
    background: #e77100 !important; 
}
.bannerBox {
    background: url("two-banner.gif") repeat-x top;
    border-bottom: 2px black solid;
    color: #666666;
}
.bannerStatusBox {
    background: #dde6ec;
    color: #666666;
}
#footer {
    border: none; 
    color: #5d7992;
}
h1 {
    color: #e77100;
}
h2 {
    color: #e77100;
}
h3 {
    color: black;
}
p.subtitle {
    color: #000000;
}
.subtitle span {
    color: #52829c;
}
a {
	color: #35556B;
}
a:link {
	color: #35556B;
}
a:visited {
	color: #35556B;
}
a:hover {
	color: #35556B;
}
a:active {
	color: #35556B;
}
table.rollertable th, table.rollertable th {
    background: #52829c;
}
table.rollertable td, table.rollertable tbody td {
    border: 1px solid #52829c;
}
div.centerTitle {
    background: #dee7ef;
}
div.control {
    background: #dee7ef; 
}
div.controlToggle {
    background: url("two-togglegrey.gif") repeat-x top; 
}
div.entriesBox {
   background: #e3e3e3;
}
div.entryTitleBox {
    color: #35556B; 
    background: #dee7ef; 
}
div.entryBox {
   border-bottom: 1px #999999 solid;
}
div.entryBoxPinned {
   border-bottom: 1px grey solid;
}
.entryDetails {
    color: #666666;
}
.entryDescription {
    color: black;
}
.yourWeblogBox {
   border-top: 1px solid #999;
}
input.searchButton {
    color: white;
    background: #e77100;
}
.sidebarBodyHead {
    background: #3d5c71;
    color: white;
}
.searchSidebarBodyHead h3 {
    color: black;
}
.sidebarBodyHead h3 {
    color: white;
}
.sidebarFade, div.sidebarBody {
    background: #ccdae3;
    color: #666666;
}
.searchSidebarHead {
    background: #d1d766;
}
.searchSidebarBody {
    background: #d1d766;
}

/* ------------------------------------------------------------------------ */
/* add colors and iamges to menu.css */

td.menuTabSelected {
    background: url("menutab-sel.gif");
    /* background-color: #52829c; */
}
td.menuTabUnselected {
    background: url("menutab-unsel.gif");
    /* background-color: #bdbdbd; */
}
.menuItemTable {
    background-color: #52829c;
    color: white;
}
td.menuTabSelected a:link, td.menuTabSelected a:visited, td.menuTabSelected a:hover, td.menuTabSelected a:active {
    color: white;
}
td.menuTabUnselected a:link, td.menuTabUnselected a:visited, td.menuTabUnselected a:hover, td.menuTabUnselected a:active {
    color: #52829c;
}
a.menuItemSelected:link, a.menuItemSelected:visited, a.menuItemSelected:hover, a.menuItemSelected:active {
    color: white;
}
a.menuItemUnselected:link, a.menuItemUnselected:visited, a.menuItemUnselected:hover, a.menuItemUnselected:active {
    color: white;
}
a.menuItemSelected:hover {
    color: white;
    text-decoration: none;
}
td.menuTabSelected a:hover {
    color: white;
    text-decoration: none;
}

/* for main menu page */

span.mm_weblog_name {
    color: #707277;
}
td.mm_table_actions {
    background: #fff4d4;
}

/* RTE editor  */

.rteBack tbody tr td, .rteBack tr td, .rteDiv, .rteBack .rteImageLowered, .rteImage:active, .rteImageRaised, .rteImage:hover, .rteImageSm, .rteImage {
	background: #dee7ef;
}
.rteImage {
	border: 1px solid #bcc5cd; 
}
.rteImageSm {
	border: 1px solid #bcc5cd; 
}
.rteDiv {
    border: 1px solid #bcc5cd;
}


.htmlarea .toolbar {
  background: #dee7ef;
}

.htmlarea .toolbar .button {
  background: #dee7ef;
}

.htmlarea .toolbar a.buttonDisabled:hover {
  background: #dee7ef;
}

.htmlarea .statusBar {
  background: #dee7ef;
}
