<div class="github-file" xmlns:th="http://www.thymeleaf.org">
    <div class="github-source">
        <pre class="prettyprint" th:classappend="${showLinenums} ? |linenums:${startLine}| : ''"
             style="margin: 0px;" th:styleappend="${height != null} ? |height: ${height}px;| : ''"
             th:text="${githubSource}">
            xxx
        </pre>
    </div>
    <div class="github-meta">
        <a class="blob-url" th:href="${blobUrl}" th:text="${filePath}">xxx</a>
        <a class="raw-url" th:href="${rawUrl}" style="float: right;">view raw</a>
    </div>
</div>
