<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    #showContentType("text/html; charset=utf-8")
    #showContentLanguage($locale.language)
    #showRSSAutodiscoveryLink()
    #showRSDLink()
    <title>#showWebsiteTitle()</title>

    <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
    <link rel="stylesheet" type="text/css" href="#showThemePath("pacifica")/theme.css" />
    <style type="text/css">
    #includePage("_css")
    </style>
    <script type="text/javascript" src="$ctxPath/theme/scripts/roller.js">
    </script>
</head>
   <body bgcolor="#ffffff">
      <table width="570" border="1" bordercolor="#99ccff"
      cellspacing="6" cellpadding="6" align="center">
         <tbody>
            <tr>
               <td width="130" height="15" bgcolor="#6699ff">
                  <br>

               </td>
               <td width="440" height="0" valign="bottom"
               bordercolor="#99ccff" bgcolor="#99ccff" rowspan="3">
                  <!-- Replace this text with your own blog title --><span
                   class="banner">#showWebsiteTitle()</span>

               </td>
            </tr>
            <tr>
               <td width="130" height="20" bgcolor="#6699ff">
                  <br>

               </td>
            </tr>
            <tr>
               <td width="130" height="25" bgcolor="#6699ff">
                  <br>

               </td>
            </tr>
            <tr>
               <td colspan="2" width="570" height="0" bordercolor=
               "#0033cc" bgcolor="#0033cc">
                  <br>

               </td>
            </tr>
            <tr>
               <td width="130" height="0" align="right" valign=
               "top" bgcolor="#6699ff">

                  #showWeblogCalendar()<br>

                  #showRSSBadge()<br>

                  #showSearchForm()<br>

                  <span class="label"><br>LINKS</span><br>

                  #showBlogroll()<br>
                  #showBasicNavBar(true)<br>

                  #showEditorNavBar(true)<br><br>

                  <span class="label">CONTACT</span><br>

                  <a href="mailto:$encodedEmail">$fullName</a><br>

                  <br>
                  <span class="credit">template by<br>
                  </span> <a href="http://helquin.blogspot.com"
                  title="" inside="">Helquin</a><br>
                  <br>

               </td>
               <td width="440" height="0" align="left" valign="top"
                  bordercolor="99ccff" bgcolor="#99ccff">

                  #showWeblogCategoryChooser()<br>
                  #showNextPreviousLinks()
                  #displayWeblogEntries()
                  <br>

               </td>
            </tr>
         </tbody>
      </table>
      <br>
       <br>
       <br>
       <br>
   </body>
</html>

