<?xml version="1.0" encoding="UTF-8"?>
#set($comments = $entry.comments )
<comments
    entryid="$entry.Id">
#foreach($comment in $comments)
  <comment id="$comment.id">
  <author>$comment.name</author>
  <email>$comment.email</email>
  <url>$comment.url</url>
  <timestamp>$utils.formatDate($comment.postTime, "MMMMM dd, yyyy 'at' hh:mm aa z")</timestamp>
  <body>$utils.escapeHTML( $comment.content )</body>
  </comment>
#end
</comments>
