<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$model.weblog.name : $model.weblogPage.name</title>
    #showAutodiscoveryLinks($model.weblog)
    <style type="text/css">#includeTemplate($model.weblog "_css")</style>
    <style type="text/css">
        @import url($url.themeResource("x2", "styles/comments.css", true));
    </style>
    <script type="text/javascript" 
        src='$url.themeResource("x2", "scripts/global.js", true)'></script>
    <script type="text/javascript" 
        src='$url.themeResource("x2", "scripts/xmlextras.js", true)'></script>
    <script type="text/javascript" 
        src='$url.themeResource("x2", "scripts/comments.js", true)'></script>
    <link rel="stylesheet" type="text/css" href='$url.themeResource("x2", "styles/theme.css")' />
    <link rel="stylesheet" type="text/css" href='$url.themeResource("x2", "styles/general.css")' />
    <link rel="stylesheet" type="text/css" href='$url.themeResource("x2", "styles/comments.css")' />
    <title>$model.weblog.name</title>
</head>
<body>

<!-- showHiddenCommentForm() -->

<script type="text/javascript">
    initComments();
</script>

<div id="content">
    <h1>$model.weblog.name</h1>
    #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
    #showWeblogCategoryLinksList($rootCategory false false)

    <div id="entries">
        #set($pager = $model.getWeblogEntriesPager()) 
        <div class="next-previous">
            #if ($model.results)
                #showWeblogSearchAgainForm($model.weblog)
                #showNextPrevSearchControl($pager)
            #else
                #showNextPrevEntriesControl($pager)
            #end
        </div>
        #showWeblogEntriesPager($pager)
        #if ($model.permalink)
           #showWeblogEntryComments($entry)
           #showWeblogEntryCommentForm($entry)
        #end
    </div>
</div>

<div id="menu">

    <a href="$url.feed.entries.atom">
        <img class="rssbadge"
            src="$url.site/images/feed-icon-12x12.gif" border="0"
            title="To subscribe: right-click, copy link and past into your newsreader" />Subscribe!</a>

    <div id="calendar">
       #showWeblogEntryCalendar($model.weblog "nil")
    </div>
    <div class="item">
        #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
         #showBookmarkLinksList($rootFolder false false)
    </div>
    <div class="item">
        #showAuthorMenu(true)
    </div>
    <div class="item">
          #showPageMenu($model.weblog)
    </div>
    <div class="item">
        #showAtomFeedsList($model.weblog)
    </div>
    <div class="item" style="white-space:nowrap">
    #set($refs = $model.weblog.getTodaysReferrers())
    #showReferrersList($refs 30 20)
    </div>
</div>

</body>
</html>
