<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    #showContentLanguage($locale.language)
    <base href="$absBaseURL" />
    #showRSSAutodiscoveryLink()
    #showThemeScript("x2" "global.js")
    #showThemeScript("x2" "xmlextras.js")
    #showThemeScript("x2" "comments.js")
    <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
    #showThemeStyleImport("x2" "general.css")
    #showThemeStyleImport("x2" "comments.css")
    <title>#showWebsiteTitle()</title>
</head>
<body>

#showHiddenCommentForm()

<script type="text/javascript">
    initComments();
</script>

<div id="content">
    <h1>#showWebsiteTitle()</h1>
    #showWeblogCategoryChooser()

    #showNextPreviousLinks()
    <div id="entries">
    #showWeblogEntries("_day" 15 )
    </div>
</div>

<div id="menu">
    #showRSSBadge()
    <div id="calendar">
        #showWeblogCalendar()
    </div>
    <div class="item">
        #showBookmarks("Blogroll" true false)
    </div>
    <div class="item">
        #showBookmarks("News" true false)
    </div>
    <div class="item">
        #showEditorNavBar(true)
    </div>
    <div class="item">
        #showBasicNavBar(false)
    </div>
    <div class="item">
        <a href="http://validator.w3.org/check/referer">
          <img class="w3" src="$ctxPath/images/vcss.png"
            alt="Valid CSS!"/></a>
        <a href="http://validator.w3.org/check/referer"><img
            src="$ctxPath/images/valid-xhtml10.png"
            alt="Valid XHTML 1.0!" class="w3"/></a>
    </div>
    <div class="item" style="white-space:nowrap">
    #showReferers(30 20)
    </div>
</div>

</body>
</html>
