<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- Pattern options: http://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
        <Console name="Console">
            <PatternLayout pattern="%d [%thread] %level{length=2} %logger{1.1.} - %msg%n"/>
        </Console>
        <File name="TightBlogFileAppender" fileName="${env.CATALINA_HOME}/logs/tightblog.log">
            <PatternLayout>
                <Pattern>%d [%thread] %level{length=2} %logger{1.1.} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="TightBlogFileAppender"/>
        </Root>
        <Logger name="org.apache.roller" level="info"/>
        <Logger name="org.apache.tiles" level="error"/>
        <Logger name="com.opensymphony.xwork2" level="error"/>
        <Logger name="org.springframework" level="warn"/>
        <Logger name="org.hibernate" level="info"/>
        <!-- "warn" to see no ping results, "info" for ping failures only, "debug" for all ping results -->
        <Logger name="org.apache.roller.weblogger.business.jpa.JPAPingTargetManagerImpl" level="debug"/>
        <!-- Velocity talks *way* too much, so set it to log only FATAL problems -->
        <Logger name="org.apache.velocity" level="fatal"/>
    </Loggers>
</Configuration>
