<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2015 Glen Mazza

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- Have JSR-250 annotations (PostConstruct, PreDestroy) honored by Spring -->
    <beans:bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <beans:bean id="webloggerBean" class="org.apache.roller.weblogger.business.Weblogger">
        <beans:constructor-arg ref="indexManager"/>
        <beans:constructor-arg ref="propertiesManager"/>
        <beans:constructor-arg ref="themeManager"/>
        <beans:constructor-arg ref="userManager"/>
        <beans:constructor-arg ref="weblogManager"/>
        <beans:constructor-arg ref="weblogEntryManager"/>
        <beans:constructor-arg ref="planetManager"/>
        <beans:constructor-arg ref="urlStrategy"/>
    </beans:bean>

    <beans:bean id="jpaPersistenceStrategy" class="org.apache.roller.weblogger.business.jpa.JPAPersistenceStrategy">
        <beans:constructor-arg>
            <beans:bean class="org.apache.roller.weblogger.business.DatabaseProvider"/>
        </beans:constructor-arg>
    </beans:bean>

    <beans:bean id="indexManager" class="org.apache.roller.weblogger.business.search.IndexManagerImpl">
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="mediaFileManager" class="org.apache.roller.weblogger.business.jpa.JPAMediaFileManagerImpl">
        <beans:constructor-arg ref="fileContentManager"/>
        <beans:constructor-arg ref="jpaPersistenceStrategy"/>
    </beans:bean>

    <beans:bean id="fileContentManager" class="org.apache.roller.weblogger.business.FileContentManagerImpl"/>

    <beans:bean id="pingTargetManager" class="org.apache.roller.weblogger.business.jpa.JPAPingTargetManagerImpl">
        <beans:constructor-arg ref="jpaPersistenceStrategy"/>
    </beans:bean>

    <beans:bean id="propertiesManager" class="org.apache.roller.weblogger.business.jpa.JPAPropertiesManagerImpl">
        <beans:constructor-arg ref="jpaPersistenceStrategy"/>
    </beans:bean>

    <beans:bean id="themeManager" class="org.apache.roller.weblogger.business.themes.ThemeManagerImpl">
        <beans:constructor-arg ref="weblogManager"/>
    </beans:bean>

    <beans:bean id="userManager" class="org.apache.roller.weblogger.business.jpa.JPAUserManagerImpl">
        <beans:constructor-arg ref="jpaPersistenceStrategy"/>
    </beans:bean>

    <beans:bean id="weblogManager" class="org.apache.roller.weblogger.business.jpa.JPAWeblogManagerImpl">
        <beans:constructor-arg ref="userManager"/>
        <beans:constructor-arg ref="weblogEntryManager"/>
        <beans:constructor-arg ref="mediaFileManager"/>
        <beans:constructor-arg ref="indexManager"/>
        <beans:constructor-arg ref="pingTargetManager"/>
        <beans:constructor-arg ref="jpaPersistenceStrategy"/>
    </beans:bean>

    <beans:bean id="weblogEntryManager" class="org.apache.roller.weblogger.business.jpa.JPAWeblogEntryManagerImpl">
        <beans:constructor-arg ref="pingTargetManager"/>
        <beans:constructor-arg ref="jpaPersistenceStrategy"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="commentPlugins" ref="commentPlugins"/>
        <beans:property name="weblogEntryPlugins" ref="weblogEntryPlugins"/>
    </beans:bean>

    <beans:bean id="feedManager" class="org.apache.roller.weblogger.business.FeedManagerImpl">
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="planetManager" ref="planetManager"/>
        <beans:property name="strategy" ref="jpaPersistenceStrategy"/>
    </beans:bean>

    <beans:bean id="planetManager" class="org.apache.roller.weblogger.business.jpa.JPAPlanetManagerImpl">
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="feedManager" ref="feedManager"/>
        <beans:property name="strategy" ref="jpaPersistenceStrategy"/>
    </beans:bean>

    <beans:bean id="urlStrategy" class="org.apache.roller.weblogger.business.MultiWeblogURLStrategy"/>

    <!-- page models -->
    <beans:bean id="pageModel" class="org.apache.roller.weblogger.ui.rendering.model.PageModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
        <beans:property name="userManager" ref="userManager"/>
    </beans:bean>

    <beans:bean id="configModel" class="org.apache.roller.weblogger.ui.rendering.model.ConfigModel" scope="prototype"/>

    <beans:bean id="utilitiesModel" class="org.apache.roller.weblogger.ui.rendering.model.UtilitiesModel" scope="prototype">
        <beans:property name="userManager" ref="userManager"/>
    </beans:bean>

    <beans:bean id="urlModel" class="org.apache.roller.weblogger.ui.rendering.model.URLModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="messageModel" class="org.apache.roller.weblogger.ui.rendering.model.MessageModel" scope="prototype"/>

    <beans:bean id="calendarModel" class="org.apache.roller.weblogger.ui.rendering.model.CalendarModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="planetModel" class="org.apache.roller.weblogger.ui.rendering.model.PlanetModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="planetManager" ref="planetManager"/>
    </beans:bean>

    <beans:bean id="feedModel" class="org.apache.roller.weblogger.ui.rendering.model.FeedModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="searchFeedModel" class="org.apache.roller.weblogger.ui.rendering.model.SearchResultsFeedModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
        <beans:property name="indexManager" ref="indexManager"/>
    </beans:bean>

    <beans:bean id="searchResultsModel" class="org.apache.roller.weblogger.ui.rendering.model.SearchResultsModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
        <beans:property name="indexManager" ref="indexManager"/>
    </beans:bean>

    <beans:bean id="previewPageModel" parent="pageModel" class="org.apache.roller.weblogger.ui.rendering.model.PreviewPageModel" scope="prototype"/>

    <beans:bean id="previewUrlModel" parent="urlModel" class="org.apache.roller.weblogger.ui.rendering.model.PreviewURLModel" scope="prototype"/>

    <beans:bean id="siteModel" class="org.apache.roller.weblogger.ui.rendering.model.SiteModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
        <beans:property name="userManager" ref="userManager"/>
    </beans:bean>

    <beans:bean id="pageModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="pageModel"/>
                <beans:ref bean="configModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="urlModel"/>
                <beans:ref bean="messageModel"/>
                <beans:ref bean="calendarModel"/>
                <beans:ref bean="planetModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <!-- For weblog page preview rendering -->
    <beans:bean id="previewModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="previewPageModel"/>
                <beans:ref bean="configModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="previewUrlModel"/>
                <beans:ref bean="messageModel"/>
                <beans:ref bean="calendarModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="feedModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="feedModel"/>
                <beans:ref bean="configModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="urlModel"/>
                <beans:ref bean="messageModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="searchFeedModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="searchFeedModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="searchModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="searchResultsModel"/>
                <beans:ref bean="configModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="urlModel"/>
                <beans:ref bean="messageModel"/>
                <beans:ref bean="calendarModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="siteModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="siteModel"/>
                <beans:ref bean="planetModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <!-- Weblog Entry Plugins -->
    <beans:bean id="weblogEntryPlugins" class="org.springframework.beans.factory.config.ListFactoryBean">
        <beans:property name="sourceList">
            <beans:list>
                <beans:bean class="org.apache.roller.weblogger.business.plugins.entry.ObfuscateEmailPlugin"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <!-- Comment Plugins -->
    <beans:bean id="commentPlugins" class="org.springframework.beans.factory.config.ListFactoryBean">
        <beans:property name="sourceList">
            <beans:list>
                <beans:bean class="org.apache.roller.weblogger.business.plugins.comment.LinkMarkupPlugin"/>
                <beans:bean class="org.apache.roller.weblogger.business.plugins.comment.AutoformatPlugin"/>
                <beans:bean class="org.apache.roller.weblogger.business.plugins.comment.HTMLSubsetPlugin"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <!-- Comment Validators -->
    <beans:bean name="commentValidatorList" class="org.springframework.beans.factory.config.ListFactoryBean">
        <!-- qualifier added as DI tends to otherwise merge objects of a given type -->
        <beans:property name="sourceList">
            <beans:list>
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.plugins.comments.BlacklistCommentValidator"/>
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.plugins.comments.ExcessLinksCommentValidator"/>
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.plugins.comments.ExcessSizeCommentValidator"/>
                <!--Akismet requires user-specific configuration -->
                <!--beans:bean class="org.apache.roller.weblogger.ui.rendering.plugins.comments.AkismetCommentValidator">
                    <beans:property name="urlStrategy" ref="urlStrategy"/>
                </beans:bean-->
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="trackbackValidatorList" parent="commentValidatorList" class="org.springframework.beans.factory.config.ListFactoryBean">
        <beans:property name="sourceList">
            <beans:list merge="true">
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.plugins.comments.TrackbackLinkbackCommentValidator">
                    <beans:property name="urlStrategy" ref="urlStrategy"/>
                </beans:bean>
            </beans:list>
        </beans:property>
    </beans:bean>

    <!-- The Comment Authenticator is the first-round test a commentor must do before his comment is accepted
         (answer a math question to confirm not a robot, or be already authenticated within LDAP for example.)
         The comment still needs to go through comment validation as well as (if configured for the blog) comment
         approval.

         Also available:
         org.apache.roller.weblogger.ui.rendering.plugins.comments.LdapCommentAuthenticator - must be logged into
             the LDAP defined for the blog
         org.apache.roller.weblogger.ui.rendering.plugins.comments.DefaultCommentAuthenticator - no test, accept
             everything immediately.  Provides no protection against robots leaving messages.
    -->
    <beans:bean id="commentAuthenticator" class="org.apache.roller.weblogger.ui.rendering.plugins.comments.MathCommentAuthenticator"/>

    <!-- Restricted URLs that may not represent blogs:  Used by the RequestMappingFilter to quickly toss-out non-blog URLs.
         Should be kept as-is.  To add items to this list, override and add to the subsequent customProtectedUrls element
         which merges in this one. -->
    <beans:bean id="tightblogProtectedUrls" class="org.springframework.beans.factory.config.SetFactoryBean">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:value>roller-ui</beans:value>
                <beans:value>roller-services</beans:value>
                <beans:value>images</beans:value>
                <beans:value>theme</beans:value>
                <beans:value>themes</beans:value>
                <beans:value>CommentAuthenticatorServlet</beans:value>
                <beans:value>index.jsp</beans:value>
                <beans:value>favicon.ico</beans:value>
                <beans:value>robots.txt</beans:value>
                <beans:value>page</beans:value>
                <beans:value>flavor</beans:value>
                <beans:value>rss</beans:value>
                <beans:value>atom</beans:value>
                <beans:value>language</beans:value>
                <beans:value>search</beans:value>
                <beans:value>comments</beans:value>
                <beans:value>resource</beans:value>
                <beans:value>planetrss</beans:value>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="customProtectedUrls" parent="tightblogProtectedUrls" class="org.springframework.beans.factory.config.SetFactoryBean">
        <beans:property name="sourceSet">
            <beans:set merge="true"/>
        </beans:property>
    </beans:bean>

    <beans:bean id="RequestMappingFilter" class="org.apache.roller.weblogger.ui.rendering.filters.RequestMappingFilter">
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="restrictedUrls" ref="customProtectedUrls"/>
    </beans:bean>

    <!-- Caches -->
    <beans:bean id="weblogPageCache" class="org.apache.roller.weblogger.ui.rendering.util.cache.WeblogPageCache"/>

    <beans:bean id="weblogFeedCache" class="org.apache.roller.weblogger.ui.rendering.util.cache.WeblogFeedCache"/>

    <beans:bean id="siteWideCache" class="org.apache.roller.weblogger.ui.rendering.util.cache.SiteWideCache"/>

    <beans:bean id="planetCache" class="org.apache.roller.weblogger.ui.rendering.util.cache.PlanetCache"/>

    <beans:bean id="saltCache" class="org.apache.roller.weblogger.ui.rendering.util.cache.SaltCache"/>

    <beans:bean id="LoadSaltFilter" class="org.apache.roller.weblogger.ui.core.filters.LoadSaltFilter">
        <beans:property name="saltCache" ref="saltCache"/>
    </beans:bean>

    <beans:bean id="ValidateSaltFilter" class="org.apache.roller.weblogger.ui.core.filters.ValidateSaltFilter">
        <beans:property name="saltCache" ref="saltCache"/>
    </beans:bean>

</beans:beans>
