<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2016 the original author or authors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:util="http://www.springframework.org/schema/util"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/util
          http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <beans:bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <beans:property name="locations">
           <beans:list>
              <beans:value>classpath:tightblog.properties</beans:value>
              <beans:value>classpath:tightblog-custom.properties</beans:value>
              <beans:value>file:#{systemProperties['tightblog.custom.config']}</beans:value>
           </beans:list>
        </beans:property>
        <beans:property name="ignoreResourceNotFound" value="true"/>
        <beans:property name="ignoreUnresolvablePlaceholders" value="true"/>
    </beans:bean>

    <!-- Any of these values can be overridden and maintained outside of the WAR by placing in a separate
         tightblog-custom.xml file in the servlet container's library folder, e.g. for Tomcat its lib folder
         (same place where tightblog-custom.properties is kept.) -->

    <!-- Have JSR-250 annotations (PostConstruct, PreDestroy) honored by Spring -->
    <beans:bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <beans:bean id="webloggerBean" class="org.apache.roller.weblogger.business.Weblogger">
        <beans:constructor-arg ref="themeManager"/>
        <beans:constructor-arg ref="weblogManager"/>
        <beans:constructor-arg ref="weblogEntryManager"/>
        <beans:constructor-arg ref="urlStrategy"/>
    </beans:bean>

    <beans:bean id="cacheManager" class="org.apache.roller.weblogger.util.cache.CacheManager"/>

    <beans:bean id="menuHelper" class="org.apache.roller.weblogger.ui.core.menu.MenuHelper">
        <beans:property name="menuCache" ref="staticMenuCache"/>
    </beans:bean>

    <beans:bean id="persistenceStrategy" class="org.apache.roller.weblogger.business.jpa.JPAPersistenceStrategy"/>

    <beans:bean id="indexManager" class="org.apache.roller.weblogger.business.search.IndexManagerImpl">
        <beans:constructor-arg ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="mediaFileManager" class="org.apache.roller.weblogger.business.jpa.JPAMediaFileManagerImpl">
        <beans:constructor-arg ref="fileContentManager"/>
        <beans:constructor-arg ref="persistenceStrategy"/>
    </beans:bean>

    <beans:bean id="fileContentManager" class="org.apache.roller.weblogger.business.FileContentManagerImpl"/>

    <beans:bean id="pingTargetManager" class="org.apache.roller.weblogger.business.jpa.JPAPingTargetManagerImpl">
        <beans:constructor-arg ref="persistenceStrategy"/>
        <beans:constructor-arg ref="urlStrategy"/>
    </beans:bean>

    <beans:bean id="themeManager" class="org.apache.roller.weblogger.business.themes.ThemeManagerImpl">
        <beans:constructor-arg name="themeDirOverride" value="${themes.dir:#{null}}"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
    </beans:bean>

    <beans:bean id="userManager" class="org.apache.roller.weblogger.business.jpa.JPAUserManagerImpl">
        <beans:constructor-arg ref="persistenceStrategy"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
    </beans:bean>

    <beans:bean id="weblogManager" class="org.apache.roller.weblogger.business.jpa.JPAWeblogManagerImpl">
        <beans:constructor-arg ref="mediaFileManager"/>
        <beans:constructor-arg ref="persistenceStrategy"/>
        <beans:constructor-arg ref="cacheManager"/>
        <beans:property name="indexManager" ref="indexManager"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
        <beans:property name="userManager" ref="userManager"/>
        <beans:property name="themeManager" ref="themeManager"/>
        <beans:property name="weblogBlacklistCache" ref="weblogBlacklistCache"/>
    </beans:bean>

    <beans:bean id="weblogEntryManager" class="org.apache.roller.weblogger.business.jpa.JPAWeblogEntryManagerImpl">
        <beans:constructor-arg ref="pingTargetManager"/>
        <beans:constructor-arg ref="persistenceStrategy"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
    </beans:bean>

    <beans:bean id="urlStrategy" class="org.apache.roller.weblogger.business.MultiWeblogURLStrategy"/>

    <beans:bean id="jdbc" abstract="true" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="${database.jdbc.driverClass:#{null}}" />
        <beans:property name="url" value="${database.jdbc.connectionURL:#{null}}" />
        <beans:property name="username" value="${database.jdbc.username:#{null}}" />
        <beans:property name="password" value="${database.jdbc.password:#{null}}" />
    </beans:bean>

    <beans:bean id="jndi" abstract="true" class="org.springframework.jndi.JndiObjectFactoryBean">
        <beans:property name="jndiName" value="${database.jndi.name:#{null}}"/>
    </beans:bean>

    <beans:bean id="tbDataSource" parent="${database.configurationType}" />

    <beans:bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <beans:property name="protocol" value="${mail.transport.protocol}"/>
        <beans:property name="host" value="${mail.smtp.host}"/>
        <beans:property name="port" value="${mail.smtp.port}"/>
        <beans:property name="username" value="${mail.smtp.user:#{null}}"/>
        <beans:property name="password" value="${mail.smtp.password:#{null}}"/>
        <beans:property name="javaMailProperties">
            <beans:props>
                <beans:prop key="mail.smtp.auth">${mail.smtp.auth}</beans:prop>
                <beans:prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</beans:prop>
                <beans:prop key="mail.smtp.socketFactory.class">${mail.smtp.socketFactory.class}</beans:prop>
                <beans:prop key="mail.smtp.socketFactory.port">${mail.smtp.socketFactory.port}</beans:prop>
                <beans:prop key="mail.smtp.socketFactory.fallback">${mail.smtp.socketFactory.fallback}</beans:prop>
            </beans:props>
        </beans:property>
    </beans:bean>

    <beans:bean id="mailTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
        <beans:property name="prefix" value="/mailtemplates/" />
        <beans:property name="templateMode" value="HTML5" />
    </beans:bean>

    <beans:bean id="mailTemplateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <beans:property name="templateResolver" ref="mailTemplateResolver" />
    </beans:bean>

    <beans:bean id="mailManager" class="org.apache.roller.weblogger.business.MailManagerImpl">
        <beans:constructor-arg ref="userManager"/>
        <beans:constructor-arg ref="weblogManager"/>
        <beans:constructor-arg ref="weblogEntryManager"/>
        <beans:constructor-arg ref="urlStrategy"/>
        <beans:constructor-arg ref="mailSender"/>
        <beans:constructor-arg ref="mailTemplateEngine"/>
    </beans:bean>

    <!-- Renderer Manager -->
    <beans:bean id="rendererManager" class="org.apache.roller.weblogger.ui.rendering.RendererManager">
        <beans:property name="rendererFactories" ref="rendererFactorySet"/>
    </beans:bean>

    <beans:bean id="rendererFactorySet" class="org.springframework.beans.factory.config.SetFactoryBean">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.velocity.VelocityRendererFactory"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <!-- page models, additional models can be added as shown here: http://stackoverflow.com/a/13160350/1207540 -->
    <beans:bean id="pageModel" class="org.apache.roller.weblogger.ui.rendering.model.PageModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
        <beans:property name="userManager" ref="userManager"/>
        <beans:property name="themeManager" ref="themeManager"/>
    </beans:bean>

    <beans:bean id="previewPageModel" parent="pageModel" class="org.apache.roller.weblogger.ui.rendering.model.PageModel" scope="prototype">
        <beans:property name="urlStrategy" ref="previewUrlStrategy"/>
        <beans:property name="preview" value="true"/>
    </beans:bean>

    <beans:bean id="utilitiesModel" class="org.apache.roller.weblogger.ui.rendering.model.UtilitiesModel" scope="prototype"/>

    <beans:bean id="urlModel" class="org.apache.roller.weblogger.ui.rendering.model.URLModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="previewUrlModel" parent="urlModel" class="org.apache.roller.weblogger.ui.rendering.model.URLModel" scope="prototype">
        <beans:property name="urlStrategy" ref="previewUrlStrategy"/>
    </beans:bean>

    <beans:bean id="feedModel" class="org.apache.roller.weblogger.ui.rendering.model.FeedModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="searchResultsModel" parent="pageModel" class="org.apache.roller.weblogger.ui.rendering.model.SearchResultsModel" scope="prototype">
        <beans:property name="indexManager" ref="indexManager"/>
    </beans:bean>

    <beans:bean id="previewUrlStrategy" class="org.apache.roller.weblogger.business.PreviewURLStrategy"/>

    <beans:bean id="siteModel" class="org.apache.roller.weblogger.ui.rendering.model.SiteModel" scope="prototype">
        <beans:property name="urlStrategy" ref="urlStrategy"/>
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="weblogEntryManager" ref="weblogEntryManager"/>
    </beans:bean>

    <beans:bean id="pageModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="pageModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="urlModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <!-- For weblog page preview rendering -->
    <beans:bean id="previewModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="previewPageModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="previewUrlModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="feedModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="feedModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="urlModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="searchModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="searchResultsModel"/>
                <beans:ref bean="utilitiesModel"/>
                <beans:ref bean="urlModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="siteModelSet" class="org.springframework.beans.factory.config.SetFactoryBean" scope="prototype">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:ref bean="siteModel"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <!-- Comment Validators -->
    <beans:bean id="commentValidatorList" class="org.springframework.beans.factory.config.ListFactoryBean">
        <beans:property name="sourceList">
            <beans:list>
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.comment.BlacklistCommentValidator">
                    <beans:property name="weblogManager" ref="weblogManager"/>
                </beans:bean>
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.comment.ExcessLinksCommentValidator"/>
                <beans:bean class="org.apache.roller.weblogger.ui.rendering.comment.ExcessSizeCommentValidator"/>
                <!--Akismet requires configuration of user key below -->
                <!--beans:bean class="org.apache.roller.weblogger.ui.rendering.comment.AkismetCommentValidator">
                    <beans:constructor-arg ref="urlStrategy"/>
                    <beans:constructor-arg name="apiKey" value="...your key here..."/>
                    <beans:property name="deleteBlatantSpam" value="false"/>
                </beans:bean-->
            </beans:list>
        </beans:property>
    </beans:bean>

    <!-- The Comment Authenticator is the first-round test a commentor must do before his comment is accepted
         (answer a math question to confirm not a robot, or be already authenticated within LDAP for example.)
         After authentication, the comment still needs to go through comment validation (possibly marking it
         as spam) as well as (if configured for the blog) comment approval.

         Comment out below bean to disable this check.
    -->
    <beans:bean id="commentAuthenticator" class="org.apache.roller.weblogger.ui.rendering.comment.MathCommentAuthenticator"/>

    <!-- Restricted URLs that may not represent blogs:  Used by the RequestMappingFilter to quickly toss-out non-blog URLs.
         Should be kept as-is.  To add items to this list, override and add to the subsequent customProtectedUrls element
         which merges in this one. -->
    <beans:bean id="tightblogProtectedUrls" class="org.springframework.beans.factory.config.SetFactoryBean">
        <beans:property name="sourceSet">
            <beans:set>
                <beans:value>tb-ui</beans:value>
                <beans:value>images</beans:value>
                <beans:value>theme</beans:value>
                <beans:value>themes</beans:value>
                <beans:value>index.jsp</beans:value>
                <beans:value>favicon.ico</beans:value>
                <beans:value>robots.txt</beans:value>
                <beans:value>page</beans:value>
                <beans:value>flavor</beans:value>
                <beans:value>rss</beans:value>
                <beans:value>atom</beans:value>
                <beans:value>search</beans:value>
                <beans:value>entrycomment</beans:value>
                <beans:value>comments</beans:value>
                <beans:value>resource</beans:value>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean id="customProtectedUrls" parent="tightblogProtectedUrls" class="org.springframework.beans.factory.config.SetFactoryBean">
        <beans:property name="sourceSet">
            <beans:set merge="true"/>
        </beans:property>
    </beans:bean>

    <beans:bean id="RequestMappingFilter" class="org.apache.roller.weblogger.ui.core.filters.RequestMappingFilter">
        <beans:property name="weblogManager" ref="weblogManager"/>
        <beans:property name="restrictedUrls" ref="customProtectedUrls"/>
    </beans:bean>

    <beans:bean id="PersistenceSessionFilter" class="org.apache.roller.weblogger.ui.core.filters.PersistenceSessionFilter">
        <beans:property name="persistenceStrategy" ref="persistenceStrategy"/>
    </beans:bean>

    <!-- Caches -->
    <beans:bean id="abstractCache" abstract="true">
        <beans:property name="cacheManager" ref="cacheManager"/>
    </beans:bean>

    <beans:bean id="weblogPageCache" parent="abstractCache" class="org.apache.roller.weblogger.util.cache.LazyExpiringCache">
        <beans:property name="cacheHandlerId" value="cache.weblogpage"/>
        <beans:property name="size" value="400"/>
        <beans:property name="timeoutSec" value="3600"/>
    </beans:bean>

    <beans:bean id="weblogBlacklistCache" parent="abstractCache" class="org.apache.roller.weblogger.util.cache.LazyExpiringCache">
        <beans:property name="cacheHandlerId" value="cache.weblogblacklist"/>
        <beans:property name="size" value="200"/>
        <beans:property name="timeoutSec" value="3600"/>
    </beans:bean>

    <beans:bean id="staticMenuCache" parent="abstractCache" class="org.apache.roller.weblogger.util.cache.ExpiringCache">
        <beans:property name="cacheHandlerId" value="cache.staticmenu"/>
        <beans:property name="size" value="50"/>
        <beans:property name="timeoutSec" value="7200"/>
    </beans:bean>

    <beans:bean id="weblogFeedCache" parent="abstractCache" class="org.apache.roller.weblogger.util.cache.LazyExpiringCache">
        <beans:property name="cacheHandlerId" value="cache.weblogfeed"/>
        <beans:property name="size" value="200"/>
        <beans:property name="timeoutSec" value="3600"/>
    </beans:bean>

    <beans:bean id="siteWideCache" parent="abstractCache" class="org.apache.roller.weblogger.util.cache.SiteWideCache">
        <beans:property name="cacheHandlerId" value="cache.sitewide"/>
        <beans:property name="size" value="50"/>
        <beans:property name="timeoutSec" value="1800"/>
        <beans:property name="themeManager" ref="themeManager"/>
    </beans:bean>

    <beans:bean id="filterMultipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <beans:property name="maxUploadSize" value="-1" />
    </beans:bean>

    <!-- JSR 349, resolution of validation messages in JPA entity beans -->
    <beans:bean id="beanValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <beans:property name="validationMessageSource">
            <beans:ref bean="messageSource"/>
        </beans:property>
    </beans:bean>

    <beans:bean name="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <beans:property name="basenames">
            <beans:list>
                <beans:value>ApplicationResources</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

    <!-- Overriding the default Spring JSON converter so Jackson will strip off the nanoseconds portion when it
         serializes java.time.Instant objects.  Makes conversion and date display much easier on the browser side.
         See: http://stackoverflow.com/q/37999762/1207540
    -->
    <beans:bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <beans:property name="objectMapper">
            <beans:bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                <beans:property name="featuresToDisable">
                    <beans:array>
                        <util:constant static-field="com.fasterxml.jackson.databind.SerializationFeature.WRITE_DATE_TIMESTAMPS_AS_NANOSECONDS"/>
                    </beans:array>
                </beans:property>
            </beans:bean>
        </beans:property>
    </beans:bean>

</beans:beans>
