<table width="572">
	#foreach( $entry in $entries )
	<tr>
		<td>			
			<TABLE class="BlogTitle" align="right" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td><img src="#showThemePath('berkley')/images/title_left_t.gif"></td>
					<td width="10%" class="BlogTitle" nowrap>
                        <a name="$utilities.encode($entry.anchor)" id="$utilities.encode($entry.anchor)"></a>
                        ::: $entry.title :::
                    </td>
					<td><img src="#showThemePath('berkley')/images/title_right_t.gif"></td>
					<td width="90%" class="BlogDate" align="right">#showEntryDate( $day )</td>
				</tr>
				<tr>
					<td class="NewBlog" colspan="4">
						#showEntryText($entry)
						<DIV class="BlogTime" align="right">									
							[#showTimestamp($entry.updateTime)|<a href="$entry.getPermaLink()">#</a>]
						</DIV>
					</td>
				</tr>
			</table>				
		</td>
	</tr>	
	#end	
</table>
