A:active {
	COLOR: Silver;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: Navy;
	TEXT-DECORATION: underline;
}
A:link {
	COLOR: Navy;
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none;
	color : #00008B;
}
BODY {
	margin : 42px;
	background-color : #DBEAF3;
	color : Black;
}

td.NewBlog {
	background-color : White;
	text-align : left;
	padding: 4px;
	border : 4px solid Navy;
        width : 572px;
}

div.quote {
	padding: 5px;
	margin:10px;
	font-style : italic;
	background-color: #FFFFF0;
	border : 1px solid Silver;
}

div.BlogTime {
	color : Navy;
	font : smaller Tahoma;
}

td.BlogTitle {
	background-color : Navy;
	font-family : Tahoma;
	font-size : small;
	color : White;
}

td.BlogDate {
	font-family : Tahoma;
	font-size : 12;
}

table.BlogTitle {
	width : 572px;
	border : 0px;
}

.hCalendarTitle {  font-family : Tahoma;text-align : center;  font-weight : bolder ;}
.hCalendarDay {  font-family : Tahoma;text-align : center;  font-size : 9px;  border-width: thin;}
.hCalendarDayCurrent {  font-family : Tahoma;text-align : center;  font-size : 9px;  font-weight : bolder ;  border-width: thin;  border-style: dotted;}
.hCalendarDayNameRow {  font-family : Tahoma;text-align : center;  font-weight : bold ;  font-size : 9px;}
.hCalendarDayLinked {  font-family : Tahoma;font-weight : bolder ;  text-align : center;  font-size : 9px;  border-width: thin;}
.hCalendarDayNotInMonth {  font-family : Tahoma;text-align : center;  font-size : 9px;	color : #aaaaaa;}
.hCalendarNextPrev {  font-family : Tahoma;text-align : center;  font-size : smaller;  margin-top:5px;}
.hCalendarMonthYearRow {
	background-color : Navy;
	color : White;
}

div.hidden {
	visibility: hidden;
}

div.box1 {
	background-color : #DBEAF3;
	border-left :4 solid Navy;
	padding-bottom:5;	
	position: relative;
}

div.controls {
	position: absolute;
	left:622;
	top:44;
}

td.Banner {
	border : 4px solid Navy;
	background-color : White;
	text-align : center;
	vertical-align : middle;
	padding-bottom : 2px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
}

td.ctrl_title {
	background-color : Navy;
	font-family : Tahoma;
	font-size : smaller;
	color : White;
	text-align : right;
	padding: 2px;
	border: 0px;
	font-weight : bold;
}

td.ctrl_content {
	background-color : white;
	border-right : 1px solid Silver;
	border-bottom : 1px solid Silver;
	padding: 4px;
	font-family : Tahoma;
	font-size : 11px;
	color : Black;
	text-align : left;
	line-height : 14px;
}
