<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>$model.weblog.name: Archives</title>
    #includeTemplate($model.weblog "standard_head")

    <style>

    /* style the big calendar */

    table.hCalendarTableBig {
       width: 100%;
    }
    table.hCalendarTableBig td {
       width: 10em;
       height: 10em;
       padding: 0;
       font-size: 80%;
    }
    table.hCalendarTableBig td.hCalendarMonthYearRowBig {
       height: 1em;
       padding: 0.5em;
       font-size: 200%;
       font-weight: bold;
    }
    table.hCalendarTableBig tr.hCalendarNextPrevBig td {
       height: 2em;
       font-size: 100%;
    }
    .hCalendarDayTitleBig {
       background:transparent none repeat scroll 0 0;
       border-bottom:1px solid #050505;
       border-right:1px solid #050505;
       color:#050505;
       font-size:small;
       left:0;
       padding:3px 0;
       position:relative;
       text-align:center;
       top:0;
       width:25%;
    }
    td.hCalendarDayCurrentBig {
       vertical-align:top;
    }

    /* style recent posts */
    ul.rEntriesList {
        list-style-type: none;
        margin-left:1em;
    }
    li.recentposts {
        list-style-type: none;
        margin-left:1em;
        margin-top: 0.5em;
    }
    #sidebar_content li {
        list-style-type: none;
        padding: 0.5em 0 0 1em;
        margin: 0 0 0 0;
    }
    </style>
    <link rel="stylesheet" href='$url.page("custom.css")' />
</head>
<body>

<!-- *************************************************** -->
<!-- HEADER -->
<!-- *************************************************** -->
<div id="header_content">
#includeTemplate($model.weblog "standard_header")
</div>


<!-- *************************************************** -->
<!-- BODY -->
<!-- *************************************************** -->
<div class="yui3-g">


<!-- *************************************************** -->
<!-- BODY - MAIN -->
<!-- *************************************************** -->
<div class="yui3-u-2-3">
<div id="main_content">

      <h3>Browse the $model.weblog.name archives</h3>

      <p>Browse the <b>$model.weblog.name</b> archive in month view,
         search for specific keywords
         or jump to the most recent posts listed in the right sidebar.</p>

      <br />
      #showWeblogEntryCalendarBig($model.weblog "nil")

</div>
</div>

<!-- *************************************************** -->
<!-- BODY - SIDEBAR -->
<!-- *************************************************** -->
<div class="yui3-u-1-3">
<div id="sidebar_content">

    <form id="searchForm" method="get" action="$url.search"
        style="margin: 0; padding: 0" onsubmit="return validateSearch(this)">
          <input type="text" id="q" name="q" size="10"
              maxlength="255" value="#if($model.term)$model.term#end" />
          <input type="submit" class="button" value="Search" />
    </form>
    <script>
        function validateSearch(form) {
            if (form.q.value == "") {
                alert("$text.get("macro.weblog.searchalert")");
                form.q.focus();
                return false;
            }
            return true;
        }
    </script>

    <h3>Welcome</h3>

    <p class="details">
    You're on the Archives page of the weblog <b>$model.weblog.name</b>.</p>

    <p class="details">
    From here you can browse via the calendar, follow the links below or
    <a href="$url.home">visit the main page</a> of the weblog.</p>

            <h3>Most recent posts</h3>
            <p class="details">Below are the thirty most recent posts in the weblog <b>$model.weblog.name</b>.</p>
            #set($recentEntries = $model.weblog.getRecentWeblogEntries("nil", 30))
            <ul>#foreach($recentEntry in $recentEntries)
                <li class="entryLink"><a href="$recentEntry.permalink">$recentEntry.title</a></li>
            #end</ul>

</div> <!-- close sidebar_content -->
</div> <!-- close yui3-u-1-3 -->
</div> <!-- close yui3-g -->

<!-- *************************************************** -->
<!-- FOOTER -->
<!-- *************************************************** -->
<div id="footer_content">
#includeTemplate($model.weblog "standard_footer")
</div>

</body>
</html>

