<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- XFN friendly -->
<head profile="http://gmpg.org/xfn/11">
    <title>$model.weblog.name: Search Results for '$model.term'</title>
    #includeTemplate($model.weblog "standard_head")
    #if ($model.hits > 0)
    <style type="text/css">
    span.searchword { background-color:yellow; }
    </style>
    <script type="application/x-javascript" src="$url.page('searchhi.js')"></script>
    <script type="text/javascript" >
    <![CDATA[
    function loadSearchHighlight() {
        SearchHighlight();
        searchhi_string = '$model.term';
        if( location.hash.length > 1 ) location.hash = location.hash;
    }
    ]]>
    </script>
    #end
    <link rel="stylesheet" type="text/css" href='$url.page("custom.css")' />
</head>
<body onload="loadSearchHighlight()">

<!-- use layout yui-t6: 300px sidebar on right -->
<div id="doc2" class="yui-t6">


<!-- *************************************************** -->
<!-- HEADER -->
<!-- *************************************************** -->
<div id="hd">
<div id="header_content">
#includeTemplate($model.weblog "standard_header")
</div>
</div>


<!-- *************************************************** -->
<!-- BODY -->
<!-- *************************************************** -->
<div id="bd">


<!-- *************************************************** -->
<!-- BODY - MAIN -->
<!-- *************************************************** -->
<div id="yui-main">
<div class="yui-b">

<div id="main_content">

<h2>Search Results for '$model.term'</h2>
        $text.get( "macro.weblog.searchdictionary", [$model.term, $model.term, $model.term] )
        $text.get( "macro.weblog.searchhits", [$model.hits])
        <br />
        <br />
        <p>You can refine your search and/or search within one weblog category</p>
        <form method="get" action="$url.search">
            <input type="text" id="q" name="q" size="10"
                maxlength="255" value="$model.term"
                style="padding-left: 1px" />
            #set( $cats = $model.weblog.getWeblogCategories("nil") )
            <select name="cat">
                <option value="">$text.get( "macro.searchresults.incategory" )</option>
                #foreach( $cat in $cats )
                <option #if($cat.name == $model.weblogCategory.name)selected="selected"#end>$cat.name</option>
                #end
           </select>
           <input type="submit" value="$text.get( "macro.weblog.searchagain" )" />
        </form>
        $text.get( "macro.weblog.searchgoogle", [$model.term, $url.absoluteSite, $url.site, ${website.handle}] )

#if ($model.hits > 0)
   #showNextPrevSearchControl($pager)
   #set($pager = $model.getWeblogEntriesPager())
   #showWeblogEntriesPager($pager)
   <div id="nextprev">
       #showNextPrevEntriesControl($pager)
   </div>
#else
   <br />
   <br />
   <br />
   <h3>Sorry, your search returned no results</h3>
   <br />
   <br />
   <br />
#end

</div>

</div>
</div>

<!-- *************************************************** -->
<!-- BODY - SIDEBAR -->
<!-- *************************************************** -->
<div class="yui-b">

<div id="sidebar_content">


    <h3>Welcome</h3>

    <p class="details">
    You're viewing search results for '<b>$model.term</b>' in the weblog <b>$model.weblog.name</b>.</p>

    <p class="details">
    From here you can search again using the form on the left or
    <a href="$url.home">visit the main page</a> of the weblog.</p>

</div> <!-- close sidebar_content -->
</div>
</div>

<!-- *************************************************** -->
<!-- FOOTER -->
<!-- *************************************************** -->
<div id="ft">
<div id="footer_content">
#includeTemplate($model.weblog "standard_footer")
</div>
</div>

</div>

</body>
</html>

