<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="$url.themeResource('fauxcoly', 'css/cssgrids-min.css')" />
<link rel="stylesheet" href="$url.page('fauxcoly', 'style.css')" />
