body, html {
    background: url($url.resource("images/faux-columns-950.png")) repeat-y scroll 0 0;
    background-position: center;
    margin: auto;
    width: 950px;
    height: 100%;
}

p.details {
    margin: 0.5em 0 0 0;
    font-size: 110%;
    color: gray;
}

#main_content .details {
    margin: 0.2em 0 0 0;
    font-size: 85%;
    color: gray;
}
#main_content .entryInfo {
    margin: 0.2em 0 0 0;
    font-size: 85%;
    color: gray;
    text-align: right;
}

h2,
#main_content h2.entryTitle a:hover,
#main_content h2.entryTitle a:link,
#main_content h2.entryTitle a:active,
#main_content h2.entryTitle a:visited {
    color:#CC0000;
    font-size:130%;
    text-decoration: none;
    margin: 1em 0 0 0;
}

h3,
#main_content h3.entryTitle a:hover,
#main_content h3.entryTitle a:link,
#main_content h3.entryTitle a:active,
#main_content h3.entryTitle a:visited {
    color:#CC0000;
    font-size:120%;
    text-decoration: none;
    margin: 1em 0 0.5em 0;
}

h4 {
    color:#CC0000;
    font-size:130%;
    font-weight:400;
    margin-bottom:4px;
}
pre {
    font-family: monospace;
    font-size: 75%;
    overflow: auto;
    background-color:#efefef;
}
blockquote {
    border-left:5px solid #ddd;
    padding: 5px;
    font-size: 90%;
    color: gray;
}

#nextprev {
    text-align: center;
    font-size: 130%;
    margin: 1em 0 1em 0;
}
span.setup {
    background: #cfc;
    color: #0a0;
    padding: 4px;
    font-size: 15px;
    line-height: 2em;
}


/* ------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------ */

#header_content {
    background-image: url($url.resource("images/background-950x250.png"));
    height: 200px;
    width: 100%;
    position: relative;
}

#header_content,
#header_content a:hover,
#header_content a:link,
#header_content a:active,
#header_content a:visited {
    color: white;
    text-decoration: none;
}

#main_title {
    position: absolute; top: 0.3em; left: 0.3em;
    text-align: left;
    margin-top: 0.5em;
    margin-left: 0.7em;
}
#main_title h1 {
    font-size: 200%;
    margin:0;
    padding:0;
}
#main_title p {
    font-size: 120%;
    margin:0;
    padding:0;
}

#page_menu {
    position: absolute; bottom: 0.3em; left: 0.3em;
    margin-left: 0.7em;
    width: 70%;
    height: 2em;
    color:white;
    text-align: left;
}

ul.rNavigationBar {
    width: 100%;
    height: 2em;
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

li.rNavItem {
    list-style-type: none;
    display: inline;
    padding: 0 0 0 0;
    margin: 0 0.5em 0 0.5em;
}

li.rNavItem>span {
    font-size: 120%;
    font-weight: bold;
}
li.rNavItem>span>a {
    font-size: 100%;
}

/* ------------------------------------------------------------ */
/* CONTENT - MAIN */
/* ------------------------------------------------------------ */

#main_content {
    margin: 1.5em;
}

#flickr_photos img {
   padding-right: 0.5em;
   padding-bottom: 0.3em;
}

.daybox {
   margin-top: 2em;
}

.dayTitle {
   font-size: 70%;
   margin: 2em 0 1em 0;
   border-top: 1px solid #ddd;
}

.entryContent {
    margin: 0.5em 0 0.5em 0;
    font-size: 110%;
}

a.permalink {
    padding: 2px 0px 2px 20px;
    background: url('$url.resource("icons/icon_clock.gif")') left center no-repeat;
    font-weight: normal;
}
a.tagLink {
    padding: 2px 0px 2px 20px;
    background: url('$url.resource("icons/tag_blue.png")') left center no-repeat;
    font-weight: normal;
}
a.commentslink {
    padding: 2px 0px 2px 20px;
    background: url('$url.resource("icons/comment.gif")') left center no-repeat;
    font-weight: normal;
}

ul.presentationLinks li {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: url('$url.resource("icons/page_white_acrobat.png")');
    padding: 0.5em 0 0 0;
    margin: 0 0 0 0;
}

/* ------------------------------------------------------------ */
/* CONTENT - SIDEBAR */
/* ------------------------------------------------------------ */

#sidebar_content {
    margin: 1.5em 1.5em 1.5em 0;
}

#tagcloud {
    text-align: justify;
    margin: 1em;

}
.s1 {font-size:80%;}
.s2 {font-size:100%;}
.s3 {font-size:120%;}
.s4 {font-size:140%;}
.s5 {font-size:160%;}

#sidebar_content li {
    list-style-type: none;
    list-style-position: inside;
    padding: 0.5em 0 0 0;
    margin: 0 0 0 0;
}
#sidebar_content li.entryLink {
    padding: 0.5em 0 0 0;
    list-style-position: outside;
    list-style-image: url('$url.resource("icons/page_white.png")');
}
ul.activities {
    margin-left: 1em;
}
ul.activities li {
    list-style-type: none;
    margin-left: 1em;
}
#subscribe {
   margin: 1em 1em 1em 3em;
}
#subscribe img {
    vertical-align: middle;
}


/* ------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------ */

#legal {
    float:left;
}
#poweredby {
    float:right;
}
#footer_content {
    font-size: 70%;
    color: gray;
    margin: 1em;
    padding: 0;
    line-height: 0.6em;
    text-align: left;
}
