<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    #includeTemplate($model.weblog "standard_head")
    <title>$model.weblog.name: $model.weblog.tagline</title>
    #showAutodiscoveryLinks($model.weblog)
    #showAnalyticsTrackingCode($model.weblog)
    <link rel="stylesheet" href='$url.page("custom.css")' />
    #showMetaDescription()
</head>
<body>

<!-- *************************************************** -->
<!-- HEADER -->
<!-- *************************************************** -->
<div id="header_content">
#includeTemplate($model.weblog "standard_header")
</div>


<!-- *************************************************** -->
<!-- BODY -->
<!-- *************************************************** -->
<div class="yui3-g">


<!-- *************************************************** -->
<!-- BODY - MAIN -->
<!-- *************************************************** -->
<div class="yui3-u-2-3">
<div id="main_content">

<!--
<div id="flickr_photos">
    <script
        src="http://www.flickr.com/badge_code_v2.gne?count=7&amp;display=random&amp;size=s&amp;layout=h&amp;source=user&amp;user=YOUR_FLICKR_USERID"></script>
</div>
<p class="details">Above: a random selection of photos from my <a href="http://www.flickr.com/photos/YOUR_FLICKR_USERNAME">Flickr photo-stream</a>.</p>
-->

#set($pager = $model.getWeblogEntriesPager())
#showWeblogEntriesPager($pager)
#if ($model.permalink)
    #showWeblogEntryComments($entry)
    #showWeblogEntryCommentForm($entry)
#end
<div id="nextprev">
    #showNextPrevEntriesControl($pager)
</div>

</div>
</div>

<!-- *************************************************** -->
<!-- BODY - SIDEBAR -->
<!-- *************************************************** -->
<div class="yui3-u-1-3">
<div id="sidebar_content">

    <form id="searchForm" method="get" action="$url.search"
        style="margin: 0; padding: 0" onsubmit="return validateSearch(this)">
          <input type="text" id="q" name="q" size="10"
              maxlength="255" value="#if($model.term)$model.term#end" />
          <input type="submit" class="button" value="Search" />
    </form>
    <script>
        function validateSearch(form) {
            if (form.q.value == "") {
                alert("$text.get("macro.weblog.searchalert")");
                form.q.focus();
                return false;
            }
            return true;
        }
    </script>

<h3>Welcome</h3>

<p class="details">
#set($blurb = $model.weblog.about)
#if ($blurb)
$model.weblog.about
#else
<span class="setup">Add an about message on your Weblog Settings page and it will appear here</span>
#end
Click the link below to subscribe via your favorite feed reader:</p>

<div id="subscribe">
    <a href="$url.feed.entries.atom">
        <img src='$url.resource("icons/feed-icon-28x28.png")' title="RSS/Atom feed icon" alt="RSS/Atom feed icon" /></a>&nbsp;
    <a href="$url.feed.entries.atom">Subscribe to this blog</a>
</div>

#set($mytags = $model.weblog.getPopularTags(-1, 30))
#if ($mytags && $mytags.size() > 4)
   <h3>Hot tags</h3>
   <p class="details">Below are the most often used tags in the blog. Hover over a tag to see a count of entries, click a tag to see the most recent posts with the tag.</p>
   <div id="tagcloud">
   #foreach ($tag in $mytags)
      <a class="tag s${tag.intensity}" href="$url.tag($tag.name)" title="$tag.count">$tag.name</a>
   #end
   </div>
#end

</div> <!-- close sidebar_content -->
</div> <!-- close yui3-u-1-3 -->
</div> <!-- close yui3-g -->

<!-- *************************************************** -->
<!-- FOOTER -->
<!-- *************************************************** -->
<div id="footer_content">
#includeTemplate($model.weblog "standard_footer")
</div>
</body>
</html>

