/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
/*
 * CSS intended specificly for print media
 * e.g: <link rel=stylesheet type="text/css" media="print" href="templates/default/jspwiki_print.css">
 * This stylesheet mainly hides all the webspecific stuff.
 * Shows content in a print friendly way.
 * Author PhilipVanBogaert
 */

/* Webpage stuff */
.leftmenu,.searchbox,.breadcrumbs,.pageactions {
    display:none;
}

/* Wild guess */
body {
    font-size:10pt;
}

/* Show links as normal text (maybe show urls at the bottom of the page) */

a {
    text-decoration:none;
}

/* Give the content what it deserves. */
.page {
    width:100%;
}
/* More to come. */
