<!DOCTYPE html>
<html>
<head>
    <title>$model.weblog.name</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
</head>
<body>

<div data-role="page">

    <div data-role="header" data-theme="b">
        <h1>$model.weblog.name </h1>
        <a href=$url.home  data-icon="home" data-theme = "a">Home</a>
        <a href=$url.home  data-icon="gear" data-theme = "a">Options</a>
    </div>
    <!-- /header -->

    <form id="searchForm" method="get" action="$url.search">
        <div data-role="fieldcontain">
            <label for="search">Search :</label>
            <input type="search" name="q" id="q" value=""/>
        </div>
    </form>
    <div data-role="content" data-theme="d">
        #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
  #set($pager = $model.getWeblogEntriesPager()) 
  #showWeblogEntriesPager($pager)
    </div>
    <!-- /content -->

    <div data-role="footer" data-theme="b">
        <h4>Apache Roller Mobile @ 2011</h4>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->

</body>
</html>