## $model here is a PageModel
## $entry here is a WeblogEntry
<!-- _day-mobile -->
<ul data-role="listview" data-divider-theme="b" data-inset="true">
  <li data-role="list-divider">$utils.formatDate($day, $utils.msg("macro.weblog.datepattern"))</li>
  ## Loop entries
  #foreach( $entry in $entries )
    <li data-role="list-divider" data-theme="a">
       <div>
         $entry.title
         #set($commentCount = $entry.commentCount)
         #if($model.isUserBlogPublisher($entry.weblog))
           &nbsp;|&nbsp;&nbsp;<a href="$url.editEntry($entry.anchor)" data-role="button" data-inline="true" data-mini="true">$utils.msg("generic.edit")</a>
         #end
         #if($entry.commentsStillAllowed || $commentCount > 0)
           |&nbsp;&nbsp;$utils.msg("macro.weblog.comments") [$commentCount]
         #end
       </div>
    </li>
    <li data-theme="a">
      #if(!$model.permalink)
        <a href="$url.entry($entry)" data-transition="slide">
      #end
        <p class="ui-li-desc content-textbox">
            #if($model.permalink || $utils.isEmpty($entry.summary))
                $model.getTransformedText($entry)
            #else
                $model.getTransformedSummary($entry) $utils.msg("macro.weblog.readMoreLink", [$url.entry($entry)])
            #end
        </p>
        <p class="ui-li-desc content-textbox">
          Posted at $utils.formatDateTime($entry.pubTime, $utils.msg("macro.weblog.timedatepattern"))
          by $entry.creator.screenName in <span class="category">$entry.category.name</span>
        </p>
      #if(!$model.permalink)
        </a>
      #end
    </li>
  #end ## End for #foreach
</ul>
