/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/

/* TAN : Customizable colors and images */

/* ------------------------------------------------------------------------ */
/* add colors and images to roller.css */

#logobackground {
    background: #ad3431 !important; 
}
.bannerBox {
    background: url("two-banner.gif") repeat-x top;
}
.bannerStatusBox {
    background: #ad3431;
    color: white;
}
.bannerStatusBox a {
    color: white;
}
.bannerStatusBox a:link {
    color: white;
}
.bannerStatusBox a:visited {
    color: white;
}
h1 {
    color: #ad3537;
}
h2 {
    color: #ad3537;
}
h3 {
    background: transparent;
    color: #ad3537;
    font-weight: bold;
}
.fakelink {
    color: #ad3537;
}
a:link {
    color: #ad3537;
}
a:visited {
    color: #ad3537;
}
.subtitle span {
    color: #ad3431;
}
table.rollertable th, table.rollertable th {
    background: #c6ab74;
}
table.rollertable td, table.rollertable tbody td {
    border: 1px solid #c6ab74;
}
a.entryTitle, a:active.entryTitle, a:visited.entryTitle {
   color: #ad3537;
}
div.centerTitle {
    background: #c6ab74;
}
div.control {
    background: #c6ab74; 
}
div.controlToggle {
    background: url("two-togglegrey.gif") repeat-x top; 
}
div.entriesBox {
   background: #f1ebdf;
}
div.entryTitleBox {
   color: white; 
   background: #c6ab74; 
}
div.entryBox {
   border-bottom: 1px #c8af7b solid;
}
div.entryTitleBox {
   font-size: medium;
}
div.entryBoxPinned {
   background: #f1ebdf; 
   border-bottom: 1px #c8af7b solid;
}
a.entryTitle, a:active.entryTitle, a:visited.entryTitle {
   color: #ad3537; 
   font-size: medium;
   font-weight: bold;
}
div.yourWeblogBox {
   border-top: 1px #c6ab74 solid;
}
input.searchButton {
    color: white;
    background: #ad3431;
}
.sidebarBodyHead {
    background: #ad3431;
    color: white;
}
.searchSidebarBodyHead h3 {
    color: black;
}
.sidebarBodyHead h3 {
    color: white;
}
.sidebarFade, div.sidebarBody {
    background: #f1ebdf;
    color: #666666;
}
.searchSidebarHead {
    background: #f1ebdf;
}
.searchSidebarBody {
    background: #f1ebdf;
}

/* ------------------------------------------------------------------------ */
/* add colors and iamges to menu.css */

td.menuTabSelected {
    background: url("menutab-sel.gif") repeat-x;
}
td.menuTabUnselected {
    background: url("menutab-unsel.gif") repeat-x;
}
.menuItemTable {
    background-color: #c6ab74;
    color: black;
}
td.menuTabSelected a:link, td.menuTabSelected a:visited, td.menuTabSelected a:hover, td.menuTabSelected a:active {
    color: black;
}
td.menuTabUnselected a:link, td.menuTabUnselected a:visited, td.menuTabUnselected a:hover, td.menuTabUnselected a:active {
    color: black;
}
a.menuItemSelected:link, a.menuItemSelected:visited, a.menuItemSelected:hover, a.menuItemSelected:active {
    color: black;
}
a.menuItemUnselected:link, a.menuItemUnselected:visited, a.menuItemUnselected:hover, a.menuItemUnselected:active {
    color: black;
}

/* for main menu page */

span.mm_weblog_name {
    color: #707277;
}
td.mm_table_actions {
    background: #fff4d4;
}

/* RTE editor  */

.rteBack tbody tr td, .rteBack tr td, .rteDiv, .rteBack .rteImageLowered, .rteImage:active, .rteImageRaised, .rteImage:hover, .rteImageSm, .rteImage {
	background: #f1ebdf;
}
.rteImage {
	border: 1px solid #d0cabc; 
}
.rteImageSm {
	border: 1px solid #d0cabc; 
}
.rteDiv {
    border: 1px solid #d0cabc;
}



.htmlarea .toolbar {
  background: #f1ebdf;
}

.htmlarea .toolbar .button {
  background: #f1ebdf;
}

.htmlarea .toolbar a.buttonDisabled:hover {
  background: #f1ebdf;
}

.htmlarea .statusBar {
  background: #f1ebdf;
}