#includePage("_header")
#tabbedMenu("comments")
#set($maxResults = 7)

<div class="entriesBox">
   <div class="entriesBoxInner">
      <div class="entryBox">

    <h2 class="pageTitle">Most recent comments posted to site</h2>

    #if($pageModel.getRequestParameter("offset"))
        #set($offset = $pageModel.getIntRequestParameter("offset"))
    #else
        #set($offset = 0)
    #end
    
    #set($comments = $sitePageModel.getComments(7, $offset, $maxResults))
    #showCommentsPager($comments $maxResults)

      </div>
   </div>
</div>

<br />

<div id="rightcontent">
<div class="sidebarfade">
    <div class="menu-tr">
        <div class="menu-tl">
            <div class="sidebarBody">

             <h3>Most comments (past 30 days)</h3>
             <hr size="1" noshade="noshade" />

#set($commentedBlogs = $sitePageModel.getMostCommentedWeblogs(30, 0, 20))
<ul>
#foreach($blog in $commentedBlogs)
    <li><a href="$baseURL/page/$blog.subjectNameLong">$blog.subjectNameLong</a> | $blog.count</li>
#end
       
          
             <br />		
            </div>
        </div>
    </div>
</div>

</div>

</div>

</body>

</html>