#includePage("_header")
#set($selected = "planet") 
#includePage("_tabbedMenu") 
#set($maxResults = 7)

<div class="entriesBox">
   <div class="entriesBoxInner">
      <div class="entryBox">

    <h2 class="pageTitle">Most recent posts on and off site</h2>
   
    #set($planetPager = $planetPageModel.getAggregationPager($since, $maxResults))
    #showEntriesPager($planetPager)

      </div>
   </div>
</div>

<br />

<div id="rightcontent">
<div class="sidebarfade">
    <div class="menu-tr">
        <div class="menu-tl">
            <div class="sidebarBody">

             <h3>Ranked blogs</h3>
             <hr size="1" noshade="noshade" />	

    #set($subs = $planetPageModel.getRankedSubscriptions($since, 20))
    <ul>
    #foreach($sub in $subs)
        <li><a href="$sub.siteUrl">$sub.title</a> | $sub.inboundlinks</li>
    #end
    </ul>
          
             <br />		
            </div>
        </div>
    </div>
</div>
</div>

</div>

</body>

</html>