/* jspwiki.css original file, with a few modifications:                */
/* all background-images point to ./images/*                           */
/* added lines 66-69                                                   */
/* removed padding on classes breadcrumbs and copyright, lines 204-205 */
#wikibody{margin:1em 2em;padding:.25em;}
#header,#footer{padding:0 0 0 20%;}
#header .applicationlogo{position:absolute;left:2em;right:auto;width:18%;}
#footer .applicationlogo,#footer .companylogo,#footer .wikiversion,#footer .rssfeed,#header .companylogo{display:none;}
#header .userbox{float:right;}
#header .pagename{float:left;}
#header .searchbox{clear:right;float:right;}
#header .breadcrumbs{clear:both;}
#favorites{float:left;overflow:hidden;margin-top:1.75em;width:18%;padding:.5em;}
#favorites .userbox{border:1px solid #ddd;margin-bottom:.5em;padding:.25em .5em;display:none;}
#favorites .login,#favorites .logoff{clear:left;}
#content{margin:1em 0;}
#page,#wikibody.fav-right #favorites{float:right;}
#wikibody.fav-right #page,#favorites{float:left;}
* html #page,* html #wikibody.fav-right #favorites{margin-left:-3px;}
* html #wikibody.fav-right #page,* html #favorites{margin-right:-3px;}
#wikibody.fav-right #header,#wikibody.fav-right #footer{padding:0 20% 0 0;}
#wikibody.fav-right #header .applicationlogo{left:auto;right:2em;}
#page{width:80%;}
#wikibody.fav-slide #page{width:100%;}
#actionsTop{float:right;z-index:10;}
* html #actionsTop{margin-top:1px;}
#actionsBottom{text-align:right;margin-bottom:.5em;}
* html #header,* html .userbox{height:1%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:none;}
:focus{outline:0;}
body{color:black;background:white;margin:0;font:76%/140% Verdana,Arial,Helvetica,sans-serif;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
h1,h2,h3,h4,p,blockquote,label,ul,ol,dl,hr,.hr,.quote{margin:.5em 0;}
th,td{padding:.25em .5em;}
.hr{display:block;border-bottom:1px solid #ddd;}
hr,.hr,.clearbox{clear:both;}
.titlebox{color:#555;padding:.25em 1em;}
.pagename{font-size:175%;line-height:1.4;font-weight:bold;margin-bottom:.5em;}
h2,h3,h4{clear:left;margin:1em 0 .5em 0;padding:.25em;line-height:1.2;}
h2{font-size:150%;}
h2 .editsection,h2 .hashlink{font-size:67%;}
h3{font-size:132%;}
h3 .editsection,h3 .hashlink{font-size:76%;}
h4{font-size:116%;}
h4 .editsection,h4 .hashlink{font-size:86%;}
a.editsection,a.hashlink{font-weight:normal;line-height:1.2;padding:.25em;text-decoration:none;color:#ccc;}
a.editsection:hover,a.hashlink:hover{background-color:#ddd;color:blue!important;}
h2:hover .editsection,h3:hover .editsection,h4:hover .editsection,h2:hover .hashlink,h3:hover .hashlink,h4:hover .hashlink{color:#999;}
b,i{color:inherit;}
br{clear:both;}
ul ul,ol ol{margin:0;}
ul,ol{padding-left:3em;}
dl dt{font-weight:bold;}
dl dd{margin-left:2em;}
.wikiform tr{vertical-align:middle;}
.formvalue{font-weight:bold;}
.formhelp{font-style:italic;margin:.5em 0;}
legend,label{font-weight:bold;white-space:nowrap;padding-right:.5em;}
fieldset{margin:.5em 0;padding:.5em;border:1px solid #ddd;}
.wikiform input[type='submit'],.wikiform input[type='button'],.wikiform input[type='file'],.wikiform button{cursor:pointer;}
.wikiform input,.wikiform option{padding:0 .25em;}
code,tt,pre{font:110% Monaco,"Courier New",Courier,monospace;overflow:auto;}
pre{clear:both;white-space:pre;margin:1em 2.5%;padding:.5em;background:#f9f9f9;border:1px solid #ddd;_width:100%;_overflow-x:auto;_padding-bottom:1.5em;}
#previewcontent,#info,#pagecontent,#attach,#findcontent,.diffbody{overflow-y:hidden;_width:100%;_overflow-x:auto;_padding-bottom:1.5em!important;}
a{color:blue;}
#pagecontent li{padding-bottom:0.3em;}
a.external{background-image:url(../images/out.png);background-repeat:no-repeat;background-position:right center;padding-right:8px;}
a:hover{background-color:#DBF0FF;}
.leftmenu li:hover{background-color:#DBF0FF;}
.hover{background-color:#eee;}
* html .hover{background-color:#eee;}
*:first-child+html .hover{background-color:#eee;}
a.createpage{color:red;text-decoration:none;border-bottom:1px dashed red;}
a.feed{background-image:url(../images/jspwiki-strip.gif);background-repeat:no-repeat;background-position:0 0;text-indent:16px;margin:0 .5em;width:16px;height:16px;text-decoration:none;overflow:hidden;display:block;float:right;}
img{border:none;}
.applicationlogo a{display:block;height:64px;width:64px;overflow:hidden;margin-left:auto;margin-right:auto;text-indent:-1000px;background:url(../images/jspwiki_logo.png) -64px 0 no-repeat;}
/*.applicationlogo a:hover{background-position:0 0;}*/
a.footnoteref{vertical-align:super;font-size:85%;}
a.footnote{vertical-align:super;color:#04A;}
.small{font-size:85%;}
.sub{font-size:85%;vertical-align:sub;}
.sup{font-size:85%;vertical-align:super;}
.strike{text-decoration:line-through;}
.center{text-align:center;}
.center table{margin-left:auto;margin-right:auto;text-align:left;}
.quote{border-left:4px solid #bbb;padding-left:3em;margin:0 .5em;}
.ltr{direction:ltr;}
.rtl{direction:rtl;}
.invisible{display:none;}
.additinfo{background-color:#e0e0ff;}
.diffnote,.information,.warning,.error{display:block;clear:both;margin:1em .5em;padding:1em 1em 1em 3em;background-position:.8em .9em;background-repeat:no-repeat;}
td .information,td .warning,td .error{margin:0;}
.diffnote,.information{background-image:url(../images/information.gif);background-color:#e0e0ff;}
.warning{background-image:url(../images/exclamation.gif);background-color:#ffff80;}
.error{background-image:url(../images/error.gif);background-color:#ffe0e0;color:#c00000;}
.error * li{margin-left:0;padding-left:0;}
.commentbox{display:block;float:right;clear:right;width:35%;overflow:hidden;border:1px solid #ddd;background:#f9f9f9;padding:0 .5em;margin:0 0 1em .5em;font-size:90%;}
.commentbox li{margin-left:0;padding-left:0;}
.wikitable{margin:.5em .25em;}
.wikitable tr{vertical-align:top;}
.wikitable * th{border:1px solid #ddd;background-color:#eee;vertical-align:top;}
.wikitable * td{border:1px solid #ddd;vertical-align:top;text-align:left;}
.zebra-table tr.odd td{background-color:#eee;}
.wikitable * td.split{border-top:1px solid #d9d9d9;}
#upload{float:left;}
#progressbar{float:left;margin-left:1em;width:30em;border:2px solid #ddd;visibility:hidden;}
#progressbar .ajaxprogress{background:url(../images/progress.gif) repeat-x;height:18px;text-align:center;width:0;}
.attachtype{line-height:1.6;font-size:11px;padding-left:20px;background-repeat:no-repeat;background-position:0 0;background-image:url(../images/attach-strip.png);}
#attach-gif{background-position:0 -112px;}
#attach-png{background-position:0 -112px;}
#attach-bmp{background-position:0 -112px;}
#attach-jpg{background-position:0 -112px;}
#attach-jpeg{background-position:0 -112px;}
#attach-text{background-position:0 -16px;}
#attach-txt{background-position:0 -16px;}
#attach-zip{background-position:0 -128px;}
#attach-jar{background-position:0 -128px;}
#attach-tar{background-position:0 -128px;}
#attach-pdf{background-position:0 -80px;}
#attach-doc{background-position:0 -32px;}
#attach-xls{background-position:0 -48px;}
#attach-ppt{background-position:0 -64px;}
#attach-swf{background-position:0 -96px;}
#attach-mov{background-position:0 -160px;}
#attach-mp3{background-position:0 -144px;}
#attach-wav{background-position:0 -144px;}
#diffcontent{clear:both;}
.diffbody{padding:.5em;}
td.diffadd,td.diffrem,td.diff{font:110% Monaco,"Courier New",Courier,monospace;line-height:1;}
td.diffadd{background:#9f9;}
td.diffrem{background:#f93;}
td.diff{background:#fff;}
.diff-wikitext{font:110% Monaco,"Courier New",Courier,monospace;line-height:1;overflow:auto;}
.diff-insertion{background:#9f9;text-decoration:none;color:black;}
.diff-deletion{background:#f93;text-decoration:line-through;color:black;}
.diff-nextprev{vertical-align:super;text-decoration:none;}
.textarea-resizer{background:#eee url(../images/resize-horizontal.gif) top center;cursor:s-resize;font-size:1px;height:6px;line-height:6px;overflow:hidden;}
#toolbuttons,#toolextra,#searchbar{margin-left:1em;clear:both;}
#tools span{float:left;display:block;padding:.25em 0;margin-right:1em;}
#toolbuttons span{border:1px solid #ddd;}
a.tool{float:left;display:block;background:transparent;margin:2px;text-decoration:none;}
a.tool:hover,.btn:hover{background-color:#ddd!important;}
#tools a.tool{border:none;background-repeat:no-repeat;background-image:url("../images/editor-strip.gif");background-color:transparent;height:16px;width:16px;text-indent:20px;overflow:hidden;}
#tbREDO{background-position:0 0;width:auto!important;}
#tbUNDO{background-position:0 -16px;width:auto!important;}
#tbH1{background-position:0 -192px;}
#tbH2{background-position:0 -208px;}
#tbH3{background-position:0 -224px;}
#tbB{background-position:0 -176px;}
#tbI{background-position:0 -256px;}
#tbLink{background-position:0 -48px;}
#tbMONO{background-position:0 -160px;}
#tbPRE{background-position:0 -64px;}
#tbCODE{background-position:0 -80px;}
#tbHR{background-position:0 -240px;}
#tbBR{background-position:0 -112px;}
#tbDL{background-position:0 -272px;}
#tbSUP{background-position:0 -336px;}
#tbSUB{background-position:0 -320px;}
#tbSTRIKE{background-position:0 -304px;}
#tbUL{background-position:0 -256px;}
#tbOL{background-position:0 -272px;}
#tbLEFT{background-position:0 -288px;}
#tbCENTER{background-position:0 -304px;}
#tbRIGHT{background-position:0 -320px;}
#tbJUST{background-position:0 -336px;}
#tbQUOTE{background-position:0 -272px;}
#tbIMG{background-position:0 -96px;}
#tbTABLE{background-position:0 -144px;}
#tbTOC{background-position:0 -32px;}
#tbTAB{background-position:0 -128px;}
#tbSIGN{background-position:0 -288px;}
#tbDOREPLACE{background-image:url("../images/doreplace.png")!important;}
.editor{font:110% Monaco,"Courier New",Courier,monospace;padding:4px;width:99%;}
#toctoc{position:relative;margin:.5em 0;}
#toctoc label{display:block;margin:0;padding:.5em;}
#toctoc ul{border:3px solid #eee;width:auto;overflow:auto;height:150px;list-style:none;margin:0;padding:0;}
#toctoc a{display:block;padding:0 .5em;cursor:pointer;overflow:hidden;white-space:nowrap;}
* html #editorarea{padding:4px 0;}
*:first-child+html #editorarea{padding:4px 0;}
#submitbuttons input{margin-right:2em;}
#commentcontent,#editcontent{width:100%;}
#searchbar{display:block!important;}
#searchbar span{white-space:nowrap;}
#findSuggestionMenu{position:absolute;color:white;background-color:rgba(0,0,0,0.7);-moz-border-radius:10px;-webkit-border-radius:5px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);z-index:10;font-size:85%;overflow:hidden;}
* html #findSuggestionMenu{background:url(../images/tip.png) top left;}
*:first-child+html #findSuggestionMenu{background:url(../images/tip.png) top left;}
#findSuggestionMenu ul{list-style:none;margin:0;padding:0;}
#findSuggestionMenu li{padding:.25em .5em;cursor:pointer;}
#findSuggestionMenu .hover{background-color:rgba(0,0,0,0.5);-moz-border-radius:10px;-webkit-border-radius:5px;}
* html #findSuggestionMenu .hover{background-color:black;}
*:first-child+html #findSuggestionMenu .hover{background-color:black;}
.userbox{overflow:hidden;padding:.5em 0;}
#favorites .userbox a.action,#favorites .userbox .username{float:left;display:block;margin-right:4px;}
.username{font-style:italic;padding:.25em .5em;}
.wikiversion,.rssfeed{font-size:90%;padding:.25em;text-align:center;}
#details,#scope{margin-left:2em;}
.graphBar{padding:0;color:white;border-color:#f93;border-left-style:solid;border-bottom-style:solid;}
.fragment{margin:.25em;font:90% Monaco,"Courier New",Courier,monospace;}
.fragment_ellipsis{font-weight:bold;}
.nosearchresult{font-style:italic;}
.cursor{background-color:#eee;}
.searchword,.searchmatch{background-color:#f93;color:black;text-decoration:inherit;}
.copyright{padding:0;font-size:90%;text-align:center;color:#555;}
.breadcrumbs{font-size:90%;padding:0;}
#incomingLinks,#outgoingLinks,#externalLinks,#attachmentLinks,#versionhistory{width:30%;overflow:hidden;margin-right:.5em;float:left;}
#versionhistory td{white-space:nowrap;}
.pagination{margin:.25em;padding:.5em;background:#eee;}
.pagination a{cursor:pointer;}
.pagination a,.pagination .cursor{padding:.5em;}
.pagination .cursor,.pagination a:hover{background-color:#d7d7d7;}
td.changenote{font-style:italic;}
th.changenote,td.changenote{width:30%;overflow:hidden;}
#info th select{display:block;}
.pageactions{line-height:1.5;}
.pageactions ul{list-style:none;margin:0;padding:0;}
.pageactions li{display:block;float:left;}
.pageactions li ul{position:absolute;background:white;border:2px solid #ddd;left:0;z-index:10;}
.pageactions li ul li ul{position:static;left:auto;}
.pageactions li ul li{display:block;white-space:nowrap;float:none;}
.pageactions li ul li.separator{border-top:2px solid #ddd;}
.pageactions li ul li ul{position:static;left:auto;border:none;}
#hiddenmorepopup{display:none;border:1px solid #ddd;}
#hiddenmorepopup ul{list-style:none;margin:0;padding:0;}
#morebutton ul a{padding:.25em .5em;text-decoration:none;cursor:pointer;}
.pageactions a.action{display:block;}
#morebutton a:hover,a.action:hover,#sectiontoc a:hover .userbox a.action:hover,a.action.quick2bottom:hover,a.action.quick2top:hover{background-color:#eee!important;}
#searchTools a.action,.userbox a.action,a.action.edit,a.action.more{padding:.25em .5em;text-decoration:none;line-height:normal;border:1px solid #ddd;background:#f9f9f9;white-space:nowrap;}
a.action.edit,a.action.more{margin-left:4px;border-bottom:none;}
a.action.more{padding-right:1.5em;background:#f9f9f9 url(../images/arrdownsmall.gif) 95% center no-repeat;}
a.action.quick2top,a.action.quick2bottom{overflow:hidden;padding:0;text-indent:20px;width:20px;margin:0 0 0 2px;}
a.action.quick2top{float:right;background:url(../images/arrup.gif) no-repeat 3px 3px;}
.popup ul{position:absolute;background:white;border:2px solid #ddd;padding:.25em;margin:0;left:0;z-index:15;list-style:none;}
.popup li a{display:block;line-height:1.5;white-space:nowrap;cursor:pointer;}
.popup a:hover{background-color:#eee!important;}
#pagecontent{padding:.5em 0;}
#sneakpreviewheader{clear:both;font-size:110%;background-color:#ddd;padding:.5em;margin:.5em 0;}
.previewcontent{background-image:url(../images/preview.gif);}
.spin{background:url(../images/spin.gif) no-repeat;width:16px;height:16px;margin:0 .5em;}
#searchForm #query{width:164px;padding:2px 22px 2px 2px;vertical-align:middle;color:#555;}
#searchSubmit{position:absolute;top:5px;right:3px;margin:0;padding:0;width:16px;height:16px;border:none;background:url(../images/search.gif) no-repeat center;overflow:hidden;cursor:pointer;}
#searchboxMenu{position:absolute;background:white;border:2px solid #ddd;padding:.25em;left:0;z-index:15;}
* html #searchboxMenu{white-space:nowrap;}
#searchboxMenu ul{list-style:none;margin:0;padding:0;}
#searchboxMenu li{padding:0 .5em;}
#searchTools a:hover,#searchboxMenu li:hover{background:#eee;}
#searchboxMenu div{margin:.5em 0;}
#searchTools{text-align:left;}
.imageplugin{margin:.5em 0;}
.imageplugin img{border:0;}
.imageplugin caption{font-size:90%;}
.imageplugin *{padding:0;margin:0;}
.index .header{padding:4px;background:#f9f9f9;border:1px solid #ddd;text-align:center;font-size:1.4em;}
.index .body{margin-top:.5ex;}
.index .section{color:red;font-size:1.4em;display:block;border-bottom:2px solid silver;margin-top:1.5ex;}
div.toc{width:60%;float:left;clear:left;}
a.toc{color:grey;padding:.25em;}
a.toc:hover{background:#eee;}
#favorites .toc{width:100%;}
#pagecontent .toc h4{font-size:1.4em;}
.toc ul{padding-left:0;list-style:none;}
.toc li{margin-left:1em;padding-left:0;}
.toc li.toclevel-1{margin-left:.5em;}
.toc li.toclevel-2{margin-left:1.5em;}
.toc li.toclevel-3{margin-left:2.5em;}
.weblog{margin:0 2em;clear:both;}
.weblogentry{margin:.5em 0;}
.weblogentryheading{padding:.25em .5em;font-size:90%;background:#e0e0e0;float:right;}
.weblogentrytitle{padding:.25em .5em;font-size:120%;line-height:1.2;font-weight:bold;background:#e0e0e0;}
.weblogentrybody{margin-left:.5em;clear:both;}
.weblogentryfooter{font-size:90%;padding:.25em .5em;border-bottom:3px solid #e0e0e0;clear:both;}
.weblogarchive li{margin-left:1em;display:block;list-style-type:none;}
.archiveyear{font-weight:bold;text-decoration:none;margin-left:0!important;}
.archiveyear:after{content:" AD";}
.weblogcommentstitle{background:#e0e0e0;margin:1em .5em 0 .5em;padding:.5em;font-weight:bold;font-size:120%;line-height:1.1;}
.weblogcomments{background:#f9f9f9;margin:0 .5em 1em .5em;padding:1em;}
.recentchanges{table-layout:fixed;}
.recentchanges .changenote{font-style:italic;}
.recentchanges td{vertical-align:top;border-bottom:1px solid #f9f9f9;}
.recentchanges .date{vertical-align:bottom;border-top:1.5em solid white;background-color:#f9f9f9!important;border-bottom:none;}
.recentchanges tr.odd td{background-color:transparent;}
div.calendar{border:1px solid black;}
table.calendar td{text-align:center;}
table.calendar td.othermonth{color:#707070;}
table.calendar td.link{background:#f9f9f9;}
table.calendar tr.weekdays{color:red;}
.accesskey{text-decoration:underline;}
.hidetab{display:none;}
.tabs{clear:both;padding:.5em;border:1px solid #ddd;margin-bottom:.5em;}
.tabmenu{padding:0 1em;font-weight:bold;}
.tabs .tabmenu{clear:both;}
* html .tabmenu{border:1px solid white;}
*:first-child+html .tabmenu{border:1px solid white;}
.tabmenu a{float:left;margin:0 0 -1px -1px;padding:.25em .5em;border:1px solid #ddd;color:gray;background:#f9f9f9;text-decoration:none;cursor:pointer;line-height:normal;}
.tabmenu a:hover{background:#eee;}
.tabmenu a.activetab{color:black;background:transparent;border-bottom:1px solid white;cursor:default;}
.accordion,.tabbedAccordion{clear:both;border:1px solid #ddd;margin-bottom:.5em;}
.accordion .toggle{border:2px solid #f9f9f9;background:#f9f9f9;cursor:pointer;font-weight:bold;line-height:1.4;padding:.25em 1em .25em 0;}
.accordion .toggle:hover,.menu .toggle:hover{background:#eee;}
.accordion .tab{padding:0 1em;}
.menu{clear:both;color:gray;font-weight:bold;}
.menu.top{margin-left:.5em;}
.menu.left{float:left;margin-top:.5em;}
.menu.right{float:right;margin-top:.5em;}
.menu .toggle{background:#f9f9f9;border:1px solid #ddd;cursor:pointer;padding:.25em .5em;}
.menu.top .toggle{float:left;margin:0 0 -1px -1px;display:inline;}
.menu.left .toggle{margin:0 -1px -1px 0;}
.menu.right .toggle{margin:0 0 -1px -1px;}
.menu .toggle.active{background:transparent;cursor:default;color:black;}
.menu.top .toggle.active{border-bottom:1px solid white;}
.menu.left .toggle.active{border-right:1px solid white;}
.menu.right .toggle.active{border-left:1px solid white;}
.tabbedAccordion{padding:.5em;}
.leftAccordion,.rightAccordion{margin-bottom:.5em;}
.leftAccordion .tab,.rightAccordion .tab{border:1px solid #ddd!important;margin:0 0 -2px 0;padding:.25em .5em;}
* html .columns{width:100%;}
*:first-child+html .columns{width:100%;}
.columns .col{float:left;padding:0 .25em;}
.tip-anchor{border-bottom:2px solid #545454;cursor:pointer;}
.tip-tip{color:white;width:auto;z-index:100;font-size:90%;background-color:rgba(0,0,0,0.7);-moz-border-radius:10px;-webkit-border-radius:5px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);}
.tip-title{font-weight:bold;padding:8px 8px 4px;}
* html .tip-title{background:url(../images/tip.png) top left;}
*:first-child+html .tip-title{background:url(../images/tip.png) top left;}
.tip-text{padding:4px 8px 8px;}
.tip-text th{background:grey!important;}
* html .tip-text{background:url(../images/tip.png) bottom right;}
*:first-child+html .tip-text{background:url(images/tip.png) bottom right;}
.tip-tip a{color:white!important;}
div.collapse ul,div.collapse ol{margin:0;padding:0;}
* html div.collapse ul,* html div.collapse ol{width:100%;}
div.collapse li{list-style-type:none;}
.collapse .collapsebody,.collapsebox .collapse .collapsebody{padding-left:1.5em;}
*:first-child+html .collapse .collapsebody,*:first-child+html .collapsebox .collapse .collapsebody{float:left;padding-left:.5em;}
* html .collapse .collapsebody,* html .collapsebox .collapse .collapsebody{float:left;padding-left:.5em;}
.collapseBullet,.collapseOpen,.collapseClose{clear:left;float:left;text-align:center;text-decoration:none;color:blue;font:bold small Monaco,"Courier New",Courier,monospace;width:1.2em;height:1em;}
.collapseOpen,.collapseClose{cursor:pointer;}
.collapsebox{clear:right;border:1px solid #ddd;margin:0 0 .5em 0;}
.collapsetitle{margin:0;padding:.25em 0;border:2px solid white;}
.collapsebox .collapsebody{padding:0 .5em;}
.sortable .sortAscending,.sortable .sortDescending,.sortable .sort{background-repeat:no-repeat;background-position:2px 4px;cursor:pointer;padding-left:11px;}
.sortable .sort{background-image:url(../images/sortable.gif);}
.sortable .sortAscending{background-image:url(../images/sorted_down.gif);background-position:2px 6px;}
.sortable .sortDescending{background-image:url(../images/sorted_up.gif);background-position:2px 0;}
a.slimbox{font-weight:bold;font-size:1.3em;padding:0 .2em;}
a.slimbox:visited,a.slimbox:active,a.slimbox:link{text-decoration:none;border:none;}
a.slimbox:hover{background:#eee;}
#lbOverlay{position:absolute;left:0;top:0;width:100%;background-color:#000;cursor:pointer;}
#lbCenter,#lbBottomContainer{position:absolute;left:50%;overflow:hidden;font:90% Verdana,Helvetica,sans-serif;color:#666;line-height:1.5;text-align:left;}
#lbBottomContainer{padding:0 12px;}
#lbCenter{padding:12px 12px 0 12px;}
#lbCenter a{outline:none;}
.lbLoading{background:#fff url(../images/spin.gif) no-repeat center;}
#lbImage{border:10px solid #fff;border-top-width:1.4em;background-color:#fff;background-repeat:no-repeat;background-position:center center;position:relative;}
#lbBottom{border:10px solid #fff;border-top-style:none;background-color:#fff;}
#lbBottom div{white-space:nowrap;overflow:hidden;}
#lbCaption,#lbPrevLink,#lbNextLink{font-weight:bold;}
#lbPrevLink{padding-right:1em;}
#lbNextLink{padding-left:1em;}
#lbCloseLink{display:block;position:absolute;width:28px;height:28px;top:0;right:0;background:url(../images/slimbox_close.png) no-repeat;z-index:10;}
* html #lbCloseLink{background:url(../images/slimbox_close.gif) 4px 12px no-repeat;}
* html #lbCloseLink:hover{background-image:url(../images/slimbox_close_hover.gif);}
#lbBottomContainer *:visited,#lbBottomContainer *:active,#lbBottomContainer *:link,#lbCenter *:visited,#lbCenter *:active,#lbCenter *:link{text-decoration:none;border-bottom:none;}
.categoryLink{border-bottom:2px solid #545454;text-decoration:none;}
.categoryPopup{color:white;z-index:100;font-size:90%;margin-top:2px;position:absolute;z-index:10;background-color:rgba(0,0,0,0.7);-moz-border-radius:10px;-webkit-border-radius:5px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);}
* html .categoryPopup{width:240px;}
*:first-child+html .categoryPopup{width:240px;}
.categoryPopup a:link,.categoryPopup a:active,.categoryPopup a:visited{color:white;text-decoration:none;}
.categoryTitle{padding:4px;font-weight:bold;}
* html .categoryTitle{background:url(../images/tip.png) top left;}
*:first-child+html .categoryTitle{background:url(../images/tip.png) top left;}
.categoryText{padding:4px 0;}
* html .categoryText{background:url(../images/tip.png) bottom right;}
*:first-child+html .categoryText{background:url(../images/tip.png) bottom right;}
.categoryText ul{list-style:none;margin:0!important;padding:0!important;}
.categoryText li{display:block;padding:0 8px;}
.categoryPopup .hover{background-color:rgba(0,0,0,0.5);-moz-border-radius:10px;-webkit-border-radius:5px;}
* html .categoryPopup .hover{background-color:black;}
*:first-child+html .categoryPopup .hover{background-color:black;}
.str{color:#489a1b;}
.kwd{color:#1b609a;}
.com{color:#888;}
.typ{color:#666;}
.lit{color:#066;}
.pun{color:#660;}
.pln{color:#000;}
.tag{color:#008;}
.atn{color:#606;}
.atv{color:#080;}
.dec{color:#606;}
@media print{.str{color:#060;}
.kwd{color:#006;font-weight:bold;}
.com{color:#600;font-style:italic;}
.typ{color:#404;font-weight:bold;}
.lit{color:#044;}
.pun{color:#440;}
.pln{color:#000;}
.tag{color:#006;font-weight:bold;}
.atn{color:#404;}
.atv{color:#060;}
}
div.coverflow{background-color:#000;color:#fff;visibility:hidden;position:relative;overflow:hidden;}
div.coverflow *{margin:0;padding:0;}
div.coverflow .imgcontainer{position:relative;}
div.coverflow img{position:absolute;border:none;}
div.coverflow .slider{position:relative;border:1px solid #bbb;z-index:10001;}
div.coverflow .knob{background:#fff;width:100px;height:15px;}