<div class="entries">
    <h1>#showWebsiteDescription()</h1>

    #showWeblogCategoryChooser()

    #showNextPreviousLinks()

    #displayWeblogEntries()
</div>
<div class="rightbar">
    <h2>Calendar</h2>
    <div class="sidebar">
    #showWeblogCalendar()
    </div>

    <h2>RSS Feeds</h2>
    <div class="sidebar">
    #showRSSBadge()<br>
    #showRSSLinks()
    </div>

    <h2>Search</h2>
    <div class="sidebar">
    #showSearchForm()
    </div>

    <h2>Links</h2>
    <div class="sidebar">
    #showBlogroll()
    </div>

    <h2>Navigation</h2>
    <div class="sidebar">
    #showCssNavBar()
    #showEditorMenu()
    </div>

    <h2>Referers</h2>
    <div class="sidebar">
    #showReferers(30 20)
    </div>
</div>
