<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>$model.weblog.name : $model.weblogPage.name</title>
    #showAutodiscoveryLinks($model.weblog)
    <style type="text/css">#includeTemplate($model.weblog "_css")</style>
</head>
<body>
<div id="Header"><a href="http://bluerobot.com/" title="BlueRobot Home">BLUEROBOT.COM</a></div>

<div id="Content">
    <center>
      <h1>$model.weblog.name</h1>
      <p class="descrip">$model.weblog.description</p>
        #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
        #showWeblogCategoryLinksList($rootCategory false false)<br>
    </center>

    #set($pager = $model.getWeblogEntriesPager()) 
    <div class="next-previous">
        #if ($model.results)
            #showWeblogSearchAgainForm($model.weblog)
            #showNextPrevSearchControl($pager)
        #else
            #showNextPrevEntriesControl($pager)
        #end
    </div>
    #showWeblogEntriesPager($pager)
    #if ($model.permalink)
       #showWeblogEntryComments($entry)
       #showWeblogEntryCommentForm($entry)
    #end

    <hr />
    #set($refs = $model.weblog.getTodaysReferrers())
    #showReferrersList($refs 30 20)
</div>

<div id="Menu">

    <h2>Calendar</h2>
    #showWeblogEntryCalendar($model.weblog "nil")<br>
    #showWeblogSearchForm($model.weblog false)

    <h2>RSS Feeds</h2>
    #showAtomFeedsList($model.weblog)<br>

    <h2>Links</h2>
    #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
    #showBookmarkLinksList($rootFolder false false)

    <h2>Navigation</h2>
    #showPageMenu($model.weblog)<br>
    #showAuthorMenu(true)<br>

<!-- BlueRobot was here. -->

</body>

</html>
