#*
This file is used by Texen to determine what to build
and when
You have access to a $rootDoc variable which is a
net.sourceforge.velocidoc.RootDoc

*#
rootDoc:$rootDoc
$generator.parse("index.vm", "index.html", "rootDoc", $rootDoc)
$generator.parse("overview-frame.vm", "overview-frame.html", "rootDoc", $rootDoc)
$generator.parse("alltemplates.vm", "alltemplates.html", "rootDoc", $rootDoc)
$generator.parse("allmacros.vm", "allmacros.html", "rootDoc", $rootDoc)
$generator.parse("roller-overview.vm", "roller-overview.html", "rootDoc", $rootDoc)
$generator.parse("stylesheet.vm", "stylesheet.css", "rootDoc", $rootDoc)

#foreach ($packageDoc in $rootDoc.allPackages)
    $generator.parse("package-templatelist.vm", "package-${packageDoc.packageName}.html", "packageDoc", $packageDoc)
#end

#foreach ($packageDoc in $rootDoc.allPackages)
    $generator.parse("package-overview.vm", "package-overview-${packageDoc.packageName}.html", "packageDoc", $packageDoc)
#end

#foreach ($templateDoc in $rootDoc.allTemplates)
    $generator.parse("template.vm", "template-${templateDoc.name}.html", "templateDoc", $templateDoc)
#end

#foreach ($macroDoc in $rootDoc.allMacros)
    $generator.parse("macro.vm", "macro-${macroDoc.name}${macroDoc.argumentCount}.html", "macroDoc", $macroDoc)
#end

