#**
 *	This file is responsible for generating all the template
 *  the HTMl that shows all template information
 *	@author	Trever M. Shick
 *	@param templateDoc This is the TemplateDoc from which this template will pull information
 *#

#set ($templateComment = $templateDoc.comment)
<html>
   <head>
      <LINK REL ="stylesheet" TYPE="text/css" HREF="stylesheet.css" TITLE="Style">
   </head>
   <body>

<a href="index.html" target="_top">Overview</a> 
&gt;
${templateDoc.name}
<br />
   
<h2>Template: ${templateDoc.name}</h2> 

   #if( $templateDoc.comment )
      <p><i>${templateDoc.comment.content}</i></p>
   #end

   <table border="1" width="90%">
   <th colspan="2" class="TableHeadingColor">Macros</th>
   #foreach ($macroDoc in $templateDoc.macros)
      <tr>
         <td>
            <a href="macro-${macroDoc.name}${macroDoc.argumentCount}.html">
            <b>${macroDoc.name}</a></b>
         </td>
         <td>
         #set ($comment = $macroDoc.comment)          
         #if ($comment)
            #if ($comment.content.length() > 60)
               #set($line = $comment.content.substring(0,60))
               $line...
            #else
               $comment.content
            #end
         #end
         </td>
      </tr>
   #end
   </table>

</body>
</html>