<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="java:comp/env/hibernate/SessionFactory">
    
        <!-- By default Roller uses a JNDI DataSource and the MySQLDialect 
        <property name="show_sql">false</property>
        <property name="connection.datasource">java:comp/env/jdbc/rollerdb</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        -->
        <!--
        If you want to use HSQLDB, PostgreSQL, DB2 or Derby, Oracle then use the right dialect   
        <property name="dialect">org.hibernate.dialect.HQLDBDialect</property> 
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="dialect">org.hibernate.dialect.DB2Dialect</property>
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
        -->

        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost:3219</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <!--
        Examples for configuring Hibernate to use the JDBC Driver Manager
        
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.url">
                        jdbc:mysql://localhost/roller?user=roller&amp;password=tiger</property>
        <property name="hibernate.connection.username">roller</property>
        <property name="hibernate.connection.password">tiger</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/rollerdb</property>
        <property name="hibernate.connection.username">scott</property>
        <property name="hibernate.connection.password">tiger</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        -->

        <mapping resource="org/roller/business/HitCountData.hbm.xml" />
        <mapping resource="org/roller/pojos/BookmarkData.hbm.xml" />
        <mapping resource="org/roller/pojos/CommentData.hbm.xml" />
        <mapping resource="org/roller/pojos/EntryAttributeData.hbm.xml" />
        <mapping resource="org/roller/pojos/FolderAssoc.hbm.xml" />
        <mapping resource="org/roller/pojos/FolderData.hbm.xml" />
        <mapping resource="org/roller/pojos/WeblogTemplate.hbm.xml" />
        <mapping resource="org/roller/pojos/PingCategoryRestrictionData.hbm.xml" />
        <mapping resource="org/roller/pojos/AutoPingData.hbm.xml" />
        <mapping resource="org/roller/pojos/PingQueueEntryData.hbm.xml" />
        <mapping resource="org/roller/pojos/PingTargetData.hbm.xml" />
        <mapping resource="org/roller/pojos/RefererData.hbm.xml" />
        <mapping resource="org/roller/pojos/RoleData.hbm.xml" />
        <mapping resource="org/roller/pojos/RollerConfigData.hbm.xml" />
        <mapping resource="org/roller/pojos/UserData.hbm.xml" />
        <mapping resource="org/roller/pojos/UserCookieData.hbm.xml" />
        <mapping resource="org/roller/pojos/WeblogCategoryData.hbm.xml" />
        <mapping resource="org/roller/pojos/WeblogCategoryAssoc.hbm.xml" />
        <mapping resource="org/roller/pojos/WeblogEntryData.hbm.xml" />
        <mapping resource="org/roller/pojos/WebsiteData.hbm.xml" />
        <mapping resource="org/roller/pojos/RollerPropertyData.hbm.xml" />
        <mapping resource="org/roller/pojos/PermissionsData.hbm.xml" />
        <mapping resource="org/roller/pojos/PlanetConfigData.hbm.xml" />
        <mapping resource="org/roller/pojos/PlanetGroupData.hbm.xml" />
        <mapping resource="org/roller/pojos/PlanetEntryData.hbm.xml" />
        <mapping resource="org/roller/pojos/PlanetSubscriptionData.hbm.xml" />
        <mapping resource="org/roller/pojos/PlanetGroupSubscriptionAssoc.hbm.xml" />
                
    </session-factory>
</hibernate-configuration>
