
/* SUN : Customizable colors and images */

/* ------------------------------------------------------------------------ */
/* add colors and images to roller.css */

#logoimage {
    background-color: #e77100;
}
.bannerBox {
    background: url("two-banner.gif") repeat-x top;
    border-bottom: 2px black solid;
}
.sidebarfade {
    background: url("two-sidebarfade.gif") repeat-x bottom;
}
.sidebarfade_hotblogs {
    background: #dee7ef;
}
.sidebarfade_search {
    background: url("two-sidebarfade-search.gif") repeat-x bottom;
}
.bannerStatusBox {
    color: #31556b;
    background: #dee7ef;
}
h1 {
    color: #e77100;
}
h2 {
    color: #e77100;
}
h3 {
    color: black;
}
p.subtitle {
    color: #505050;
    font-size: 120%;
}
a:link {
    color: #31556b;
}
a:visited {
    color: #31556b;
}
table.rollertable th, table.rollertable th {
    background: #52829c;
}
table.rollertable td, table.rollertable tbody td {
    border: 1px solid #52829c;
}
a.entryTitle, a:active.entryTitle, a:visited.entryTitle {
   color: black;
}
div.centerTitle {
    background: #dee7ef;
}
div.control {
    background: #dee7ef; 
}
div.controlToggle {
    background: url("two-togglegrey.gif") repeat-x top; 
}
div.entryTitleBox {
   color: white; 
}
div.entryBox {
   border-bottom: 1px grey solid;
   background: #e7e3e7;
   margin: 0px 0px 0px 0px;
}
div.entryTitleBox {
   padding: 4px;
   font-size: medium;
}
div.entryBoxPinned {
   background: #e5e5e5; 
   border: 1px #c0c0c0 solid;
}
a.entryTitle, a:active.entryTitle, a:visited.entryTitle {
   color: #52829c; 
}
div.yourWeblogBox {
   border-top: 1px grey solid;
}
td.actions {
    background: #e9e9e9;
}

/* ------------------------------------------------------------------------ */
/* add colors and iamges to menu.css */

td.menuTabSelected {
    background: url("menutab-sel.gif");
}
td.menuTabUnselected {
    background: url("menutab-unsel.gif");
}
.menuItemTable {
    background-color: #52829c;
    color: white;
}
td.menuTabSelected a:link, td.menuTabSelected a:visited, td.menuTabSelected a:hover, td.menuTabSelected a:active {
    color: white;
}
td.menuTabUnselected a:link, td.menuTabUnselected a:visited, td.menuTabUnselected a:hover, td.menuTabUnselected a:active {
    color: #52829c;
}
a.menuItemSelected:link, a.menuItemSelected:visited, a.menuItemSelected:hover, a.menuItemSelected:active {
    color: white;
}
a.menuItemUnselected:link, a.menuItemUnselected:visited, a.menuItemUnselected:hover, a.menuItemUnselected:active {
    color: white;
}
a.menuItemSelected:hover {
    color: white;
    text-decoration: none;
}
td.menuTabSelected a:hover {
    color: white;
    text-decoration: none;
}

