/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*
* Source file modified from the original ASF source; all changes made
* are also under Apache License.
*/

#banner {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
.bannerStatusBox {
    width: 100%;
}
#menu {
    padding: 10px 10px 0px 10px;
}
#content {
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
/*
    NOTE: these wrap divs are kinda lame, however they are necessary.
    the problem is that when 2 divs are floated side-by-side then the
    calculation of their widths does not include padding or margins.

    so without the wrap divs then putting a margin or padding value in any
    of the XXXcontent divs forces the width calculation to be > 100% and 
    the divs don't fit next to each other anymore :(

    to get around this we put a XXXcontent_wrap around the XXXcontent divs
    to do the float and set the width.  margin, padding, borders, etc
    should be applied directly to the XXXcontent div.
*/
/* used in tiles main templates */
#nosidebar_maincontent_wrap {
    float: left;
    display: inline;
    width: 100%;
}
#nosidebar_rightcontent_wrap {
    float: right;
    display: inline;
    width: 0%;
}
#sidebar_maincontent_wrap {
    float: left;
    display: inline;
    width: 70%;
}
#sidebar_rightcontent_wrap {
    float: right;
    display: inline;
    width: 29%;
}

.sidebarFade {
    border-radius: 10px 10px 0px 0px;
}

#maincontent {
    margin: 10px;
    padding-left: 0.5em;
}
#rightcontent {
    margin: 10px;
}
#footer {
    clear: both;
    padding: 15px 0px 15px 1em;
    font-size: smaller;
    text-align: left;
}

body {
    background: white;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

th, td {
    border: none;
    vertical-align: top;
    padding: 2px;
}

a {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

p.subtitle {
    margin: 5px 0px 15px;
    font-size: 1em;
    font-weight: bold;
    font-size: 120%;
}
p.pagetip {
    margin: 0px 0px 15px 0px;
}
img {
    border: 0px;
    overflow: auto;
}
label {
   line-height: 1.5em;
}

/* ----------------------------------------------------------------------
Page element styles: boxes and borders, etc.
---------------------------------------------------------------------- */

div.bannerStatusBox {
    height: 2em;
}

.bannerStatusBox a {
    font-weight: bold;
}
.bannerLeft {
    padding: 4px 15px 4px 10px;
}
.bannerRight {
    padding: 4px 10px 4px 15px;
    text-align: right;
}
.sidebarInner {
    padding: 0.5em 0.5em 0.5em 1em;
}
input:-moz-read-only {
    background-color: LightGray
}
input:read-only {
  background-color: LightGray
}

/* ----------------------------------------------------------------------
form layout styles
---------------------------------------------------------------------- */

input, select, option {
    font: small Verdana,Arial,Sans-serif;
    color: black;
    font: small/1.5em Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}
textarea {
    margin: 3px 0px 0px 0px;
}
div.buttonBox {
    width: 98%;
    border: 1px solid black;
    background-color: #f3f3f3;
    padding: 3px;
    margin-top: 5em;
    clear: both;
}
.formtable {
    width: 100%;
    border-collapse: collapse;
}
.formtable td.label, .formtable td.field, .formtable td.description {
    vertical-align: top;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e3e3e3;
    padding: 4px 10px 4px 10px;
}
.formtable td.label {
    text-align: right;
    width: 20%;
}
.formtable td.field {
    width: 30%;
}
.formtable td.description {
    width: 50%;
    line-height: 140%;
}
div.sideformrow {
    float: left;
    width: 100%;
}
label.sideformrow {
    float: left;
    text-align: left;
    width: 30%;
    padding-right: 1em;
    padding-top: 1em;
    font-size: smaller;
}

/* ----------------------------------------------------------------------
Table styles
---------------------------------------------------------------------- */

div.tablenav {
    font-size: 110%
}
table.innertable {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0;
}
table.innertable tbody td {
    padding: 0;
}
table.innertable td.viewbody {
	padding: 5px;
}
table.innertable tr .bot {
	margin-bottom: 5px;
}
table.innertable tr .viewbody .bot {
	padding-bottom: 10px;
}
.pendingCommentBox {
    background: khaki;
    border: 1px gray solid;
}
td.pendingcomment {
    background: khaki;
}
.spamCommentBox {
    background: #ffcccc;
    border: 1px gray solid;
}
td.spamcomment {
    background: #ffcccc;
}
.draftEntryBox {
    background: #ffffcc;
    border: 1px gray solid;
}
.pendingEntryBox {
    background: #ffcccc;
    border: 1px gray solid;
}
.scheduledEntryBox {
    background: #EEEEE0;
    border: 1px gray solid;
}

/* ----------------------------------------------------------------------
Error and status message styles
---------------------------------------------------------------------- */
.warning {
    color: #f00;
    font-size: larger;
}

div.errorTitle {
    background-color: #ffcccc;
    border: 1px solid #000000;
    color: #aa0000;
    font-size: 0.9em;
    font-weight: normal;
    margin: 5px 10px 5px 0px;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

/* ----------------------------------------------------------------------
weblog editor styles
---------------------------------------------------------------------- */

div.control {
    width: 100%;
    /*height: 2.5em; Buttons don't line up */
}

div.controlToggle {
    width: 100%;
    height: 25px;
}
div.viewdetails {
    border: 1px dotted #CCCCCC;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 5px 5px 7px;
}
.control input, .control button {
    margin: 0.3em;
}
.control select {
    margin: 0.5em;
}

/* ----------------------------------------------------------------------
Misc styles
---------------------------------------------------------------------- */

span .details {
    font-size: inherit;
}
.padleft {
    padding-left: 8px;
}

/* main menu page */

span.mm_weblog_name {
    font-size: large;
    font-weight: bold;
}
table.mm_table {
    margin-top: 8px;
}
td.mm_table_actions {
    padding-left: 4px;
}
td.mm_subtable_label {
    width: 160px;
    vertical-align: top;
    font-weight: bold;
}

/* media file pages */

div.mediaFileThumbnail {
   float:right;
   width:120px;
   height:120px;
   border:1px solid grey;
   margin: 10px
}

/* weblog entry form page */

span.entryEditSidebarLink {
    font-size: smaller;
}
.entryEditTable td {
    padding: 0px 0px 8px 0px;
}
td.entryEditFormLabel {
    padding-right: 15px;
    padding-left: 2px;
    font-weight: bold;
}

pre {
    padding: 5px 5px 5px 7px;
    background: #f5f5f5;
    color: #000;
    border: 1px dotted #ccc;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
}

.toplabel {
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

div.optioner {
    margin: 0px 30px 30px 30px;
}

/* ---------------------------------------------------------------------- */
/* Media File styles */

.align-images {
    display:inline;
    float:left;
    margin:5px;
    border: 1px solid #ccc;
}

/*** For context menu ***/

#menu h1 {
    line-height:120%;
    margin:15px 0px;
    padding-left: 0.5em;
}

/*** Right control floats aka clearfix ***/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mediaObject {
     width:120px;
     height:110px;
}
.mediaObjectInfo {
    clear:left;
    width:130px;
    margin-left:5px;
    font-size:11px;
}
.mediaFileHighlight {
    border: 1px solid #aaa;
}

/* ======================================================================
CSS layout and styles for tabbed menus
====================================================================== */

/* page title just above menu */

/* rounded corners */

div.menu-tl {
    margin: 0px;
    padding: 0px;
    width: 100%;
    vertical-align: middle;
    display: table;
}
div.menu-tr {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

td div.menu-tr div.menu-tl a {
   display: table-cell;
   vertical-align: middle;
   padding: 3px 5px 0px 5px;
}

td .menu-tl, td .menu-tr {
	height: 100%;
}

/* ----------------------------------------------------------------------
Menu tab table (the tabs)
---------------------------------------------------------------------- */

.menuTabTable {
    height: 25px;
    _height: 21px; /* for IE */
    margin: 0px;
    padding: 0px;
}
td.menuTabSeparator {
    width: 4px;
}

td.menuTab {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    border-radius: 15px 15px 0px 0px;
}

td.menuTabSelected {
    font-weight: bold;
}

td.buttontd {
    text-align: center
}

/* ----------------------------------------------------------------------
Menu item table (the bar below the tabs)
---------------------------------------------------------------------- */

.menuItemTable {
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100%;
    padding-top: 0px;
    height: 25px;
}
.menuItemSelected {
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: bold;
}
.menuItemUnselected {
    padding: 0px 1px 0px 1px; /* TRBL */
}

.menuItemTable td {
    vertical-align: middle;
}
