/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
/* ======================================================================
layout.css: Base CSS layout for Roller's web UI (position and sizing only)
====================================================================== */

#banner {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
.bannerBox {
    width: 100%;
}
.bannerStatusBox {
    width: 100%;
}
.sidebarBodyHead {
    height: 25px;
}
.searchSidebarHead {
   height: 5px;
}
.searchSidebarBody {
   margin: 0px 0px 0px 0px;
}
.searchSidebarBody input {
   margin: 5px;
}
#menu {
    padding: 0px 10px 0px 10px;
}
#content {
}
/*  
    NOTE: these wrap divs are kinda lame, however they are necessary.
    the problem is that when 2 divs are floated side-by-side then the
    calculation of their widths does not include padding or margins.

    so without the wrap divs then putting a margin or padding value in any
    of the XXXcontent divs forces the width calculation to be > 100% and 
    the divs don't fit next to each other anymore :(

    to get around this we put a XXXcontent_wrap around the XXXcontent divs
    to do the float and set the width.  margin, padding, borders, etc
    should be applied directly to the XXXcontent div.
*/
#centercontent_wrap {
    float: left;
    display: inline;
}
#centercontent {
    margin: 10px;
    padding-left: 0.5em;
}
#rightcontent_wrap {
    float: right;
    display: inline;
}
#rightcontent {
    margin: 10px;
}
#footer {
    clear: both;
    padding: 15px 0px 15px 1em;
    font-size: smaller;
    text-align: left;
}
.prop {
    height: 300px;
    float: right;
    width: 1px;
}
.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
}

