/*-------------------------------------------------------------
Base styles
--------------------------------------------------------------*/

body {
    background: white;
    font-family:"Lucida Grande", lucida, Geneva, Arial, sans-serif;
}
.img {
    border: 0px;
    margin: 0px; 
}

/* entries ----------------------------------------------- */

.entryTitle {
    font-weight: bold;
    font-size: 130%;
}
.entryInfo {
    font-size: 80%;
    color: #ccc;
}
div.dayTitle {
    font-size:12px;
    font-weight:bold;
    text-align:left;
    line-height:120%;
    padding:3px 5px 4px 5px;
    margin-top:10px;
    margin-bottom:22px;
    color:#FFF;
    background:#5A5A5A;
    border:1px solid #A3A3A3;
}
div.dayBox {
    margin-bottom: 10px;
}
div.next-previous {
    font-size: 80%;
    text-align: center;
    padding: .5em 0 .5em 0;

}

/* category chooser ----------------------------------------------- */

.category-chooser {
    margin: -50%;
    width:100%;
}
.rCategory li {
    font-size: 80%;
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
li.selected {
    font-weight: bold;
}

/* other lists ----------------------------------------------- */

ul.rNavigationBar, ul.rMenu, ul.rFolder, ul.rFeeds, ul.rReferersList, ul.rEntriesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 80%;
}
ul.rFeeds li {
    background-image: url($url.absoluteSite/images/feed-icon-12x12.gif);
    background-repeat: no-repeat;
    background-position: 0 .2em; 
    padding-left: 1.4em;
    line-height: 1.5em;
}

/* calendar ----------------------------------------------- */

.hCalendarDay{
    text-align : center;
    font-size: small;
}
th.hCalendarDayNameRow {
    text-align : center;
    font-size : small;
    font-weight : bold;
}
td.hCalendarDayCurrent {
    text-align : center;
    font-size  : small;
    font-weight: bold;
}
td.hCalendarDayLinked {
    text-align : center;
    font-size  : small;
    font-weight: bold;
}

/* comments ----------------------------------------------- */

div.comments-form span.status {
    display: block;
    background: white;
    color: green;
    border: 1px solid green;
    margin: 10px 0px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

span.error {
    display: block;
    background: white;
    color: #c00;
    border: 1px solid #c00;
    margin: 10px 0px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

p.comment-details {
    font-size: 80%;
    color: #999;
}
.comments-syntax-indicator {
    font-weight: bold;
}
.comments-syntax-indicator span.enabled {
    background: transparent;
    color: green;
    font-style: italic;
}
.comments-syntax-indicator span.disabled {
    background: transparent;
    color: red;
    font-style: italic;
}

form ul{ position: relative; list-style: none; width: 100%; }
form li{ line-height: 2em; margin: 0; padding: 1px 1px 6px 9px; }
form li.focused{ background-color: #fff7c0 !important; }
form li p{ font-size: 9px; line-height: 13px; }
form li{ display: inline-block; }
form[id] li{ display: block; }
form li div{ display: inline-block; }
form[id] li div{ display: inline; }
form .left{ float: left !important; margin: 0; }
form .right{ float: right !important; margin: 0; }
form .clear{ clear: both; } 
form li div p{ margin: 0 0 5px 0; }
form div.left{ margin-right: 2px !important; }
form div.left[class]{ margin-right: 4px !important; }
form div.left img{ margin: 0 0 -2px 0; }
form h2{ font-size: 1.8em; clear: left; } 
form .info{ display: inline-block; margin: 0 0 10px 0; padding: 0 0 4px 0; border-bottom: 1px dotted #ccc !important;}
form .info[class]{ display: block; }
form .info p{ font-size: 1em; line-height: 1.3em; margin: 0 0 8px 0; }
textarea.textarea{margin-bottom: 1px;}
textarea.textarea[class]{font-family: "Lucida Grande", Tahoma, "Trebuchet MS", Verdana, sans-serif;}
select.select{ padding: 1px 0 0 0; margin: 1px 0 3px 0; }
select.select[class]{ margin: 0; padding: 1px 0 1px 0; }
form .small{ width: 70px; }
form .medium{ width: 170px; }
form .large, form textarea.textarea{ width: 340px; }
form .tags{ width: 320px; }
form textarea.small{ height: 5.5em; }
form textarea.medium{ height: 10em; }
form textarea.large{ height: 20em; }
.choices input{ width: 200px; margin-right: 3px; }
.choices ol{ margin: 10px 0 0 0; }
.choices[class] ol{ margin: 0 !important; }
.choices img{ margin: 0 0 1px 0; }
fieldset ol li{ display: list-item !important; margin: 0 5px 2px 3px !important; padding: 0 !important; list-style: inside decimal; }
input.button, button { width: 6em; padding: 2px 2px 0 0; /* fix for IE */ }
/* revert to normal for Firefox */
li>input.button, li>button, input.button>input.button, button>button { padding: 2px; }
label.desc{
    margin: 4px 0 3px 0;
    border: 0;
    font-size: 1em;
    line-height: 1.3em;
    display: block;
    font-weight: bold;
}
input.text, input.number, input.url, input.email, input.password, input.file, 
textarea.textarea, select.select{
    font-size: 1.2em;
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
}
input.text, input.number, input.url, input.email, input.password, input.file{ padding: 2px; }
input.currency{ text-align: right; }
input.checkbox, input.radio{
    display: block;
    line-height: 1.4em;
    margin: 8px 0 0 3px;
    width: 13px;
    height: 13px;
}
input.focus, textarea.focus { background: #ffd; color: #000; }
label.choice{
    display: block;
    line-height: 1.4em;
    margin: -19px 0 0 25px;
    padding: 4px 0 5px 0;
    width: 80%;
}
div.comments-form form ul {
   width:40em;
}



/*-------------------------------------------------------------
Brushedmetal theme styles
--------------------------------------------------------------*/
	
/* Layout ----------------------------------------------*/
		#container {
			width: 760px;
			width: 780px;
			width: 760px;
			margin: 10px;
			margin-right: auto;
			padding: 10px;
			}
		#sidebar-a {
			float: left;
			width: 240px;
			width: 250px;
			width: 240px;
			margin: 0;
			margin-right: 5px;
			background: url($url.resource("images/metalLine.gif")) top right repeat-y;
			padding: 0px 25px 0px 0px;
			}
		#content {
			padding: 5px 25px 5px 15px;
			margin-left: 275px;
			}
	/* General--------------------------------------------- */
		body {
			margin:0px 0px 30px 0px;
			font-size:12px;
			font-family:Geneva, Arial, Helvetica, san-serif;
			line-height:140%;
			color:#FFF;
			background:#848484 url($url.resource("images/metalBGBG.jpg")) top left repeat-x;
			}
		#block {
			background: url($url.resource("images/metalBG.jpg")) top left no-repeat;
			}
		A {
			text-decoration: underline;
			font-weight:bold;
			} 
		A:link {
			color: #FFF;
			font-weight:bold;
			} 
		A:visited {
			color: #FFF; 
			} 
		A:active {
			color: #920011;
			} 
		A:hover {
			color: #FDE006;
			font-weight:bold;
			}
	/*Banner--------------------------------------------- */
		#banner {
			margin-bottom: 155px;
			text-align:center;
			line-height:120%;
			}
		#banner a {
			text-align:center;
			text-decoration:none;
			}
		.tagline {
			color:#FFF;
			font-size:11px;
			text-shadow: 2px 2px 5px Black;
			line-height:120%;
			}      
	/* NewsItems--------------------------------------------- */
		.newsItemTitle {
			font-size:16px;
			font-weight:bold;
			padding:5px 0px 5px 0px;    
			margin:0px;
			} 
		.newsItemDesc {
			padding: 5px 0px 15px 0px;
			border-bottom:1px solid #ddd;
			margin-bottom:25px;
			}
		.newsItemFooter {
			text-align:right;
			font-size:10px;
			}
	/* Navigation--------------------------------------------- */
		.navLink {
			padding: 3px 8px 3px 8px;
			margin-bottom:8px;
			border:1px solid #A3A3A3;
			text-align:center;
			}
	/* Main Column--------------------------------------------- */
		.title  { 
			font-size: 18px; 
			line-height:150%;
			font-weight:bold; 
			text-align:left;
			color: #000; 
			padding-bottom:15px;
			}  
		.date  { 
			font-size:12px;
			font-weight:bold;
			text-align:left;
			line-height:120%;
			padding:3px 5px 4px 3px;
			margin-top:10px;
			margin-bottom:22px;
			color:#FFF;
			background:#5A5A5A;
			border:1px solid #A3A3A3;
			}
		#footer{
			font-size:10px;
			line-height:130%;
			font-weight:normal;
			padding-top:10px; 
			margin-top:26px; 
			border-top:1px solid #A3A3A3;
			}
	/* Calendar--------------------------------------------- */
		#calendar td {
			padding:0px;
			color:#FFF;
			text-align:center;
			font-size:12px;
			font-family:Geneva, Arial, Helvetica, san-serif;
			line-height:140%;
			color:#FFF;
			}
		#calendar a {
			font-weight:bold;
			color:#FFF;
			}
		.hCalendarMonthYearRow, .dCalendarMonthYearRow
			{ 
			font-size:12px;
			font-weight:bold;
			text-align:left;
			}
		.hCalendarDayNameRow, .dCalendarDayNameRow
			{
			font-weight:bold;
			}
		.hCalendarDayRow, .dCalendarDayRow
			{
			font-weight:normal;
			}
		.hCalendarDayLinked, .dCalendarDayLinked
			{
			background-color: #6F6F6F;
			}
		.hCalendarDayCurrent, .dCalendarDayCurrent
			{
			background-color:#5A5A5A;
			}
	/* Discussion--------------------------------------------- */
		.dlHeader{
			padding:4px;
			}
		.dlCountReadsTitle, .dlSubjectTitle, .dlCountMessagesTitle, .dlPostedTitle, .dlMessageLinkTitle, .dlAuthorTitle
			{
			padding:4px;
			}
		.dlSubject, .dlCountMessages, .dlPosted, .dlCountReads, .dlAuthor, .dlMessageLink
			{
			padding:4px;
			}
		.discussHeader {
			font-weight:normal;
			line-height:120%;  
			}    
		.discussResponceList {
			padding:10px 10px 10px 10px;  
			margin-top:10px;
			border-top:1px dotted #999;  
			} 
	/* Misc--------------------------------------------- */
		hr {
			background:#A3A3A3;
			border-top:0px solid #A3A3A3;
			border-bottom:0px solid #A3A3A3;
			border-left:0px solid #A3A3A3;
			border-right:0px solid #A3A3A3;
			height:1px;
			}
		td {
			font-size:12px;
			font-family:Geneva, Arial, Helvetica, san-serif;
			line-height:140%;
			color:#FFF;
			}