/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/

/* BLUE : Customizable colors and images */

/* ------------------------------------------------------------------------ */
/* add colors and images to roller.css */

#logobackground {
    background: #573dea !important; 
}
.bannerBox {
    background: url("two-banner.png") repeat-x top;
}
.bannerStatusBox {
    background: #e3e3e3;
    color: #573dea;
}
.bannerStatusBox a {
    color: #573dea;
}
.bannerStatusBox a:link {
    color: #573dea;
}
.bannerStatusBox a:visited {
    color: #573dea;
}
h1 {
    color: #432eb3;
}
h2 {
    color: #432eb3;
}
h3 {
    color: #432eb3;
}
a:link {
    color: #573dea;
}
a:visited {
    color: #573dea;
}
.subtitle span {
    color: #573dea;
}
table.rollertable th, table.rollertable th {
    background: #573dea;
}
table.rollertable td, table.rollertable tbody td {
    border: 1px solid #573dea;
}
a.entryTitle, a:active.entryTitle, a:visited.entryTitle {
   color: black;
}
div.centerTitle {
    background: #e3e3e3;
}
div.control {
    background: #e3e3e3; 
}
div.controlToggle {
    background: url("two-togglegrey.png") repeat-x top; 
}
div.entryBox {
   border-bottom: 1px #573dea solid;
   background: #e3e3e3;
   margin: 0px 0px 0px 0px;
}
div.entryTitleBox {
   padding: 4px;
   font-size: medium;
}
div.entryBoxPinned {
   background: #e3e3e3; 
   border-bottom: 1px #573dea solid;
}
div.entriesBox {
   background: #e3e3e3;
}
a.entryTitle, a:active.entryTitle, a:visited.entryTitle {
   color: #573dea; 
   font-size: medium;
   font-weight: bold;
}
div.yourWeblogBox {
   border-top: 1px #573dea solid;
}
input.searchButton {
    color: white;
    background: #432eb3;
}
.sidebarBodyHead {
    background: #432eb3;
    color: white;
}
.searchSidebarBodyHead h3 {
    color: black;
}
.sidebarBodyHead h3 {
    color: white;
}
.sidebarFade, div.sidebarBody {
    background: #e3e3e3;
    color: #666666;
}
.searchSidebarHead {
    background: #e3e3e3;
}
.searchSidebarBody {
    background: #e3e3e3;
}

/* ------------------------------------------------------------------------ */
/* add colors and iamges to menu.css */

td.menuTabSelected {
    background: url("menutab-sel.png");
}
td.menuTabUnselected {
    background: url("menutab-unsel.png");
}
.menuItemTable {
    background-color: #573dea;
    color: white;
}
td.menuTabSelected a:link, td.menuTabSelected a:visited, td.menuTabSelected a:hover, td.menuTabSelected a:active {
    color: white;
}
td.menuTabUnselected a:link, td.menuTabUnselected a:visited, td.menuTabUnselected a:hover, td.menuTabUnselected a:active {
    color: white;
}
a.menuItemSelected:link, a.menuItemSelected:visited, a.menuItemSelected:hover, a.menuItemSelected:active {
    color: white;
}
a.menuItemUnselected:link, a.menuItemUnselected:visited, a.menuItemUnselected:hover, a.menuItemUnselected:active {
    color: white;
}

/* for main menu page */

span.mm_weblog_name {
    color: #707277;
}
td.mm_table_actions {
    background: #fff4d4;
}


/* RTE editor  */

.rteBack tbody tr td, .rteBack tr td, .rteDiv, .rteBack .rteImageLowered, .rteImage:active, .rteImageRaised, .rteImage:hover, .rteImageSm, .rteImage {
	background: #e3e3e3;
}
.rteImage {
	border: 1px solid #bcc5cd; 
}
.rteImageSm {
	border: 1px solid #bcc5cd; 
}
.rteDiv {
    border: 1px solid #bcc5cd;
}



