<?xml version="1.0" encoding="utf-8"?>
$pageHelper.setContentType("text/xml;charset=utf-8")
<rss version="0.92">
    <channel>
    <title>$utilities.textToHTML($website.name,true)</title>
    <link>$websiteURL</link>
    <description>$utilities.textToHTML($website.description,true)</description>
    <lastBuildDate>#formatDate("E, dd MMM yyyy hh:mm:ss z" $updateTime)</lastBuildDate>
    <docs>$websiteURL</docs>
    <managingEditor>$emailAddress</managingEditor>
    <webMaster>$emailAddress</webMaster>
    <!-- cloud domain="" port="" path="" registerProcedure="" protocol=""/ -->
    #set( $entries = $pageModel.getRecentWeblogEntriesArray($entryCount, 'nil') )
    #foreach( $entry in $entries )
    <item>
        <description>#showEntryDescription($entry)</description>
        <!-- source url=""></source -->
        <!-- enclosure url="" length="" type=""/ -->
    </item>
    #end
    </channel>
</rss>