<div class="storyBox">
	<div class="storyDateBox">
        <h2>
            $dateFormatter.applyPattern("MMMMM dd, yyyy")
            <a title="Stories for $dateFormatter.format($day)" 
               href="$baseURL/page/$website.handle/#formatDate($plainFormat $day )">
            $dateFormatter.applyPattern("dd")
            $dateFormatter.format($day)
            </a>
            $dateFormatter.applyPattern("MMM")
            <span>$dateFormatter.format($day)</span>
            <span class="blockDisplay">
            <span class="noDisplay">&middot;</span>
            $dateFormatter.applyPattern("EEE")
            $dateFormatter.format($day)
            $dateFormatter.applyPattern("yyyy")
            $dateFormatter.format($day)
            </span>
        </h2>
    </div>    

#foreach( $entry in $entries )
	<div class="story">
        <a name="$utilities.encode($entry.anchor)" id="$utilities.encode($entry.anchor)" 
            style="margin:0px;padding:0px"></a>
        <strong>$entry.title</strong><br />
        #showEntryText( $entry ) 
        $dateFormatter.applyPattern("hh:mm aa z")
        <div>
            $text.get("macro.weblog.postedby") $entry.creator.userName
            <em class="smallText">@ $dateFormatter.format($entry.pubTime)</em>
            #if($website.allowComments)
                <span class="noDisplay">[</span>
                    #set( $commentCount = $pageModel.getCommentCount($entry.Id) )
                    #set( $link = "$ctxPath$entry.permaLink" )
                    <a href="$link" class="storyLink">
                        Comments [$commentCount]</a>
                <span class="noDisplay">]</span> 
            #if ($pageHelper.isUserAuthorizedToAuthor())
                &nbsp;&nbsp;[<a href="$pageHelper.getEntryEditUrl($entry)">Edit</a>]
            #end
        #end
        </div>
	</div>
#end
  <div class="floatSpacer">&nbsp;</div>
  <div class="floatSpacer">&nbsp;</div>
</div>
  <div class="standardSpacer">&nbsp;</div>
  <div class="standardSpacer">&nbsp;</div>
