body {
    padding-top: 50px;
}

/* CONTENT - MAIN */

.dayTitle {
   border-top: 1px solid #ddd;
}

.entryContent {
    margin: 0.5em 0 0.5em 0;
    font-size: 110%;
}

a.permalink {
    padding: 2px 0px 2px 20px;
    background: url('../icons/icon_clock.gif') left center no-repeat;
    font-weight: normal;
}
a.tagLink {
    padding: 2px 0px 2px 20px;
    background: url('../icons/tag_blue.png') left center no-repeat;
    font-weight: normal;
}
a.commentslink {
    padding: 2px 0px 2px 20px;
    background: url('../icons/comment.gif') left center no-repeat;
    font-weight: normal;
}

ul.presentationLinks li {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: url('../icons/page_white_acrobat.png');
    padding: 0.5em 0 0 0;
    margin: 0 0 0 0;
}

/* Calender */

.hCalendarTableBig{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
}
.hCalendarTableBig > thead > tr > th, .hCalendarTableBig > tbody > tr > th, .hCalendarTableBig > tfoot > tr > th, .hCalendarTableBig > thead > tr > td, .hCalendarTableBig > tbody > tr > td, .hCalendarTableBig > tfoot > tr > td{
    padding:8px;
    border: 1px solid #dddddd;
}
.hCalendarMonthYearRowBig{
    font-size: 16px;
    font-weight: bold;
}


/* CONTENT - SIDEBAR */

#tagcloud {
    text-align: justify;
    margin: 1em;
}

.s1 {font-size:80%;}
.s2 {font-size:100%;}
.s3 {font-size:120%;}
.s4 {font-size:140%;}
.s5 {font-size:160%;}

#sidebar_content li {
    list-style-type: none;
    list-style-position: inside;
    padding: 0.5em 0 0 0;
    margin: 0 0 0 0;
}
#sidebar_content li.entryLink {
    padding: 0.5em 0 0 0;
    list-style-position: outside;
    list-style-image: url('../icons/page_white.png');
}
ul.activities {
    margin-left: 1em;
}
ul.activities li {
    list-style-type: none;
    margin-left: 1em;
}
#subscribe {
   margin: 1em 1em 1em 3em;
}
#subscribe img {
    vertical-align: middle;
}
p.details {
    margin: 0.5em 0 0 0;
    font-size: 110%;
    color: gray;
}

#main_content .details {
    margin: 0.2em 0 0 0;
    font-size: 85%;
    color: gray;
}
#main_content .entryInfo {
    margin: 0.2em 0 0 0;
    font-size: 85%;
    color: gray;
    text-align: right;
}

h3,
#main_content h3.entryTitle a:hover,
#main_content h3.entryTitle a:link,
#main_content h3.entryTitle a:active,
#main_content h3.entryTitle a:visited {
    color:#CC0000;
    font-size:120%;
    text-decoration: none;
    margin: 1em 0 0.5em 0;
}

h4 {
    font-size:130%;
    font-weight:400;
    margin-bottom:10px;
}
pre {
    font-family: monospace;
    font-size: 75%;
    overflow: auto;
    background-color:#efefef;
}
blockquote {
    border-left:5px solid #ddd;
    padding: 5px;
    font-size: 90%;
    color: gray;
}

#nextprev {
    text-align: center;
    font-size: 130%;
    margin: 1em 0 1em 0;
}
span.setup {
    background: #cfc;
    color: #0a0;
    padding: 4px;
    font-size: 15px;
    line-height: 2em;
}

.entryTitle {font-weight:normal;color:#428bca}
.comment-details{font-size:13px;}

#searchForm {
  margin: 0 15px;
  position: relative;
  float: right;
}
#searchForm #search-btn {
  color: #428bca;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 168px;
  top: 9px;
  background: transparent;
  transition: color 0.25s linear;
}
#searchForm #search-btn:hover,
#searchForm #search-btn:focus {
  color: #428bca;
  outline: none;
}
#searchForm .form-control {
  background: #646464;
  width: 210px;
  border: 1px solid #363636;
  color: #000000;
  position: relative;
  top: 12px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  box-sizing: border-box;
  -webkit-transition: all .3s linear; -moz-transition: all .3s linear; transition: all .3s linear;
}
#searchForm .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(229, 65, 45, 0.5);
  background: white;
}

@media (max-width: 767px) {
  #searchForm .form-control{width:160px;}
  #searchForm #search-btn {left:118px;}
}

.dropdown-menu > li.selected {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}
