<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- decorator began with line above -->
<html>
<head>
    #showContentType("text/html; charset=utf-8")
    #showContentLanguage($locale.language)
    <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
    #includePage("_css")
    #showRSSAutodiscoveryLink()
    #showRSDLink()
    <script type="text/javascript" src="$ctxPath/theme/scripts/roller.js">
    </script>
    <title>#showWebsiteTitle() : #showPageName()</title>
</head>
<body>
<!-- next print \$decorator_body -->

$decorator_body

<!-- now print decorator footer/close html -->
</body>
</html>
