body, td { 
   color: #000033;
   font-size: 12px; 
   line-height: 16px; 
   font-family: Verdana, Geneva, Arial, sans-serif;
}
.banner { 
   color: #ffffff;
   font-size: 54px; 
   line-height: 58px; 
   font-weight: bold;}
.label { 
   color: #0033cc;
   font-size: 12px; 
   line-height: 16px; 
   font-weight: bold; 
   text-decoration: underline;
}
.credit { 
   font-size: 10px; 
   line-height: 16px; 
   display: inline
}
a:link { 
   color: #0033ff;
   line-height: 16px; 
   text-decoration: none;
}
a:visited {  
   color: #0033cc;
   line-height: 16px; 
   text-decoration: none;
}
a:hover {  
   color: #ffffff;
   line-height: 16px; 
   text-decoration: none;
}

.hCalendarTitle {
  text-align : center;
  font-weight : bolder ;
}
.hCalendarDay {
  text-align : center;
  font-size : 9px;
  border-width: thin;
}
.hCalendarDayCurrent {
  text-align : center;
  font-size : 9px;
  font-weight : bolder ;
  border-width: thin;
  border-style: dotted;
}
.hCalendarDayNameRow {
  text-align : center;
  font-weight : bolder ;
  font-size : 9px;
}
.hCalendarDayLinked {
  font-weight : bolder ;
  text-align : center;
  font-size : 9px;
  border-width: thin;
}
.hCalendarDayNotInMonth {
  text-align : center;
  font-size : 9px;
	color : #aaaaaa;
}
.hCalendarNextPrev {
  text-align : center;
  font-style : italic;
  font-size : small;
  color : #aaaaaa;
}

