<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>TightBlog Weblogger</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-app.xml, /WEB-INF/security.xml, classpath*:tightblog-custom.xml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ApplicationResources</param-value>
    </context-param>

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>springSecurityFilterChain</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>MultipartFilter</filter-name>
        <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
    </filter>

    <filter>
        <filter-name>PersistenceSessionFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter>
        <filter-name>BootstrapFilter</filter-name>
        <filter-class>org.apache.roller.weblogger.ui.core.filters.BootstrapFilter</filter-class>
    </filter>

    <filter>
        <filter-name>RequestMappingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter>
        <filter-name>InitFilter</filter-name>
        <filter-class>org.apache.roller.weblogger.ui.core.filters.InitFilter</filter-class>
    </filter>

    <filter>
        <filter-name>CharEncodingFilter</filter-name>
        <filter-class>org.apache.roller.weblogger.ui.core.filters.CharEncodingFilter</filter-class>
    </filter>


    <!-- ******************************************
         Filter mappings - order IS important here.
         ****************************************** -->

    <!-- This filter ensures that the request encoding is set to UTF-8 before any
     other processing forces request parsing using a default encoding.
    Note: Any filters preceding this one MUST not cause request parsing. -->
    <filter-mapping>
        <filter-name>CharEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!-- Spring Security filters - controls secure access to different parts of TightBlog -->
    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BootstrapFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Map everything to the PersistenceSessionFilter.
    NOTE: Any filters preceding this one MUST NOT use persistence sessions.-->
    <filter-mapping>
        <filter-name>PersistenceSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Init filter.  performs some initialization on first request -->
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Request mapping, this is what allows the urls to work -->
    <filter-mapping>
        <filter-name>RequestMappingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Context Listeners -->
    <listener>
        <listener-class>org.apache.roller.weblogger.business.WebloggerContext</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>SpringDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-servlet.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringDispatcherServlet</servlet-name>
        <url-pattern>/tb-ui/authoring/rest/*</url-pattern>
        <url-pattern>/tb-ui/authoring/preview/*</url-pattern>
        <url-pattern>/tb-ui/admin/rest/*</url-pattern>
        <url-pattern>/tb-ui/app/*</url-pattern>
        <url-pattern>/tb-ui/install/*</url-pattern>
        <url-pattern>/tb-ui/rendering/page/*</url-pattern>
        <url-pattern>/tb-ui/rendering/comment/*</url-pattern>
        <url-pattern>/tb-ui/rendering/feed/*</url-pattern>
        <url-pattern>/tb-ui/rendering/media-resources/*</url-pattern>
        <url-pattern>/tb-ui/rendering/search/*</url-pattern>
        <url-pattern>/tb-ui/register/rest/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>45</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/tb-ui/errors/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/tb-ui/errors/403.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/tb-ui/errors/404.jsp</location>
    </error-page>

    <!-- jndi resources -->
    <!-- See install guide and/or webapp/META-INF/context.xml-example for JNDI Config info -->
    <!-- Uncomment below if configuring DB via JNDI instead of tightblog-custom.properties -->
    <!--resource-ref>
        <res-ref-name>jdbc/tightblogdb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>      
        <mapped-name>jdbc/tightblog</mapped-name>
    </resource-ref-->

    <resource-ref>
        <res-ref-name>mail/Session</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <mapped-name>Session</mapped-name>
    </resource-ref>

    <!--
         Uncomment below to use SSL on sensitive pages.  Alternatively,
         can lock up the entire site with this single element:
         <url-pattern>/*</url-pattern>, if you do site-wide however must
         set Absolute URL to Site field (Server Admin | Configuration | Settings)
         e.g., to https://localhost:8443/tightblog.

         Servlet container-specific SSL configuration must be done,
         see your servlet container's documentation for details.

         As an alternative, can instead modify the security.xml file to
         enforce SSL on specified pages, see here:
         http://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#ns-requires-channel
    -->
    <!--security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPS resources</web-resource-name>
            <url-pattern>/roller_j_security_check</url-pattern>
            <url-pattern>/tb-ui/app/login</url-pattern>
            <url-pattern>/tb-ui/app/register</url-pattern>
            <url-pattern>/tb-ui/app/profile</url-pattern>
            <url-pattern>/tb-ui/app/admin/*</url-pattern>
            <url-pattern>/tb-ui/app/login-redirect</url-pattern>
            <url-pattern>/tb-ui/app/authoring/userdata</url-pattern>
            <url-pattern>/tb-ui/app/authoring/members</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint-->

</web-app>
