
        <div class="standardSpacer">&nbsp;</div>

        <div class="sidebarBox">
            #showWeblogSearchForm($model.weblog false)
        </div>

        <div class="sidebarBox">
            #showWeblogEntryCalendar($model.weblog "nil")
        </div>

        #if( $utils.isUserAuthenticated() )
        <div class="sidebarBox">
            <div class="links">
                <div class="rFolder">Editor Menu</div>
                   #showAuthorMenu(true)
            </div>
        </div>
        #end

        <div class="sidebarBox">
            <div class="links">
                #set($defaultFolder = $model.weblog.getBookmarkFolder("/"))
                #showBookmarkLinksList($defaultFolder)
            </div>
        </div>

        <p class="sidebarBox">          
            #showAtomFeedsList($model.weblog)
        </p>

        <div class="sidebarBox">
            <a title="Blog powered by Apache Roller."
                href="http://roller.apache.org"><img class="noBorder"
                width="80" height="15" alt="[Blog powered by Apache Roller.]"
                src="$url.resource("images/roller-logo.gif")" /></a>
        </div>

        <div class="sidebarBox">
            Theme by Rowell Sotto.
        </div>
