#**
 * Atom feed links and badges.
 * @author  Dave Johnson 
 *#

#**
 * Show links to category feeds for categories that are immediate children
 * of the specified category.
 *#
#macro( showAtomLinksForCategory $category )
    <a href="$url.feed.entries.atom">$text.get("macro.rss.all")</a><br />
    #set( $categories = $pageModel.getWeblogCategories($category) )
    #foreach( $cat in $categories )
        <a href="$url.feed.entries.atom?cat=$cat.path">$cat.path</a><br />
    #end
#end

#**
 * Show links to all available Atom feeds for your weblog.
 *#
#macro( showAtomLinks )#showAtomLinksForCategory("nil")#end

#**
 * Show Atom Autodiscovery link for your weblog.
 *#
#macro( showAtomAutodiscoveryLink )
    <link rel="alternate" type="application/atom+xml"
        title="Atom" href="$absBaseURL/atom/${website.handle}" />
#end

#**
 * Show RSS badge with link to your weblog's main RSS feed.
 *#
#macro( showAtomBadge )
    <a href="$url.feed.entries.atom"><img class="atombadge"
        src="$ctxPath/images/atombadge.jpeg" alt="XML" /></a>
#end
