#**
 * RSS feed links and badges.
 * @author  Lance Lavandowska (conversion to Velocimacros)
 *#

#**
 * Show links to category feeds for categories that are immediate children
 * of the specified category.
 *#
#macro( showRSSLinksForCategory $category )
    <a href="${website.URL}">$text.get("macro.rss.all")</a>
    [<a href="${ctxPath}/rss/${website.handle}?excerpts=true">$text.get("macro.rss.excerpts")</a>]<br />
    #set( $categories = $pageModel.getWeblogCategories($category) )
    #foreach( $cat in $categories )
        <a href="${ctxPath}/rss/${website.handle}?catname=$cat.path">$cat.path</a>
        [<a href="${ctxPath}/rss/${website.handle}?catname=$cat.path&amp;excerpts=true">$text.get("macro.rss.excerpts")</a>]<br />
    #end
#end

#**
 * Show links to all available RSS feeds for your weblog.
 *#
#macro( showRSSLinks )#showRSSLinksForCategory("nil")#end

#**
 * Show RSS Autodiscovery link for your weblog.
 *#
#macro( showRSSAutodiscoveryLink )
    <link rel="alternate" type="application/rss+xml"
        title="RSS" href="$absBaseURL/rss/${website.handle}" />
#end

#**
 * Show RSS badge with link to your weblog's main RSS feed.
 *#
#macro( showRSSBadge )
    <a href="${ctxPath}/rss/${website.handle}"><img class="rssbadge"
        src="$ctxPath/images/rssbadge.gif" alt="XML" /></a>
#end
