
#set($count = 0)
#foreach($menu in $menuModel.getMenus())
    #if ($menu.isPermitted($req))
       #foreach( $item in $menu.getMenuItems())
           #if ($menu.isPermitted($req))
               #if ($count > 0)
               &nbsp;|&nbsp;
               #end
               #if($item.isSelected( $req ))
               <b>
               #end
               <a href="$item.getUrl( $ctx )">$text.get($item.getName())</a>
               #if($item.isSelected( $req ))
               </b>
               #end
               #set($count = $count + 1)
           #end
       #end
    #end
#end

