#if( $req.getUserPrincipal() )
    <ul class="rMenu">
    #foreach( $menu in $menuModel.getMenus() )
        #if ($menu.isPermitted($req))
            #foreach( $item in $menu.getMenuItems() )
               #if ($menu.isPermitted($req))
                   #if( $item.isSelected( $req ) )<strong>#end
                   <li class="rMenuItem"><a
                      href="$item.getUrl( $ctx )"
                      title="$text.get( $menu.getName() ):$text.get( $item.getName() )"
                      >$text.get( $menu.getName() ):$text.get( $item.getName() )</a></li>
                   #if( $item.isSelected( $req ) )</strong>#end
               #end
            #end
        #end
    #end
    </ul>
#end