<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
  #if($group)
  <title>$utilities.textToHTML($group.title,true)</title>
  <description>Aggregated feed for group [$utilities.textToHTML($group.title,true)]</description>
  #else
  <title>$utilities.textToHTML($planet.configuration.title,true)</title>
  <description>$utilities.textToHTML($planet.configuration.title,true)</description>
  #end
  <link>$utilities.textToHTML($planet.configuration.siteUrl)</link>
  <lastBuildDate>$utilities.formatRfc822Date($planet.lastUpdated)</lastBuildDate>
  <generator>Roller</generator>
  #if($group)
     #set($entries = $planet.getAggregation($group, $entryCount))
  #else
     #set($entries = $planet.getAggregation($entryCount))
  #end
  #foreach( $entry in $entries )
  <item>
    #if($entry.title)<title>$utilities.textToHTML($entry.title,true)</title> #end
    #if($entry.content)
       <description>
       $utilities.escapeHTML($utilities.truncate($entry.content,300,320,"...")) [&lt;a href="$utilities.textToHTML($entry.permalink,true)"&gt;Read More&lt;/a&gt;]
       </description> 
    #end
    #if($entry.categories)
        #foreach($cat in $entry.categories)
     	   <category>$utilities.textToHTML($cat,true)</category>
     	#end
    #end
    #if($entry.permalink)<link>$utilities.textToHTML($entry.permalink)</link> #end
    <pubDate>$utilities.formatRfc822Date($entry.published)</pubDate>
    #if($entry.author)
       <dc:creator>$utilities.textToHTML($entry.author,true)</dc:creator>
    #end
  </item>
  #end
</channel>
</rss>