<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
## "no user" versions
#macro( showSearchResults $dayTemplate )
    #foreach( $day in $map.keySet() )
        #set( $entries = $map.get($day) )
        #parse( $dayTemplate )
    #end
#end
<head>
    <title>$siteName $text.get("macro.searchresults.results")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript"
        src="$ctxPath/theme/scripts/roller.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
        href="$ctxPath/themes/base.css" />
    <link rel="stylesheet" type="text/css" media="all"
         href="$ctxPath/theme/layout.css" />
    <link rel="stylesheet" type="text/css" media="all"
         href="$ctxPath/theme/roller.css" />
    <link rel="stylesheet" type="text/css" media="all"
         href="$ctxPath/theme/menu.css" />
</head>
<body>
<div id="header">
    <span style="width:100%; text-align:right; margin: 3px">
        #showBasicNavBar( false )
    </span>
    <span>
        #showMenu( "editor-menu.xml" "/menu-tabbed.vm" )
    </span>
</div>

<div id="content">
    #showStatusMessage()

    <center>
      <h1>$siteName $text.get("macro.searchresults.results")</h1>
    </center>

    <p>
    #set ( $siteText = "this site")
    #set ( $inUrl = "")
    #if ($username)
        #set ($siteText = "$username's site")
        #set ($inUrl = " inurl:$username" )
    #end
        $text.get("macro.searchresults.searchFor", [$siteText])
        "<a href="http://dictionary.com/search?q=$utilities.encode($term)"
        title="$text.get( "macro.searchresults.title", [$term])"
        class="dictionary">$term</a>".

        $text.get("macro.searchresults.hits_1", [$hits])
        <a href="http://google.com/search?q=$utilities.encode($term)%20site:${absBaseURL}${inUrl}"
        class="google">$text.get("macro.searchresults.hits_2")

        <form method="get" action="$ctxPath/search"
            style="margin: 5px">
            <input type="text" id="q" name="q" size="31"
                maxlength="255" value="$term"
                style="padding-left: 1px" />
            <input type="hidden" name="$USERNAME_KEY" value="$!{username}" />
            #if ($categories)
                <select name="c">
                <option value="">- Restrict By Category -</option>
                #foreach( $cat in $categories )
                    <option #if($cat == $req.getParameter('c'))selected="selected"#end>$cat</option>
                #end
                </select>
            #end
            <input type="submit" value="$text.get("macro.searchresults.again")" />
        </form>
    </p>
    <script type="text/javascript"
        src="$ctxPath/theme/scripts/searchhi.js"></script>
    <br />

    #if ($hits > 0)
        #set( $map = $searchResults )
        #showSearchSummary()

        #showSearchResults("searchresults_day.vm")

        #showSearchPager()
    #end
    <div id="footer"></div>

</div> <!-- close content div -->

</body>
</html>