<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>$siteName: Search Disabled</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript"
        src="$ctxPath/theme/scripts/roller.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
        href="$ctxPath/themes/base.css" />
    <link rel="stylesheet" type="text/css" media="all"
         href="$ctxPath/theme/layout.css" />
    <link rel="stylesheet" type="text/css" media="all"
         href="$ctxPath/theme/roller.css" />
    <link rel="stylesheet" type="text/css" media="all"
         href="$ctxPath/theme/menu.css" />
</head>
<body>

<div id="content">
    #showStatusMessage()

    <center>
      <h1>$siteName: Search Disabled</h1>
    </center>

    <p>
      Sorry! The administrator of this site has disabled Roller's built-in
      search capabilities.
    </p>

    <div id="footer"></div>

</div> <!-- close content div -->

</body>
</html>