#**
 * Weblog entries, comments, and related links.
 * @author Lance Lavandowska (conversion to Velocimacros)
 * @author David M Johnson (comment macros)
 *#


#** ======================================================================== *#
#** Display recent entries macros *#
#** ======================================================================== *#


#**
 * Shows weblog entries from specified category using specified page as a "day 
 * template" for the display of each day. 
 * 
 * If a specific weblog entry is specified by the current request (using the 
 * entry parameter), this macro will display only that entry and the comments 
 * for that entry (SINGLE ENTRY PAGE)
 *
 * If a specific day is specified (in YYYYMMDD form in the URL), then this
 * macro will only the entries from that day (SINGLE DAY PAGE)
 * 
 * If no entry or day is specified, the this macro will display the most recent 
 * entries (CURRENT PAGE). The maxEntries argument is ignored because now, the 
 * number of entries to display is controlled by the entryDisplayCount property 
 * under Preferences:Settings.
 *
 * If there are search results, then this macro will show them using the 
 * current weblog's day template.
 *
 * @param pageName   Page name of page to serve as day template.
 * @param maxEntries (ignored)
 * @param category   Only display weblog entries from this category.
 *#
#macro( showWeblogEntriesInCategory $pageName $maxEntries $category)
    #set($maxEntries = $website.entryDisplayCount)
    #if ($pageModel.getWeblogEntry())
        #set($entry = $pageModel.getWeblogEntry())
    #end
    #set($dayTemplateId = $pageModel.getPageIdByName($pageName))
    #if(!$dayTemplateId ) ## if no page name, try Preview space
        #set($dayTemplateId = $pageName)
    #end
    #if ($entry)
        <div class="top-next-prev">#showNextPreviousLinks()</div>
        #set($day = $entry.pubTime)
        #set($entries = [$entry])
        #parse($dayTemplateId )
        <div class="top-next-prev">#showNextPreviousControl()</div>
        #if($trackbacksEnabled && $website.allowComments && $entry.commentsStillAllowed)
           <div class="trackbackUrl">
           $text.get("macro.weblog.trackback") #showTrackbackURL($entry)
           </div>
        #end
        <div class="bottom-next-prev">#showNextPreviousControl()</div>
        #showEntryLinkbacks($entry)
        #showComments($entry)
        #if($commentsEnabled && $website.allowComments && $entry.commentsStillAllowed)
            #showCommentForm($entry)
        #else
            $text.get("comments.disabled")
        #end
    #else
        #if($searchResults)
            #set($map = $searchResults.results )
            #showSearchAgainForm()
            #showSearchSummary()
            #foreach($day in $searchResults.results.keySet())
                #set($entries = $searchResults.results.get($day))
                #parse($dayTemplateId)
            #end
            #showSearchPager()
        #else
            #set($map = $pageModel.getRecentWeblogEntries($maxEntries, $category))
            <div class="top-next-prev">#showNextPreviousControl()</div>
            #foreach($day in $map.keySet())
                #set($entries = $map.get($day))
                #parse($dayTemplateId)
            #end
            <div class="bottom-next-prev">#showNextPreviousControl()</div>
        #end
    #end
#end

#**
 * Shows weblog entries using specified page as a "day template" for the 
 * display of each day. The maxEntries argument is ignored because now, the 
 * number of entries to display is controlled by the entryDisplayCount property 
 * under Preferences:Settings.
 *
 * @param pageName   Page name of page to serve as day template.
 * @param maxEntries (ignored)
 *#
#macro( showWeblogEntries $pageName $maxEntries )
#showWeblogEntriesInCategory($pageName $maxEntries 'nil')
#end


#**
 * Shows weblog entries using the standard "_day" template for the display of 
 * each day. The number of entries to display is controlled by the 
 * entryDisplayCount property under Preferences:Settings.
 *#
#macro( displayWeblogEntries )
#showWeblogEntriesInCategory("_day" 15 'nil')
#end


#**
 * Shows list of links to recent weblog entries in one category.
 *
 * @param entryCount Maximum number of entry links to display
**#
#macro( showRecentEntriesInCategory $entryCount $catPath )
   #set( $xmap = $pageModel.getRecentWeblogEntries($entryCount,$catPath) )
   <ul class="recentposts">
   #foreach( $day in $xmap.keySet() )
       #set( $recentEntries = $xmap.get($day) )
       #foreach ($var in $recentEntries)
           <li class="recentposts"><a href="${ctxPath}/page/${website.handle}?entry=$utilities.encode($var.anchor)">$var.title</a></li>
       #end
   #end
   </ul>
#end

#**
 * Shows list of links to recent weblog entries in one category.
 *
 * @param numEntries Maximum number of entries to display
**#
#macro( showRecentEntries $entryCount )
#showRecentEntriesInCategory($entryCount "nil")
#end


#** ======================================================================== *#
#** Next / previous links macros *#
#** ======================================================================== *#

#**
 * Displays next previous links, called by #showWeblogEntries().
 * On the today page: show prev link day before earliest entry on page.
 * On an entry page: show next/prev entry links.
 * On a day page: show next prev day links.
**#
#macro( showNextPreviousControl )
    #set( $npcat = 'nil' )
    #set( $catLink = "" )
    #if ( $catPath && $catPath != "") 
        #set( $npcat = $catPath )
        #set( $catLink = "?catname=$catPath" ) 
    #end
    <div class="next-previous">
    #if ($pageModel.nextEntry)
        #showNextWeblogLink($npcat) |
    #end
    #if (($pageModel.previousEntry && $pageModel.nextEntry) || $pageModel.nextEntry)
        <a href="${ctxPath}/page/${website.handle}$catLink">$page.name</a> |
    #end
    #if ($pageModel.previousEntry)
        #showPrevWeblogLink($npcat)
    #end
    </div>
#end

#macro( showNextPreviousLinks )
   <!-- 
   showNextPreviousLinks() is no longer needed as next/prev links are 
   built-into the #showRecentEntries() macro.
   -->
#end

#**
 * Display link to chronologically previous entry or day in the
 * same category (if specified).
**#
#macro( showPrevWeblogLink $category)
    <span class="previousEntry">
    #if( $pageModel.previousEntry )
        #set( $prev = $pageModel.previousEntry )
        #if( $entry )
            #set( $prevURL = "${ctxPath}${prev.permaLink}" )
        #else
            #set( $prevURL = "${ctxPath}/page/${website.handle}/#formatDate($plainFormat ${prev.pubTime})" )
        #end
        <a href="$prevURL" title="Previous Entries"
            > $utilities.truncateNicely($prev.title, 20, 20, "...") &raquo;</a>
    #end
    </span>
#end

#**
 * Display link to chronologically next entry or day in the
 * same category (if specified).
**#
#macro( showNextWeblogLink $category)
    <span class="nextEntry">
    #if( $pageModel.nextEntry )
        #set( $next = $pageModel.nextEntry )        
        #if( $entry )
            #set( $nextURL = "${ctxPath}${next.permaLink}" )
        #else
            #set( $nextURL = "${ctxPath}/page/${website.handle}/#formatDate($plainFormat ${next.pubTime})" )
        #end
        <a href="$nextURL" title="Next Entries"
            >&laquo; $utilities.truncateNicely($next.title, 20, 20, "...")</a>
    #end
    </span>
#end


#**
 * Show the last $maxEntries number of weblogentry titles, as links to
 * entry links.  Names of fields must be different than in showWeblogEntries
 * (those values take precedence for some reason).
**#
#macro( showRecentEntryLinks $numEntries )
#showRecentEntryLinksInCategory($numEntries "nil")
#end


#** ======================================================================== *#
#** Individual weblog entry display macros *#
#** ======================================================================== *#


#**
 * Use this macro in your day template if you want to override
 * entry rendering in both your HTML and RSS weblog output by defining
 * a page template named _entry.
 *
 * <p>It is no longer necessary to use a page template named _entry
 * if you want to override entry rendering in both your
 * HTML and RSS weblog output (for support of PagePlugins).
 * However, backwards compatibility for such use is still included,
 * or if you have some other need to override entry rendering.
 * The _entry page is now loaded by ContextLoader as $entryPage.</p>
 *#
#macro( showEntryText $entry )
   #if(  $entryPage )
      #parse($entryPage.id)
   #else
      #if ( $entry.plugins )
         #set( $entryText = $pageHelper.renderPlugins( $entry ) )
      #else
         #set( $entryText = $entry.text )
      #end
      #if( $entryLength == -1 )
        $utilities.textToCDATA($entryText)
      #else
        #set( $entryText = $utilities.textToCDATA($utilities.removeHTML($entryText)) )
        $stringUtils.left( $entryText, $entryLength )... [$entryText.length() characters]
      #end
   #end
#end


#**
 * Use this macro in your day template if you want to override
 * entry rendering in both your HTML and RSS weblog output by defining
 * a page template named _desc.
 *
 * <p>It is no longer necessary to use a page template named _desc
 * if you want to override entry rendering in both your
 * HTML and RSS weblog output (for support of PagePlugins).
 * However, backwards compatibility for such use is still included,
 * or if you have some other need to override entry rendering.
 * The _desc page is now loaded by ContextLoader as $descPage.</p>
 *#
#macro( showEntryDescription $entry )
   #if(  $descPage )
      #parse($descPage.id)
   #else
      #if ( $entry.plugins )
         #set( $entryText = $pageHelper.renderPlugins( $entry ) )
      #else
         #set( $entryText = $entry.text )
      #end
      #if( $entryLength == -1 )
        $utilities.textToXML($entryText)
      #else
        #set( $entryText = $stringUtils.left( $entryText, $entryLength ) )
        #set( $entryText = $utilities.textToXML($utilities.removeHTML($entryText)) )
        $entryText... [$entry.text.length() characters]
      #end
   #end
#end


#**
 * Display Permalink for Date.
 * @param day Date object that specifies day (type java.util.Date).
 *#
#macro( showDayPermalink $day )
    <a href="${ctxPath}/page/${website.handle}/#formatDate($plainFormat $day )"><img
        class="daypermalink"
        src="$ctxPath/images/permalink.gif"
        title="$text.get( "macro.weblog.daypermalink.title" )"
        alt="#formatDate( $plainFormat $day )" /></a>
#end


#**
 * Display the default Date.toString for date using the 'macro.weblog.date.toStringFormat'
 * format as defined in the resource bundle.
 * @param toStringFormat Format string (see java.text.SimpleDateFormat).
 * @param day Date object that specifies day (type java.util.Date).
 *#
#macro( showEntryDate $day )
    #set( $format=$text.get("macro.weblog.date.toStringFormat") )
    #formatDate( $format $day )
    ##formatDate( $toStringFormat $day )
#end


#**
 * Display the timestamp for the $day using the 'macro.weblog.date.timestampFormat'
 * format as defined in the resource bundle.
 *
 * @param timestampFormat Format string (see java.text.SimpleDateFormat).
 * @param day Date object that specifies day (type java.util.Date).
 *#
#macro( showTimestamp $day )
    #set( $format = $text.get("macro.weblog.date.timestampFormat") )
    #formatDate( $format $day )
    ##formatDate( $timestampFormat $day )
#end


#**
 * Display the Permalink for a weblog entry.
 * @param entry WeblogEntry object.
 *#
#macro( showEntryPermalink $entry )
    <a href="$baseURL$entry.permaLink"
        title="$text.get( "macro.weblog.entrypermalink.title" )"
        class="entrypermalink">Permalink</a>
    #if ($pageHelper.isUserAuthorizedToEdit())
        [<a href="$pageHelper.getEntryEditUrl($entry)">$text.get( "macro.weblog.entrypermalink.edit" )</a>]
    #end
#end


#**
 * Display the Trackback URL for a weblog entry.
 * @param entry WeblogEntry object.
 *#
#macro( showTrackbackURL $entry )
$absBaseURL/trackback/${website.handle}/$page.link/$utilities.encode($entry.anchor)
#end


#**
 * Method to retrieve a full encoded anchor tag for a WeblogEntry.
**#
#macro( showAnchorTag $entry )
    <a name="$utilities.encode($entry.anchor)" id="$utilities.encode($entry.anchor)"></a>
#end


#**
 * Display a trackback auto-discovery comment for a WeblogEntry.
 **#
#macro( showTrackbackAutodiscovery $entry )
<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
         xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
    rdf:about="$absBaseURL$entry.permaLink"
    trackback:ping="#showTrackbackURL($entry)"
    dc:title="$entry.title"
    dc:identifier="$absBaseURL$entry.permaLink"
    dc:subject="$entry.category.name"
    dc:description="$entry.title"
    dc:creator="$entry.creator.userName"
    dc:date="$entry.pubTime" />
</rdf:RDF>
-->
#end


#** ======================================================================== *#
#** Search form and results macros *#
#** ======================================================================== *#


#**
 * Display search form for searching a weblog.  This is only a form, no div
 * or anything around it.
 *#
#macro( showSearchForm )
    <form id="searchForm" method="get" action="${ctxPath}/search/${website.handle}"
        style="margin: 0; padding: 0" onsubmit="return validateSearch(this)">
        <p>
          <input type="text" id="q" name="q" size="20"
              maxlength="255" value="#if($term)$term#end" />
          #set( $cats = $pageModel.getWeblogCategories("nil") )
          <select name="c">
          <option value="">- In Category -</option>
          #foreach( $cat in $cats )
              <option #if($cat.name == $req.getParameter('c'))selected="selected"#end>$cat.name</option>
          #end
          </select>
          <input type="submit" value="$text.get( "macro.weblog.searchbutton" )" />
        </p>
    </form>
    <script type="text/javascript">
        function validateSearch(form) {
            if (form.q.value == "") {
                alert("$text.get( "macro.weblog.searchalert" )");
                form.q.focus();
                return false;
            }
            return true;
        }
    </script>
#end


#**
 * Display search again form
 *#
#macro( showSearchAgainForm )
    <div id="searchAgain">
        $text.get( "macro.weblog.searchdictionary", [$searchResults.term, $searchResults.term, $searchResults.term] )

        $text.get( "macro.weblog.searchhits", [$searchResults.hits])

        <form method="get" action="${ctxPath}/search/${website.handle}"
            style="margin: 5px">
            <input type="text" id="q" name="q" size="31"
                maxlength="255" value="$searchResults.term"
                style="padding-left: 1px" /><br />
            #set( $cats = $pageModel.getWeblogCategories("nil") )
            <select name="c">
            <option value="">- Restrict By Category -</option>
            #foreach( $cat in $cats )
              <option #if($cat.name == $req.getParameter('c'))selected="selected"#end>$cat.name</option>
            #end
            </select>
            <input type="submit" value="$text.get( "macro.weblog.searchagain" )" />
        </form>

        $text.get( "macro.weblog.searchgoogle", [$searchResults.term, $absBaseURL, $ctxPath, ${website.handle}] )
    </div>
    <!-- searchhi script hangs firefox, commenting it out for now -->
    <!-- script type="text/javascript" src="$ctxPath/theme/scripts/searchhi.js"></script -->
#end


#**
 * Displays header like "1 - 10 of 20 found.".
**#
#macro( showSearchSummary )
    #set( $min = $searchResults.offset + 1 )
    #set( $max = $searchResults.offset + $searchResults.limit )
    #if( $max > $searchResults.hits )#set( $max = $searchResults.hits )#end
    <h3>
        $min - $max of $searchResults.hits found.
    </h3>
#end


#**
 * Display list of search result pages (for pagination).
**#
#macro( showSearchPager )
    <h3 style="text-align:center;">
    #set( $numPages = $searchResults.hits / $searchResults.limit )
    #set( $remainder = $searchResults.hits % $searchResults.limit )
    #if( $remainder > 0 )#set( $numPages = $numPages + 1 )#end
    #if( $numPages > 1 )
        #foreach( $pageNum in [1..$numPages] )
            #set( $i = $pageNum - 1 )
            #set( $start = $searchResults.limit * $i )
            <a href="?q=${utilities.encode($searchResults.term)}&${USERNAME_KEY}=$!{username}&n=${searchResults.limit}&o=${start}"
               >$pageNum</a>#if( $pageNum != $numPages) | #end
        #end
    #end
    </h3>
#end


#** ======================================================================== *#
#** Other macros *#
#** ======================================================================== *#


#**
 * Print status/error message if exists.
 * Note: "error" and "status" styles should be moved out into
 * invididual Themes' theme.css files.
 **#
#macro( showStatusMessage )
    #if( $errorMessage )
        <span class="error">$errorMessage</span>
    #end
    #if( $statusMessage )
        <span class="status">$statusMessage</span>
    #end
#end




#**
 * Set the META tag for ContentLanguage.  We do this rather than
 * setting the Response header because the header does not get
 * cached.  So in order to maintain the ContentType we must present
 * it inside the rendered page itself.
**#
#macro( showContentLanguage $lang )
    <meta http-equiv="Content-Language" content="$lang">
#end


#**
 * Display language form for selection a different language.  This is only a form, no div
 * or anything around it.
 *#
#macro( showLanguageForm )
    ## first check for errors during possible previous langauge change
    #if ($languageError)
        <p>$languageError</p>
    #end

    #set( $locales = $pageHelper.getSupportedLanguages() )
    #if ($locales)
       #foreach($locale in $locales)
          <a class="imageLink" href="$ctxPath/language${pageHelper.getPathInfo()}?language=${locale}">
             <img src="$ctxPath/images/flag_${locale.toString().toLowerCase()}.gif" alt="${locale.getDisplayLanguage()}" />
          </a>
          <br />
       #end
    #else
        <p>$text.get("macro.weblog.nolanguages")</p>
    #end
#end


#** ======================================================================== *#
#** Deprecated macros *#
#** ======================================================================== *#


#**
 * Shows list of links for recent weblog entries in one category.
 * DEPRECATED: use showRecentWelobEntries() instead.
 *
 * @param numEntries Maximum number of entries to display
 * @param cat        Category to be displayed 
**#
#macro( showRecentEntryLinksInCategory $numEntries $cat)
   #set( $xmap = $pageModel.getRecentWeblogEntries($numEntries, $cat) )
   <ul class="linkblog">
   #foreach( $day in $xmap.keySet() )
       #set( $recentEntries = $xmap.get($day) )
       #foreach ($var in $recentEntries)
           <li class="linkblog">
           #if ($var.link)
              <a href="$var.link" title="$utilities.removeAndEscapeHTML($var.text)">$var.title</a>
           #else
              $var.title
           #end
           #if ($pageHelper.isUserAuthorizedToEdit())
              &nbsp;[<a href="$pageHelper.getEntryEditUrl($var)">$text.get( "macro.weblog.editentry" )</a>]
           #end
           </li>
       #end
   #end
   </ul>
#end


