/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
body {
	padding-top: 0;
	margin-top: 125px;
	margin-right: 230px;

	color: black;
	background-color: white;
}

a {
	text-decoration: none;
	color: rgb(120, 120, 120);
}

a:hover {
	color: rgb(50, 50, 50);
	border-bottom: 1px dashed;
}
	

div.block {
	font-size: 50%;
	border: 1px solid #a0a0a0;
	background-color: #e0e0e0;
	padding: 4px;
}

form {
	font-family: sans-serif;

	margin: 0;
	padding: 0;
	margin-left: 25px;
}

/* <h1> is used for the dates */
h1 {
	margin-top: 50px;

	font-family: sans-serif;
	font-weight: bold;
	font-size: 125%;

	color: rgb(215, 7, 81);
}

div.block h1 {
	margin-top: 0;
}


/** #banner
 * This is the banner that goes across the top for decorative purposes.
 * 
 * It's absolutely positioned to avoid error.
 */
#banner {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	height: 56px;

	background-color: #FBE249;
	color: #594FBF;
	border-bottom: 1px solid black;

	font-family: sans-serif;
	font-weight: bold;
	font-size: 32pt;
}

#banner #logo {
	position: absolute;
	top: 24px;
	left: 10px;
}

#banner #name {
	position: absolute;
	top: 10px;
	left: 85px;
}

#banner #earth {
	position: absolute;
	top: 0px;
	right: 0px;
}

#banner #blurb {
	position: absolute;
	top: 64px;
	left: 100px;

	padding: 0;
	margin: 0;

	font-family: sans-serif;
	font-size: 10px;
}


/** .entry
 * An entry from somebody's blog.
 * <h2> is used for entry titles.
 * #date is used for the entry date at the bottom.
 */
.entry {
	margin-bottom: 25px;
	padding-left: 25px;

	clear: both;

	text-align: justify;
}

.entry h1 {
	margin-top: 5px;
	font-size: 100%;
}

.dateheading {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 125%;
	color: red;
}

.entry img {
	padding: 4px;
	}

.entry img.face {
	float: right;

	margin: 4px;
	padding: 8px;

	z-index: 1;
	background-color: white;
	border: 1px dashed rgb(100, 100, 100);
}

.entry h2 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 110%;

	margin-left: -25px;
	border-bottom: 1px solid rgb(125, 125, 125);
	margin-bottom: 0px;
}

.storytitle {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 110%;

	margin-left: -25px;
	margin-bottom: 0px;
	float: left;
}

.collapsed {
	display: none;
}
.expanded {
	display: block;
}
.toggle {
	float: right;
}

.left {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 110%;

	margin-left: -25px;
	margin-bottom: 0px;
	float: left;
}
.right {
	float: right;
}

.entry .date {
	font-family: sans-serif;
	font-size: 85%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
	color: rgb(125, 125, 125);
}

.entry .techno {
        font-family: sans-serif;
        font-size: 75%;
        text-align: right;
        margin-top: 5px;
        margin-bottom: 5px;
        color: rgb(125, 125, 125);
	float: right;
}

/** #sidebar
 * This is the bar that goes down the side in which we put the blogroll
 * and planetarium.
 * 
 * It's absolutely positioned to avoid error.
 */
#sidebar {
	position: absolute;
	top: 125px;
	right: 10px;
	width: 180px;

	z-index: 1;
	background-color: white;
	border: 1px dashed rgb(215, 7, 81);

	padding: 0;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;

	font-family: sans-serif;
	font-size: 95%;
}

#sidebar h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 100%;
	border-bottom: 1px dashed rgb(215, 7, 81);

	margin-top: 2em;
	margin-bottom: 0.5em;
}

#sidebar p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#sidebar ul li {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 80%;
}

img.button {
	display: inline;
	border: 0;
	padding: 0;
	margin: 0;
	margin-right: 2px;
	margin-bottom: 2px;
	text-decoration: none;
}

/* IE doesn't support .first-child, so do this the old-fashioned way */
#sidebar div {
	border-top: 1px dashed rgb(215, 7, 81);
}
#sidebar #about {
	margin-top: 0.5em;
	border-top: none;
}
