## No-op decorator. Prevents decorator from any previous theme from interfering with this theme
## This template will expand to exactly the body with no leading or trailing whitespace.
${decorator_body}## comment here kills trailing whitespace including newline
