<div id="footer">
Powered by <a href="http://roller.apache.org">Apache Roller</a> $config.rollerVersion |
<a href="http://opensource2.atlassian.com/projects/roller/">
Report an Issue</a> | 
<a href="http://cwiki.apache.org/confluence/display/ROLLER/Roller+User+Documentation">
    User Guide</a> | 
<a href="http://cwiki.apache.org/confluence/display/ROLLER/Roller+Mailing+Lists">
    Mailing Lists</a>
</div>
       
<div id="datetagdiv" 
   style="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;">
</div>
</body>
</html>