<!DOCTYPE html>
<html>
<head>
  <title>$model.weblogEntry.title : $model.weblog.name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

  <script type="text/javascript">

    $(document).bind("mobileinit", function(){
      $.mobile.ajaxEnabled = false;
    });

  </script>

  <script type="text/javascript" src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>

  <div data-role="page" data-theme="b">

    <div data-role="header" data-theme="b">
      <h1>$model.weblogEntry.title : $model.weblog.name</h1>
      ##<a data-rel="back" data-icon="back" data-theme="a">Go back</a>
      <a href=$url.home data-icon="home" data-theme = "a">Home</a>
    </div>

    <div data-role="content" data-theme="c">

      #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
      #showMobileCategoryLinksList($rootCategory)

      ## show next/previous paging controls
      #set($pager = $model.getWeblogEntriesPager()) 
      <div class="next-previous">
        #showMobileNextPrevEntriesControl($pager)
      </div>

      ## show entry
      #showWeblogEntriesPager($pager)

      ## show comments and comment form
      ## TODO
      #showWeblogEntryComments($model.weblogEntry)
      ## TODO
      ##showWeblogEntryCommentForm($model.weblogEntry)
    
    </div>

    <div data-role="footer" data-theme="b">
        <h4>Apache Roller Mobile</h4>
    </div>
    
  </div>

</body>
</html>