<!DOCTYPE html>
<html>
<head>
  <title>$model.weblog.name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  
  <script type="text/javascript">

    $(document).bind("mobileinit", function(){
      $.mobile.ajaxEnabled = false;
    });

  </script>

  <script type="text/javascript" src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>

  <script type="text/javascript">

    $(document).bind("pageinit", function(){
      $('#btnStandard').on('click', function() {
        window.location.href="?deviceType=standard";
      });

      setCookie("roller_user_request_type","mobile",30);

    });

    function setCookie(c_name, value, exdays) {
      var exdate = new Date();
      exdate.setDate(exdate.getDate() + exdays);
      var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString() + "; path=/");
      document.cookie = c_name + "=" + c_value;
    }

  </script>

  <div data-role="page" id ="home">

    <div data-role="header" data-theme="b">
      <h1>$model.weblog.name </h1>
      <a href=$url.absoluteSite data-icon="home" data-theme="a">Home</a>
      <a href="#home" id="btnStandard" data-role="button">View Standard</a>
    </div>

    <div data-role="content" data-theme="d">

      ## Search
      #showMobileSearchForm($model.weblog false)

      #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
      #showMobileCategoryLinksList($rootCategory)

      ## show next/previous paging controls
      #set($pager = $model.getWeblogEntriesPager())
      <div class="next-previous">
        #showMobileNextPrevEntriesControl($pager)
      </div>

      ## Show entries
      #showWeblogEntriesPager($pager)

    </div>

    <div data-role="footer" data-theme="b">
      <h4>Apache Roller Mobile</h4>
    </div>

  </div>

</body>
</html>
