
<div class="entry">
   #showDayPermalink( $day )
   #showEntryDate( $day )
</div>

#foreach( $entry in $entries )
<p>
   <a name="$utilities.encode($entry.anchor)" id="$utilities.encode($entry.anchor)"></a>
   <b>$entry.title</b>
    #showEntryText($entry)
    $text.get("macro.weblog.postedby") $entry.creator.userName
   <span class="dateStamp">(#showTimestamp($entry.pubTime))</span>
   #showEntryPermalink( $entry )
   #showCommentsPageLink( $entry )
</p>
#end
    
