#set ($groupHandles = $planet.groupHandles)
#foreach ($groupHandle in $groupHandles)
    #set ($outputFile = $strings.concat([$groupHandle, ".html"]))
    $generator.parse("html.vm", $outputFile, "groupHandle", $groupHandle)
    #set ($outputFile = $strings.concat([$groupHandle, ".rss"]))
    $generator.parse("rss.vm",  $outputFile, "groupHandle", $groupHandle)
    #set ($outputFile = $strings.concat([$groupHandle, ".opml"]))
    $generator.parse("opml.vm", $outputFile, "groupHandle", $groupHandle)
#end
ê