<html>
#set($group = $planet.getGroup($groupHandle))
#set($entries = $planet.getAggregation($group, $group.maxPageEntries))
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>$group.title</title>
</head>
<body>
<table>
   <tr>
      <td width="80%" valign="top">
         <h1>$group.title</h1>
         <p><i>$group.description<i/></p>
         <p>Last updated: $utils.formatRfc822Date($date)</p>
         #foreach($entry in $entries)
            <h2>$entry.title</h2>
            Blog: $entry.subscription.title <br/>
            Date: $entry.published<br/>
            <a href="$entry.permalink">Permalink</a><br/>
            <p>$entry.content</p>
         #end
      </td>
      <td width="20%" valign="top">
         <h3>Other formats</h3>
         <a href="$planet.configuration.siteURL/${groupHandle}/index.rss">
            <img src="rss20.png" alt="RSS 2.0 Feed" border="0"></a><p />
         <a href="$planet.configuration.siteURL/${groupHandle}/index.opml">
            <img src="opml.png" alt="OPML Subscriptions" border="0"></a>
         <h3>Subscriptions</h3>
         #foreach ($sub in $group.subscriptions)
         <a href="$sub.siteUrl">$sub.title</a> <a href="$sub.feedUrl">(feed)</a>
         <br/>
         #end
      </td>
</tr>
</body></html>
