<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
  #set($group = $planet.getGroup($groupHandle))
  <title>$utils.escapeXML($group.title)</title>
  <link>$utils.escapeXML(${planet.configuration.siteURL})/${group.handle}.html</link>
  <description>$utils.escapeXML($group.description)</description>
  <lastBuildDate>$utils.formatRfc822Date($date)</lastBuildDate>
  <generator>Planet Roller</generator>
  #set($entries = $planet.getAggregation($group, $group.maxFeedEntries))
  #foreach( $entry in $entries )
  <item>
    #if($entry.title)<title>$utils.escapeXML($entry.title)</title> #end
    #if($entry.content)
       <description>$utils.escapeXML($entry.content)</description> #end
    #if($entry.categories)
        #foreach($cat in $entry.categories)
     	   <category>$utils.escapeXML($cat)</category>
     	#end
    #end
    #if($entry.permalink)<link>$utils.escapeXML($entry.permalink)</link> #end
    <pubDate>$utils.formatRfc822Date($entry.published)</pubDate>
    #if($entry.author)
       <dc:creator>$utils.escapeXML($entry.author)</dc:creator>
    #end
  </item>
  #end
</channel>
</rss>
