<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <span th:replace="${model.getTemplateIdByName('common_html_head')}"></span>
    <title th:utext="${model.weblog.name + ': ' + model.weblog.tagline}">xxx</title>
    <meta th:if="${model.noIndex}" name="robots" content="noindex">
    <span th:utext="${model.analyticsTrackingCode}" th:remove="tag"></span>
    <span th:replace="fragments :: MetaDescription"></span>
</head>
<body>

	<header>
    	<span th:replace="${model.getTemplateIdByName('standard_header')}"></span>
	</header>

	<div class="container">
	
		<div class="row">
			<div class="col-lg-12">
				<h1 class="pb-2 mt-4 mb-2 border-bottom" th:utext="${model.weblog.name + ' '}">
				    <small th:utext="${model.weblog.tagline}">xxx</small>
				</h1>
			</div>
	  	</div>

	  	<div class="row">
	  	<!-- BODY MAIN-->
			<div class="col-lg-8" th:with="entry = ${model.weblogEntriesPager.entries.get(model.weblogEntriesPager.entries.keySet().iterator().next()).get(0)}">
                <div th:replace="fragments :: WeblogEntriesPager"></div>

                <div class="d-flex justify-content-between" th:with="pager = ${model.getWeblogEntriesPager()}">
                    <span th:if="${!#strings.isEmpty(pager.prevLink)}" style="text-align:left">
                        <a th:href="${pager.prevLink}" th:utext="${'← ' + pager.prevLabel}">xxx</a>
                    </span>
                    <span th:if="${!#strings.isEmpty(pager.nextLink)}" style="text-align:right">
                        <a th:href="${pager.nextLink}" th:utext="${pager.nextLabel + ' →'}">xxx</a>
                    </span>
                </div>

				<hr>

				<div class="panel panel-primary">
					<div class="panel-heading comments-head" id="comments" th:utext="${
                            model.commentForm.preview ? utils.msg('macro.weblog.preview')
                                :
                            (entry.commentCount > 0 ?
                                (utils.msg('macro.weblog.comments') + ':')
                                    :
                                 utils.msg('macro.weblog.nocommentsyet'))}">
                    </div>
                    <th:block th:with="comments=${model.commentForm.preview ? model.commentForm : entry.getComments()}">
                        <div class="panel-body">
                            <th:block th:each="comment,iterStat : ${comments}" th:if="${comment.approved || model.commentForm.preview}">
                                <div th:id="${'comment-' + comment.timestamp}" th:class="${iterStat.even}? 'even' : 'odd'">
                                    <p th:utext="${comment.content}">xxx</p>
                                    <p class="small">
                                    <span th:utext="${utils.msg('macro.weblog.postedby')}">xxx</span>
                                        <a rel="nofollow" th:href="${comment.url}" th:remove="${#strings.isEmpty(comment.url)} ? 'tag' : 'none'">
                                            <b th:utext="${comment.name}">xxx</b>
                                        </a>
                                    <span th:utext="${utils.msg('macro.weblog.on') + ' ' + utils.formatTemporal(comment.postTime, utils.msg('macro.weblog.datetimepattern'))}">xxx</span>
                                    <a th:href="${url.getCommentURL(entry, comment.timestamp)}"
                                       class="entrypermalink" th:title="${utils.msg('macro.weblog.commentpermalink.title')}">#</a>
                                    </p>
                                </div>
                            </th:block>
                            <hr>
                        </div>
                    </th:block>
				</div>

                <th:block th:switch="${model.canSubmitNewComments(entry)}">
                    <div class="panel panel-default" th:case="${true}" th:with="cform = ${model.getCommentForm()}">
                        <div class="panel-heading">
                            <h3 class="panel-title">Leave a Comment</h3>
                        </div>
                        <div class="panel-body">
                            <div th:if="${!#strings.isEmpty(cform.submitResponseMessage)}"
                                  th:class="${'alert ' + (cform.invalid ? 'alert-danger' : (!#strings.isEmpty(cform.submitResponseMessage) ? 'alert-success' : ''))}"
                                  th:utext="${cform.submitResponseMessage}">xxx</div>

                            <form method="post" focus="name" name="commentForm">
                                <div class="row">
                                    <input type="hidden" name="method" value="post" />

                                    <th:block th:with="formName=${model.blogger == null ? cform.name : model.blogger.screenName},
                                formEmail=${model.blogger == null ? cform.email : model.blogger.emailAddress}">

                                        <div class="form-group col-lg-4">
                                            <label for="input1" th:utext="${utils.msg('macro.weblog.name')}">xxx</label>
                                            <input type="text" name="name" class="form-control" th:value="${formName}" id="input1" required th:readonly="${model.blogger!=null}">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="input2" th:utext="${utils.msg('macro.weblog.email')}">xxx</label>
                                            <input type="text" name="email" class="form-control" th:value="${formEmail}" id="input2" required th:readonly="${model.blogger!=null}">
                                        </div>
                                    </th:block>

                                    <div class="form-group col-lg-4">
                                        <label for="input3" th:utext="${utils.msg('macro.weblog.url')}">xxx</label>
                                        <input type="text" name="url" class="form-control" th:value="${cform.url}" id="input3">
                                    </div>
                                    <div th:if="${utils.commentEmailNotify}" class="form-group col-lg-6">
                                        <div class="checkbox">
                                            <input type="checkbox" class="checkbox" id="notify" name="notify" th:checked="${cform.notify}"/>
                                            <label for="notify" th:utext="${utils.msg('macro.weblog.notifyMeOfComments')}">xxx</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-lg-12">
                                        <label for="input4" th:utext="${utils.msg('macro.weblog.yourcomment')}">xxx</label>
                                        <textarea name="content" class="form-control" rows="6" id="input4" required th:utext="${cform.content}">xxx</textarea>
                                    </div>

                                    <div class="form-group col-lg-12">
                                       <script th:if="${model.blogger == null}" th:src="${url.getSiteHome() + '/scripts/clientSideInclude.js'}"></script>
                                       <div id="commentAuthenticator" th:if="${model.blogger == null}"></div>
                                       <input type="submit" th:formaction="${url.getWeblogEntryPreviewCommentURL(entry)}" class="btn btn-primary"
                                               name="post" th:value="${utils.msg('macro.weblog.postpreview')}">
                                       <input type="submit" th:formaction="${url.getWeblogEntryPostCommentURL(entry)}" class="btn btn-success"
                                               name="post" th:value="${utils.msg('macro.weblog.post')}">
                                    </div>
                                </div>
                            </form>
                            <script>
                                clientSideInclude('commentAuthenticator', '[(${url.getCommentAuthenticatorURL()})]');
                            </script>
                        </div>
                    </div>
                    <span th:case="${false}" class="status" th:utext="${utils.msg('comments.disabled')}">xxx</span>
                </th:block>
            </div>
			
			<!-- BODY - SIDEBAR -->
			<div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">Related entries</h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li th:each="recentEntry : ${model.getRecentWeblogEntries(model.weblogEntry.category.name, 20)}"
                                class="list-group-item">
                                <a th:href="${url.getURL(recentEntry)}" th:utext="${recentEntry.title}">xxx</a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
	
	<footer>
    	<span th:replace="${model.getTemplateIdByName('standard_footer')}">xxx</span>
	</footer>

</body>
</html>
