.blogEntryTitle {color:royalblue}

a.tagLink {
    padding: 0px 5px 0px 20px;
    background: url('icons/tag_blue.png') left center no-repeat;
    font-weight: normal;
}

/* searchhi.js matched search item color */
span.searchword {
    background-color:yellow;
}

div.github-file {
    margin-bottom: 1rem;
}

/* google code prettify, line nos on every line without alternate coloring every other line */
div.github-source li.L0,
div.github-source li.L1,
div.github-source li.L2,
div.github-source li.L3,
div.github-source li.L4,
div.github-source li.L5,
div.github-source li.L6,
div.github-source li.L7,
div.github-source li.L8,
div.github-source li.L9 {
    background: inherit;
    list-style-type: decimal !important;
}

div.github-meta {
    background-color: #f7f7f7;
    padding: 5px;
    font-size: 0.8em;
}

div.github-meta a {
    color: #369;
}

/* Calendar */
.hCalendarTableBig {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
}
.hCalendarTableBig > thead > tr > th, .hCalendarTableBig > tbody > tr > th, .hCalendarTableBig > tfoot > tr > th, .hCalendarTableBig > thead > tr > td, .hCalendarTableBig > tbody > tr > td, .hCalendarTableBig > tfoot > tr > td {
    padding:8px;
    border: 1px solid #dddddd;
}
.hCalendarTableBig .hCalendarMonthYearRow {
    font-size: 16px;
    font-weight: bold;
}

/* Tag Cloud Items */
#tagcloud {
    text-align: justify;
    margin: 1em;
}

.tc1 {font-size:80%;}
.tc2 {font-size:100%;}
.tc3 {font-size:120%;}
.tc4 {font-size:140%;}
.tc5 {font-size:160%;}
