<div class="entry">
    <a class="entryTitle" href="$utils.escapeHTML($entry.permalink)">
        $utils.truncateNicely($utils.removeHTML($entry.title), 50, 50, "...")
    </a><br /> 
    <p class="entryDetails">
        <a href="$utils.escapeHTML($entry.website.URL)">$entry.website.name</a>
        #if($entry.tags.size() > 0) $entry.getTagsAsString() |#end
        #if($entry.category.name)$entry.category.name |#end
        #if($entry.pubTime) $utils.formatDate($entry.pubTime, $text.get("macro.weblog.date.toStringFormat")) |#end
        #if($entry.creator.screenName) By $entry.creator.screenName #end
        <br/> 
    </p>
    <p class="entryDescription">                    
        #if($entry.displayContent)
             $utils.truncateNicely($utils.removeHTML($entry.displayContent), 240, 260, "...")
        #else ## planet entries don't have displayContent
             $utils.truncateNicely($utils.removeHTML($entry.text), 240, 260, "...")
        #end
    </p>
</div>
