#foreach( $menu in $menuModel.getMenus() )
    #if ($menu.isPermitted($req))
        #foreach( $item in $menu.getMenuItems() )
            #if ($menu.isPermitted($req))
                #if( $item.isSelected( $req ) )
                <b>
                #end
                <a href="$item.getUrl( $ctx )">$text.get( $menu.getName() ):$text.get( $item.getName() )</a> <br />
                #if( $item.isSelected( $req ) )
                </b>
                #end
            #end
        #end
    #end
#end

