#foreach($entry in $entries)<article class="story"><div class="story-index" aria-hidden="true">$velocityCount</div><div class="story-body"><div class="meta"><a href="$url.category($entry.category.name)">$entry.category.name</a><time datetime="$utils.formatDate($entry.pubTime,'yyyy-MM-dd')">$utils.formatDate($entry.pubTime,"MMMM d, yyyy")</time></div>#if($model.permalink)<h1>$entry.title</h1>#else<h2><a href="$entry.permalink">$entry.title</a></h2>#end<div class="entry-content">#if($model.permalink)$entry.displayContent#else$entry.displayContent($url.entry($entry.anchor))#end</div><footer>#if($entry.tags)#foreach($tag in $entry.tags)<a href="$url.tag($tag.name)">#$tag.name</a>#end#end#set($commentCount=$entry.commentCount)#if($entry.commentsStillAllowed || $commentCount>0)<a href="$url.comments($entry.anchor)">$commentCount comments</a>#end</footer></div></article>#end
