<table>    <tr>       <td style="font-size:11px;">       #showDayPermalink( $day )       #showEntryDate( $day )       </td>    </tr>
    <tr><td style="font-size:11px;">    #foreach( $entry in $entries )        <p><a name="$utilities.encode($entry.anchor)" id="$utilities.encode($entry.anchor)"></a>            <div class="belowTitle">                <div class="title">                    &nbsp;<b>$entry.title</b>                </div>            </div>            <br>            #showEntryText($entry)            <br><br>            <small>(#showTimestamp($entry.updateTime)/#showTimestamp($entry.pubTime))</small>           #showEntryPermalink( $entry )           #showCommentsPageLink( $entry )<br>           Trackback: #showTrackbackURL( $entry )        </p>    #end    </td></tr>
    <tr><td style="font-size:11px;">        <div class="box">        #showLinkbacks( $day )        </div>    </td></tr></table>