/*
* Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  The ASF licenses this file to You
* under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.  For additional information regarding
* copyright in this work, please see the NOTICE file in the top level
* directory of this distribution.
*/
body  {
    margin:  0;
    padding:  0;
    color:  black;
    background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
h1 {
    color : #0000FAA;
}
h2 {
    color : #0000AA;
    font-size: 20px;
}
h3 {
    color : #0000AA;
    font-size: 11px;
}
td{
    font-size: 10px;
}
p {
    color : #000055;
    font-size: 10px;
}
.rBookmark {
    font-size: small;
}
.hCalendarMonthYearRow {
    font-size: medium;
    font-weight: bold;
    color: #0000AA;
}
.hCalendarDayNameRow {
    font-size: x-small;
    font-weight: bold;
}
.hCalendarDay {
    font-size: x-small;
}
.hCalendarDayCurrent {
    font-size: x-small;
    font-weight: bold;
    border-style: dashed;
    border-width: thin;
    border-color: #0000AA;
    color: #0000AA;
}
.hCalendarNextPrev {
    font-size: x-small;
    font-weight: bold;
}
a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 10px;
    font-weight: bold;
}
a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 10px;
    font-weight: bold;
}
div.codeblock {
    font-size:9px;
    color:white;
    border-style:solid;
    border-width:1px;
    border-color:black;
    background-color:#B0B0B0;
}
div.title {
    position: relative;
    top:2px;
    left:2px;
    height:15px;
    width:300px;
    color: white;
    background-color:#0000A0;
    border-color:white;
    border-style:solid;
    border-width:1px;
}
div.belowTitle {
    vertical-align:middle;
    height:21px;
    width:306px;
    color: white;
    background-color:#0000A0;
}
