<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    #showContentLanguage($locale.language)
    <link rel="stylesheet" type="text/css" href="$ctxPath/themes/base.css" />
    <link rel="stylesheet" type="text/css" href="#showThemePath("clean")/theme.css" />
    <style type="text/css">#includePage("_css")</style>
    <title>#showWebsiteTitle()</title>
</head>
<body>
    <table cellpadding="5" cellspacing="15" border="0" align="center" width="95%">
        <tbody>
            <tr>
                <td width="5%" valign="top" bgcolor="#ffffff">&nbsp;</td>
                <td width="75%" valign="top" bgcolor="#ffffff">
                    <h2>#showWebsiteTitle()</h2>
                    <h3>#showWebsiteDescription()</h3>
                    #showWeblogCategoryChooser()<br>
                    #showNextPreviousLinks()
                    #showWeblogEntries("_day" 5)
                </td>
                <td valign="top" bgcolor="#ffffff" width="20%">
                    <br>#showWeblogCalendar()<br><br>
                    #showRSSBadge()<br><br><br>
                    #showBasicNavBar(true)<br>
                    #showSearchForm()<br>
                    #showBookmarks("Blogroll" true false)<br>
                    #showBookmarks("News" true false)<br>
                    #showEditorNavBar(true)<br>
                    #showReferers(30 20)
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>