<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
    #includeTemplate($model.weblog "_css")
    </style>
    #showAutodiscoveryLinks($model.weblog)
   <title>$model.weblog.name : $model.weblogPage.name</title>
</head>
<body>
<div id="block">&nbsp;

   <div id="container">

      <div id="sidebar-a">

         <h1 id="banner">
            $model.weblog.name
            <span class="tagline"><em>$model.weblog.description</em></span>
         </h1>

         <div id="calendar">
            #showWeblogEntryCalendar($model.weblog "nil")
         </div>
	     <hr />

         <h3>Blogroll</h3>
         #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
         #showBookmarkLinksList($rootFolder false false) 

         <h3>Newsfeeds</h3>
         #showAtomFeedsList($model.weblog)
 
         <h3>Controls</h3>
         #showPageMenu($model.weblog)

      </div> <!-- sidebar-a -->

      <div id="content">

        #set($pager = $model.getWeblogEntriesPager()) 
        <div class="next-previous">
            #if ($model.results)
                #showWeblogSearchAgainForm($model.weblog)
                #showNextPrevSearchControl($pager)
            #else
                #showNextPrevEntriesControl($pager)
            #end
        </div>

        #showWeblogEntriesPager($pager)

        #if ($model.permalink)
           #showWeblogEntryComments($entry)
           #showWeblogEntryCommentForm($entry)
        #end

         <div id="footer">
             Theme Design by <a href="http://www.bryanbell.com">Bryan Bell</a>
         </div> <!-- footer -->
      </div> <!-- content -->

   </div> <!-- container -->

</div> <!-- block -->

</body>
</html>
