<aside class="sidebar">
  #if($model.weblog.about)
  <section>
    <h2>About</h2>
    <div class="about">$model.weblog.about</div>
  </section>
  #end
  <section>
    <h2>Explore</h2>
    #set($mytags=$model.weblog.getPopularTags(-1,18))
    <div class="tag-cloud">
      #foreach($tag in $mytags)
      <a href="$url.tag($tag.name)" title="$tag.count entries">$tag.name</a>
      #end
    </div>
  </section>
  <a class="subscribe" href="$url.feed.entries.atom">
    Follow via Atom
    <span aria-hidden="true">→</span>
  </a>
</aside>
