<link rel="stylesheet" type="text/css" href="$url.site/themes/base.css" />
<style type="text/css">
@import url($url.themeResource("andreas08", "styles/tools.css"));
@import url($url.themeResource("andreas08", "styles/type.css"));
@import url($url.themeResource("andreas08", "styles/forms.css"));
@import url($url.themeResource("andreas08", "styles/layout-navtop-subright.css"));
@import url($url.themeResource("andreas08", "styles/layout.css"));
@import url($url.themeResource("andreas08", "styles/andreas08.css"));
</style>
