<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">  
<head>
    <title>$model.weblog.name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <style type="text/css">
    #includeTemplate($model.weblog "_css")
    </style>
    <link rel="stylesheet" type="text/css" href='$url.themeResource("andreas08", "styles/tools.css")' />
    <link rel="stylesheet" type="text/css" href="$url.themeResource("andreas08", "styles/typo.css")' />
    <link rel="stylesheet" type="text/css" href='$url.themeResource("andreas08", "styles/lightbox.css")' />
    <link rel="stylesheet" type="text/css" href='$url.themeResource("andreas08", "styles/nav-horizontal.css")' />
    <link rel="stylesheet" type="text/css" href='$url.themeResource("andreas08", "styles/layout-navtop-subright.css")' />
    <link rel="stylesheet" type="text/css" href='$url.themeResource("andreas08", "styles/layout.css")' />
    <link rel="stylesheet" type="text/css" href='$url.themeResource("andreas08", "styles/andreas08.css")' />

    #showAutodiscoveryLinks($model.weblog)
    <script type="text/javascript" src="$url.themeResource("andreas08", "scripts/prototype.js")"></script>
    <script type="text/javascript" src="$url.themeResource("andreas08", "scripts/scriptaculous.js?load=effects")"></script>
    <script type="text/javascript" src="$url.themeResource("andreas08", "scripts/lightbox.js")"></script>
    <link rel="stylesheet" type="text/css" href="$url.themeResource("andreas08", "styles/lightbox.css")" />
</head>

<body>
    
<div id="page">  

    <div id="header" class="clearfix">
        <h1><a href="$url.home">$model.weblog.name</a></h1>

        <h2><!-- Short tagline goes here --></h2>
        <div id="branding">$model.weblog.description</div>
    </div>

    <div id="content" class="clearfix">
        <div id="main">

        #set($pager = $model.getWeblogEntriesPager()) 
        <div class="next-previous">
            #if ($model.results)
                #showWeblogSearchAgainForm($model.weblog)
                #showNextPrevSearchControl($pager)
            #else
                #showNextPrevEntriesControl($pager)
            #end
        </div>

        <div class="entries">
            #showWeblogEntriesPager($pager)
        </div>

        #if ($model.permalink)
           #showWeblogEntryComments($entry)
           #showWeblogEntryCommentForm($entry)
        #end

        </div><!-- end main -->

        <div id="sub">
            #showPageMenu($model.weblog)
            <div class="editorMenu">#showAuthorMenu(true)</div>
            <div class="small box" id="description">
                <div id="feed">
                    <a href="$url.feed.entries.atom"><img class="rssbadge"
                        src="$url.themeResource("andreas08", "images/feed-icon-16x16.jpg")"
                        alt="Click me to subscribe" /></a>
                </div>
                $model.weblog.description
            </div>
            <div class="small" id="calendar">#showWeblogEntryCalendar($model.weblog "nil")</div>
            <div id="searchbar">
                <h2>Search This Site</h2>
                #showWeblogSearchForm($model.weblog false)
            </div>

            <h2>Recent Entries</h2>
            #set($recentEntries = $model.weblog.getRecentWeblogEntries("nil", 20))
            #showWeblogEntryLinksList($recentEntries)

        </div>

        <div id="nav">
            <div class="wrapper">
                <h2 class="hide">Navigation</h2>
                #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
                #showWeblogCategoryLinksList($rootCategory false false)
            </div>
        </div>
    </div><!-- end content -->

    <div id="footer" class="clearfix">
        <p>Design by <a href="http://andreasviklund.com">Andreas Viklund</a></p>
    </div>

</div><!-- end page -->
</body>
</html>
