<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
#set($themeDir = "$config.contextURL/themes/andreas08")
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$model.weblog.name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <base href="$model.weblog.URL"> 
    #includeTemplate($model.weblog "_css")
    #showAutodiscoveryLinks($model.weblog)
    #showCommonJavascript()
    <script type="text/javascript" src="$themeDir/scripts/prototype.js"></script>
    <script type="text/javascript" src="$themeDir/scripts/scriptaculous.js?load=effects"></script>
    <script type="text/javascript" src="$themeDir/scripts/lightbox.js"></script>
    <link rel="stylesheet" type="text/css" href="$themeDir/styles/lightbox.css" />
</head>

<body>
    
<div id="page">  

    <div id="header" class="clearfix">
        <h1><a href="$model.weblog.URL">$model.weblog.name</a></h1>

        <h2><!-- Short tagline goes here --></h2>
        <div id="branding">$model.weblog.description</div>
    </div>

    <div id="content" class="clearfix">
        <div id="main">

        #set($pager = $model.getWeblogEntriesPager()) 
        <div class="next-previous">
        #showNextPrevControl($pager)
        </div>
        <div class="entries">
        #showWeblogEntriesPager($pager)
        </div>

        #if ($model.permalink)
           #showWeblogEntryComments($entry)
           #showWeblogEntryCommentForm($entry)
        #end

        </div><!-- end main -->

        <div id="sub">
            #showPageMenu($model.weblog)
            <div class="editorMenu">#showAuthorMenu(true)</div>
            <div class="small box" id="description">
                <div id="feed">
                    <a href="$model.weblog.URL/feeds/rss"><img class="rssbadge"
                        src="$themeDir/images/feed-icon-16x16.jpg" 
                        alt="Click me to subscribe" /></a>
                </div>
                $model.weblog.description
            </div>
            <div class="small" id="calendar">#showWeblogEntryCalendar($model.weblog "nil")</div>
            <div id="searchbar">
                <h2>Search This Site</h2>

                <form id="search" method="get" 
                    action="$model.weblog.handle/search" style="margin: 0; padding: 0">
                    <fieldset>
                        <input type="text" id="q" name="q" size="15" class="text small"
                            maxlength="255" value="" 
                            onfocus="this.style.backgroundColor='#ffd'" 
                            onblur="this.style.backgroundColor='#fff'" />
                        <input type="submit" value="Go!" id="searchbutton" />
                    </fieldset>
                </form>
            </div>

            <h2>Recent Entries</h2>
            #set($recentEntries = $weblog.getRecentWeblogEntries("nil", 20))
            #showWeblogEntryLinksList($recentEntries)

        </div>

        <div id="nav">
            <div class="wrapper">
                <h2 class="hide">Navigation</h2>
                #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
                #showWeblogCategoryLinksList($rootCategory false false)
            </div>
        </div>
    </div><!-- end content -->

    <div id="footer" class="clearfix">
        <p>Design by <a href="http://andreasviklund.com">Andreas Viklund</a></p>
    </div>

</div><!-- end page -->
</body>
</html>
