<div class="box" xmlns:th="http://www.thymeleaf.org">

    <h2 class="box" th:with="entries=${model.weblogEntriesPager.getEntries().get(day)}">
        <a th:href="${entries != null && entries.size() > 0 ? url.getURL(entries[0])
            : url.getEntriesURLForDate($utils.formatTemporal($day, $utils.msg('macro.weblog.datelinkpattern')))}">
            <img class="daypermalink" border="0"
                 th:src="${url.getSiteHome() + '/images/permalink.gif'}"
                 th:title="${utils.msg('macro.weblog.daypermalink.title')}"
                 th:alt="${url.getEntriesURLForDate(utils.formatTemporal(day, 'yyyyMMdd'))}"/></a>
            <span th:text="${utils.formatTemporal(day, utils.msg('macro.weblog.datepattern'))}"></span>
    </h2>

    <div class="entryBox" th:each="entry : ${model.weblogEntriesPager.getEntries().get(day)}" th:id="${entry.anchor}">
        <p class="entryTitle" th:utext="${entry.title}">xxx</p>
        <p class="entryContent" th:switch="${model.permalink || #strings.isEmpty(entry.summary)}">
            <span th:case="${true}" th:utext="${model.getTransformedText(entry)}"></span>
            <span th:case="${false}" th:utext="${model.getTransformedSummary(entry) + ' ' + utils.msg('macro.weblog.readMoreLink', url.getURL(entry))}"></span>
        </p>
        <p class="entryInfo">
            Posted <span th:if="${entry.pubTime != null}">at <a th:href="${url.getURL(entry)}" th:utext="${utils.formatTemporal(entry.pubTime, utils.msg('macro.weblog.timedatepattern'))}">xxx</a></span>
            by <span th:utext="${entry.creator.screenName}">xxx</span> in <span class="category" th:utext="${entry.category.name}">xxx</span>
            <th:block th:if="${entry.getTags() != null && entry.getTags().size() > 0}">
                <span>| Tags:</span>
                <span th:each="tag : ${entry.getTags()}">
                    &nbsp;<a th:href="${url.getEntriesURLForTag(tag.name, model.categoryName)}" th:utext="${tag.name}">xxx</a>
                </span>
            </th:block>
            <span th:if="${model.isUserBlogPublisher()}">
                | <a th:href="${url.getEntryEditURL(entry)}" th:utext="${utils.msg('generic.edit')}">xxx</a>
            </span>
            <span th:if="${model.canSubmitNewComments(entry) || entry.commentCount > 0}">
                | <a th:href="${url.getCommentsURL(entry)}" class="commentsLink" th:utext="${utils.msg('macro.weblog.comments') + '[' + entry.commentCount + ']'}">xxx</a>
            </span>
        </p>
    </div>

</div>
