<div class="box" xmlns:th="http://www.thymeleaf.org">

    <h2 class="box" th:with="entries=${model.weblogEntriesPager.getEntries().get(day)}">
        <a th:href="${entries != null && entries.size() > 0 ? url.entry(entries[0])
            : url.date($utils.formatDate($day, $utils.msg('macro.weblog.datelinkpattern')))}">
            <img class="daypermalink" border="0"
                 th:src="${url.site + '/images/permalink.gif'}"
                 th:title="${utils.msg('macro.weblog.daypermalink.title')}"
                 th:alt="${url.date(utils.formatDate(day, 'yyyyMMdd'))}"/></a>
            <span th:text="${utils.formatDate(day, utils.msg('macro.weblog.datepattern'))}"></span>
    </h2>

    <div class="entryBox" th:each="entry : ${model.weblogEntriesPager.getEntries().get(day)}" th:id="${utils.encode(entry.anchor)}">
        <p class="entryTitle" th:utext="${entry.title}">xxx</p>
        <p class="entryContent" th:switch="${model.permalink || utils.isEmpty(entry.summary)}">
            <span th:case="${true}" th:utext="${model.getTransformedText(entry)}"></span>
            <span th:case="${false}" th:utext="${model.getTransformedSummary(entry) utils.msg('macro.weblog.readMoreLink', [url.entry(entry)])"></span>
        </p>
        <p class="entryInfo">
            Posted <span th:if="${entry.pubTime != null}">at <a th:href="${url.entry(entry)}" th:utext="${utils.formatDateTime(entry.pubTime, utils.msg('macro.weblog.timedatepattern'))}">xxx</a></span>
            by <span th:utext="${entry.creator.screenName}">xxx</span> in <span class="category" th:utext="${entry.category.name}">xxx</span>
            <span th:if="${model.isUserBlogPublisher(entry.weblog)}">
                |&nbsp;<a th:href="${url.editEntry(entry.anchor)}" th:utext="${utils.msg('generic.edit')}">xxx</a>
            </span>
            <span th:if="${model.canSubmitNewComments(entry) || entry.commentCount > 0}">
                |&nbsp;<a th:href="${url.comments(entry)}" class="commentsLink" th:utext="${utils.msg('macro.weblog.comments') + '[' + entry.commentCount + ']'}">xxx</a>
            </span>
        </p>
    </div>

</div>
