<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="UserActivation" th:remove="tag">
    <span th:utext="#{user.account.activation.mail.content(${userName}, ${activationURL})}">xxx</span>
</div>
<div th:fragment="RegistrationApprovalRequest" th:remove="tag">
    <span th:utext="#{mailMessage.approveRegistrationContent(${screenName}, ${emailAddress}, ${userAdminURL})}">xxx</span>
</div>
<div th:fragment="RegistrationApprovedNotice" th:remove="tag">
    <span th:utext="#{mailMessage.registrationApprovedContent(${screenName}, ${userName}, ${loginURL})}">xxx</span>
</div>
<div th:fragment="RegistrationRejectedNotice" th:remove="tag">
    <span th:utext="#{mailMessage.registrationRejectedContent(${screenName})}">xxx</span>
</div>
<div th:fragment="PendingEntryNotice" th:remove="tag">
    <span th:utext="#{weblogEntry.pendingEntryContent(${screenName}, ${entryTitle}, ${editURL})}">xxx</span>
</div>
<div th:fragment="CommentApproved" th:remove="tag">
    <span th:text="#{email.comment.commentApproved}">xxx</span>
    <br><br>
    <span><a th:href="${commentURL}" th:utext="${commentURL}">xxx</a></span>
</div>
</body>
</html>
