<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background:white;color:black;font-size:12px">
<div>
<span th:text="|${comment.name} #{email.comment.wrote}: |">
    A user wrote
</span><br><br>
<span th:utext="${comment.content}">(comment text)</span>
<br><br><hr>
<span style="font-size:11px" th:text="|#{email.comment.reply}: |"><br>
    Reply:
</span>
<a th:href="${commentURL}" th:text="${commentURL}">replyurl</a>
<br><br><hr>
<span style="font-size:11px" th:text="#{email.comment.receiveReason}"><br>
    (receive reason)
</span>
<span style="font-size:11px" th:utext="#{email.comment.unsubscribeLink(${unsubscribeURL})}"><br>
    (unsubscribe link)
</span>
</div>
</body>
</html>
