
<div class="entryHeader">
   #showDayPermalink( $day )
   #showEntryDate( $day )
</div>

#foreach( $entry in $entries )
<div class="entryContent">
    <p>
        <a name="$utilities.encode($entry.anchor)" id="$utilities.encode($entry.anchor)"></a>
        <b>$entry.title</b> #showEntryText($entry)        <span class="dateStamp">(#showTimestamp($entry.pubTime))</span>        #showEntryPermalink( $entry )        #showCommentsPageLink( $entry )<br />        Trackback: #showTrackbackURL($entry)    </p></div>#end
<p>#showLinkbacks( $day )</p>
