body {
	margin: 0px 0px 0px 0px;
}

h2 {
	padding-top: 10px;
}

p,h1,pre {
	margin: 0px 30px 10px 30px;
}

#content {
	margin-right: 185px;
	padding: 10px;
	text-align: center; /* centers content */
}

#content #entries {
	text-align: left;
}

#content #title {
	border: 0px;
	height: 73px;
	width: 422px;
}

#content .rWeblogCategoryChooser {
	margin-bottom: 10px;
}

#menu {
	line-height: 17px;
	padding: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 185px;
}

#menu #calendar {
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 2px;
}

/* center the calendar table */
#menu #calendar table {
	margin-left: auto;
	margin-right: auto;
}

#menu .item {
	padding: 10px 0px 10px 2px;
}


body {
	/* Here we'll declare the default font-size and font-family. 
	 * The rest of the typographical rules use relative sizes based on this font-size. 
	 * We can easily modify overall typography by changing or overriding these values. 
	 */
	background: #F4F4D1; 
	color: #573e93;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
    	margin: 0px;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline overline;
}

a:active {
	text-decoration: none;
}

.dateStamp {
	background: transparent;
	color: #825d9c;
	font-size: 8pt;
}

.error {
	background: transparent;
	color: #FF0000;
}

#calendar {
	color: #412FC8;//825d9c
}

.hCalendarDay {
	border-width: thin;
	font-size: .9em;
	text-align: center;
}

.hCalendarDayCurrent {
	border-style: solid;
	border-width: medium;
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}

.hCalendarDayLinked {
	border-width: thin;
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}

.hCalendarDayNameRow {
	font-size: .9em;
	font-weight: bolder;
	text-align: center;
}

.hCalendarDayNotInMonth {
	background: transparent;
	color: #AAAAAA;
	font-size: .9em;
	text-align: center;
}

.hCalendarNextPrev {
	text-align: center;
}

.hCalendarTitle {
	font-weight: bolder;
	text-align: center;
}

#menu {
	background-color: #000080;
	background-image: url(#showThemeImagePath("cheb" "background.jpg"));
	color: #000080;
	width: 20%;
}

#menu #calendar {
	border: 3px solid #575700;
}

#menu .item {
	border-top: 2px dashed #575700;
}

.rFolder, .rNewsfeedTitle {
	font-weight: 600;
}

.permalink, .daypermalink {
	border: 0px;
	vertical-align: bottom;
}

/* hide borders for all images with links */
img a {
    border: 0px;
}

#content {
	background: #F4F4D1;
	color: #412FC8;
}

#content a {
	background: transparent;
	color: #000080;
}

#content pre {
	background: #FFFFCC;
	color: #573e93;
	padding: 5px;
}

.entryHeader {
	background: #F4F4D1;
	background-image: url(#showThemeImagePath("cheb" "titlebar.jpg"));
	background-image: no-repeat;
	color: #000080;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-variant: small-caps;
	font-weight: bold;
	position: relative;
	top: 0px;
	left: 10px;
	width: 490px;
	margin: 5px;
	padding: 5px;
}

.entryContent {
    background: #F4F4D1;
    color: #000080;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    position: relative;
	left: 20px;
	width: 65%;
    margin: 5px;
    padding: 5px;
}

#menu a {
	background: transparent;
	color: #573e93;
}

#menu .rFolder a, #menu .rNewsfeedTitle a {
	background: transparent;
	color: #EFABB3;
}

#menu .rFolder span, #menu .rNewsfeedTitle span {
    font-weight: bold;
}

.rReferersList {
	font-size:1em;
	margin-left: 5px;
	padding-left: 5px;
}

.rReferersListItem {
	font-size:0.7em;
}
