<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$model.weblog.name : $model.weblogPage.name</title>
    #showAutodiscoveryLinks($model.weblog)
    <style type="text/css">#includeTemplate($model.weblog "_css")</style>
</head>
<body>
  <div id="content">
    <h1>$model.weblog.name</h1>
    <center>
        #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
        #showWeblogCategoryLinksList($rootCategory false false)
    </center>

    <div id="entries">
        #set($pager = $model.getWeblogEntriesPager()) 
        <div class="next-previous">
            #if ($model.results)
                #showWeblogSearchAgainForm($model.weblog)
                #showNextPrevSearchControl($pager)
            #else
                #showNextPrevEntriesControl($pager)
            #end
        </div>
        #showWeblogEntriesPager($pager)
        #if ($model.permalink)
           #showWeblogEntryComments($entry)
           #showWeblogEntryCommentForm($entry)
        #end
    </div>
  </div>

  <div id="menu">
    <a href="$url.feed.entries.atom">
        <img class="rssbadge"
            src="$url.site/images/feed-icon-12x12.gif" border="0"
            title="To subscribe: right-click, copy link and past into your newsreader" />Subscribe!</a>
    <div id="calendar">
        #showWeblogEntryCalendar($model.weblog "nil")
    </div>
    <div class="item">
        #showWeblogSearchForm($model.weblog false)
    </div>
    <div class="item">
        #set($rootFolder = $model.weblog.getBookmarkFolder("/"))
        #showBookmarkLinksList($rootFolder false false) 
    </div>
    <div class="item">
        #showAuthorMenu(true)
    </div>
    <div class="item">
        #showPageMenu($model.weblog)
    </div>
    <div class="item">
        <a href="http://validator.w3.org/check/referer">
          <img class="w3" src="$url.absoluteSite/images/vcss.png"
            alt="Valid CSS!"/></a>
        <a href="http://validator.w3.org/check/referer"><img
            src="$url.absoluteSite/images/valid-xhtml10.png"
            alt="Valid XHTML 1.0!" class="w3"/></a>
    </div>
    <div class="item">
        Today's referrers
        #set($refs = $model.weblog.getTodaysReferrers())
        #showReferrersList($refs 30 20)
    </div>

     <div class="item">design by
       <a href="http://www.cheblogs.com/roller/page/bblakeley">Brian Blakeley</a>
     </div>
  </div>
 </body>
</html>
