<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN""http://www.w3.org/TR/REC-html40/frameset.dtd">
<!--NewPage-->
<HTML>
<HEAD>
<TITLE>
</TITLE>
<LINK REL ="stylesheet" TYPE="text/css" HREF="stylesheet.css" TITLE="Style">
</HEAD>
<BODY BGCOLOR="white">

<TABLE BORDER="0" WIDTH="100%">
<TR>
<TD NOWRAP>
<FONT size="+1" CLASS="FrameTitleFont">
<B>Velocimacros</B>
</FONT></TD>
</TR>
</TABLE>

<TABLE BORDER="0" WIDTH="100%">
<TR>
<TD NOWRAP><FONT CLASS="FrameItemFont">
<A HREF="alltemplates.html" TARGET="packageFrame">All Templates</A>
<br><A HREF="allmacros.html" TARGET="packageFrame">All Macros</A>
</FONT>
<P>
<FONT size="+1" CLASS="FrameHeadingFont">
</TD>
</TR>
</TABLE>

<P>
&nbsp;
</BODY>
</HTML>
