<p style="text-align: center; font-size: x-small;">

   <a href="http://validator.w3.org/check/referer">
      <img src="#showImagePath()/valid-html401.png" 
      alt="Valid HTML!" border="0"></a>

   <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img src="#showImagePath()/vcss.png" 
      alt="Valid CSS!" border="0"></a>

   <br/>
   <br/>
   This is a personal weblog, I do <i>not</i> speak for my employer.<br/>

</p>