#set( $boxcolor0 = "#909090" )
#set( $boxcolor1 = "#8facc5" )
#set( $boxcolor = "#9191cd" )

.hCalendarMonthYearRowBig {
  font-size: x-large;
  font-weight: bold;
}

.hCalendarTableBig {
  width: 95%;
  border: dashed 1px #aaaaaa;
  text-align : center;
  padding: 5px;
}

.hCalendarMonthYearRowBig {
  color: white;
  background-color : $boxcolor;
  border: dashed 1px #aaaaaa;
  width: 12%;
}

.hCalendarDayNameRowBig {
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
  font-weight: bold;
}

.bCalendarDayContentBig {
  font-size: x-small;
  padding: 3px 0px 3px 0px;
}

.hCalendarDayTitleBig {
  position: relative;
  left: 0;
  top: 0;
  width: 25%;
  padding: 3px 0 3px 0;
  background: transparent;
  color: #050505;
  border-right: 1px solid #050505;
  border-bottom: 1px solid #050505;
  font-size: small;
  text-align: center;
  font-size: small;
}

.hCalendarDayBig {
  vertical-align: top;
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

TD.hCalendarDayCurrentBig {
  vertical-align: top;
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

TD.hCalendarDayLinkedBig {
  vertical-align: top;
  border-color: #8facc5; 
  border-width: 1px; 
  border-style: solid;  
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

TD.hCalendarDayNotInMonthBig {
  vertical-align: top;
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

.hCalendarDayNameRowBig {
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
  font-weight: bold;
}

.hCalendarNextPrevBig {
  border: dashed 1px #aaaaaa;
  background-color: #ffffff;
  margin: 2px;
  width: 12%;
}

