<div id="SideBar">

<div class="box">
<h2 class="box">calendar</h2>
<center>#showWeblogEntryCalendar($model.weblog "nil")</center>
</div>

<div class="box"><h2 class="box">search</h2>
#showWeblogSearchForm($model.weblog false)
</div>

<div class="box"><h2 class="box">navigation</h2>
#showPageMenu($model.weblog)
<br/>
<br/>
#showAuthorMenu(true)
</div>

<div class="box"><h2 class="box">links</h2>
<br/>
#set($rootFolder = $model.weblog.getBookmarkFolder("/"))
#showBookmarkLinksList($rootFolder false false)
<br/>
</div>

<div class="box"><h2 class="box">feeds</h2>
#showAtomFeedsList($model.weblog)<br/>
</div>

<div class="box"><h2 class="box">referers</h2>
Today's top referers<br/>
#set($refs = $model.weblog.getTodaysReferrers())
#showReferrersList($refs 30 20)
</div>

<br/>
<br/>

</div>
