#includeTemplate($model.weblog "_header") 

<div id="ArchivesColumn">
  <center>
    <h2>$model.weblog.name</h2>
    #showPageMenu(false)<br />
  </center>
  #showWeblogEntryCalendarBig($model.weblog 'nil')<br /> 
  #includeTemplate($model.weblog("_badges") 
</div> 

#includeTemplate($model.weblog "_footer") 