#includePage("_header")

<div id="MainColumn">
   <div align="center">
       <h2>#showWebsiteTitle()</h2>
       #showWeblogCategoryChooser()
   </div>
    #displayWeblogEntries()<br/>
   #includePage("_badges")
</div>

#includePage("_sideColumn")
#includePage("_footer")