#includeTemplate($model.weblog "_header")

<div id="MainColumn">
   <div align="center">
       <h1>$model.weblog.name</h1>
       $model.weblog.description 
        #set($rootCategory = $model.weblog.getWeblogCategory("nil"))
        #showWeblogCategoryLinksList($rootCategory false false)
   </div>
    #set($pager = $model.getWeblogEntriesPager()) 
    <div class="next-previous">
        #if ($model.results)
            #showWeblogSearchAgainForm($model.weblog)
            #showNextPrevSearchControl($pager)
        #else
            #showNextPrevEntriesControl($pager)
        #end
    </div>

    #showWeblogEntriesPager($pager)

    #if ($model.permalink)
       #showWeblogEntryComments($entry)
       #showWeblogEntryCommentForm($entry)
    #end
<br/>
   #includeTemplate($model.weblog "_badges")
</div>

#includeTemplate($model.weblog "_sideColumn")
#includeTemplate($model.weblog "_footer")