/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/

* {
    margin: 0;
    padding: 0;
}

body {
    font: 76% Verdana, Tahoma, Arial, sans-serif;
    line-height: 1.4em;
    text-align: center;
    color: #303030;
    background: #e8eaec;
}

a {
    color: #467aa7;
    font-weight: bold;
    text-decoration: none;
    background-color: inherit;
}

a:hover {
    color: #2a5a8a;
    text-decoration: none;
    background-color: inherit;
}

a img {
    border: none;
}

p {
    padding: 0em 0 1.7em 0;
}

p form {
    margin-top: 0;
    margin-bottom: 20px;
}

img.left, img.center, img.right {
    padding: 4px;
    border: 1px solid #a0a0a0;
}

img.left {
    float: left;
    margin: 0 12px 5px 0;
}

img.center {
    display: block;
    margin: 0 auto 5px auto;
}

img.right {
    float: right;
    margin: 0 0 5px 12px;
}

/**************** Header and navigation styles ****************/

div#page {
    width: 760px;
    margin: 20px auto;
    padding: 1px 0;
    text-align: left;
    background: #ffffff;
    color: #303030;
    border: 2px solid #a0a0a0;
}

div#header {
    height: 110px;
    width: 758px;
    margin: 0 1px 1px 1px;
    background: #467aa7;
    color: #ffffff;
}

div#header h1 {
    padding: 35px 0 0 20px;
    font-size: 2.4em;
    background-color: inherit;
    color: #ffffff;
    letter-spacing: -2px;
    font-weight: normal;
}

div#header h2 {
    margin: 10px 0 0 40px;
    font-size: 1.4em;
    background-color: inherit;
    color: #f0f2f4;
    letter-spacing: -1px;
    font-weight: normal;
}

div#nav {
    height: 2.2em;
    line-height: 2.2em;
    width: 758px;
    margin: 0 1px;
    background: #578bb8;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -379px;
    top: 134px;
/*
    margin-left: -549px; *//* IE workaround */
}

div#nav li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #ffffff;
    white-space: nowrap;
}

div#nav li a {
    display: block;
    padding: 0 10px;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    background-color: inherit;
    color: #ffffff;
}

* html div#nav a {
    width: 1%;
}

div#nav .selected, div#nav a:hover {
    background: #80b0da;
    color: #ffffff;
    text-decoration: none;
}

/**************** Content styles ****************/

div#main {
    float: left;
    width: 530px;
    font-size: 0.9em;
    padding: 46px 0 0 20px;
}

div#main h1, div#main h2 {
    display: block;
    margin: 0 0 17px 0;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit;
}

div#main h2 {
    line-height: .6em;
    margin-bottom: 20px;
    margin-top: 1px;
}

div#main h2 a {
    font-weight: normal;
}

div#main h3 {
    margin: 0 0 5px 0;
    font-size: 1.4em;
    letter-spacing: -1px;
}

div#main p, div#main blockquote, div.readMore {
    margin: 0;
    line-height: 1.52em;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

div#main a:hover, div#sub a:hover {
    text-decoration: underline;
}

div#main ul, div#main ol {
    margin: 0 5px 16px 35px;
}

div#main dl {
    margin: 0 5px 10px 25px;
}

div#main dt {
    font-weight: bold;
    margin-bottom: 5px;
}

div#main dd {
    margin: 0 0 10px 15px;
}

/**************** Sidebar styles ****************/

div#sub {
    float: right;
    width: 170px;
    padding: 47px 20px 10px 0;
    line-height: 1.4em;
}

div#sub h2 {
    display: block;
    margin: 0 0 15px 0;
    font-size: 1.6em;
    font-weight: normal;
    text-align: left;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit;
}

div#sub p {
    margin: 0 0 16px 0;
}

/**************** Menublock styles ****************/

.menublock, .rFolder, ul.recentposts {
    margin: 0 0 20px 8px;
}

.menublock li, .rFolder li, .recentposts li {
    list-style: none;
    display: block;
    padding: 2px;
    margin-bottom: 2px;
}

.menublock li a, .rFolder li a, .recentposts li a {
    font-weight: bold;
    text-decoration: none;
}

.menublock li a:hover, .rFolder li a:hover {
    text-decoration: none;
}

.menublock li ul, .rFolder li ul {
    margin: 3px 0 3px 15px;
    font-size: 1em;
    font-weight: normal;
}

.menublock li ul li, .rFolder li ul li {
    margin-bottom: 0;
}

.menublock li ul a, .rFolder li ul a {
    font-weight: normal;
}

.rFolder {
    margin-bottom: 10px;
}

.rFolder .rFolderItem li, li.recentposts {
    padding: 0px !important;
    margin: 0px !important;
}

.rFolderItem a.rBookmark0, li.recentposts a {
    font-size: 0.80em;
}

div.editorMenu a {
    font-size: 10px !important;
}

/**************** Searchbar styles ****************/

div#searchbar {
    margin: 0 0 10px 0;
}

div#searchbar form fieldset {
    margin-left: 0px;
    border: 0 solid;
}

div#searchbar #s {
    height: 1.2em;
    margin: 0 5px 0 0;
    border: 1px solid #a0a0a0;
    width: 100px;
    font-size: .9em
}

div#searchbar #searchbutton {
    width: auto;
    padding: 0 1px;
    border: 1px solid #666;
    font-size: 0.9em;
    text-align: center;
}

/**************** form styles ****************/
.button, button {
   padding: 2px;
   border: 1px outset #2763A5;
   font-size: 11px;
}

div#main form ul {
    margin: 0;
    list-style: none;
}

div#main form p {
    border-bottom: 0px;
    padding-bottom: 0px;
}

/**************** Footer styles ****************/

div#footer {
    clear: both;
    width: 758px;
    padding: 5px 0;
    margin: 0 1px;
    font-size: 0.9em;
    color: #f0f0f0;
    background: #467aa7;
}

div#footer p {
    padding: 0;
    margin: 0;
    text-align: center;
}

div#footer a {
    color: #f0f0f0;
    background-color: inherit;
    font-weight: bold;
}

div#footer a:hover {
    color: #ffffff;
    background-color: inherit;
    text-decoration: underline;
}

/**************** Misc classes and styles ****************/

.splitcontentleft {
    float: left;
    width: 48%;
}

.splitcontentright {
    float: right;
    width: 48%;
}

.clear {
    clear: both;
}

.small {
    font-size: 0.8em;
}

.hide {
    display: none;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.important {
    color: #f02025;
    background-color: inherit;
    font-weight: bold;
}

.box {
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid #c0c0c0;
    background-color: #fafbfc;
    color: #505050;
    line-height: 1.5em;
}

/** customizations for Roller **/

div.entries p {
    text-align: justify;
}

div.entry {
    color: white;
    border: 1px solid #F7ECD4;
    padding: 3px 5px;
    margin-bottom: 10px;
    margin-left: -10px;
    font-weight: bold;
}

div.entry img.daypermalink {
    vertical-align: top;
    padding-top: 2px;
}

span.info {
    padding: 6px 0 5px 8px;
    border: 1px solid #e3e4e4;
    background: #fafbfc url(../images/squares.jpg) top right no-repeat;
    color: #505050;
    padding-bottom: 5px !important;
    font-size: 10px; 
    display: block; 
    margin-top: 10px
}

span.info .dateStamp a {
    color: #666;
}

span.entryTitle {
    display: block;
}

div.day span.entryTitle a {
    color: black;
}

img.picture {
    border: 1px solid #000000;
    float: right;
    margin: 0px 10px 10px 10px;
}

img.smiley {
    vertical-align: top;
}

.hCalendarTable {
    margin: 0 auto 20px auto;
    padding: 10px;
    border: 1px solid #c0c0c0;
    color: #505050;
    line-height: 1.5em;
    width: 100%;
}

.hCalendarMonthYearRow {
    padding: 2px;
    background: #fafbfc;
}

div#sub div#feed {
    display: inline;
}

div#sub div#feed {
    float: right;
}

div#main .quote, div#main blockquote {
    border: 1px solid #EEEEEE;
    border-left: 5px solid #C0C0C0;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
    font-style: normal;
}

p.smokey {
    background: #eeeeee;
    border: 1px solid #000000;
    padding: 5px 5px 5px 7px;
    padding-bottom: 5px !important;
}

pre {
    background: #ffffdd;
    border: 1px solid #999999;
    color: #000000;
    padding: 5px 5px 5px 7px;
    overflow: auto;
    font-size: 11px; 
    width: 95%;
    margin-bottom: 10px;
}

code { font-size: 11px }

div.comment {
    overflow: auto;
    width: 95%;
}

span.searchword {
    background: #ffff00;
    color: inherit;
}

table.comparison {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

table.comparison td {
    border: 1px solid #000000;
    padding: 2px;
}

table.comparison th {
    background: #eeeeee;
    border: 1px solid #000000;
    color: #000000;
    padding: 3px;
}

ul.glassList, div#main div.entries ul {
    list-style: url(../images/aquadot.jpg) disc outside;
}

.daypermalink {
    height: 13px;
    width: 14px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/andreas08/images/calendar.png',sizingMethod='crop');
}
}

.permalink, .daypermalink {
    vertical-align: top !important;
}

/* for the java2html plugin  */
div.java { overflow: auto }
div.java table td { font-size: 11px; line-height: 1 }

.comments-head {
    background: #ffd;
    padding: 5px;
    border-bottom: 1px dotted orange;
}

.comments .even {
     padding: 5px 10px;
}

.comments .odd {
     background: #eee;
     padding: 5px 10px;
     border-top: 1px solid silver;
     border-bottom: 1px solid silver;
}

.comment .comment-details {
    padding-left: 3px;
    margin-bottom: 0 !important;
}

.comments-syntax-indicator {
    font-weight: bold;
}

.comments-syntax-indicator .enabled {
    color: green;
    font-style: italic;
}

.comments-syntax-indicator .disabled {
    color: red;
    font-style: italic;
}

div#commentAuthenticator p {
    font-size: 11px;
}

form#commentForm textarea {
    width: 100%;
}

span.error {
    background-color: #ffffcc;
    font-weight: normal;
    padding: 3px;
    margin-bottom: 10px;
    border: 5px solid red;
    display: block;
    font-size: 20px;
}

.top-next-prev {
    text-align: center;
}

.bottom-next-prev {
    margin-bottom: 10px;
}

.next-previous {
    padding: 0;
    margin: 0;
}

.comments-head {
    font-weight: bold;
}

#searchAgain {
    background: #eee;
    padding: 5px;
    border: 1px solid silver;
}

ul.rNavigationBar {
    position: absolute;
    top: 22px;
    margin-left: -570px;
}

ul.rNavigationBar li {
    list-style-type:none;
    border-right:1px solid #ffffff;
    white-space:nowrap;
}

.rNavigationBar {
    position: absolute;
    width: 758px;
    padding-left: 1.5px;
}

.rNavigationBar li {
    float: right;
    padding: 0 5px;
    font-size: 76%;
    font-weight: bold !important;
}

.rNavigationBar li , .rNavigationBar li a {
    display:block;
    font-weight:normal;
    text-transform:uppercase;
    text-decoration:none;
    background-color:inherit;
    color: white !important;
}

.rNavigationBar li a:hover {
    text-decoration: none !important;
    border-bottom: 1px solid white;
    color: white !important;
}

#search #q, #searchAgain #q {
    font-size: 11px; border: 1px inset silver; font-weight: normal; padding-left: 2px;
    width: 90px;
}

/* from forms.css */
#searchAgain q#input, #searchAgain select {
    font-size: 1.2em;
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    background: #fff url(../images/fieldbg.gif) repeat-x top;
    color: #333;
}

/* for search results when 0 results */
h3 {
    margin-top: 10px !important;
}

/* for weblog archive calendar */

td.hCalendarMonthYearRowBig {
    background: #3A6B2E;
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding: 15px !important;
}

td.hCalendarMonthYearRowBig a {
    color: white;
}

table.hCalendarTableBig td {
    border: 1px solid #eee;
    padding: 3px;
    line-height: 11px;
}

th.hCalendarDayNameRowBig {
    background: #eeeeee;
    vertical-align: top;
    text-align: center;
}

td.hCalendarDayCurrentBig {
    vertical-align: top;
    width: 14.3%;
    height: 100px;
    overflow: auto;
    text-align: left;
}

div.hCalendarDayTitleBig {
    border: 1px solid #c0c0c0;
    background: #eee;
    font-weight: bold;
    margin: -4px 0 0 -4px;
    width: 15px;
    padding: 2px;
    font-size: 0.9em;
}

/* colors and header graphics */

/* blue with blue header */
h1 a, h1 a:hover { color: white }
h1 a:hover { text-decoration: underline }
a, span.info a.commentsLink { color: #155AB5 }
a:hover { color: #F58E11 }
div#header { background: url(../images/header_blue.jpg); }
div#nav, div.entry { background: #155AB5 }
.selected, div#nav .selected a, div#nav a:hover { background: #D4E3F7; color: black }
div#footer { background: #F58E11 }

/* blue with blue and purple header */
/*a, span.info a.commentsLink { color: #2D25A8 }
a:hover { color: #B47519 }
div#header { background: url(../images/header_bluepurple.jpg); }
div#nav, div.entry { background: #255FA8 }
.selected, div#nav .selected a, div#nav a:hover { background: #D4E3F7 }
div#footer { background: #B47519 }*/

/* green and blue */
/*a, span.info a.commentsLink { color: green }
a:hover { color: #763900 }
div#header { background: url(../images/header_greenblue.jpg); }
div#nav, div.entry { background: #004676 }
.selected, div#nav .selected a, div#nav a:hover { background: #D4E9F7 }
div#footer { background: #763900 }*/

/* purple */
/*a, span.info a.commentsLink { color: #7C298A }
a:hover { color: #006699 }
div#header { background: url(../images/header_purple.jpg); }
div#nav, div.entry { background: #7C298A }
button, input.button  { border-color: #7C298A }
.selected, div#nav .selected a, div#nav a:hover { background: #B94ECB; color: white }
div#footer { background: #87951E }*/
