/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV */
    div#nav {
    }
    div#nav div.wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    div#nav ul {
        width: 100%;

        margin: 0;


        list-style: none;
    }
    div#nav li {
        float: left;
        display: inline;

        list-style: none;

        margin: 0;

        border-right: 1px solid #aaa;
    }
    div#nav li.last {
        border-right: none;
    }

/* END NAV */