/* A CSS Framework by Mike Stenhouse of Content with Style */

/* TYPOGRAPHY */
	body {
		text-align: left;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 76%;
  line-height: 1em;
		color: #333;
	}
	div {
		font-size: 1em;
	}
	img {
		border: 0;
	}

/* LINKS */

/* END LINKS */

/* HEADINGS */

/* END HEADINGS */

/* TEXT */

	blockquote {
		border-left:10px solid #ddd;
		margin-left:10px;
	}
	pre {
		font-family: monospace;
		font-size: 1.0em;
	}
	strong, b {
		font-weight: bold;
	}
	em, i {
		font-style:italic;
	}
    code {
        font-family: "Courier New", Courier, monospace;
        font-size: 1em;
        white-space: pre;
    }
/* END TEXT */

/* LISTS */

/* END LISTS */


/* TABLE */
	table {
        font-size: 1em;
		margin: 0 0 1.5em 0;
        padding: 0;
	}
	table caption {
		font-weight: bold;
		margin: 0 0 0 0;
		padding: 0 0 1.5em 0;
	}
	th {
		font-weight: bold;
		text-align: left;
	}
	td {
		font-size: 1em;
	}
/* END TABLE */

	hr {
		display: none;
	}
	div.hr {
		height: 1px;
		margin: 1.5em 10px;
		border-bottom: 1px dotted black;
	}

/* END TYPOGRAPHY */