<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
## "no user" versions
#macro( showSearchResults $dayTemplate )
    #foreach( $day in $searchResults.results.keySet() )
        #set( $entries = $searchResults.results.get($day) )
        #parse( $dayTemplate )
    #end
#end
<head>
</head>
<body>

<div id="content">
    <center>
      <h1>$siteName $text.get("macro.searchresults.results")</h1>
    </center>

  <p>
    #set ( $siteText = "this site")
    #set ( $inUrl = "")
    #if ($username)
        #set ($siteText = "$username's site")
        #set ($inUrl = " inurl:$username" )
    #end
        $text.get("macro.searchresults.searchFor", [$siteText])
        "<a href="http://dictionary.com/search?q=$utilities.encode($searchResults.term)"
        title="$text.get( "macro.searchresults.title", [$searchResults.term])"
        class="dictionary">$searchResults.term</a>".

        $text.get("macro.searchresults.hits_1", [$searchResults.hits])
        <a href="http://google.com/search?q=$utilities.encode($searchResults.term)%20site:${searchResults.baseURL}${inUrl}"
        class="google">$text.get("macro.searchresults.hits_2")</a>

        <form method="get" action="$ctxPath/search"
            style="margin: 5px">
            <input type="text" id="q" name="q" size="31"
                maxlength="255" value="$searchResults.term"
                style="padding-left: 1px" />
            <input type="hidden" name="$USERNAME_KEY" value="$!{username}" />
            #if ($searchResults.categories)
                <select name="c">
                <option value="">- Restrict By Category -</option>
                #foreach( $cat in $searchResults.categories )
                    <option #if($cat == $req.getParameter('c'))selected="selected"#end>$cat</option>
                #end
                </select>
            #end
            <input type="submit" value="$text.get("macro.searchresults.again")" />
        </form>
    </p>
    <script type="text/javascript"
        src="$ctxPath/theme/scripts/searchhi.js"></script>
    <br />

    #if ($searchResults.hits > 0)
        #set( $map = $searchResults.results )
        #showSearchSummary()

        #showSearchResults("searchresults_day.vm")

        #showSearchPager()
    #end
    <div id="footer"></div>

</div> <!-- close content div -->

</body>
</html>