#macro( showEntryPermalink $entry )
<a href="$ctxPath$entry.permaLink"
    title="$text.get( "macro.searchresultsday.entrypermalink.title" )"
    class="entrypermalink">posted</a>
#end

## you have to be so damn careful with whitespace in Velocity
#macro( showUserPermalink $entry )
<a href="${ctxPath}/page/${entry.website.handle}"
    title="$text.get( "macro.searchresultsday.userpermalink.title" )"
    class="entrypermalink">$entry.website.creator.userName</a>#if ($entry.category),
in #showCategoryPermalink($entry) #end
#end

## you have to be so damn careful with whitespace in Velocity
#macro( showCategoryPermalink $entry )
<a href="${ctxPath}/page/${entry.website.handle}?catname=$utilities.encode($entry.category.name)"
    title="$text.get( "macro.searchresultsday.categorypermalink.title" )"
    class="entrypermalink">$entry.category.name</a>,
#end

<div class="box">
    <div class="entry">
       <img src="$ctxPath/images/permalink.gif" alt="#formatDate( $plainFormat $day )" />
       #showEntryDate( $day )
    </div>
    #foreach( $entry in $entries )
    <p>
       <b>$entry.title</b> 
       #set($stripped = $utilities.removeHTML($entry.text, true))
       $utilities.truncateText($stripped, 240, 260, "...")

        #showEntryText($entry.text)

       
       #showEntryPermalink( $entry )
       by #showUserPermalink( $entry )
       on #showTimestamp($entry.pubTime).
       <span style="font-size:x-small;">(<a
         href="?q=${utilities.encode($searchResults.term)}&${USERNAME_KEY}=$!{entry.website.creator.userName}"
         >restrict search</a> to just this blog)</span>
    </p>
    #end
    <br />
</div>
