## expects $selected to be set

#set($menus = ["frontpage", "planet", "comments", "users", "blogs"])
<table class="menuTabTable" cellspacing="0"><tbody><tr>
#foreach($menu in $menus)
   #if($menu == "frontpage")
      #set($link = "$url.home")
   #else
      #set($link = "$url.home/page/$menu")
   #end
   #if($menu == $selected)
   <td class="menuTabSelected">
   #else
   <td class="menuTabUnselected">
   #end
      <div class="menu-tr">
         <div class="menu-tl">
            &nbsp;&nbsp;<a href="$link">$menu</a>&nbsp;&nbsp; 
         </div>
      </div>
   </td>	    
   <td class="menuTabSeparator"></td>

#end
</tr></tbody></table>
<table class="menuItemTable" cellspacing="0">
<tbody><tr>
<td class="padleft">
</td>
</tr>
</tbody></table>


