#includeTemplate($model.weblog "_header")

#set($maxResults = 25) 
#set($since = 365) 

    <div id="centercontent_wrap">
        <div id="centercontent">  
            <h1>$config.siteName</h1>
            <p class="subtitle">$config.siteDescription</p> 

            <table class="menuTabTable" cellspacing="0"><tbody><tr>
               <td class="menuTabUnselected">
                  <div class="menu-tr">
                     <div class="menu-tl">
                        &nbsp;&nbsp;<a href="$url.home">Recent Entries</a>&nbsp;&nbsp; 
                     </div>
                  </div>
               </td>	
               <td class="menuTabSeparator"></td>
               <td class="menuTabSelected">
                  <div class="menu-tr">
                     <div class="menu-tl">
                        &nbsp;&nbsp;<a href='$url.page("directory")'>Weblog Directory</a>&nbsp;&nbsp; 
                     </div>
                  </div>
               </td>	    
               <td class="menuTabSeparator"></td>
            </tr></tbody></table>
            <table class="menuItemTable" cellspacing="0"><tbody><tr>
            <td class="padleft"></td></tr></tbody></table>

            <div id="tabContent">
                <div id="directory">
                #if($model.getRequestParameter("weblog"))
                    #set($handle = $model.getRequestParameter("weblog"))
                    <a href="?letter=$utils.left($handle,1)">Back to blog directory</a>
                    #set($profileWeblog = $site.getWeblog($handle))
                    #includeTemplate($model.weblog "_blogprofile")
                #else                 
                   #set($pageLength = $maxResults)
                   #includeTemplate($model.weblog "_blogdirectory")
                #end
                </div>
            </div>

        </div>
    </div>

    <div id="rightcontent_wrap">
        <div id="rightcontent"> 

            <div class="sidebarBodyHead">
                <div class="menu-tr">
                    <div class="menu-tl">
                       <h3>New blogs</h3>		
                    </div>
                </div>
            </div>	

            <div class="sidebarBody">  
               #set($newblogs = $site.getNewWeblogs($since, $maxResults))
               <ul>
               #foreach($blog in $newblogs)
                  <li>$blog.name (<a href="?weblog=$blog.handle" title="$blog.dateCreated">$blog.handle</a>)</li>
               #end
               </ul>	
            </div>

        </div>
    </div>
</div>

</div>
</div>
#includeTemplate($model.weblog "_footer")
