#includeTemplate($model.weblog "_header") 

#set($maxResults = 25)
#set($since = 365)

    <div id="centercontent_wrap">
        <div id="centercontent">  
            <h1>$config.siteName</h1>
            <p class="subtitle">$config.siteDescription</p> 

            <table class="menuTabTable" cellspacing="0"><tbody><tr>
               <td class="menuTabSelected">
                  <div class="menu-tr">
                     <div class="menu-tl">
                        &nbsp;&nbsp;<a href="$url.home">Recent Entries</a>&nbsp;&nbsp; 
                     </div>
                  </div>
               </td>	
               <td class="menuTabSeparator"></td>
               <td class="menuTabUnselected">
                  <div class="menu-tr">
                     <div class="menu-tl">
                        &nbsp;&nbsp;<a href="$url.home/page/blogs">Weblog Directory</a>&nbsp;&nbsp; 
                     </div>
                  </div>
               </td>	    
               <td class="menuTabSeparator"></td>
            </tr></tbody></table>
            <table class="menuItemTable" cellspacing="0"><tbody><tr>
            <td class="padleft"></td></tr></tbody></table>

            <div id="tabContent">
                <div id="recentEntries">
                   #set($pager = $site.getWeblogEntriesPager($since, $maxResults))
                   #showEntriesPager($pager)
                </div>
            </div>
            
            <br />
            <a href='$url.feed.entries.rss' title='Combined RSS feed for site.'>
            <img src='$url.absoluteSite/images/rssbadge.gif' border="0" alt='Combined RSS feed for site.' />
            </a>
            Right-click, copy link and paste into your newsfeed reader

        </div> 
    </div> 

    <div id="rightcontent_wrap">
        <div id="rightcontent"> 

           <div class="searchSidebarHead">
               <div class="menu-tr">
                   <div class="menu-tl">
                      <h3>&nbsp;</h3>
                   </div>

               </div>
           </div>

           <div class="searchSidebarBody">
                <h3>Search for blogs</h3>
                <form id="searchForm" method="get"
                   action="/sitesearch.do"
                   style="margin: 0; padding: 0" onsubmit="return validateSearch(this)">
                   <input type="text" id="q" name="q" size="20"
                       maxlength="255" value="" />
                   <input value="&nbsp;?&nbsp;" class="searchButton" type="submit">
                </form>
                <script type="text/javascript"> 
                   // <!--
                   function validateSearch(form) {
                       if (form.q.value == "") {
                           alert("Please enter a search term to continue.");
                           form.q.focus();
                           return false;
                       }
                       return true;
                   } 
                   // -->
                </script>
            </div>

            <br />
            <div class="sidebarBodyHead">
                <div class="menu-tr">
                    <div class="menu-tl">
                       <h3>Hot blogs (today's hits)</h3>		
                    </div>
                </div>
            </div>	

            <div class="sidebarBody">  
                #set($hotblogs = $site.getHotWeblogs($since, $maxResults))
                <ul>
                   #foreach($blog in $hotblogs)
                   <li>$blog.subjectNameShort | $blog.count</li>
                   #end
                </ul>   
                <br />		
            </div>

        </div>
    </div>

</div> <!-- wrapper -->

#includeTemplate($model.weblog "_footer")
